Repository Goob-Station/Goob-Station, pull requests merged in 2024-08, with the labels that each got.

#455 Fix NTR access bug
  Resources/Prototypes/Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: No C#

#454 Ghost bar!!!!
  Content.Client/Ghost/GhostSystem.cs
  Content.Client/Goobstation/UserInterface/Systems/Ghost/Controls/GhostBarRulesWindow.xaml
  Content.Client/Goobstation/UserInterface/Systems/Ghost/Controls/GhostBarRulesWindow.xaml.cs
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Server/Goobstation/Ghostbar/Components/GhostBarPlayerComponent.cs
  Content.Server/Goobstation/Ghostbar/Components/GhostBarSpawnComponent.cs
  Content.Server/Goobstation/Ghostbar/GhostBarSystem.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
  Resources/Locale/en-US/Goobstation/guidebook/ghost-gui.ftl
  Resources/Maps/Goobstation/Nonstations/ghostbar.yml
  Resources/Prototypes/Goobstation/Entities/Markers/Spawners/ghost_roles.yml
Labels: Changes: Map, Changes: UI

#457 Ghostbar Hotfix
  Resources/Maps/Goobstation/Nonstations/ghostbar.yml
Labels: No C#, Changes: Map

#459 Syndiroach!
  Resources/Locale/en-US/Goobstation/ghost/ghost-role-component.ftl
  Resources/Locale/en-US/Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/Goobstation/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
  Resources/Textures/Goobstation/Mobs/Animals/syndiroach.rsi/0-equipped-HELMET.png
  Resources/Textures/Goobstation/Mobs/Animals/syndiroach.rsi/icon.png
  Resources/Textures/Goobstation/Mobs/Animals/syndiroach.rsi/inhand-left.png
  Resources/Textures/Goobstation/Mobs/Animals/syndiroach.rsi/inhand-right.png
  Resources/Textures/Goobstation/Mobs/Animals/syndiroach.rsi/meta.json
  Resources/Textures/Goobstation/Mobs/Animals/syndiroach.rsi/mothroach-moving.png
  Resources/Textures/Goobstation/Mobs/Animals/syndiroach.rsi/mothroach.png
  Resources/Textures/Goobstation/Mobs/Animals/syndiroach.rsi/mothroach_dead.png
  Resources/Textures/Goobstation/Mobs/Animals/syndiroach.rsi/mothroach_lazy.png
  Resources/Textures/Goobstation/Mobs/Animals/syndiroach.rsi/mothroach_sleep.png
  Resources/Textures/Goobstation/Objects/Devices/communication.rsi/meta.json
  Resources/Textures/Goobstation/Objects/Devices/communication.rsi/radio-syndiroach.png
Labels: Changes: Sprites, No C#

#450 Slightly Updates Roleplay Rule #4
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR4Metashield.xml
Labels: No C#

#463 Readding Back The Powergaming Rule
  Resources/Prototypes/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/README.txt
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR18PG.xml
Labels: No C#

#473 Remove the mute sound effect from the felinid / harpy scream pool
  Resources/Prototypes/DeltaV/SoundCollections/harpy.yml
  Resources/Prototypes/Nyanotrasen/SoundCollections/felinid.yml
Labels: No C#, Status: Needs Review

#469 multi page action bar
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButton.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButtonContainer.cs
  Content.Client/UserInterface/Systems/Actions/Widgets/ActionsBar.xaml
  Content.Client/UserInterface/Systems/Actions/Widgets/ActionsBar.xaml.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/keybinds.yml
Labels: Changes: UI

#465 Advanced combat medipens
  Resources/Locale/en-US/Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/Goobstation/Entities/Specific/Medical/medkits.yml
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/advcombatpen.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/advcombatpen_empty.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/meta.json
Labels: Changes: Sprites, No C#

#452 Added Medical Patches
  Content.Server/Goobstation/MedicalPatch/MedicalPatchComponent.cs
  Content.Server/Goobstation/MedicalPatch/MedicalPatchSystem.cs
  Content.Server/Sticky/Systems/StickySystem.cs
  Resources/Locale/en-US/Goobstation/medical-patch/medical-patch.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Goobstation/Catalog/Bounties/bounties.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Specific/Medical/medical_patch.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Specific/Medical/medical_patch_prefilled.yml
  Resources/Prototypes/Goobstation/tags.yml
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatch-1.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatch-2.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatch-3.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatch-4.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatch-5.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatch-6.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatch-7.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatch-8.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatch-9.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatch.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatchBorder.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatchSmall-1.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatchSmall-2.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatchSmall-3.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatchSmall-4.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatchSmall-5.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatchSmall.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatchSmallCornerLayer.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatchSmallUsed.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/MakeshiftPatch.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/MakeshiftPatchUsed.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#478 Scottish accent selectable.
  Resources/Locale/en-US/Goobstation/accent/scottish.ftl
  Resources/Locale/en-US/Goobstation/traits/traits.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Goobstation/Accents/word_replacements.yml
  Resources/Prototypes/Goobstation/Traits/speech.yml
Labels: No C#

#477 fixed organic shield
  Resources/Textures/Goobstation/Changeling/shields.rsi/ling-icon.png
  Resources/Textures/Goobstation/Changeling/shields.rsi/ling-inhand-left.png
  Resources/Textures/Goobstation/Changeling/shields.rsi/ling-inhand-right.png
Labels: Changes: Sprites, No C#

#483 action bar PageButtons relocation
  Content.Client/UserInterface/Systems/Actions/Widgets/ActionsBar.xaml
Labels: No C#, Changes: UI

#479 return minPlayers requirement for maps
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/origin.yml
Labels: No C#, Changes: Map

#487 Goob Station Lobby Art
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/GoobNukie.webp
  Resources/Textures/LobbyScreens/GoobNukie.webp.yml
  Resources/Textures/LobbyScreens/attributions.yml
Labels: No C#

#496 Ghostbar Update
  Resources/Maps/Goobstation/Nonstations/ghostbar.yml
Labels: No C#, Changes: Map

#494 Fix new shield
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
Labels: No C#

#497 Dapper Nanotrasen Representative
  Resources/Locale/en-US/Goobstation/preferences/loadout-groups.ftl
  Resources/Prototypes/Goobstation/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Goobstation/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/Goobstation/Loadouts/Jobs/Command/nanotrasen_representative.yml
  Resources/Prototypes/Goobstation/Loadouts/loadout_groups.yml
  Resources/Prototypes/Goobstation/Loadouts/role_loadouts.yml
  Resources/Prototypes/Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
  Resources/Prototypes/Goobstation/StatusEffects/job.yml
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/nanotrasen_representative.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/nanotrasen_representative.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/nanotrasen_representative.rsi/inhand-left.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/nanotrasen_representative.rsi/inhand-right.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/nanotrasen_representative.rsi/meta.json
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpsuit/nanotrasen_representative.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpsuit/nanotrasen_representative.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpsuit/nanotrasen_representative.rsi/inhand-left.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpsuit/nanotrasen_representative.rsi/inhand-right.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpsuit/nanotrasen_representative.rsi/meta.json
  Resources/Textures/Goobstation/Interface/Misc/job_icons.rsi/blueshield.png
  Resources/Textures/Goobstation/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/Goobstation/Interface/Misc/job_icons.rsi/nanotrasenrepresentative.png
Labels: Changes: Sprites, No C#

#500 NTR Skirt Change
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/nanotrasen_representative.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/nanotrasen_representative.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/nanotrasen_representative.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/nanotrasen_representative.rsi/inhand-left.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/nanotrasen_representative.rsi/inhand-right.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/nanotrasen_representative.rsi/meta.json
Labels: Changes: Sprites, No C#

#499 Cleanbot Resprite (Mostly)
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Textures/Mobs/Silicon/Bots/cleanbot.rsi/cleanbot.png
  Resources/Textures/Mobs/Silicon/Bots/cleanbot.rsi/meta.json
Labels: Changes: Sprites, No C#

#490 traitor item Energy crossbow
  Resources/Audio/Goobstation/Weapons/Guns/Gunshots/heavy_shot_suppressed.ogg
  Resources/Locale/en-US/Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Battery/miniature_ebow.rsi/base.png
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Battery/miniature_ebow.rsi/equipped-BELT.png
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Battery/miniature_ebow.rsi/icon.png
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Battery/miniature_ebow.rsi/inhand-left.png
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Battery/miniature_ebow.rsi/inhand-right.png
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Battery/miniature_ebow.rsi/mag-0.png
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Battery/miniature_ebow.rsi/mag-1.png
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Battery/miniature_ebow.rsi/meta.json
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Projectiles/cbbolt.rsi/cbbolt.png
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Projectiles/cbbolt.rsi/meta.json
Labels: Changes: Sprites, No C#

#502 changed some of the old looking canisters to match the newer ones
  Resources/Textures/Structures/Storage/canister.rsi/darkblue-1.png
  Resources/Textures/Structures/Storage/canister.rsi/green-1.png
  Resources/Textures/Structures/Storage/canister.rsi/green.png
  Resources/Textures/Structures/Storage/canister.rsi/greenys-1.png
  Resources/Textures/Structures/Storage/canister.rsi/greenys.png
  Resources/Textures/Structures/Storage/canister.rsi/meta.json
  Resources/Textures/Structures/Storage/canister.rsi/water_vapor-1.png
  Resources/Textures/Structures/Storage/canister.rsi/water_vapor.png
Labels: Changes: Sprites, No C#

#506 Siouxcide
  Resources/Prototypes/Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/centcom_official.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
Labels: No C#

#505 Moved the cleanbot sprite over by one pixel
  Resources/Textures/Mobs/Silicon/Bots/cleanbot.rsi/cleanbot.png
Labels: Changes: Sprites, No C#

#493 added Medical patches mkII
  Content.Server/Goobstation/MedicalPatch/MedicalPatchComponent.cs
  Content.Server/Goobstation/MedicalPatch/MedicalPatchSystem.cs
  Content.Shared/Sticky/Systems/StickySystem.cs
  Resources/Locale/en-US/Goobstation/medical-patch/medical-patch.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Goobstation/Catalog/Bounties/bounties.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Specific/Medical/medical_patch.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Specific/Medical/medical_patch_prefilled.yml
  Resources/Prototypes/Goobstation/tags.yml
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatch-1.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatch-2.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatch-3.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatch-4.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatch-5.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatch-6.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatch-7.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatch-8.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatch-9.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatch.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatchBorder.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatchSmall-1.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatchSmall-2.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatchSmall-3.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatchSmall-4.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatchSmall-5.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatchSmall.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatchSmallCornerLayer.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/GenericPatchSmallUsed.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/MakeshiftPatch.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/MakeshiftPatchUsed.png
  Resources/Textures/Goobstation/Objects/Medical/medical_patch.rsi/meta.json
Labels: Changes: Sprites

#495 plasma cutter
  Content.Server/Goobstation/PlasmaCutter/BatteryRechargeComponent.cs
  Content.Server/Goobstation/PlasmaCutter/BatteryRechargeSystem.cs
  Content.Server/Power/EntitySystems/BatterySystem.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Resources/Audio/Goobstation/Weapons/Guns/Gunshots/plasma_cutter.ogg
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Weapons/Guns/Basic/plasma_cutter.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Goobstation/Recipes/Lathes/salvage.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Battery/cutter.rsi/icon.png
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Battery/cutter.rsi/inhand-left.png
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Battery/cutter.rsi/inhand-right.png
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Battery/cutter.rsi/meta.json
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Projectiles/bullet_cutter.rsi/icon.png
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Projectiles/bullet_cutter.rsi/meta.json
Labels: Changes: Sprites

#492 syndie suit resprites
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/combat-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cybersun.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cybersun.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cybersun.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndicate.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndicate.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndicate.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiecommander.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiecommander.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiecommander.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiemedic.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiemedic.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiemedic.rsi/meta.json
Labels: Changes: Sprites, No C#

#512 The Pull Request to Rule Them All
  Content.Client/Nutrition/EntitySystems/ClientFoodSequenceSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSequenceSystem.cs
  Content.Shared/Goobstation/Nutrition/EntitySystems/FoodSequenceSpriteSystem.cs
  Content.Shared/Nutrition/Components/FoodSequenceElementComponent.cs
  Content.Shared/Nutrition/Components/FoodSequenceStartPointComponent.cs
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Structures/Machines/microwave.yml
  Resources/Prototypes/Goobstation/Reagents/fun.yml
Labels: No C#

#523 Make Emote Wheel useful again
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
  Resources/Prototypes/Goobstation/tags.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
Labels: No C#

#521 Adding new lobby song "Space Radiation"
  Resources/Audio/Lobby/attributions.yml
  Resources/Audio/Lobby/space_radiation.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: No C#

#522 Helldiver Suit
  Resources/Prototypes/Goobstation/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Goobstation/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Goobstation/Entities/Clothing/OuterClothing/armour.yml
  Resources/Prototypes/Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Goobstation/Roles/GhostRoles/Fun/helldiver.yml
  Resources/Textures/Goobstation/Clothing/Head/Helmets/helldiver.rsi/equipped-HELMET.png
  Resources/Textures/Goobstation/Clothing/Head/Helmets/helldiver.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Head/Helmets/helldiver.rsi/meta.json
  Resources/Textures/Goobstation/Clothing/Head/Helmets/helldiver.rsi/off-inhand-left.png
  Resources/Textures/Goobstation/Clothing/Head/Helmets/helldiver.rsi/off-inhand-right.png
  Resources/Textures/Goobstation/Clothing/Neck/Cloaks/helldiver.rsi/equipped-NECK.png
  Resources/Textures/Goobstation/Clothing/Neck/Cloaks/helldiver.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Neck/Cloaks/helldiver.rsi/inhand-left.png
  Resources/Textures/Goobstation/Clothing/Neck/Cloaks/helldiver.rsi/inhand-right.png
  Resources/Textures/Goobstation/Clothing/Neck/Cloaks/helldiver.rsi/meta.json
  Resources/Textures/Goobstation/Clothing/OuterClothing/Armor/helldiver.rsi/equipped-OUTERCLOTHING-light.png
  Resources/Textures/Goobstation/Clothing/OuterClothing/Armor/helldiver.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Goobstation/Clothing/OuterClothing/Armor/helldiver.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/OuterClothing/Armor/helldiver.rsi/inhand-left.png
  Resources/Textures/Goobstation/Clothing/OuterClothing/Armor/helldiver.rsi/inhand-right.png
  Resources/Textures/Goobstation/Clothing/OuterClothing/Armor/helldiver.rsi/light-overlay.png
  Resources/Textures/Goobstation/Clothing/OuterClothing/Armor/helldiver.rsi/meta.json
  Resources/Textures/Goobstation/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Goobstation/Objects/Devices/pda.rsi/pda-heccd.png
  Resources/Textures/Goobstation/Objects/Misc/id_cards.rsi/idhelldiver.png
  Resources/Textures/Goobstation/Objects/Misc/id_cards.rsi/meta.json
Labels: Changes: Sprites, No C#

#535 remove cog from map pool
  Resources/Prototypes/Maps/Pools/default.yml
Labels: No C#, Changes: Map

#527 ling last resort ability (and bug fix)
  Content.Server/Goobstation/Changeling/ChangelingEggSystem.cs
  Content.Server/Goobstation/Changeling/ChangelingSystem.Abilities.cs
  Content.Server/Goobstation/Changeling/ChangelingSystem.cs
  Content.Server/Kitchen/EntitySystems/KitchenSpikeSystem.cs
  Content.Shared/Goobstation/Changeling/Changeling.Actions.cs
  Content.Shared/Goobstation/Changeling/ChangelingComponent.cs
  Content.Shared/Goobstation/Changeling/ChangelingEggComponent.cs
  Resources/Locale/en-US/Goobstation/changeling/store/changeling-catalog.ftl
  Resources/Locale/en-US/kitchen/components/kitchen-spike-component.ftl
  Resources/Prototypes/Goobstation/Changeling/Actions/changeling.yml
  Resources/Prototypes/Goobstation/Changeling/Catalog/changeling_catalog.yml
  Resources/Prototypes/Goobstation/Changeling/Entities/Mobs/headcrab.yml
  Resources/Textures/Goobstation/Changeling/changeling_abilities.rsi/last_resort.png
  Resources/Textures/Goobstation/Changeling/changeling_abilities.rsi/lay_egg.png
  Resources/Textures/Goobstation/Changeling/changeling_abilities.rsi/meta.json
  Resources/Textures/Goobstation/Changeling/headcrab.rsi/headcrab.png
  Resources/Textures/Goobstation/Changeling/headcrab.rsi/headcrab_dead.png
  Resources/Textures/Goobstation/Changeling/headcrab.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#529 slime nerf
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
Labels: No C#

#530 Emote Icons
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Textures/Goobstation/Interface/Emotes/attributions.yml
  Resources/Textures/Goobstation/Interface/Emotes/awoo.png
  Resources/Textures/Goobstation/Interface/Emotes/bang.png
  Resources/Textures/Goobstation/Interface/Emotes/bark.png
  Resources/Textures/Goobstation/Interface/Emotes/caw.png
  Resources/Textures/Goobstation/Interface/Emotes/growl.png
  Resources/Textures/Goobstation/Interface/Emotes/hiss.png
  Resources/Textures/Goobstation/Interface/Emotes/howl.png
  Resources/Textures/Goobstation/Interface/Emotes/meow.png
  Resources/Textures/Goobstation/Interface/Emotes/mew.png
  Resources/Textures/Goobstation/Interface/Emotes/pew.png
  Resources/Textures/Goobstation/Interface/Emotes/purr.png
  Resources/Textures/Goobstation/Interface/Emotes/rev.png
  Resources/Textures/Goobstation/Interface/Emotes/ring.png
  Resources/Textures/Goobstation/Interface/Emotes/scream.png
  Resources/Textures/Goobstation/Interface/Emotes/snarl.png
  Resources/Textures/Goobstation/Interface/Emotes/whine.png
Labels: No C#

#539 Makes logos more readable
  Resources/Textures/Logo/icon.ico
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-64x64.png
  Resources/Textures/Logo/logo.png
  Resources/Textures/Logo/logo.svg
Labels: No C#

#542 Added cherries.
  Resources/Locale/en-US/Goobstation/flavor/flavors.ftl
  Resources/Locale/en-US/Goobstation/nutrition/components/food-sequence.ftl
  Resources/Locale/en-US/Goobstation/reagents/meta/Consumable/juice.ftl
  Resources/Locale/en-US/Goobstation/seeds/seeds.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Goobstation/Entities/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/Goobstation/Flavors/flavors.yml
  Resources/Prototypes/Goobstation/Hydroponics/seeds.yml
  Resources/Prototypes/Goobstation/Reagents/Consumable/Drink/juice.yml
  Resources/Textures/Goobstation/Objects/Specific/Hydroponics/cherry.rsi/dead.png
  Resources/Textures/Goobstation/Objects/Specific/Hydroponics/cherry.rsi/harvest.png
  Resources/Textures/Goobstation/Objects/Specific/Hydroponics/cherry.rsi/meta.json
  Resources/Textures/Goobstation/Objects/Specific/Hydroponics/cherry.rsi/produce.png
  Resources/Textures/Goobstation/Objects/Specific/Hydroponics/cherry.rsi/seed.png
  Resources/Textures/Goobstation/Objects/Specific/Hydroponics/cherry.rsi/stage-1.png
  Resources/Textures/Goobstation/Objects/Specific/Hydroponics/cherry.rsi/stage-2.png
  Resources/Textures/Goobstation/Objects/Specific/Hydroponics/cherry.rsi/stage-3.png
  Resources/Textures/Goobstation/Objects/Specific/Hydroponics/cherry.rsi/stage-4.png
  Resources/Textures/Goobstation/Objects/Specific/Hydroponics/cherry.rsi/stage-5.png
  Resources/Textures/Goobstation/Objects/Specific/Hydroponics/cherry.rsi/stage-6.png
Labels: Changes: Sprites, No C#

#545 Make Felinids Mew Again.
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
Labels: No C#

#531 Create security mask voice hailing sound effect.
  Content.Server/Goobstation/Hailer/HailerSystem.cs
  Content.Shared/Goobstation/Hailer/HailerActionEvent.cs
  Content.Shared/Goobstation/Hailer/HailerComponent.cs
  Resources/Audio/Goobstation/Hailer/asshole.ogg
  Resources/Audio/Goobstation/Hailer/attributions.yml
  Resources/Audio/Goobstation/Hailer/bash.ogg
  Resources/Audio/Goobstation/Hailer/bobby.ogg
  Resources/Audio/Goobstation/Hailer/compliance.ogg
  Resources/Audio/Goobstation/Hailer/dontmove.ogg
  Resources/Audio/Goobstation/Hailer/dredd.ogg
  Resources/Audio/Goobstation/Hailer/floor.ogg
  Resources/Audio/Goobstation/Hailer/freeze.ogg
  Resources/Audio/Goobstation/Hailer/halt.ogg
  Resources/Audio/Goobstation/Hailer/imperial.ogg
  Resources/Audio/Goobstation/Hailer/justice.ogg
  Resources/Audio/Goobstation/Hailer/robocop.ogg
  Resources/Audio/Goobstation/Hailer/running.ogg
  Resources/Locale/en-US/Goobstation/hailer/hails.ftl
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Goobstation/Entities/Clothing/Masks/masks.yml
Labels: Status: Needs Review

#551 Separate Saltern & Add TODOs
  Resources/Maps/Goobstation/saltern.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/reach.yml
  Resources/Prototypes/Maps/saltern.yml
Labels: No C#, Changes: Map

#554 fix readme license file name
  README.md
Labels: No C#

#555 Merge Upstream
  Content.Client/CartridgeLoader/Cartridges/NewsReaderUiFragment.xaml
  Content.Server/Anomaly/AnomalySynchronizerSystem.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/paper/story-generation.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Maps/Shuttles/escape_pod_small.yml
  Resources/Maps/bagel.yml
  Resources/Maps/marathon.yml
  Resources/Prototypes/Entities/Clothing/Hands/base_clothinghands.yml
  Resources/Prototypes/Entities/Clothing/Hands/rings.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/rings.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/reach.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Clothing/Back/Satchels/clown.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Glasses/outlawglasses.rsi/meta.json
  Resources/Textures/Clothing/Hands/Rings/basic.rsi/gem.png
  Resources/Textures/Clothing/Hands/Rings/basic.rsi/meta.json
  Resources/Textures/Clothing/Hands/Rings/basic.rsi/ring.png
  Resources/Textures/Clothing/Head/Bandanas/brown.rsi/meta.json
  Resources/Textures/Clothing/Head/Welding/blue_flame_welding_mask.rsi/meta.json
  Resources/Textures/Clothing/Head/Welding/flame_welding_mask.rsi/meta.json
  Resources/Textures/Clothing/Head/Welding/paintedwelding.rsi/meta.json
  Resources/Textures/Mobs/Silicon/station_ai.rsi/meta.json
  Resources/Textures/Objects/Specific/Chemistry/chem_bag.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/Equipment/plant_bag.rsi/meta.json
  Resources/Textures/Objects/Specific/Library/Equipment/books_bag.rsi/meta.json
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, Changes: UI

#556 AI Setup for Oasis
  Resources/Maps/Goobstation/oasis.yml
  Resources/Prototypes/Maps/oasis.yml
Labels: No C#, Changes: Map

#557 Cluster AI
  Resources/Maps/Goobstation/cluster.yml
  Resources/Prototypes/Goobstation/Maps/cluster.yml
Labels: No C#, Changes: Map

#513 Added Mindcontrol Implant
  Content.Client/Goobstation/Mindcontrol/MindcontrolSystem.cs
  Content.Server/Goobstation/Implants/MindcontrolImplantComponent.cs
  Content.Server/Goobstation/Implants/MindcontrolImplantSystem.cs
  Content.Server/Goobstation/Mindcontrol/MindcontrolSystem.cs
  Content.Server/Goobstation/Roles/MindcontrolledRoleComponent.cs
  Content.Server/Implants/ImplanterSystem.cs
  Content.Server/Mindshield/MindShieldSystem.cs
  Content.Server/Roles/RoleSystem.cs
  Content.Shared/Goobstation/Implanter/PreventSelfImplantComponent.cs
  Content.Shared/Goobstation/Mindcontrol/MindcontrolledComponent.cs
  Resources/Audio/Goobstation/Ambience/Antag/attributions.yml
  Resources/Audio/Goobstation/Ambience/Antag/mindcontrol_start.ogg
  Resources/Locale/en-US/Goobstation/mindcontrol/mindcontrol.ftl
  Resources/Prototypes/Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Misc/mindcontrol_implant.yml
  Resources/Prototypes/Goobstation/Roles/Antags/mindcontrol.yml
  Resources/Textures/Goobstation/Interface/Misc/job_icons.rsi/Mindcontrolled.png
  Resources/Textures/Goobstation/Interface/Misc/job_icons.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, Changes: UI, Status: Needs Review

#561 Atlas update
  Resources/Maps/Goobstation/atlas.yml
  Resources/Prototypes/Goobstation/Maps/atlas.yml
Labels: No C#, Changes: Map, Status: Needs Review

#560 BSO, NTR, AI to Saltern
  Resources/Maps/Goobstation/saltern.yml
  Resources/Prototypes/Maps/saltern.yml
Labels: No C#, Changes: Map

#559 AI Setup for Bagel
  Resources/Maps/Goobstation/bagel.yml
  Resources/Prototypes/Maps/bagel.yml
Labels: No C#, Changes: Map

#550 Unidentified life signs detected
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#536 Adds a proper validhunting rule
  Resources/Prototypes/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR0.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR17NTR.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR19VH.xml
Labels: No C#

#548 Revolution 2: Return of the Legend
  Content.Server/GameTicking/Rules/Components/RevolutionaryRuleComponent.cs
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Content.Server/Mindshield/MindShieldSystem.cs
  Content.Server/Revolutionary/Components/CommandStaffComponent.cs
  Content.Shared/Implants/SharedSubdermalImplantSystem.cs
  Content.Shared/Revolutionary/Components/HeadRevolutionaryComponent.cs
  Content.Shared/Revolutionary/SharedRevolutionarySystem.cs
  Resources/Locale/en-US/Goobstation/game-ticking/game-presets/presets-revolutionaries.ftl
  Resources/Locale/en-US/Goobstation/implant/implant.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-revolutionary.ftl
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/Goobstation/Changeling/Guidebook/antagonist.yml
  Resources/Prototypes/Guidebook/antagonist.yml
  Resources/ServerInfo/Goobstation/Guidebook/Antagonist/Changelings.xml
  Resources/ServerInfo/Goobstation/Guidebook/Antagonist/Revolutionaries.xml
Labels: Status: Needs Review

#491 Duke nukies (with stamres placeholders)
  Content.Shared/Damage/Events/TakeStaminaDamageEvent.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Goobstation/Stunnable/StaminaDamageResistanceComponent.cs
  Content.Shared/Goobstation/Stunnable/StaminaDamageResistanceSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Resources/Locale/en-US/Goobstation/armor/armor-examine.ftl
  Resources/Maps/Goobstation/Nonstations/nukieplanet.yml
  Resources/Maps/Goobstation/Shuttles/infiltrator.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/Goobstation/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
Labels: Changes: Map
