Repository Goob-Station/Goob-Station, pull requests merged in 2024-05, with the labels that each got.

#193 Removes someone's self-insert into the game files.
  Resources/Locale/en-US/speech/speech-chatsan.ftl
Labels: No C#

#195 Skibidi
  Resources/Audio/Misc/skibidi.wav
  Resources/Prototypes/Entities/Mobs/NPCs/miscellaneous.yml
  Resources/Textures/Mobs/Demons/skibidi.rsi/alive.png
  Resources/Textures/Mobs/Demons/skibidi.rsi/dead.png
  Resources/Textures/Mobs/Demons/skibidi.rsi/meta.json
Labels: Changes: Sprites, No C#

#192 More fixes for upstream yayyyyyyyy
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
Labels: No C#

#196 Fixes more stuff ig, maybe?
  Resources/Prototypes/Catalog/wizard_catalog.yml
  Resources/Prototypes/Entities/Mobs/NPCs/miscellaneous.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Devices/apprenticecontract.yml
  Resources/Prototypes/Entities/Objects/Specific/wizard.yml
  Resources/Prototypes/Roles/Jobs/Fun/wizard_startinggear.yml
  Resources/Prototypes/game_presets.yml
  Resources/Prototypes/secret_weights.yml
Labels: No C#

#199 Adds Senior Engineering Gear to Atmos loadouts
  Resources/Locale/en-US/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: No C#

#197 Adds guide to advanced mimery
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Magic/books.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Magic/WizAntag/projectile_spells.yml
  Resources/Prototypes/Magic/forcewall_spells.yml
  Resources/Prototypes/Magic/projectile_spells.yml
  Resources/Textures/Objects/Magic/magicactions.rsi/meta.json
  Resources/Textures/Objects/Magic/magicactions.rsi/mimegun.png
  Resources/Textures/Objects/Misc/books.rsi/meta.json
  Resources/Textures/Objects/Misc/books.rsi/mime_book.png
  Resources/Textures/Objects/Misc/books.rsi/mime_book2.png
Labels: Changes: Sprites, No C#

#201 Adds more lobby backgrounds + round end audios
  Resources/Audio/Announcements/RoundEnd/attributions.yml
  Resources/Prototypes/SoundCollections/announcements.yml
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/breakingchem.webp
  Resources/Textures/LobbyScreens/breakingchem.webp.yml
  Resources/Textures/LobbyScreens/clown.webp
  Resources/Textures/LobbyScreens/clown.webp.yml
  Resources/Textures/LobbyScreens/combine.webp
  Resources/Textures/LobbyScreens/combine.webp.yml
  Resources/Textures/LobbyScreens/command.webp
  Resources/Textures/LobbyScreens/command.webp.yml
  Resources/Textures/LobbyScreens/monkeyops.webp
  Resources/Textures/LobbyScreens/monkeyops.webp.yml
Labels: No C#

#207 Add more socks + put them in wardrobes.
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/Entities/Clothing/Under/under.yml
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedCaptainBlueandGold.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedCaptainBlueandGold.rsi/icon.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedCaptainBlueandGold.rsi/meta.json
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedCaptainBlueandWhite.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedCaptainBlueandWhite.rsi/icon.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedCaptainBlueandWhite.rsi/meta.json
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedCaptainGoldandBlue.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedCaptainGoldandBlue.rsi/icon.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedCaptainGoldandBlue.rsi/meta.json
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedCargo.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedCargo.rsi/icon.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedCargo.rsi/meta.json
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedCargoQm.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedCargoQm.rsi/icon.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedCargoQm.rsi/meta.json
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedEngineering.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedEngineering.rsi/icon.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedEngineering.rsi/meta.json
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedEngineeringAtmos.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedEngineeringAtmos.rsi/icon.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedEngineeringAtmos.rsi/meta.json
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedScience.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedScience.rsi/icon.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedScience.rsi/meta.json
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedSecurity.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedSecurity.rsi/icon.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedSecurity.rsi/meta.json
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedSecurityJackboots.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedSecurityJackboots.rsi/icon.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedSecurityJackboots.rsi/meta.json
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedWhiteandGreen.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedWhiteandGreen.rsi/icon.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedWhiteandGreen.rsi/meta.json
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedWhiteandLightBlue.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedWhiteandLightBlue.rsi/icon.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedWhiteandLightBlue.rsi/meta.json
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedWhiteandLightBlueBunnySlipper.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedWhiteandLightBlueBunnySlipper.rsi/icon.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedWhiteandLightBlueBunnySlipper.rsi/meta.json
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedWhiteandOrange.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedWhiteandOrange.rsi/icon.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedWhiteandOrange.rsi/meta.json
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedWhiteandPurple.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedWhiteandPurple.rsi/icon.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedWhiteandPurple.rsi/meta.json
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedWhiteandRed.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedWhiteandRed.rsi/icon.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedWhiteandRed.rsi/meta.json
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedWhiteandYellow.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedWhiteandYellow.rsi/icon.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedWhiteandYellow.rsi/meta.json
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedYellowandPurple.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedYellowandPurple.rsi/icon.png
  Resources/Textures/Clothing/Under/Socks/ClothingUnderSocksStripedYellowandPurple.rsi/meta.json
Labels: Changes: Sprites, No C#

#208 Oops, quick fix
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
Labels: No C#

#209 Re-adds water vapour making puddles
  Resources/Prototypes/Atmospherics/reactions.yml
Labels: No C#

#210 Add sock crate
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Clothing/Under/under.yml
Labels: No C#

#216 Updated + Tweaked Species Guidebook
  Resources/Locale/en-US/species/gingerbread.ftl
  Resources/Prototypes/Guidebook/species.yml
  Resources/ServerInfo/Guidebook/Mobs/Felinid.xml
  Resources/ServerInfo/Guidebook/Mobs/Gingerbread.xml
  Resources/ServerInfo/Guidebook/Mobs/Harpy.xml
  Resources/ServerInfo/Guidebook/Mobs/SlimePerson.xml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
  Resources/ServerInfo/Guidebook/Mobs/Vox.xml
  Resources/ServerInfo/Guidebook/Mobs/Vulpkanin.xml
Labels: No C#

#222 Kurfur now with colors (also fix gondola glowing in dark.)
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Textures/Mobs/Silicon/Bots/medibot.rsi/medibot.png
  Resources/Textures/Mobs/Silicon/Bots/medibot.rsi/meta.json
  Resources/Textures/Mobs/Silicon/Bots/medibot.rsi/powered.png
Labels: Changes: Sprites, No C#

#221 Banana Soap
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Prototypes/Recipes/Reactions/fun.yml
  Resources/Textures/Objects/Specific/Janitorial/soap.rsi/banana-inhand-left.png
  Resources/Textures/Objects/Specific/Janitorial/soap.rsi/banana-inhand-right.png
  Resources/Textures/Objects/Specific/Janitorial/soap.rsi/bananasoap-1.png
  Resources/Textures/Objects/Specific/Janitorial/soap.rsi/bananasoap-2.png
  Resources/Textures/Objects/Specific/Janitorial/soap.rsi/bananasoap-3.png
  Resources/Textures/Objects/Specific/Janitorial/soap.rsi/bananasoap-4.png
  Resources/Textures/Objects/Specific/Janitorial/soap.rsi/meta.json
Labels: Changes: Sprites, No C#

#230 Minor additions/fixes to the banana soap
  Resources/Locale/en-US/forensics/residues.ftl
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
Labels: No C#

#229 Gives AGhosts feet for ghost socks
  Resources/Prototypes/InventoryTemplates/aghost_inventory_template.yml
Labels: No C#

#232 Adds Ghost Socks Whitelist
  Resources/Prototypes/Entities/Clothing/Under/under.yml
  Resources/Prototypes/InventoryTemplates/aghost_inventory_template.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#235 Fixed NTRep and Blueshield being unpickable on some maps
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/omega.yml
Labels: No C#, Changes: Map

#236 Adding Nitrogen tank to Trinket
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
Labels: No C#

#239 adds tails and matryoshka plush
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Goobstation/clothing/costumes.yml
  Resources/Prototypes/Goobstation/customization.yml
  Resources/Prototypes/Goobstation/objects/plushies.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Textures/Goobstation/Markings/foxtail.rsi/base_fox_tail.png
  Resources/Textures/Goobstation/Markings/foxtail.rsi/base_fox_tail_tip.png
  Resources/Textures/Goobstation/Markings/foxtail.rsi/meta.json
  Resources/Textures/Goobstation/clothing/BKKitsuneMask.rsi/equipped-MASK.png
  Resources/Textures/Goobstation/clothing/BKKitsuneMask.rsi/icon.png
  Resources/Textures/Goobstation/clothing/BKKitsuneMask.rsi/meta.json
  Resources/Textures/Goobstation/clothing/YTS.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Goobstation/clothing/YTS.rsi/icon.png
  Resources/Textures/Goobstation/clothing/YTS.rsi/meta.json
  Resources/Textures/Goobstation/objects/BKPlushie.rsi/meta.json
  Resources/Textures/Goobstation/objects/BKPlushie.rsi/plushie_Bkv1.png
  Resources/Textures/Goobstation/objects/BKPlushie.rsi/plushie_Bkv2.png
  Resources/Textures/Goobstation/objects/BKPlushie.rsi/plushie_Bkv3.png
Labels: Changes: Sprites, No C#

#241 hot fix for tails
  Resources/Prototypes/Goobstation/customization.yml
Labels: No C#
