Repository Goob-Station/Goob-Station, pull requests merged in 2024-03, with the labels that each got.

#46 decrease volume if clown cuffs
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
Labels: No C#

#43 1 line change.
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Entities/Debugging/debug_sweps.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/debug.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/debug.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Recipes/Reactions/fun.yml
Labels: No C#

#49 Glass
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/hud.yml
  Resources/Prototypes/themes.yml
  Resources/Textures/Interface/Glass/SlotBackground.png
  Resources/Textures/Interface/Glass/Slots/back.png
  Resources/Textures/Interface/Glass/Slots/belt.png
  Resources/Textures/Interface/Glass/Slots/ears.png
  Resources/Textures/Interface/Glass/Slots/glasses.png
  Resources/Textures/Interface/Glass/Slots/gloves.png
  Resources/Textures/Interface/Glass/Slots/hand_l.png
  Resources/Textures/Interface/Glass/Slots/hand_l_no_letter.png
  Resources/Textures/Interface/Glass/Slots/hand_r.png
  Resources/Textures/Interface/Glass/Slots/hand_r_no_letter.png
  Resources/Textures/Interface/Glass/Slots/head.png
  Resources/Textures/Interface/Glass/Slots/id.png
  Resources/Textures/Interface/Glass/Slots/mask.png
  Resources/Textures/Interface/Glass/Slots/neck.png
  Resources/Textures/Interface/Glass/Slots/pocket.png
  Resources/Textures/Interface/Glass/Slots/shoes.png
  Resources/Textures/Interface/Glass/Slots/suit.png
  Resources/Textures/Interface/Glass/Slots/suit_storage.png
  Resources/Textures/Interface/Glass/Slots/toggle.png
  Resources/Textures/Interface/Glass/Slots/uniform.png
  Resources/Textures/Interface/Glass/Slots/web.png
  Resources/Textures/Interface/Glass/Storage/back.png
  Resources/Textures/Interface/Glass/Storage/exit.png
  Resources/Textures/Interface/Glass/Storage/marked_first.png
  Resources/Textures/Interface/Glass/Storage/marked_second.png
  Resources/Textures/Interface/Glass/Storage/piece_bottom.png
  Resources/Textures/Interface/Glass/Storage/piece_bottomLeft.png
  Resources/Textures/Interface/Glass/Storage/piece_bottomRight.png
  Resources/Textures/Interface/Glass/Storage/piece_center.png
  Resources/Textures/Interface/Glass/Storage/piece_left.png
  Resources/Textures/Interface/Glass/Storage/piece_right.png
  Resources/Textures/Interface/Glass/Storage/piece_top.png
  Resources/Textures/Interface/Glass/Storage/piece_topLeft.png
  Resources/Textures/Interface/Glass/Storage/piece_topRight.png
  Resources/Textures/Interface/Glass/Storage/sidebar_bottom.png
  Resources/Textures/Interface/Glass/Storage/sidebar_fat.png
  Resources/Textures/Interface/Glass/Storage/sidebar_mid.png
  Resources/Textures/Interface/Glass/Storage/sidebar_top.png
  Resources/Textures/Interface/Glass/Storage/tile_blocked.png
  Resources/Textures/Interface/Glass/Storage/tile_blocked_opaque.png
  Resources/Textures/Interface/Glass/Storage/tile_empty_opaque.png
  Resources/Textures/Interface/Glass/slot_highlight.png
  Resources/Textures/Interface/Glass/template_small.png
Labels: No C#

#54 Wizard Antagonist 2: The Electric Boogaloo
  Resources/Prototypes/Objectives/base_objectives.yml
  Resources/Prototypes/Roles/Antags/wizard.yml
Labels: No C#

#59 Wizard additions
  Content.Server/GameTicking/Rules/WizardRuleSystem.cs
  Content.Server/Magic/MagicSystem.cs
  Content.Shared/Magic/Events/HealSpellEvent.cs
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/magic/spells-actions.ftl
  Resources/Locale/en-US/store/categories.ftl
  Resources/Prototypes/Catalog/wizard_catalog.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Devices/apprenticecontract.yml
  Resources/Prototypes/Entities/Objects/Magic/books.yml
  Resources/Prototypes/Entities/Objects/Specific/wizard.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Magic/WizAntag/heal_spell.yml
  Resources/Prototypes/Roles/Jobs/Fun/wizard_startinggear.yml
  Resources/Prototypes/Store/categories.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Magic/magicactions.rsi/heal.png
  Resources/Textures/Objects/Magic/magicactions.rsi/meta.json
  Resources/Textures/Objects/Magic/spellbooks.rsi/bookheal.png
  Resources/Textures/Objects/Magic/spellbooks.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/spellblade.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/spellblade.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/spellblade.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/spellblade.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/spellblade.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/spellblade.rsi/wielded-inhand-right.png
Labels: Changes: Sprites

#62 Spellblade spriting issue fix
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Textures/Objects/Weapons/Melee/spellblade.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/spellblade.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/spellblade.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/spellblade.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/spellblade.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, No C#

#63 new lobby art images
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/THRONGLER.webp
  Resources/Textures/LobbyScreens/THRONGLER.webp.yml
  Resources/Textures/LobbyScreens/gigaclown.webp
  Resources/Textures/LobbyScreens/gigaclown.webp.yml
  Resources/Textures/LobbyScreens/rdsyndi.webp
  Resources/Textures/LobbyScreens/rdsyndi.webp.yml
  Resources/Textures/LobbyScreens/reporting_a_crime.webp
  Resources/Textures/LobbyScreens/reporting_a_crime.webp.yml
  Resources/Textures/LobbyScreens/secsquad.webp
  Resources/Textures/LobbyScreens/secsquad.webp.yml
Labels: No C#

#64 Wizard Contract Fix
  Resources/Prototypes/Catalog/wizard_catalog.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Specific/wizard.yml
  Resources/Prototypes/Store/categories.yml
  Resources/Prototypes/Store/presets.yml
Labels: No C#

#67 Quickbranch
  Content.Server/Electrocution/Components/ElectrifiedComponent.cs
  Content.Server/Electrocution/Components/ElectrocutionComponent.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Resources/Changelog/Changelog.yml
Labels: Merge Conflict

#65 Spellblade Resprite
  Resources/Textures/Objects/Weapons/Melee/spellblade.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/spellblade.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/spellblade.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/spellblade.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/spellblade.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/spellblade.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, No C#

#74 Researches
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Research/disciplines.yml
  Resources/Prototypes/Research/industrial.yml
Labels: No C#

#75 Revert "Researches"
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Research/disciplines.yml
  Resources/Prototypes/Research/industrial.yml
Labels: No C#
