Repository Goob-Station/Goob-Station, pull requests merged in 2024-10, with the labels that each got.

#710 bagel update
  Resources/Maps/_Goobstation/bagel.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Doors/Airlocks/access.yml
Labels: No C#, Changes: Map, Status: Needs Review

#708 Readds the power console to ce locker
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: No C#, Status: Needs Review

#713 Proper bluespace lifeline implant fix
  Content.Server/_Goobstation/Explosion/Components/DeleteParentOnTriggerComponent.cs
  Content.Server/_Goobstation/Explosion/EntitySystems/GoobTriggerSystem.cs
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
Labels: Status: Needs Review

#711 Sec Hats resprite
  Resources/Textures/Clothing/Head/Hats/beret_security.rsi/equipped-HELMET-hamster.png
  Resources/Textures/Clothing/Head/Hats/beret_security.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/beret_security.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/beret_security.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/beret_security.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/beret_security.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/brownfedora.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/brownfedora.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/brownfedora.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/brownfedora.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/brownfedora.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/light_riot.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Helmets/light_riot.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/light_riot.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/light_riot.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/light_riot.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/light_riot.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/security.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Helmets/security.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/security.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/security.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/security.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/security.rsi/meta.json
  Resources/Textures/Clothing/Head/Soft/secsoft.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Soft/secsoft.rsi/flipped-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Soft/secsoft.rsi/flipped-inhand-left.png
  Resources/Textures/Clothing/Head/Soft/secsoft.rsi/flipped-inhand-right.png
  Resources/Textures/Clothing/Head/Soft/secsoft.rsi/icon.png
  Resources/Textures/Clothing/Head/Soft/secsoft.rsi/icon_flipped.png
  Resources/Textures/Clothing/Head/Soft/secsoft.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Soft/secsoft.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Soft/secsoft.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#722 fix dynamic midround roll
  Content.Server/_Goobstation/GameTicking/Rules/Components/DynamicRuleComponent.cs
  Content.Server/_Goobstation/StationEvents/DynamicStationEventSchedulerComponent.cs
  Content.Server/_Goobstation/StationEvents/DynamicStationEventSchedulerRule.cs
Labels: Status: Needs Review

#716 Oasis Update.
  Resources/Maps/_Goobstation/oasis.yml
Labels: No C#, Changes: Map

#688 New Lobby Screens
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/cqcm.webp
  Resources/Textures/LobbyScreens/cqcm.webp.yml
  Resources/Textures/LobbyScreens/cqcm1.webp
  Resources/Textures/LobbyScreens/cqcm1.webp.yml
  Resources/Textures/LobbyScreens/cqcm2.webp
  Resources/Textures/LobbyScreens/cqcm2.webp.yml
  Resources/Textures/LobbyScreens/cqcm3.webp
  Resources/Textures/LobbyScreens/cqcm3.webp.yml
Labels: No C#, Status: Needs Review

#718 Atlas Update
  Resources/Maps/_Goobstation/atlas.yml
Labels: No C#, Changes: Map

#734 Fixed merc web vest contraband level
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
Labels: No C#

#735 Heretic Lobby Art
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/heretic.webp
  Resources/Textures/LobbyScreens/heretic.webp.yml
Labels: No C#

#712 Eshotgun resprite
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#732 dynamic fuckups
  Content.Server/_Goobstation/GameTicking/Rules/Components/DynamicRuleComponent.cs
  Content.Server/_Goobstation/GameTicking/Rules/DynamicRuleSystem.cs
  Content.Server/_Goobstation/StationEvents/DynamicStationEventSchedulerComponent.cs
  Content.Server/_Goobstation/StationEvents/DynamicStationEventSchedulerRule.cs
Labels: Status: Needs Review

#738 fix dynamic once and for all
  Content.Server/_Goobstation/StationEvents/DynamicStationEventSchedulerRule.cs
Labels: Status: Needs Review

#726 Heretics update part 3
  Content.Client/_Goobstation/Heretic/UI/LivingHeartMenu.xaml
  Content.Client/_Goobstation/Heretic/UI/LivingHeartMenu.xaml.cs
  Content.Client/_Goobstation/Heretic/UI/LivingHeartMenuBoundUserInterface.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Ash.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Flesh.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/AristocratSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticKnowledgeSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticRitualSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticSystem.cs
  Content.Server/_Goobstation/Heretic/Ritual/CustomBehavior.Sacrifice.cs
  Content.Server/_Goobstation/Magic/ChainFireballComponent.cs
  Content.Server/_Goobstation/Magic/ChainFireballSystem.cs
  Content.Shared/_Goobstation/Heretic/Components/HereticComponent.cs
  Content.Shared/_Goobstation/Heretic/Heretic.Abilites.cs
  Content.Shared/_Goobstation/Heretic/Prototypes/Heretic.Data.cs
  Resources/Audio/_Goobstation/Heretic/Ambience/Antag/Heretic/attributions.yml
  Resources/Audio/_Goobstation/Heretic/attributions.yml
  Resources/Audio/_Goobstation/Heretic/heartbeat.ogg
  Resources/Locale/en-US/_Goobstation/Heretic/abilities/heretic.ftl
  Resources/Locale/en-US/_Goobstation/Heretic/heretic/rituals.ftl
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_Goobstation/Heretic/Actions/Heretic/basic.yml
  Resources/Prototypes/_Goobstation/Heretic/Heretic/heretic_knowledge.yml
  Resources/Prototypes/_Goobstation/Heretic/Heretic/heretic_rituals.yml
  Resources/Prototypes/tags.yml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Heretics.xml
  Resources/Textures/_Goobstation/Heretic/abilities_heretic.rsi/living_heart.png
  Resources/Textures/_Goobstation/Heretic/abilities_heretic.rsi/meta.json
Labels: Changes: Sprites, Changes: UI, Status: Needs Review

#740 Fix mid round nukies
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/midround.yml
Labels: No C#

#736 Nukie elite resprite
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/meta.json
Labels: Changes: Sprites, No C#

#748 Sec Hardsuit resprite
  Resources/Textures/Clothing/Head/Hardsuits/security.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/security.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/security.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/security.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/security.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/security.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/security.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/security.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/security.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/security.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/security.rsi/meta.json
Labels: Changes: Sprites, No C#

#742 Mail loc fix
  Resources/Locale/en-US/_NF/mail/mail.ftl
Labels: No C#

#723 Heretic rituals radial menu
  Content.Client/Content.Client.csproj
  Content.Client/_Goobstation/Heretic/HereticRitualRuneBoundUserInterface.cs
  Content.Client/_Goobstation/Heretic/UI/HereticRitualRuneRadialMenu.xaml
  Content.Client/_Goobstation/Heretic/UI/HereticRitualRuneRadialMenu.xaml.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticKnowledgeSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticRitualSystem.cs
  Content.Shared/_Goobstation/Heretic/Components/HereticRitualEvents.cs
  Content.Shared/_Goobstation/Heretic/Prototypes/Heretic.Data.cs
  Resources/Prototypes/_Goobstation/Heretic/Entities/Structures/Specific/Heretic/ritual_rune.yml
  Resources/Prototypes/_Goobstation/Heretic/Heretic/heretic_rituals.yml
Labels: Changes: UI, Status: Needs Review

#760 Sprite Inconsistency Fix 1
  Resources/Textures/Clothing/Hands/Gloves/janitor.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/janitor.rsi/icon.png
  Resources/Textures/Clothing/Hands/Gloves/janitor.rsi/inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/janitor.rsi/inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/janitor.rsi/meta.json
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/flipped-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/flipped-inhand-left.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/flipped-inhand-right.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/icon.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/icon_flipped.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/bartender.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/chaplain.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/chef.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hydro.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/janitor.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/jester.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblack.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblue.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerred.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/librarian.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/safari.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security_trooper.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/base_torso_standard.png
  Resources/Textures/Structures/Furniture/Tables/wood.rsi/full.png
  Resources/Textures/Structures/Furniture/Tables/wood.rsi/meta.json
  Resources/Textures/Structures/Furniture/Tables/wood.rsi/state_0.png
  Resources/Textures/Structures/Furniture/Tables/wood.rsi/state_1.png
  Resources/Textures/Structures/Furniture/Tables/wood.rsi/state_2.png
  Resources/Textures/Structures/Furniture/Tables/wood.rsi/state_3.png
  Resources/Textures/Structures/Furniture/Tables/wood.rsi/state_4.png
  Resources/Textures/Structures/Furniture/Tables/wood.rsi/state_5.png
  Resources/Textures/Structures/Furniture/Tables/wood.rsi/state_6.png
  Resources/Textures/Structures/Furniture/Tables/wood.rsi/state_7.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/blueshield_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/blueshield_jacket.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/blueshield_jacket.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/blueshield_jacket.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/blueshield_officer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/mailman.rsi/equipped-INNERCLOTHING.png
Labels: Changes: Sprites, No C#

#762 Lag Fixes ig
  Resources/Prototypes/Entities/Objects/Tools/flare.yml
  Resources/Prototypes/Entities/Structures/Furniture/sink.yml
  Resources/Prototypes/Entities/Structures/Furniture/toilet.yml
  Resources/Prototypes/Entities/Tiles/water.yml
  Resources/Prototypes/World/worldgen_default.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/dynamic.yml
  Resources/Prototypes/_Goobstation/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: No C#

#769 jermov AI lawset board
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/silicon.yml
Labels: No C#

#761 Time Transfer ui
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferEntry.xaml
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferEntry.xaml.cs
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferPanel.xaml
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferPanel.xaml.cs
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferPanelEui.cs
  Content.Server/_Goobstation/Administration/Commands/TimeTransferPanelCommand.cs
  Content.Server/_Goobstation/Administration/TimeTransferPanelEui.cs
  Content.Shared/_Goobstation/Administration/TimeTransferPanelEui.cs
  Resources/Locale/en-US/_Goobstation/administration/time_transfer.ftl
  Resources/Locale/en-US/_Goobstation/job/job-names.ftl
  Resources/Prototypes/_Goobstation/Roles/Jobs/Misc/misc.yml
Labels: Changes: UI, Status: Needs Review

#757 let medibot express itself better
  Resources/Locale/en-US/advertisements/other/medibot.ftl
  Resources/Prototypes/Catalog/VendingMachines/advertisements.yml
Labels: No C#

#772 return pen embeddability
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/pen.yml
Labels: No C#

#770 Update security_cadet.yml, removes glock from cadets!
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
Labels: No C#

#766 Minor stuff fixes
  Content.Shared/_White/Standing/SharedLayingDownSystem.cs
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/cores.yml
  Resources/Prototypes/_Goobstation/Entities/Supermatter/supermatter.yml
  Resources/Prototypes/_Goobstation/Objectives/traitor.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
Labels: Status: Needs Review

#767 Fixed changeling armor not equipping regardless of worn equipment
  Content.IntegrationTests/Tests/_Goobstation/Changeling/ChangelingArmorTests.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.Abilities.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.cs
  Content.Shared/_Goobstation/Changeling/ChangelingComponent.cs
Labels: Status: Needs Review

#773 Update Publish
  .github/workflows/publish.yml
  Tools/publish_github_artifact.py
  Tools/publish_multi_request.py
Labels: No C#

#775 In Memorium
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: No C#

#764 Adds Durk plush
  Resources/Prototypes/_Goobstation/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushie_durk.png
Labels: Changes: Sprites, No C#

#779 Revert "Remove sentience from clean and medi bot (#32383)"
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
Labels: No C#

#780 Revert "Remove binary channel access to silicons without laws. (#32385)"
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: No C#

#783 buff ores to deltav values
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
Labels: No C#

#765 Hecu real not fake
  Resources/Locale/en-US/_Goobstation/ghost/ghost-role-component.ftl
  Resources/Locale/en-US/_Goobstation/job/job-description.ftl
  Resources/Locale/en-US/_Goobstation/job/job-names.ftl
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Back/specific.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/hecu.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Goobstation/Roles/GhostRoles/Fun/hecu.yml
  Resources/Prototypes/_Goobstation/Roles/play_time_trackers.yml
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/hecu.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/hecu.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/hecu.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/hecu.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/hecu.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#791 AI job role for highpop Fland
  Resources/Prototypes/_Goobstation/Maps/flandhighpop.yml
Labels: No C#

#792 gives the BSO a hardsuit Fucking Finally
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/bso.rsi/icon-flash.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/bso.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/bso.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/bso.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/bso.rsi/off-equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/bso.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/bso.rsi/on-equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/bso.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/bso.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/bso.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/bso.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/bso.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/bso.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#793 Minor Inconsistency fix
  Resources/Textures/Objects/Specific/Medical/medical.rsi/brutepack-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/brutepack-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/brutepack.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/medical.rsi/ointment-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/ointment-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/ointment.png
  Resources/Textures/Objects/Storage/Briefcases/briefcase_brown.rsi/icon.png
  Resources/Textures/Objects/Storage/Briefcases/briefcase_brown.rsi/inhand-left.png
  Resources/Textures/Objects/Storage/Briefcases/briefcase_brown.rsi/inhand-right.png
  Resources/Textures/Objects/Storage/Briefcases/briefcase_brown.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/icon.png
  Resources/Textures/Structures/Doors/MineralDoors/wood_door.rsi/closed.png
  Resources/Textures/Structures/Doors/MineralDoors/wood_door.rsi/closing.png
  Resources/Textures/Structures/Doors/MineralDoors/wood_door.rsi/meta.json
  Resources/Textures/Structures/Doors/MineralDoors/wood_door.rsi/open.png
  Resources/Textures/Structures/Doors/MineralDoors/wood_door.rsi/opening.png
  Resources/Textures/Structures/Furniture/chairs.rsi/wooden-bench.png
  Resources/Textures/Structures/Furniture/chairs.rsi/wooden.png
Labels: Changes: Sprites, No C#, Status: Needs Review

#611 The Skibidi Rizz Ohio Update
  Content.Shared/Revolutionary/Components/RevolutionaryComponent.cs
  Resources/Audio/Lobby/attributions.yml
  Resources/Audio/Lobby/redsun.ogg
  Resources/Audio/_Goobstation/Ambience/Antag/attributions.yml
  Resources/Audio/_Goobstation/Ambience/Antag/rev_start.ogg
  Resources/Audio/_Goobstation/Announcements/redsun.ogg
  Resources/Locale/en-US/_Goobstation/accent/accents.ftl
  Resources/Locale/en-US/_Goobstation/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_Goobstation/ghost/ghost-role-component.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/Consumable/alcohol.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/physical-desc.ftl
  Resources/Locale/en-US/_Goobstation/station-events/events/vent-critters.ftl
  Resources/Prototypes/Datasets/Names/borg.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/energyball.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/_Goobstation/Accents/word_replacements.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Datasets/Names/generators_first.yml
  Resources/Prototypes/_Goobstation/Datasets/Names/singularity_last.yml
  Resources/Prototypes/_Goobstation/Datasets/Names/supermatter_last.yml
  Resources/Prototypes/_Goobstation/Datasets/Names/tesla_last.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/miscellaneous.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Syndicate/boxes.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/_Goobstation/Entities/Supermatter/supermatter.yml
  Resources/Prototypes/_Goobstation/Flavors/flavors.yml
  Resources/Prototypes/_Goobstation/GameRules/pests.yml
  Resources/Prototypes/_Goobstation/Reagents/alcohol.yml
  Resources/Prototypes/_Goobstation/Recipes/Reactions/drinks.yml
  Resources/Prototypes/_Goobstation/status_effects.yml
  Resources/Textures/_Goobstation/Objects/Consumable/Drinks/sigmajuice.rsi/fill-1.png
  Resources/Textures/_Goobstation/Objects/Consumable/Drinks/sigmajuice.rsi/fill-2.png
  Resources/Textures/_Goobstation/Objects/Consumable/Drinks/sigmajuice.rsi/fill-3.png
  Resources/Textures/_Goobstation/Objects/Consumable/Drinks/sigmajuice.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Consumable/Drinks/sigmajuice.rsi/icon_empty.png
  Resources/Textures/_Goobstation/Objects/Consumable/Drinks/sigmajuice.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Storage/boxes.rsi/box.png
  Resources/Textures/_Goobstation/Objects/Storage/boxes.rsi/box_of_doom.png
  Resources/Textures/_Goobstation/Objects/Storage/boxes.rsi/brainrot.png
  Resources/Textures/_Goobstation/Objects/Storage/boxes.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Storage/boxes.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Storage/boxes.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#788 Stun meta real
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.cs
  Content.Server/_Goobstation/Clothing/MadnessMaskSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/MansusGraspSystem.cs
  Content.Shared/Damage/Components/StaminaComponent.cs
  Content.Shared/Damage/Components/StaminaDamageOnCollideComponent.cs
  Content.Shared/Damage/Components/StaminaDamageOnEmbedComponent.cs
  Content.Shared/Damage/Components/StaminaDamageOnHitComponent.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Slippery/SlipperySystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/_Goobstation/Stunnable/OvertimeStaminaDamageComponent.cs
  Content.Shared/_Goobstation/Stunnable/OvertimeStaminaDamageSystem.cs
  Content.Shared/_Goobstation/Stunnable/StamcritResistComponent.cs
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/armblade.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/chainsaw.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sledgehammer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Reagents/narcotics.yml
Labels: Status: Needs Review

#803 polishing my shitty junk
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/hecu.yml
Labels: No C#

#802 Nerf skeletons
  Resources/Prototypes/Damage/modifier_sets.yml
Labels: Changes: Sprites, No C#, Status: Needs Review, Halloween 2024

#811 Remove Train from the Map Pool
  Resources/Prototypes/Maps/Pools/default.yml
Labels: No C#, Changes: Map, Status: Needs Review

#799 New hairstyles 2: Eletric Boogalo
  Resources/Locale/en-US/_Goobstation/accessories/human-hair.ftl
  Resources/Prototypes/_Goobstation/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/hairnet.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/longPompadour.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/mediumCurls.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/plateau.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/queenBee.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/saggedMohawk.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/sideSpike.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/spaceLoops.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/star.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/starFro.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/wispy.png
Labels: Changes: Sprites, No C#

#797 Update job-description.ftl / change assistant hover-text to prevent s…
  Resources/Locale/en-US/job/job-description.ftl
Labels: No C#

#794 Fixed some Ritual of Knowledge items not working
  Content.IntegrationTests/Tests/_Goobstation/Heretic/RitualKnowledgeTests.cs
  Content.Server/_Goobstation/Heretic/Ritual/CustomBehavior.Knowledge.cs
  Resources/Prototypes/Entities/Objects/Devices/geiger.yml
  Resources/Prototypes/_Goobstation/Datasets/tags.yml
Labels: Status: Needs Review

#776 Changeling metashield
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR4Metashield.xml
Labels: No C#, Status: Needs Review

#787 Tweak cling armblade to be more armey
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Melee/changeling_armblade.yml
Labels: No C#

#808 sportacus
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/miscellaneous.yml
  Resources/Textures/_Goobstation/Mobs/Demons/sportacus.rsi/alive.png
  Resources/Textures/_Goobstation/Mobs/Demons/sportacus.rsi/dead.png
  Resources/Textures/_Goobstation/Mobs/Demons/sportacus.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#812 DETROIIIIIIIIIIIIIIT and also fix logo i guess
  Content.Benchmarks/MapLoadBenchmark.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Shuttles/emergency_raven.yml
  Resources/Maps/_Goobstation/barratry.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/_Goobstation/barratry.yml
  Resources/Textures/Logo/logo.png.yml
Labels: No C#, Changes: Map, Status: Needs Review
