Repository Goob-Station/Goob-Station, pull requests merged in 2024-04, with the labels that each got.

#61 Apr1/NT rep glows in the dark
  Resources/Prototypes/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: No C#

#77 APRIL FOOLS MAKE EVERYTHING STICKY
  Resources/Prototypes/Entities/Objects/base_item.yml
Labels: No C#

#72 Nuke finished!!!!!!!!!!
  Resources/Prototypes/Entities/Objects/Fun/nuke_construction.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/firebomb.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/improvisednuke.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
  Resources/Prototypes/Recipes/Reactions/fun.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Fun/enricheduranium.rsi/meta.json
  Resources/Textures/Objects/Fun/nukecraft.rsi/meta.json
  Resources/Textures/Objects/Fun/nukecraft.rsi/nukecraft_1.png
  Resources/Textures/Objects/Fun/nukecraft.rsi/nukecraft_2.png
  Resources/Textures/Objects/Fun/nukecraft.rsi/nukecraft_3.png
  Resources/Textures/Objects/Fun/nukecraft.rsi/nukecraft_4.png
  Resources/Textures/Objects/Fun/nukecraft.rsi/nukecraft_5.png
  Resources/Textures/Objects/Fun/nukecraft.rsi/nukecraft_6.png
Labels: Changes: Sprites, No C#

#89 Revert "Revert "Scaled icon.ico so it's actually used""
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-64x64.png
Labels: No C#

#92 Gives terminators welding protection
  Resources/Prototypes/Entities/Mobs/Player/terminator.yml
Labels: No C#

#93 Bu3 (don’t delete)
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/Overlays/EntityHealthBarOverlay.cs
  Content.Client/StatusIcon/StatusIconOverlay.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Damage/Components/DamagePopupComponent.cs
  Content.Server/Damage/Systems/DamagePopupSystem.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.Spillable.cs
  Content.Server/GameTicking/Rules/VariationPass/Components/CutWireVariationPassComponent.cs
  Content.Server/GameTicking/Rules/VariationPass/CutWireVariationPassSystem.cs
  Content.Server/GameTicking/Rules/ZombieRuleSystem.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Server/Shuttles/Systems/ThrusterSystem.cs
  Content.Server/Spawners/Components/TimedSpawnerComponent.cs
  Content.Server/StationEvents/Events/IonStormRule.cs
  Content.Server/Wires/CutWireOnMapInitComponent.cs
  Content.Server/Wires/CutWireOnMapInitSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
  Content.Shared/Fluids/Components/SpillableComponent.cs
  Content.Shared/Medical/SuitSensor/SharedSuitSensor.cs
  Content.Shared/StatusIcon/StatusIconPrototype.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/human.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Objects/Specific/Security/target.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/units.yml
  Resources/Prototypes/Entities/Structures/Specific/Janitor/janicart.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/variation.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/bat.yml
  Resources/Prototypes/Recipes/Lathes/salvage.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/StatusEffects/health.yml
  Resources/Prototypes/StatusEffects/hunger.yml
  Resources/Prototypes/StatusEffects/job.yml
  Resources/Prototypes/StatusEffects/security.yml
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/Decals/bricktile.rsi/white_box.png
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/terminalstation.webp
  Resources/Textures/LobbyScreens/terminalstation.webp.yml
  Resources/Textures/Objects/Weapons/Melee/incomplete_bat.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/incomplete_bat.rsi/meta.json
  Resources/Textures/Structures/Machines/tech_disk_printer.rsi/display.png
  Resources/Textures/Structures/Machines/tech_disk_printer.rsi/icon.png
  Resources/Textures/Structures/Machines/tech_disk_printer.rsi/meta.json
  Resources/Textures/Structures/Machines/tech_disk_printer.rsi/unshaded.png
Labels: Merge Conflict, Changes: Sprites, Changes: UI

#95 Wizard book fix for real this time
  Content.Server/Salvage/Expeditions/SalvageExpeditionComponent.cs
  Resources/Audio/Misc/attributions.yml
  Resources/Audio/Misc/deadline.ogg
  Resources/Prototypes/Entities/Objects/Magic/admemebooks.yml
  Resources/Prototypes/Entities/Objects/Magic/books.yml
  Resources/Prototypes/Entities/Objects/Specific/wizard.yml
  Resources/Textures/Objects/Magic/spellbooks.rsi/bookanimatedead.png
  Resources/Textures/Objects/Magic/spellbooks.rsi/bookblind.png
  Resources/Textures/Objects/Magic/spellbooks.rsi/bookclownify.png
  Resources/Textures/Objects/Magic/spellbooks.rsi/bookdevolve.png
  Resources/Textures/Objects/Magic/spellbooks.rsi/bookemp.png
  Resources/Textures/Objects/Magic/spellbooks.rsi/bookfireball.png
  Resources/Textures/Objects/Magic/spellbooks.rsi/bookheal.png
  Resources/Textures/Objects/Magic/spellbooks.rsi/bookiceburst.png
  Resources/Textures/Objects/Magic/spellbooks.rsi/booklessergun.png
  Resources/Textures/Objects/Magic/spellbooks.rsi/bookmagicmissile.png
  Resources/Textures/Objects/Magic/spellbooks.rsi/booknuclearfireball.png
  Resources/Textures/Objects/Magic/spellbooks.rsi/booksmoke.png
  Resources/Textures/Objects/Magic/spellbooks.rsi/bookswap.png
  Resources/Textures/Objects/Magic/spellbooks.rsi/booktemplate.png
  Resources/Textures/Objects/Magic/spellbooks.rsi/bookteslaball.png
  Resources/Textures/Objects/Magic/spellbooks.rsi/meta.json
  Resources/Textures/Objects/Misc/books.rsi/icon_magic_animatedead.png
  Resources/Textures/Objects/Misc/books.rsi/icon_magic_blind.png
  Resources/Textures/Objects/Misc/books.rsi/icon_magic_devolve.png
  Resources/Textures/Objects/Misc/books.rsi/icon_magic_emp.png
  Resources/Textures/Objects/Misc/books.rsi/icon_magic_heal.png
  Resources/Textures/Objects/Misc/books.rsi/icon_magic_iceburst.png
  Resources/Textures/Objects/Misc/books.rsi/icon_magic_lessergun.png
  Resources/Textures/Objects/Misc/books.rsi/icon_magic_magicmissile.png
  Resources/Textures/Objects/Misc/books.rsi/icon_magic_nuclearfireball.png
  Resources/Textures/Objects/Misc/books.rsi/icon_magic_smoke.png
  Resources/Textures/Objects/Misc/books.rsi/icon_magic_swap.png
  Resources/Textures/Objects/Misc/books.rsi/icon_magic_teslaball.png
  Resources/Textures/Objects/Misc/books.rsi/meta.json
Labels: Changes: Sprites

#99 Eeeeee
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Client/Lathe/UI/RecipeControl.xaml.cs
  Content.Client/RCD/RCDMenu.xaml.cs
  Content.IntegrationTests/Tests/Construction/Interaction/CraftingTests.cs
  Content.Server/Humanoid/Systems/HumanoidAppearanceSystem.cs
  Content.Shared/Bed/Cryostorage/SharedCryostorageSystem.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/RCD/Systems/RCDSystem.cs
  Content.Shared/SubFloor/SharedTrayScannerSystem.cs
  Content.Shared/SubFloor/TrayScannerComponent.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/lathe/ui/lathe-menu.ftl
  Resources/Locale/en-US/rcd/components/rcd-component.ftl
  Resources/Locale/en-US/speech/speech-chatsan.ftl
  Resources/Prototypes/Accents/word_replacements.yml
  Resources/Prototypes/Catalog/Cargo/cargo_emergency.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/Datasets/ion_storm.yml
  Resources/Prototypes/Entities/Clothing/Belt/base_clothingbelt.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/base_clothing.yml
  Resources/Prototypes/Entities/Objects/Fun/figurines.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/RCD/rcd.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/spear.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Textures/Objects/Consumable/Smokeables/Cigarettes/cigarette.rsi/lit-inhand-left.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigarettes/cigarette.rsi/lit-inhand-right.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigarettes/cigarette.rsi/unlit-inhand-left.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigarettes/cigarette.rsi/unlit-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/bone_spear.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/bone_spear.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/plasma_spear.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/plasma_spear.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/reinforced_spear.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/reinforced_spear.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/uranium_spear.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/uranium_spear.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites, Changes: UI

#100 Revert this shit.. NOW!!!
  Content.Client/Chemistry/UI/ReagentDispenserBoundUserInterface.cs
  Content.Client/Chemistry/UI/ReagentDispenserWindow.xaml
  Content.Client/Chemistry/UI/ReagentDispenserWindow.xaml.cs
  Content.IntegrationTests/Tests/Chemistry/DispenserTest.cs
  Content.Server/Chemistry/Components/ReagentDispenserComponent.cs
  Content.Server/Chemistry/EntitySystems/ReagentDispenserSystem.cs
  Content.Shared/Chemistry/Dispenser/ReagentDispenserInventoryPrototype.cs
  Content.Shared/Chemistry/SharedReagentDispenser.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsComponent.cs
  Resources/Prototypes/Catalog/ReagentDispensers/beverage.yml
  Resources/Prototypes/Catalog/ReagentDispensers/chemical.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/Entities/Structures/Dispensers/base_structuredispensers.yml
  Resources/Prototypes/Entities/Structures/Dispensers/booze.yml
  Resources/Prototypes/Entities/Structures/Dispensers/chem.yml
  Resources/Prototypes/Entities/Structures/Dispensers/soda.yml
  Resources/Prototypes/tags.yml
Labels: Changes: UI

#97 Nuke fixes
  Resources/Prototypes/Entities/Objects/Fun/nuke_construction.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
Labels: No C#

#103 Add pink shoes
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_colors.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Entities/Clothing/Shoes/color.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
  Resources/Textures/Clothing/Shoes/Color/pink.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Color/pink.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Color/pink.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Color/pink.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Color/pink.rsi/meta.json
Labels: Changes: Sprites, No C#

#94 num num blood
  Resources/Prototypes/Actions/skinwalker.yml
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/Body/Prototypes/skeleton.yml
  Resources/Prototypes/Body/Prototypes/skinwalker.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/skinwalker.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Entities/Mobs/Player/skinwalker.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/skinwalker.yml
  Resources/Prototypes/Species/skinwalker.yml
  Resources/Textures/Mobs/Customization/skinwalker.rsi/meta.json
  Resources/Textures/Mobs/Customization/skinwalker.rsi/skinwalker_backskull.png
  Resources/Textures/Mobs/Customization/skinwalker.rsi/skinwalker_bonecheek_l.png
  Resources/Textures/Mobs/Customization/skinwalker.rsi/skinwalker_bonecheek_r.png
  Resources/Textures/Mobs/Customization/skinwalker.rsi/skinwalker_eyebags.png
  Resources/Textures/Mobs/Customization/skinwalker.rsi/skinwalker_guthole.png
  Resources/Textures/Mobs/Customization/skinwalker.rsi/skinwalker_ribarms.png
  Resources/Textures/Mobs/Customization/skinwalker.rsi/skinwalker_scars.png
  Resources/Textures/Mobs/Customization/skinwalker.rsi/skinwalker_shoulderbone_l.png
  Resources/Textures/Mobs/Customization/skinwalker.rsi/skinwalker_shoulderbone_r.png
  Resources/Textures/Mobs/Customization/skinwalker.rsi/skinwalker_skullmask.png
  Resources/Textures/Mobs/Customization/skinwalker.rsi/skinwalker_totallyhuman.png
Labels: Changes: Sprites, No C#

#109 Flesh wlaker tweaks
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Species/skinwalker.yml
Labels: No C#

#111 wiznerds are a little better now
  Content.Server/GameTicking/Rules/Components/WizardRuleComponent.cs
  Content.Server/GameTicking/Rules/WizardRuleSystem.cs
  Content.Server/Objectives/Components/AlwaysCompleteComponent.cs
  Content.Server/Objectives/Systems/AlwaysCompleteSystem.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-wizard.ftl
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/wizard.yml
  Resources/Textures/Objects/Misc/books.rsi/icon_magic_clownify.png
Labels: Changes: Sprites

#119 Wizard adjustments
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: No C#

#117 Cream pie cannon
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/secret_weights.yml
Labels: No C#, Status: Needs Review

#116 mime hardsuit improvements
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Textures/Clothing/Head/Hardsuits/mime.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/mime.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/mime.rsi/equipped-OUTERCLOTHING.png
Labels: Changes: Sprites, No C#

#120 Anti-shittery law
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Prototypes/silicon-laws.yml
Labels: No C#

#124 add blackburn stuff because they are cool
  Resources/Prototypes/Caldera/clothing/costumes.yml
  Resources/Prototypes/Caldera/objects/plushies.yml
  Resources/Textures/Caldera/clothing/BKKitsuneMask.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Caldera/clothing/BKKitsuneMask.rsi/icon.png
  Resources/Textures/Caldera/clothing/BKKitsuneMask.rsi/meta.json
  Resources/Textures/Caldera/clothing/YTS.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Caldera/clothing/YTS.rsi/icon.png
  Resources/Textures/Caldera/clothing/YTS.rsi/meta.json
  Resources/Textures/Caldera/objects/BKPlushie.rsi/meta.json
  Resources/Textures/Caldera/objects/BKPlushie.rsi/plushie_Bkv1.png
  Resources/Textures/Caldera/objects/BKPlushie.rsi/plushie_Bkv2.png
Labels: Changes: Sprites, No C#

#126 Blackburn Fix + Make items obtainable
  .gitignore
  .vscode/settings.json
  Resources/Prototypes/Caldera/clothing/costumes.yml
  Resources/Prototypes/Caldera/objects/plushies.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Textures/Caldera/clothing/BKKitsuneMask.rsi/equipped-MASK.png
  Resources/Textures/Caldera/clothing/BKKitsuneMask.rsi/meta.json
  Resources/Textures/Caldera/objects/BKPlushie.rsi/meta.json
Labels: Changes: Sprites, No C#

#130 Hotfix
  Resources/Prototypes/silicon-laws.yml
Labels: No C#

#146 blackburna nerf + sound
  Resources/Audio/Items/Toys/fox.ogg
  Resources/Prototypes/Caldera/objects/plushies.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
Labels: No C#

#147 fuck all at once zombies
  Resources/Locale/en-US/game-ticking/game-presets/preset-allatonce.ftl
  Resources/Prototypes/game_presets.yml
Labels: No C#

#151 Fixed all the issues the checks were throwing.
  Content.Server/Database/ServerBanDef.cs
  Content.Server/GameTicking/Rules/Components/WizardRuleComponent.cs
  Content.Server/GameTicking/Rules/WizardRuleSystem.cs
  Resources/Audio/Lobby/attributions.yml
  Resources/Locale/en-US/connection-messages.ftl
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Fun/nuke_construction.yml
  Resources/Prototypes/Entities/Objects/Magic/books.yml
  Resources/Prototypes/Entities/Objects/Specific/wizard.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/debug.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/improvisednuke.yml
  Resources/Prototypes/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/Roles/Jobs/Command/nanotrasen_representative.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Fun/wizard_startinggear.yml
  Resources/Prototypes/Store/currency.yml
  Resources/Prototypes/ai_factions.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/LobbyScreens/attributions.yml
Labels: Changes: Map

#155 Jukebox fix
  Resources/Audio/Jukebox/attributions.yml
  Resources/Prototypes/Catalog/Jukebox/Standard.yml
Labels: No C#

#159 Ert gun
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Textures/Objects/Weapons/Guns/Battery/ertgodgun.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ertgodgun.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ertgodgun.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ertgodgun.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ertgodgun.rsi/mag-unshaded-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ertgodgun.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ertgodgun.rsi/meta.json
Labels: Changes: Sprites, No C#

#160 CMO Cloning stuff
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: No C#

#165 Men
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Client/Xenoarchaeology/Ui/AnalysisConsoleMenu.xaml
  Content.Server/Actions/ActionOnInteractSystem.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Chemistry/ReagentEffectConditions/TotalHunger.cs
  Content.Server/Geras/GerasComponent.cs
  Content.Server/Geras/GerasSystem.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Content.Shared/Actions/Events/ValidateActionEntityTargetEvent.cs
  Content.Shared/Actions/Events/ValidateActionWorldTargetEvent.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/Geras/SharedGerasSystem.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/components/storage-component.ftl
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/geras/geras.ftl
  Resources/Locale/en-US/guidebook/chemistry/conditions.ftl
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Locale/en-US/reagents/mannitol.ftl
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Locale/en-US/reagents/meta/narcotics.ftl
  Resources/Locale/en-US/reagents/meta/toxins.ftl
  Resources/Locale/en-US/reagents/psicodine.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/Recipes/Reactions/pyrotechnic.yml
  Resources/ServerInfo/Guidebook/Engineering/AME.xml
  Resources/ServerInfo/Guidebook/Engineering/AccessConfigurator.xml
  Resources/ServerInfo/Guidebook/Engineering/AirlockSecurity.xml
  Resources/ServerInfo/Guidebook/Engineering/Atmospherics.xml
  Resources/ServerInfo/Guidebook/Engineering/Construction.xml
  Resources/ServerInfo/Guidebook/Engineering/Engineering.xml
  Resources/ServerInfo/Guidebook/Engineering/Fires.xml
  Resources/ServerInfo/Guidebook/Engineering/NetworkConfigurator.xml
  Resources/ServerInfo/Guidebook/Engineering/Networking.xml
  Resources/ServerInfo/Guidebook/Engineering/PortableGenerator.xml
  Resources/ServerInfo/Guidebook/Engineering/Power.xml
  Resources/ServerInfo/Guidebook/Engineering/RTG.xml
  Resources/ServerInfo/Guidebook/Engineering/Shuttlecraft.xml
  Resources/ServerInfo/Guidebook/Engineering/Singularity.xml
  Resources/ServerInfo/Guidebook/Engineering/TEG.xml
  Resources/ServerInfo/Guidebook/Mobs/SlimePerson.xml
Labels: Changes: UI

#172 Fixed reagents causing linter and build to fail.
  Resources/Prototypes/Reagents/toxins.yml
Labels: No C#

#173 Fixed (actually)
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Reagents/toxins.yml
Labels: No C#

#178 Add gondolas + Tranquility
  Resources/Locale/en-US/accent/accents.ftl
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/reagents/meta/fun.ftl
  Resources/Locale/en-US/reagents/meta/physical-desc.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Accents/full_replacements.yml
  Resources/Prototypes/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Palettes/sixteen.yml
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/Recipes/Construction/Graphs/food/steak.yml
  Resources/Prototypes/Voice/speech_verbs.yml
  Resources/Textures/Mobs/Animals/gondola.rsi/gondola_body_long.png
  Resources/Textures/Mobs/Animals/gondola.rsi/gondola_body_medium.png
  Resources/Textures/Mobs/Animals/gondola.rsi/gondola_body_short.png
  Resources/Textures/Mobs/Animals/gondola.rsi/gondola_dead.png
  Resources/Textures/Mobs/Animals/gondola.rsi/gondola_moustache_large.png
  Resources/Textures/Mobs/Animals/gondola.rsi/gondola_moustache_large_short.png
  Resources/Textures/Mobs/Animals/gondola.rsi/gondola_moustache_small.png
  Resources/Textures/Mobs/Animals/gondola.rsi/gondola_moustache_small_short.png
  Resources/Textures/Mobs/Animals/gondola.rsi/meta.json
Labels: Changes: Sprites, No C#

#179 Louie plushie (hi louie <3)
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/plushie_louie.png
Labels: Changes: Sprites, No C#
