Repository Goob-Station/Goob-Station, pull requests merged in 2024-11, with the labels that each got.

#813 barratry hotfix
  Resources/Maps/_Goobstation/barratry.yml
Labels: No C#, Changes: Map

#816 move barratry's map prototype to the correct location
  Resources/Prototypes/_Goobstation/Maps/barratry.yml
Labels: No C#

#817 Re-add Kettle
  Content.Benchmarks/MapLoadBenchmark.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Goobstation/kettle.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Goobstation/Maps/kettle.yml
  Resources/map_attributions.txt
Labels: No C#, Changes: Map

#824 Fix some species having their hands the wrong way around
  Resources/Prototypes/DeltaV/Body/Prototypes/harpy.yml
  Resources/Prototypes/DeltaV/Body/Prototypes/vulpkanin.yml
  Resources/Prototypes/Nyanotrasen/Entities/Body/Prototypes/felinid.yml
Labels: No C#

#819 nothingburger update
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/miscellaneous.yml
Labels: No C#, Status: Needs Review

#823 Admin ghosts no longer require an empty hand to pull.
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: No C#

#825 lone ops dont spawn with a planet anymore
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#781 Core Rule 13 Update
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC13CharacterNames.xml
Labels: No C#

#828 gaming emotes
  Content.Client/_Goobstation/Emoting/AnimatedEmotesSystem.cs
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/_Goobstation/Emoting/AnimatedEmotesSystem.cs
  Content.Shared/Chat/Prototypes/EmotePrototype.cs
  Content.Shared/Emoting/EmoteSystem.cs
  Content.Shared/_Goobstation/Emoting/AnimatedEmotesComponent.cs
  Content.Shared/_Goobstation/Emoting/SharedAnimatedEmotesSystem.cs
  Resources/Locale/en-US/_Goobstation/emotes.ftl
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/_Goobstation/Actions/emotes.yml
Labels: Status: Needs Review

#833 Locale cleanup
  Content.Client/Options/UI/OptionsMenu.xaml.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Locale/en-US/nyanotrasen/markings/felinid.ftl
  Resources/Prototypes/_Goobstation/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/medical_patch_prefilled.yml
Labels: Changes: UI

#832 billions must flip
  Resources/Prototypes/_Goobstation/Actions/emotes.yml
Labels: No C#

#834 Bloodstains
  Content.Client/_White/FootPrint/FootPrintsVisualizerSystem.cs
  Content.Server/_White/FootPrint/FootPrintsSystem.cs
  Content.Server/_White/FootPrint/PuddleFootPrintsSystem.cs
  Content.Shared/_White/Footprint/FootPrintComponent.cs
  Content.Shared/_White/Footprint/FootPrintVisuals.cs
  Content.Shared/_White/Footprint/FootPrintsComponent.cs
  Content.Shared/_White/Footprint/PuddleFootPrintsComponent.cs
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Mobs/Player/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_White/Entities/Effects/puddle.yml
  Resources/Textures/_White/Effects/footprints.rsi/dragging-1.png
  Resources/Textures/_White/Effects/footprints.rsi/dragging-2.png
  Resources/Textures/_White/Effects/footprints.rsi/dragging-3.png
  Resources/Textures/_White/Effects/footprints.rsi/dragging-4.png
  Resources/Textures/_White/Effects/footprints.rsi/dragging-5.png
  Resources/Textures/_White/Effects/footprints.rsi/dragging-test.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-left-bare-diona.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-left-bare-dwarf.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-left-bare-human.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-left-bare-lizard.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-left-bare-slime.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-left-bare-spider.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-right-bare-diona.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-right-bare-dwarf.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-right-bare-human.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-right-bare-lizard.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-right-bare-slime.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-right-bare-spider.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-shoes.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-suit.png
  Resources/Textures/_White/Effects/footprints.rsi/meta.json
Labels: Changes: Sprites

#844 Add/Fix missing name datasets for ATS and Salvager, and Cargo Shuttle name consistency
  Resources/Maps/Shuttles/ShuttleEvent/lost_cargo.yml
  Resources/Maps/Shuttles/cargo.yml
  Resources/Maps/Shuttles/cargo_core.yml
  Resources/Maps/Shuttles/cargo_fland.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/_Goobstation/Datasets/Names/mining_shuttle.yml
  Resources/Prototypes/_Goobstation/Datasets/Names/trade_station.yml
Labels: No C#, Changes: Map

#841 Kettle update
  Resources/Maps/_Goobstation/kettle.yml
Labels: No C#, Changes: Map

#840 fix objectives
  Resources/Locale/en-US/_Goobstation/changeling/game-ticking/game-presets/preset-changeling.ftl
  Resources/Prototypes/_Goobstation/Changeling/Objectives/changeling.yml
  Resources/Prototypes/_Goobstation/Heretic/Objectives/heretic.yml
Labels: No C#

#835 SEPERATE NTR AND BSO ACCESS
  Resources/Locale/en-US/_Goobstation/prototypes/access/accesses.ftl
  Resources/Prototypes/_Goobstation/Access/centcomm.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: No C#

#847 fixes footsteps and stuf i guess...
  Content.Server/_White/FootPrint/FootPrintsSystem.cs
  Resources/Prototypes/_White/Entities/Effects/puddle.yml
Labels: No C#

#846 Adds Beenades
  Resources/Audio/_Goobstation/Effects/Grenades/attributions.yml
  Resources/Audio/_Goobstation/Effects/Grenades/beenade_buzz.ogg
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Goobstation/Entities/Weapons/Throwables/clusterbang.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Grenades/beenades.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Grenades/beenades.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Grenades/beenades.rsi/primed.png
Labels: Changes: Sprites, No C#

#849 Decapitalise name of 'footstep' entity for consistency
  Resources/Prototypes/_White/Entities/Effects/puddle.yml
Labels: No C#

#850 Added missing 'DNA' to the changeling absorb popup
  Resources/Locale/en-US/_Goobstation/changeling/abilities/changeling.ftl
Labels: No C#

#814 Rifle Buffs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
Labels: No C#, Status: Needs Review

#852 Moth Maggots
  Resources/Locale/en-US/_Goobstation/ghost/ghost-role-component.ftl
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
  Resources/Textures/Mobs/Animals/mothroach/mothroach.rsi/0-equipped-HELMET.png
  Resources/Textures/Mobs/Animals/mothroach/mothroach.rsi/icon.png
  Resources/Textures/Mobs/Animals/mothroach/mothroach.rsi/inhand-left.png
  Resources/Textures/Mobs/Animals/mothroach/mothroach.rsi/inhand-right.png
  Resources/Textures/Mobs/Animals/mothroach/mothroach.rsi/meta.json
  Resources/Textures/Mobs/Animals/mothroach/mothroach.rsi/mothroach-moving.png
  Resources/Textures/Mobs/Animals/mothroach/mothroach.rsi/mothroach.png
  Resources/Textures/Mobs/Animals/mothroach/mothroach.rsi/mothroach_dead.png
  Resources/Textures/Mobs/Animals/mothroach/mothroach.rsi/mothroach_lazy.png
  Resources/Textures/Mobs/Animals/mothroach/mothroach.rsi/mothroach_sleep.png
  Resources/Textures/_Goobstation/Mobs/Animals/syndiroach.rsi/0-equipped-HELMET.png
  Resources/Textures/_Goobstation/Mobs/Animals/syndiroach.rsi/icon.png
  Resources/Textures/_Goobstation/Mobs/Animals/syndiroach.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Mobs/Animals/syndiroach.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Mobs/Animals/syndiroach.rsi/meta.json
  Resources/Textures/_Goobstation/Mobs/Animals/syndiroach.rsi/mothroach-moving.png
  Resources/Textures/_Goobstation/Mobs/Animals/syndiroach.rsi/mothroach.png
  Resources/Textures/_Goobstation/Mobs/Animals/syndiroach.rsi/mothroach_dead.png
  Resources/Textures/_Goobstation/Mobs/Animals/syndiroach.rsi/mothroach_lazy.png
  Resources/Textures/_Goobstation/Mobs/Animals/syndiroach.rsi/mothroach_sleep.png
Labels: Changes: Sprites, No C#

#853 remove stamina cost from mining drill
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
Labels: No C#

#860 last resort fix
  Resources/Locale/en-US/_Goobstation/changeling/abilities/changeling.ftl
  Resources/Prototypes/_Goobstation/Changeling/Actions/changeling.yml
Labels: No C#

#859 change gassprices
  Resources/Prototypes/Atmospherics/gases.yml
Labels: No C#

#851 Plyushie refactor
  Resources/Maps/_Goobstation/kettle.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushie_blackburn.png
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushie_desislava.png
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushie_matryoskya.png
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushie_plyushkina.png
Labels: Changes: Sprites, No C#, Changes: Map

#862 Mail JobTitle fixes. New mail teleporter sprites from FunkyStation.
  Content.Server/Nyanotrasen/Mail/MailSystem.cs
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/mailTeleporter.yml
  Resources/Textures/Nyanotrasen/Structures/mailbox.rsi/icon.png
  Resources/Textures/Nyanotrasen/Structures/mailbox.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/mailbox.rsi/unlit.png
Labels: Changes: Sprites

#861 Adjusted midround antagonists spawn rate and times to compensate for high roundstart antagonist count.
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#838 Give important antagonists playtime requirements
  Resources/Prototypes/Roles/Antags/revolutionary.yml
  Resources/Prototypes/_Goobstation/Changeling/Roles/Antags/changeling.yml
  Resources/Prototypes/_Goobstation/Heretic/Roles/Antags/heretic.yml
Labels: No C#, Status: Needs Review

#870 Remove OD from Barozine
  Resources/Prototypes/Reagents/medicine.yml
Labels: No C#

#866 Cybersun Stealth Hardsuit
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/_Goobstation/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Entities/Debugging/nukiestealth.yml
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/icon-flash.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/off-equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/on-equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/meta.json
Labels: Changes: Sprites, No C#

#880 Adds EE Run/Build Scripts.
  Scripts/bat/!README.txt
  Scripts/bat/buildAllDebug.bat
  Scripts/bat/buildAllRelease.bat
  Scripts/bat/buildAllTools.bat
  Scripts/bat/runQuickAll.bat
  Scripts/bat/runQuickClient.bat
  Scripts/bat/runQuickServer.bat
  Scripts/bat/runTests.bat
  Scripts/bat/runTestsIntegration.bat
  Scripts/bat/runTestsYAML.bat
  Scripts/sh/!README.txt
  Scripts/sh/buildAllDebug.sh
  Scripts/sh/buildAllRelease.sh
  Scripts/sh/buildAllTools.sh
  Scripts/sh/runQuickAll.sh
  Scripts/sh/runQuickClient.sh
  Scripts/sh/runQuickServer.sh
  Scripts/sh/runTests.sh
  Scripts/sh/runTestsIntegration.sh
  Scripts/sh/runTestsYAML.sh
Labels: No C#

#887 Kettle Fix (Bridge Button & Chemistry Sink)
  Resources/Maps/_Goobstation/kettle.yml
Labels: No C#, Changes: Map

#889 they did surgery on a fish
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/_Shitmed/Body/Organ/StatusEffectOrganComponent.cs
  Content.Server/_Shitmed/Body/Organ/StatusEffectOrganSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/_Shitmed/Body/Components/BreathingImmunityComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/_Goobstation/Body/Organs/Animal/space.yml
  Resources/Prototypes/_Goobstation/Body/Parts/animal.yml
  Resources/Prototypes/_Goobstation/Body/Prototypes/Animal/carp.yml
  Resources/Prototypes/_Goobstation/status_effects.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgeries.yml
  Resources/Prototypes/status_effects.yml
  Resources/Textures/_Goobstation/Mobs/Aliens/Carps/carp_parts.rsi/meta.json
  Resources/Textures/_Goobstation/Mobs/Aliens/Carps/carp_parts.rsi/tail.png
  Resources/Textures/_Goobstation/Mobs/Aliens/Carps/carp_parts.rsi/torso.png
Labels: Changes: Sprites

#888 Barratry Fix (Adds Cryosleep Beacon)
  Resources/Maps/_Goobstation/barratry.yml
Labels: No C#, Changes: Map

#892 Added Yowie as a playable species and Bogdan Accent
  Content.Server/_Goobstation/Speech/Components/BoganAccentComponent.cs
  Content.Server/_Goobstation/Speech/EntitySystems/BoganAccentSystem.cs
  Resources/Locale/en-US/_Goobstation/accent/bogan.ftl
  Resources/Locale/en-US/_Goobstation/markings/yowie_fur.ftl
  Resources/Locale/en-US/_Goobstation/species/yowie.ftl
  Resources/Prototypes/Guidebook/species.yml
  Resources/Prototypes/_Goobstation/Accents/word_replacements.yml
  Resources/Prototypes/_Goobstation/Body/Organs/yowie.yml
  Resources/Prototypes/_Goobstation/Body/Prototypes/yowie.yml
  Resources/Prototypes/_Goobstation/Damage/modifier_sets.yml
  Resources/Prototypes/_Goobstation/Datasets/Names/yowie_female.yml
  Resources/Prototypes/_Goobstation/Datasets/Names/yowie_last.yml
  Resources/Prototypes/_Goobstation/Datasets/Names/yowie_male.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Customization/Markings/yowie_fur.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/yowie.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Species/yowie.yml
  Resources/Prototypes/_Goobstation/InventoryTemplates/yowie_inventory_template.yml
  Resources/Prototypes/_Goobstation/Species/yowie.yml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
  Resources/ServerInfo/Guidebook/Mobs/Yowie.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC13CharacterNames.xml
  Resources/Textures/_Goobstation/Mobs/Customization/yowie_fur.rsi/meta.json
  Resources/Textures/_Goobstation/Mobs/Customization/yowie_fur.rsi/yowie_fur.png
  Resources/Textures/_Goobstation/Mobs/Customization/yowie_fur.rsi/yowie_fur_feet_left.png
  Resources/Textures/_Goobstation/Mobs/Customization/yowie_fur.rsi/yowie_fur_feet_right.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/organs.rsi/appendix-inflamed.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/organs.rsi/appendix.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/organs.rsi/brain-inhand-left.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/organs.rsi/brain-inhand-right.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/organs.rsi/brain.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/organs.rsi/ears.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/organs.rsi/eyeball-l.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/organs.rsi/eyeball-r.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/organs.rsi/heart-off.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/organs.rsi/heart-on.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/organs.rsi/kidney-l.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/organs.rsi/kidney-r.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/organs.rsi/liver.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/organs.rsi/lung-l.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/organs.rsi/lung-r.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/organs.rsi/meta.json
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/organs.rsi/muscle.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/organs.rsi/nerve.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/organs.rsi/stomach.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/organs.rsi/tongue.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/organs.rsi/vessel.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/parts.rsi/full.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/parts.rsi/head_f.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/parts.rsi/head_m.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/parts.rsi/l_arm.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/parts.rsi/l_foot.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/parts.rsi/l_hand.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/parts.rsi/l_leg.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/parts.rsi/meta.json
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/parts.rsi/r_arm.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/parts.rsi/r_foot.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/parts.rsi/r_hand.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/parts.rsi/r_leg.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/parts.rsi/torso_f.png
  Resources/Textures/_Goobstation/Mobs/Species/Yowie/parts.rsi/torso_m.png
Labels: Changes: Sprites

#906 Revert "Emag works as laws board for syndicate lawset on AI (#637)"
  Resources/Prototypes/Entities/Objects/Tools/emag.yml
Labels: No C#

#895 Battery Hitscan buff
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
Labels: No C#

#908 Fix Yowies not spawning with survival boxes + other changes
  Resources/Locale/en-US/_Goobstation/accent/bogan.ftl
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/_Goobstation/Damage/modifier_sets.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Species/yowie.yml
Labels: No C#

#913 Uplink Changes
  Content.Client/Store/Ui/StoreListingControl.xaml.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-traitor.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: UI

#915 Remove Maximum Nuclear Operative Count
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/roundstart.yml
Labels: No C#

#911 Fix missing gasps and deathgasps for DeltaV/Nyanotrasen Species
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emote_sounds.yml
Labels: No C#

#904 Gives Borgs Station Map
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/admin_ghost.yml
Labels: No C#

#924 infinite money glitch hotfix
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
Labels: No C#

#923 Vox Nanotrasen Representatives now spawn with a tank harness
  Resources/Prototypes/_Goobstation/Loadouts/role_loadouts.yml
Labels: No C#

#930 fix a lot of things
  Content.Client/Store/Ui/StoreBoundUserInterface.cs
  Content.Client/Store/Ui/StoreListingControl.xaml
  Content.Client/Store/Ui/StoreListingControl.xaml.cs
  Content.Client/Store/Ui/StoreMenu.xaml.cs
  Content.IntegrationTests/Tests/StoreTests.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Store/Conditions/BuyBeforeCondition.cs
  Content.Server/Store/Systems/StoreSystem.Listings.cs
  Content.Server/Store/Systems/StoreSystem.Refund.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Server/Store/Systems/StoreSystem.cs
  Content.Server/StoreDiscount/Systems/StoreDiscountSystem.cs
  Content.Server/Traitor/Uplink/Commands/AddUplinkCommand.cs
  Content.Server/Traitor/Uplink/UplinkSystem.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Ash.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Flesh.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticSystem.cs
  Content.Server/_White/StoreDiscount/StoreDiscountSystem.cs
  Content.Shared/Armor/ArmorComponent.cs
  Content.Shared/Armor/SharedArmorSystem.cs
  Content.Shared/Store/Components/StoreComponent.cs
  Content.Shared/Store/ListingLocalisationHelpers.cs
  Content.Shared/Store/ListingPrototype.cs
  Content.Shared/Store/StoreUi.cs
  Content.Shared/StoreDiscount/Components/StoreDiscountComponent.cs
  Content.Shared/_Goobstation/Heretic/Heretic.Abilites.cs
  Content.Shared/_White/StoreDiscount/SalesSpecifier.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-traitor.ftl
  Resources/Prototypes/Catalog/discount_categories.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Store/presets.yml
  Resources/Prototypes/_Goobstation/Heretic/Actions/Heretic/path_flesh.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Mobs/NPC/polymorph.yml
  Resources/Prototypes/_Goobstation/Heretic/Heretic/heretic_knowledge.yml
  Resources/Prototypes/_Goobstation/Heretic/Polymorphs/polymorphs.yml
  Resources/Prototypes/_White/Store/categories.yml
Labels: Changes: UI, Status: Needs Review

#936 Remote signaller buff
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/signaller.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
Labels: No C#, Status: Needs Review

#940 Fix med tuning
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
Labels: No C#

#916 fix borg limbs and make borg legs good
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Resources/Prototypes/Body/Parts/silicon.yml
Labels: No C#

#944 Added Biogenerator to Botany and Recycler to Salvage on Cluster
  Resources/Maps/_Goobstation/cluster.yml
Labels: No C#, Changes: Map

#931 make vent critters rarer
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#907 M90 no gl
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Goobstation/Roles/GhostRoles/Fun/helldiver.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/m90.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/m90.rsi/bolt-open.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/m90.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/m90.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/m90.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/m90.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/m90.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/m90.rsi/mag-0.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/m90.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/m90.rsi/wielded-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/m90.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, No C#, Status: Needs Review

#955 Fix Applicable Medication bug.
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Stacks/medical_stacks.yml
Labels: No C#

#958 Atmos by Asardonicsailor - New Lobby Screen
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/amos.webp
  Resources/Textures/LobbyScreens/attributions.yml
Labels: enhancement, Changes: Sprites, No C#

#957 Add more lobby/stationevent songs to jukebox and remove redundant jukebox sound files
  Resources/Audio/Jukebox/attributions.yml
  Resources/Audio/Jukebox/constellations.ogg
  Resources/Audio/Jukebox/drifting.ogg
  Resources/Audio/Jukebox/flip-flap.ogg
  Resources/Audio/Jukebox/sector11.ogg
  Resources/Audio/Jukebox/starlight.ogg
  Resources/Audio/Jukebox/title3.ogg
  Resources/Prototypes/Catalog/Jukebox/Standard.yml
  Resources/Prototypes/_Goobstation/Catalog/Jukebox/Standard.yml
Labels: enhancement, No C#

#959 Fixed Sawn-off not being Contraband
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: No C#

#966 VSCode QOL Improvements
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
Labels: No C#

#964 Port Vehicles from Mira Sector
  Content.Client/_Goobstation/Vehicles/VehicleSystem.cs
  Content.Server/_Goobstation/Vehicles/VehicleSystem.cs
  Content.Server/_White/Standing/LayingDownSystem.cs
  Content.Shared/Traits/Assorted/LegsParalyzedComponent.cs
  Content.Shared/Traits/Assorted/LegsParalyzedSystem.cs
  Content.Shared/_Goobstation/Traits/Assorted/LegsParalyzedComponent.cs
  Content.Shared/_Goobstation/Traits/Assorted/LegsParalyzedSystem.cs
  Content.Shared/_Goobstation/Traits/Assorted/LegsStartParalyzedComponent.cs
  Content.Shared/_Goobstation/Traits/Assorted/LegsStartParalyzedSystem.cs
  Content.Shared/_Goobstation/Vehicles/SharedVehicleComponent.cs
  Content.Shared/_Goobstation/Vehicles/SharedVehicleSystem.cs
  Resources/Locale/en-US/_Goobstation/traits/traits.ftl
  Resources/Locale/en-US/_Goobstation/vehicle/vehicle.ftl
  Resources/Maps/_Goobstation/atlas.yml
  Resources/Maps/_Goobstation/bagel.yml
  Resources/Maps/_Goobstation/barratry.yml
  Resources/Maps/_Goobstation/cluster.yml
  Resources/Maps/_Goobstation/kettle.yml
  Resources/Maps/_Goobstation/oasis.yml
  Resources/Maps/_Goobstation/saltern.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/_Goobstation/Actions/types.yml
  Resources/Prototypes/_Goobstation/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Markers/Spawners/vehicles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Vehicles/keys.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Vehicles/vehicles.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/medical.yml
  Resources/Prototypes/_Goobstation/SoundCollections/siren.yml
  Resources/Prototypes/_Goobstation/Traits/disabilities.yml
  Resources/Prototypes/tags.yml
  Resources/migration.yml
Labels: enhancement, Changes: Map, Status: Needs Review

#968 hotfix vehicles
  Resources/Prototypes/_Goobstation/Entities/Markers/Spawners/vehicles.yml
Labels: No C#

#967 syringe ops real
  Content.Server/Chemistry/Components/BaseSolutionInjectOnEventComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionInjectOnEventSystem.cs
  Content.Server/Chemistry/EntitySystems/SolutionInjectWhileEmbeddedSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/_Goobstation/Weapons/Ranged/SyringeGunSystem.cs
  Content.Shared/_Goobstation/Weapons/Ranged/SyringeGunComponent.cs
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Belt/belts.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Textures/_Goobstation/Clothing/Belt/cmowebbing.rsi/equipped-BELT.png
  Resources/Textures/_Goobstation/Clothing/Belt/cmowebbing.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Belt/cmowebbing.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Belt/cmowebbing.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Belt/cmowebbing.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/dart-syringe-gun.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/rapid-syringe-gun.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/syringe-gun.png
Labels: Changes: Sprites, Status: Needs Review

#973 Add BaseIntercom ConstructionComponent containers
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
Labels: No C#

#919 ai/borg law changes
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Admin Review Pending

#978 Vehicle tweaks
  Resources/Prototypes/_Goobstation/Entities/Objects/Vehicles/vehicles.yml
Labels: No C#

#983 Heretics shitfix 1
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticRitualSystem.cs
Labels: Changes: Sprites

#986 LET'S GO GAMBLING
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
Labels: No C#

#980 aghosts get pockets because pockets are useful
  Resources/Prototypes/InventoryTemplates/aghost_inventory_template.yml
Labels: No C#, Status: Needs Review

#1003 Major Shitmed Bugfixes
  Content.Client/Inventory/ClientInventorySystem.cs
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml.cs
  Content.Client/UserInterface/Systems/Alerts/Widgets/AlertsUI.xaml
  Content.Client/UserInterface/Systems/Alerts/Widgets/AlertsUI.xaml.cs
  Content.Server/Body/Commands/AddHandCommand.cs
  Content.Server/Body/Commands/AttachBodyPartCommand.cs
  Content.Server/_Shitmed/Medical/Surgery/SurgerySystem.cs
  Content.Server/_Shitmed/Targeting/TargetingSystem.cs
  Content.Shared/Body/Part/BodyPartComponent.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Body/Systems/SharedBodySystem.Organs.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Inventory/InventorySystem.Slots.cs
  Content.Shared/_Shitmed/Body/Part/BodyPartAppearanceComponent.cs
  Content.Shared/_Shitmed/Body/Systems/SharedBodySystem.PartAppearance.cs
  Content.Shared/_Shitmed/Body/Systems/SharedBodySystem.Targeting.cs
  Content.Shared/_Shitmed/BodyEffects/Subsystems/GenerateChildPartSystem.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/_Shitmed/Targeting/Events.cs
  Resources/Locale/en-US/_Goobstation/research/technologies.ftl
  Resources/Locale/en-US/_Shitmed/inventory/slot-popup.ftl
  Resources/Locale/en-US/_Shitmed/surgery/surgery-popup.ftl
  Resources/Locale/en-US/_Shitmed/surgery/surgery-tools.ftl
  Resources/Locale/en-US/_Shitmed/surgery/surgery-ui.ftl
  Resources/Locale/en-US/_Shitmed/technologies/technologies.ftl
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Body/Parts/animal.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/medical.yml
  Resources/Prototypes/_Goobstation/Research/civilianservices.yml
  Resources/Prototypes/_Shitmed/Recipes/Lathes/medical.yml
  Resources/Prototypes/_Shitmed/Recipes/Lathes/robotics.yml
  Resources/Prototypes/_Shitmed/Recipes/Lathes/security.yml
  Resources/Prototypes/_Shitmed/Research/civilianservices.yml
Labels: Changes: UI

#1010 Fix absurd amount of midround antags
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/dynamic.yml
  Resources/Prototypes/_Goobstation/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: No C#

#1015 lower ai playtime requirement
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
Labels: No C#

#1011 Heretic changes part 6
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Server/_Goobstation/GameTicking/Rules/HereticRuleSystem.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Ash.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Blade.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Flesh.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Lock.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Void.cs
  Content.Server/_Goobstation/Heretic/Components/PathSpecific/SilverMaelstromComponent.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticBladeSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticSystem.cs
  Content.Shared/_Goobstation/Heretic/Components/HereticComponent.cs
  Resources/Prototypes/_Goobstation/Heretic/GameRules/roundstart.yml
Labels: Status: Needs Review

#993 Revert "multi page action bar (#469)"
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButton.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButtonContainer.cs
  Content.Client/UserInterface/Systems/Actions/Widgets/ActionsBar.xaml
  Content.Client/UserInterface/Systems/Actions/Widgets/ActionsBar.xaml.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/keybinds.yml
Labels: Changes: UI

#1004 Discord Ahelp Reply System (#2283)
  Content.Server/Administration/ServerApi.cs
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Server/Discord/WebhookPayload.cs
Labels: Status: Needs Review

#970 add autodoc
  Content.Client/_Shitmed/Autodoc/AddStepWindow.xaml
  Content.Client/_Shitmed/Autodoc/AddStepWindow.xaml.cs
  Content.Client/_Shitmed/Autodoc/AutodocBoundUserInterface.cs
  Content.Client/_Shitmed/Autodoc/AutodocProgramWindow.xaml
  Content.Client/_Shitmed/Autodoc/AutodocProgramWindow.xaml.cs
  Content.Client/_Shitmed/Autodoc/AutodocWindow.xaml
  Content.Client/_Shitmed/Autodoc/AutodocWindow.xaml.cs
  Content.Client/_Shitmed/Autodoc/PickSurgeryWindow.xaml
  Content.Client/_Shitmed/Autodoc/PickSurgeryWindow.xaml.cs
  Content.Client/_Shitmed/Autodoc/Systems/AutodocSystem.cs
  Content.Server/_Shitmed/Autodoc/AutodocSafetyWireAction.cs
  Content.Server/_Shitmed/Autodoc/Systems/AutodocSystem.cs
  Content.Shared/_Shitmed/Autodoc/AutodocSteps.cs
  Content.Shared/_Shitmed/Autodoc/AutodocUI.cs
  Content.Shared/_Shitmed/Autodoc/Components/ActiveAutodocComponent.cs
  Content.Shared/_Shitmed/Autodoc/Components/AutodocComponent.cs
  Content.Shared/_Shitmed/Autodoc/Components/HandsFillComponent.cs
  Content.Shared/_Shitmed/Autodoc/Systems/HandsFillSystem.cs
  Content.Shared/_Shitmed/Autodoc/Systems/SharedAutodocSystem.cs
  Content.Shared/_Shitmed/Surgery/Conditions/SurgeryHasBodyConditionComponent.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.cs
  Content.Shared/_Shitmed/Surgery/SurgeryStepEvent.cs
  Resources/Locale/en-US/_Shitmed/autodoc.ftl
  Resources/Locale/en-US/_Shitmed/guidebook/guides.ftl
  Resources/Locale/en-US/_Shitmed/machine-linking/receiver_ports.ftl
  Resources/Locale/en-US/_Shitmed/research/technologies.ftl
  Resources/Locale/en-US/_Shitmed/wires/wire-names.ftl
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Entities/Structures/Furniture/Tables/operating_table.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Guidebook/medical.yml
  Resources/Prototypes/_Shitmed/DeviceLinking/sink_ports.yml
  Resources/Prototypes/_Shitmed/DeviceLinking/source_ports.yml
  Resources/Prototypes/_Shitmed/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/autodoc.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgeries.yml
  Resources/Prototypes/_Shitmed/Guidebook/medical.yml
  Resources/Prototypes/_Shitmed/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_Shitmed/Research/civilianservices.yml
  Resources/Prototypes/_Shitmed/Wires/layouts.yml
  Resources/ServerInfo/_Shitmed/Guidebook/Medical/Autodoc.xml
  Resources/ServerInfo/_Shitmed/Guidebook/Medical/Surgery.xml
  Resources/Textures/_Shitmed/Structures/Machines/autodoc.rsi/idle.png
  Resources/Textures/_Shitmed/Structures/Machines/autodoc.rsi/meta.json
Labels: Changes: Sprites, Changes: UI

#1012 Roll antags before job
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/Antag/Components/AntagSelectionComponent.cs
  Content.Server/Station/Systems/StationJobsSystem.Roundstart.cs
  Content.Server/_Goobstation/PendingAntag/PendingAntagSystem.cs
  Content.Shared/Antag/AntagAcceptability.cs
  Resources/Locale/en-US/_Goobstation/preferences/ui/humanoid-profile-editor.ftl
  Resources/Prototypes/GameRules/midround.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/midround.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Heretic/GameRules/roundstart.yml
Labels: Changes: UI

#987 Fix Bluespace Crystals not being picked up/allowed inside ore bags
  Resources/Prototypes/_Goobstation/Entities/Objects/Materials/materials.yml
Labels: No C#

#1008 paramed helmet resprite
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/goobparamed.rsi/icon-flash.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/goobparamed.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/goobparamed.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/goobparamed.rsi/off-equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/goobparamed.rsi/on-equipped-HELMET.png
Labels: Changes: Sprites, No C#

#1001 Sec bodycam to neck slot
  Resources/Locale/en-US/_Goobstation/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Neck/specific.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/specific.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/misc.yml
  Resources/Prototypes/_Goobstation/Loadouts/loadout_groups.yml
  Resources/Textures/_Goobstation/Clothing/Neck/Misc/nopro.rsi/equipped-NECK-vox.png
  Resources/Textures/_Goobstation/Clothing/Neck/Misc/nopro.rsi/equipped-NECK.png
  Resources/Textures/_Goobstation/Clothing/Neck/Misc/nopro.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Neck/Misc/nopro.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Neck/Misc/nopro.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Neck/Misc/nopro.rsi/meta.json
Labels: Changes: Sprites, No C#

#1000 A couple new posters I made
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_Goobstation/Entities/Wallmounts/Signs/posters.yml
  Resources/Textures/_Goobstation/Structures/posters.rsi/goob_poster10_legit.png
  Resources/Textures/_Goobstation/Structures/posters.rsi/goob_poster11_legit.png
  Resources/Textures/_Goobstation/Structures/posters.rsi/goob_poster1_legit.png
  Resources/Textures/_Goobstation/Structures/posters.rsi/goob_poster2_legit.png
  Resources/Textures/_Goobstation/Structures/posters.rsi/goob_poster3_legit.png
  Resources/Textures/_Goobstation/Structures/posters.rsi/goob_poster4_legit.png
  Resources/Textures/_Goobstation/Structures/posters.rsi/goob_poster5_legit.png
  Resources/Textures/_Goobstation/Structures/posters.rsi/goob_poster6_legit.png
  Resources/Textures/_Goobstation/Structures/posters.rsi/goob_poster7_legit.png
  Resources/Textures/_Goobstation/Structures/posters.rsi/goob_poster8_legit.png
  Resources/Textures/_Goobstation/Structures/posters.rsi/goob_poster9_legit.png
  Resources/Textures/_Goobstation/Structures/posters.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#1025 Revert "Revert "multi page action bar (#469)""
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButton.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButtonContainer.cs
  Content.Client/UserInterface/Systems/Actions/Widgets/ActionsBar.xaml
  Content.Client/UserInterface/Systems/Actions/Widgets/ActionsBar.xaml.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/keybinds.yml
Labels: Changes: UI

#1030 Fix the amount of nukies spawning
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
Labels: No C#
