Repository Goob-Station/Goob-Station, pull requests merged in 2024-06, with the labels that each got.

#251 Fixing my eyes
  Resources/Prototypes/Goobstation/Roles/Jobs/Command/blueshield_officer.yml
Labels: No C#

#249 Readding stuff. (Train, Spacepen in Emergency Box, and Maps to the rotation.)
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/cluster.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/origin.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/train.yml
Labels: No C#, Changes: Map

#250 Handheld power console
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Goobstation/Entities/objects/Devices/handheld_power_console.yml
  Resources/Textures/Goobstation/Objects/Devices/tablets.rsi/genericpowerconsole.png
  Resources/Textures/Goobstation/Objects/Devices/tablets.rsi/meta.json
  Resources/Textures/Goobstation/Objects/Devices/tablets.rsi/tablet.png
  Resources/Textures/Goobstation/Objects/Devices/tablets.rsi/tabletsol.png
  Resources/Textures/Objects/Devices/tablets.rsi/meta.json
Labels: Changes: Sprites, No C#

#254 Lower role time requirements, ig.
  Resources/Prototypes/Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
Labels: No C#

#255 Readd "Adds Senior Engineering Gear to Atmos loadouts #199"
  Resources/Locale/en-US/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: No C#

#257 Cryo/Bluespace syringe buff
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: No C#

#262 New Hairstyles!
  Resources/Locale/en-US/Goobstation/accessories/human-hair.ftl
  Resources/Locale/en-US/preferences/loadout-groups.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/Goobstation/Mobs/Customization/human_hair.rsi/braidedExtensions.png
  Resources/Textures/Goobstation/Mobs/Customization/human_hair.rsi/cometTail.png
  Resources/Textures/Goobstation/Mobs/Customization/human_hair.rsi/fantasyHair.png
  Resources/Textures/Goobstation/Mobs/Customization/human_hair.rsi/flatTwistsUpdo.png
  Resources/Textures/Goobstation/Mobs/Customization/human_hair.rsi/floorlengthBraid.png
  Resources/Textures/Goobstation/Mobs/Customization/human_hair.rsi/floorlengthWavy.png
  Resources/Textures/Goobstation/Mobs/Customization/human_hair.rsi/frontBraidsLong.png
  Resources/Textures/Goobstation/Mobs/Customization/human_hair.rsi/frontBraidsMedium.png
  Resources/Textures/Goobstation/Mobs/Customization/human_hair.rsi/frontBraidsShort.png
  Resources/Textures/Goobstation/Mobs/Customization/human_hair.rsi/jellyfish.png
  Resources/Textures/Goobstation/Mobs/Customization/human_hair.rsi/kazuyaMishima.png
  Resources/Textures/Goobstation/Mobs/Customization/human_hair.rsi/longBraids.png
  Resources/Textures/Goobstation/Mobs/Customization/human_hair.rsi/longCurvy.png
  Resources/Textures/Goobstation/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/Goobstation/Mobs/Customization/human_hair.rsi/mullet.png
  Resources/Textures/Goobstation/Mobs/Customization/human_hair.rsi/pelvicLengthBraid.png
  Resources/Textures/Goobstation/Mobs/Customization/human_hair.rsi/sharpMohawk.png
  Resources/Textures/Goobstation/Mobs/Customization/human_hair.rsi/shortAndPoofy.png
  Resources/Textures/Goobstation/Mobs/Customization/human_hair.rsi/shortCurls.png
  Resources/Textures/Goobstation/Mobs/Customization/human_hair.rsi/shoulderLengthBraid.png
  Resources/Textures/Goobstation/Mobs/Customization/human_hair.rsi/styledCurls.png
  Resources/Textures/Goobstation/Mobs/Customization/human_hair.rsi/unkemptScientist.png
Labels: Changes: Sprites, No C#

#261 Nukie planet and shuttle edits
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Goobstation/Nonstations/nukieplanet.yml
  Resources/Maps/Goobstation/Shuttles/infiltrator.yml
  Resources/Prototypes/Maps/syndicate.yml
  Resources/map_attributions.txt
Labels: No C#

#268 Verbalshit
  Resources/Audio/Effects/adminhelp.ogg
Labels: No C#

#271 Fix nukie maps
  Resources/Maps/Goobstation/Nonstations/nukieplanet.yml
  Resources/Maps/Goobstation/Shuttles/infiltrator.yml
Labels: No C#

#273 Give NTR Centcom Access
  Resources/Prototypes/Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: No C#

#272 Added Centcom Backpack for Nanotrasen rep
  Resources/Prototypes/Goobstation/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
  Resources/Textures/Goobstation/Clothing/Back/Backpacks/centcom.rsi/equipped-BACKPACK.png
  Resources/Textures/Goobstation/Clothing/Back/Backpacks/centcom.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Back/Backpacks/centcom.rsi/inhand-left.png
  Resources/Textures/Goobstation/Clothing/Back/Backpacks/centcom.rsi/inhand-right.png
  Resources/Textures/Goobstation/Clothing/Back/Backpacks/centcom.rsi/meta.json
Labels: Changes: Sprites, No C#

#277 Revert "Fix nukie maps"
  Resources/Maps/Goobstation/Nonstations/nukieplanet.yml
  Resources/Maps/Goobstation/Shuttles/infiltrator.yml
Labels: No C#

#275 Automated Changelogs
  .github/workflows/changelog.yml
  Resources/Changelog/GoobChangelog.yml
  Resources/Locale/en-US/Goobstation/changelog/changelog-window.ftl
  Tools/changelog/changelog.js
  Tools/changelog/package.json
Labels: No C#

#278 Actually stop using custom nukie maps
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Prototypes/Maps/syndicate.yml
  Resources/map_attributions.txt
Labels: Changes: Map

#309 Re adding fire door remotes
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Goobstation/Access/engineering.yml
  Resources/Prototypes/Goobstation/Entities/objects/Devices/door_remote.yml
  Resources/migration.yml
Labels: No C#

#311 Replaced nanotrasen representative backpack with a more fitting (and stylish) satchel
  Resources/Prototypes/Goobstation/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
  Resources/Textures/Goobstation/Clothing/Back/Satchels/nanorep.rsi/equipped-BACKPACK.png
  Resources/Textures/Goobstation/Clothing/Back/Satchels/nanorep.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Back/Satchels/nanorep.rsi/inhand-left.png
  Resources/Textures/Goobstation/Clothing/Back/Satchels/nanorep.rsi/inhand-right.png
  Resources/Textures/Goobstation/Clothing/Back/Satchels/nanorep.rsi/meta.json
Labels: Changes: Sprites, No C#

#317 Make some minor changes to how checks work.
  .github/workflows/close-master-pr.yml
  .github/workflows/rsi-diff.yml
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Hands/colored.yml
Labels: No C#

#316 Remove chameleon tags from items that shouldnt have them
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Hands/colored.yml
Labels: No C#

#312 Significantly reduce the prices of emitters and containment field gen…
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
Labels: No C#, Status: Needs Review

#322 make dwarves w i d e.
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
Labels: No C#

#320 Headrevs now have syndicate encryption keys, Revs and survival chances swapped
  Resources/Prototypes/Roles/Antags/revolutionary.yml
  Resources/Prototypes/secret_weights.yml
Labels: No C#

#314 Telecrystal rebalance
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Locale/en-US/tips.ftl
  Resources/Maps/Goobstation/Nonstations/nukieplanet.yml
  Resources/Maps/Nonstations/nukieplanet.yml
  Resources/Maps/centcomm.yml
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/Catalog/catalog.yml
  Resources/Prototypes/Catalog/thief_toolbox_sets.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Devices/door_remote.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Devices/handheld_power_console.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/ServerInfo/Guidebook/Antagonist/Nuclear Operatives.xml
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
Labels: No C#, Changes: Map

#328 Nerf Dwarves
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
Labels: Merge Conflict, No C#

#323 Ntr Loadout
  Resources/Locale/en-US/Goobstation/preferences/loadout-groups.ftl
  Resources/Prototypes/Goobstation/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Goobstation/Loadouts/Jobs/Command/nanotrasen_representative.yml
  Resources/Prototypes/Goobstation/Loadouts/loadout_groups.yml
  Resources/Prototypes/Goobstation/Loadouts/role_loadouts.yml
  Resources/Prototypes/Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
  Resources/Textures/Goobstation/Clothing/Back/Satchels/nanorep.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/centcom_agent.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/centcom_agent.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/centcom_agent.rsi/inhand-left.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/centcom_agent.rsi/inhand-right.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/centcom_agent.rsi/meta.json
Labels: Changes: Sprites, No C#

#331 Changed centcom backpack textures
  Resources/Textures/Goobstation/Clothing/Back/Backpacks/centcom.rsi/equipped-BACKPACK.png
  Resources/Textures/Goobstation/Clothing/Back/Backpacks/centcom.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Back/Backpacks/centcom.rsi/inhand-left.png
  Resources/Textures/Goobstation/Clothing/Back/Backpacks/centcom.rsi/inhand-right.png
Labels: Changes: Sprites, No C#

#258 Immovable Rod QOL update
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Goobstation/Entities/objects/Fun/immovable_rod.yml
Labels: No C#

#335 Planetmos ores
  Content.Server/Maps/PlanetCommand.cs
Labels: Status: Needs Review

#333 adding duathread armour
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Goobstation/Entities/Clothing/OuterClothing/armour.yml
  Resources/Prototypes/Goobstation/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Goobstation/Recipes/Lathes/clothing.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Textures/Goobstation/Clothing/Armor/durathread_armour.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Goobstation/Clothing/Armor/durathread_armour.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Goobstation/Clothing/Armor/durathread_armour.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Armor/durathread_armour.rsi/inhand-left.png
  Resources/Textures/Goobstation/Clothing/Armor/durathread_armour.rsi/inhand-right.png
  Resources/Textures/Goobstation/Clothing/Armor/durathread_armour.rsi/meta.json
  Resources/Textures/Goobstation/Clothing/Armor/durathread_web_vest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Goobstation/Clothing/Armor/durathread_web_vest.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Armor/durathread_web_vest.rsi/inhand-left.png
  Resources/Textures/Goobstation/Clothing/Armor/durathread_web_vest.rsi/inhand-right.png
  Resources/Textures/Goobstation/Clothing/Armor/durathread_web_vest.rsi/meta.json
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpsuit/durathread_jumpsuit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpsuit/durathread_jumpsuit.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpsuit/durathread_jumpsuit.rsi/inhand-left.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpsuit/durathread_jumpsuit.rsi/inhand-right.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpsuit/durathread_jumpsuit.rsi/meta.json
Labels: Changes: Sprites, No C#

#339 Updated medhud icons
  Resources/Textures/Interface/Misc/health_icons.rsi/Critical.png
  Resources/Textures/Interface/Misc/health_icons.rsi/Dead.png
  Resources/Textures/Interface/Misc/health_icons.rsi/meta.json
Labels: Changes: Sprites, No C#

#342 Port Supermatter To Goob
  Content.Client/Goobstation/Supermatter/Systems/SupermatterSystem.cs
  Content.Server/Goobstation/Supermatter/Systems/SupermatterSystem.cs
  Content.Shared/Goobstation/Clothing/Components/ClothingGrantComponentComponent.cs
  Content.Shared/Goobstation/Clothing/Components/ClothingGrantTagComponent.cs
  Content.Shared/Goobstation/Clothing/Systems/ClothingGrantingSystem.cs
  Content.Shared/Goobstation/Supermatter/Components/SupermatterComponent.cs
  Content.Shared/Goobstation/Supermatter/Components/SupermatterFoodComponent.cs
  Content.Shared/Goobstation/Supermatter/Components/SupermatterImmuneComponent.cs
  Content.Shared/Goobstation/Supermatter/Systems/SharedSupermatterSystem.cs
  Resources/Audio/Goobstation/Supermatter/attributions.yml
  Resources/Audio/Goobstation/Supermatter/calm.ogg
  Resources/Audio/Goobstation/Supermatter/delamming.ogg
  Resources/Audio/Goobstation/Supermatter/dust.ogg
  Resources/Locale/en-US/Goobstation/supermatter/supermatter.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Goobstation/Entities/Supermatter/supermatter.yml
  Resources/Prototypes/Goobstation/explosions.yml
  Resources/Prototypes/Goobstation/tags.yml
  Resources/Prototypes/explosion.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Goobstation/Supermatter/supermatter.rsi/meta.json
  Resources/Textures/Goobstation/Supermatter/supermatter.rsi/supermatter.png
Labels: Changes: Sprites

#346 Nerf durathread armour
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Goobstation/Entities/Clothing/OuterClothing/armour.yml
  Resources/Prototypes/Goobstation/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Goobstation/Recipes/Lathes/clothing.yml
Labels: bug, No C#

#340 Mass sabotage before 30 minute rules.
  Resources/Prototypes/Guidebook/rules.yml
  Resources/ServerInfo/Goobstation/Guidebook/ServerRules/RoleplayRules/RuleR75MassDestruction.xml
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR0.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR9MassSabotage.xml
Labels: No C#

#353 better EMT belt sprite
  Resources/Textures/Clothing/Belt/emt.rsi/icon.png
Labels: Changes: Sprites, No C#

#350 Supermatter on Bagel!! (and it's warppoint)
  Content.Server/Goobstation/Supermatter/Systems/SupermatterSystem.cs
  Resources/Maps/bagel.yml
  Resources/Prototypes/Goobstation/Entities/Supermatter/supermatter.yml
Labels: Changes: Map, Status: Needs Review

#358 EMT belt full resprite
  Resources/Textures/Clothing/Belt/emt.rsi/equipped-BELT.png
  Resources/Textures/Clothing/Belt/emt.rsi/icon.png
  Resources/Textures/Clothing/Belt/emt.rsi/inhand-left.png
  Resources/Textures/Clothing/Belt/emt.rsi/inhand-right.png
  Resources/Textures/Clothing/Belt/emt.rsi/meta.json
Labels: Changes: Sprites, No C#

#366 Merge Upstream
  Content.IntegrationTests/Tests/Commands/ForceMapTest.cs
  Content.IntegrationTests/Tests/Internals/AutoInternalsTests.cs
  Content.Server/GameTicking/Commands/ForceMapCommand.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/Clothing/LoadoutSystem.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/game-ticking/forcemap-command.ftl
  Resources/Maps/oasis.yml
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/Clothing/Belt/securitywebbing.rsi/equipped-BELT.png
  Resources/Textures/Clothing/Belt/securitywebbing.rsi/icon.png
  Resources/Textures/Clothing/Belt/securitywebbing.rsi/inhand-left.png
  Resources/Textures/Clothing/Belt/securitywebbing.rsi/inhand-right.png
  Resources/Textures/Clothing/Belt/securitywebbing.rsi/meta.json
  Resources/Textures/LobbyScreens/reclaimer-nuke.webp
  Resources/Textures/LobbyScreens/reclaimer-nuke.webp.yml
Labels: Changes: Sprites, Changes: Map

#368 More Survival Box Sprites
  Resources/Prototypes/Goobstation/Entities/Objects/Misc/emergencybox.yml
  Resources/Textures/Goobstation/Objects/Misc/emergencybox.rsi/box_extend.png
  Resources/Textures/Goobstation/Objects/Misc/emergencybox.rsi/box_med.png
  Resources/Textures/Goobstation/Objects/Misc/emergencybox.rsi/box_sec.png
  Resources/Textures/Goobstation/Objects/Misc/emergencybox.rsi/box_syndie.png
  Resources/Textures/Goobstation/Objects/Misc/emergencybox.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Map

#369 give space ninja a microbomb implant
  Resources/Prototypes/Entities/Mobs/Player/human.yml
Labels: No C#

#371 re-add pressure damage
  Content.Shared/Atmos/Atmospherics.cs
Labels: enhancement
