Repository Goob-Station/Goob-Station, pull requests merged in 2024-07, with the labels that each got.

#377 Remove inappropriate names from skeletons and ninjas.
  Resources/Prototypes/Datasets/Names/ninja.yml
  Resources/Prototypes/Datasets/Names/ninja_title.yml
  Resources/Prototypes/Datasets/Names/skeleton_first.yml
Labels: No C#

#379 Fixes
  Resources/Changelog/GoobChangelog.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_lockout.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_off.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_passive.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_welded.png
Labels: Changes: Sprites, No C#

#374 add anomaly locator in RD locker
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: No C#

#383 fire( )axe/desword reversal
  Resources/Locale/en-US/Goobstation/ghost/ghost-role-component.ftl
  Resources/Locale/en-US/Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/Goobstation/tools/tool-qualities.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/Goobstation/Roles/Antags/nukeops.yml
  Resources/Prototypes/Goobstation/tool-qualities.yml
  Resources/Prototypes/Tiles/plating.yml
Labels: No C#, Status: Needs Review

#373 Riot bullet shield resprite
  Resources/Textures/Goobstation/Objects/Weapons/Melee/shields.rsi/meta.json
  Resources/Textures/Goobstation/Objects/Weapons/Melee/shields.rsi/riot_bullet-icon.png
  Resources/Textures/Goobstation/Objects/Weapons/Melee/shields.rsi/riot_bullet-inhand-left.png
  Resources/Textures/Goobstation/Objects/Weapons/Melee/shields.rsi/riot_bullet-inhand-right.png
Labels: Changes: Sprites, No C#

#392 Set Outfit as an admin works again!!!!!!
  Content.Client/Administration/UI/SetOutfit/SetOutfitMenu.xaml.cs
  Content.Server/Administration/Commands/SetOutfitCommand.cs
Labels: Changes: UI

#385 Ling changes
  Content.Client/Content.Client.csproj
  Content.Client/Goobstation/Changeling/UI/TransformMenu.xaml
  Content.Client/Goobstation/Changeling/UI/TransformMenu.xaml.cs
  Content.Server/Goobstation/Changeling/ChangelingSystem.cs
  Content.Server/Goobstation/GameTicking/Rules/ChangelingRuleSystem.cs
  Content.Server/Goobstation/Objectives/Systems/ImpersonateConditionSystem.cs
  Content.Shared/Goobstation/Changeling/ChangelingComponent.cs
  Resources/Locale/en-US/Goobstation/Changeling/objectives/changeling.ftl
  Resources/Locale/en-US/Goobstation/changeling/abilities/changeling.ftl
  Resources/Locale/en-US/Goobstation/changeling/game-ticking/game-presets/preset-changeling.ftl
  Resources/Locale/en-US/Goobstation/changeling/store/changeling-catalog.ftl
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Goobstation/Changeling/Actions/changeling.yml
  Resources/Prototypes/Goobstation/Changeling/GameRules/roundstart.yml
  Resources/Prototypes/Goobstation/Changeling/Objectives/changeling.yml
  Resources/Prototypes/Goobstation/Changeling/game_presets.yml
  Resources/Prototypes/game_presets.yml
  Resources/Prototypes/secret_weights.yml
Labels: No C#, Changes: UI

#395 Recharging pie cannon
  Resources/Locale/en-US/Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/Goobstation/Entities/Weapons/Guns/pneumatic_cannon.yml
Labels: enhancement, No C#, Status: Needs Review

#397 tweak: Added t-ray scanner and gas analyzer to Station Engineer belt …
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
Labels: No C#

#400 more ling fixes
  Content.Server/Goobstation/Changeling/ChangelingSystem.cs
  Content.Shared/Goobstation/Changeling/ChangelingComponent.cs
Labels: Changes: UI

#394 Syndicate Rebalancing + Gun rebalancing
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/Goobstation/Entities/Clothing/OuterClothing/softsuits.yml
Labels: No C#, Status: Needs Review

#402 Make SMES 2x better
  Resources/Prototypes/Entities/Structures/Power/smes.yml
Labels: enhancement, No C#, Status: Needs Review

#408 Adds **NINE** new lobby art!
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/cburn.webp
  Resources/Textures/LobbyScreens/cburn.webp.yml
  Resources/Textures/LobbyScreens/clownassassin.webp
  Resources/Textures/LobbyScreens/clownassassin.webp.yml
  Resources/Textures/LobbyScreens/clownhell.webp
  Resources/Textures/LobbyScreens/clownhell.webp.yml
  Resources/Textures/LobbyScreens/courtjester.webp
  Resources/Textures/LobbyScreens/courtjester.webp.yml
  Resources/Textures/LobbyScreens/donottouch.webp
  Resources/Textures/LobbyScreens/donottouch.webp.yml
  Resources/Textures/LobbyScreens/foundinghonkers.webp
  Resources/Textures/LobbyScreens/foundinghonkers.webp.yml
  Resources/Textures/LobbyScreens/grandtheftgoob.webp
  Resources/Textures/LobbyScreens/grandtheftgoob.webp.yml
  Resources/Textures/LobbyScreens/killsigned.webp
  Resources/Textures/LobbyScreens/killsigned.webp.yml
  Resources/Textures/LobbyScreens/twosides.webp
  Resources/Textures/LobbyScreens/twosides.webp.yml
Labels: enhancement, Changes: Sprites, No C#, Status: Needs Review

#407 Make chameleon fibers mysterious
  Resources/Locale/en-US/forensics/fibers.ftl
Labels: enhancement, No C#, Status: Needs Review

#409 replace emag borg sound with malf ai intro
  Resources/Audio/Ambience/Antag/emagged_borg.ogg
Labels: No C#, Status: Needs Review

#411 Add optional time strings to playtime commands
  Content.Server/Administration/Commands/PlayTimeCommands.cs
Labels: Status: Needs Review

#414 Lil Cal Puppet
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Fun/puppet.yml
  Resources/Textures/Goobstation/Objects/Fun/lilcal.rsi/icon.png
  Resources/Textures/Goobstation/Objects/Fun/lilcal.rsi/inhand-left.png
  Resources/Textures/Goobstation/Objects/Fun/lilcal.rsi/inhand-right.png
  Resources/Textures/Goobstation/Objects/Fun/lilcal.rsi/meta.json
Labels: Changes: Sprites, No C#

#415 #fixel
  Resources/Textures/Goobstation/Changeling/ling_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Goobstation/Changeling/ling_armor.rsi/icon.png
Labels: Changes: Sprites, No C#

#412 Dual Antag Gamemodes, Calm Variants of game rules, and changeling delay matches traitor
  Resources/Locale/en-US/Goobstation/game-ticking/game-presets/presets-dualantag.ftl
  Resources/Prototypes/Goobstation/Changeling/GameRules/roundstart.yml
  Resources/Prototypes/Goobstation/Changeling/game_presets.yml
  Resources/Prototypes/Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/Goobstation/game_presets.yml
  Resources/Prototypes/secret_weights.yml
Labels: enhancement, No C#, Status: Needs Review

#416 OSRS NPC for admemes
  Resources/Prototypes/Goobstation/Entities/Mobs/NPCs/miscellaneous.yml
  Resources/Textures/Goobstation/Mobs/Demons/osrs.rsi/crit.png
  Resources/Textures/Goobstation/Mobs/Demons/osrs.rsi/dead.png
  Resources/Textures/Goobstation/Mobs/Demons/osrs.rsi/idle.png
  Resources/Textures/Goobstation/Mobs/Demons/osrs.rsi/meta.json
  Resources/Textures/Goobstation/Mobs/Demons/osrs.rsi/walk.png
Labels: Changes: Sprites, No C#

#419 Re-add The "Throngler" to The Grand Lottery
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Fun/toys.yml
  Resources/Textures/Goobstation/Objects/Fun/Throngler-Foam-in-hand.rsi/icon.png
  Resources/Textures/Goobstation/Objects/Fun/Throngler-Foam-in-hand.rsi/inhand-left.png
  Resources/Textures/Goobstation/Objects/Fun/Throngler-Foam-in-hand.rsi/inhand-right.png
  Resources/Textures/Goobstation/Objects/Fun/Throngler-Foam-in-hand.rsi/meta.json
  Resources/Textures/Goobstation/Objects/Fun/Throngler-Foam.rsi/icon.png
  Resources/Textures/Goobstation/Objects/Fun/Throngler-Foam.rsi/inhand-left.png
  Resources/Textures/Goobstation/Objects/Fun/Throngler-Foam.rsi/inhand-right.png
  Resources/Textures/Goobstation/Objects/Fun/Throngler-Foam.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#422 More robust OSRS NPC
  Content.Client/Movement/Systems/SpriteMovementSystem.cs
  Content.Shared/Movement/Components/SpriteMovementComponent.cs
  Resources/Prototypes/Goobstation/Entities/Mobs/NPCs/miscellaneous.yml
  Resources/Textures/Goobstation/Mobs/Demons/osrs.rsi/dance.png
  Resources/Textures/Goobstation/Mobs/Demons/osrs.rsi/meta.json
  Resources/Textures/Goobstation/Mobs/Demons/osrs.rsi/run.png
  Resources/Textures/Goobstation/Mobs/Demons/osrs.rsi/walk.png
Labels: Changes: Sprites

#429 Update publish_github_artifact.py
  Tools/publish_github_artifact.py
Labels: No C#

#430 [URGENT] Fix assault armor price
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#418 Last Call (New nuke song)
  Resources/Audio/StationEvents/attributions.yml
  Resources/Audio/StationEvents/last_call.ogg
  Resources/Prototypes/SoundCollections/NukeMusic.yml
Labels: enhancement, No C#, Status: Needs Review

#421 Added Reagent Grenades
  Resources/Prototypes/Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/Goobstation/Entities/Weapons/Guns/reagent_grenades.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
Labels: No C#, Status: Needs Review

#442 ling check & guidebook entry
  Content.Server/Goobstation/Changeling/ChangelingSystem.cs
  Content.Server/Goobstation/GameTicking/Rules/Components/ChangelingRuleComponent.cs
  Resources/Locale/en-US/Goobstation/Changeling/guidebook/guides.ftl
  Resources/Locale/en-US/Goobstation/changeling/abilities/changeling.ftl
  Resources/Prototypes/Goobstation/Changeling/Entities/Guidebook/changeling.yml
  Resources/Prototypes/Goobstation/Changeling/Guidebook/antagonist.yml
  Resources/Prototypes/Goobstation/Changeling/Objectives/objectiveGroups.yml
  Resources/Prototypes/Goobstation/Changeling/Reagents/biological.yml
  Resources/Prototypes/Goobstation/Changeling/Roles/Antags/changeling.yml
  Resources/Prototypes/Guidebook/antagonist.yml
  Resources/ServerInfo/Goobstation/Changeling/Guidebook/Antagonist/Changelings.xml
  Resources/Textures/Goobstation/Changeling/Guidebook/guidebook_changeling.rsi/icon.png
  Resources/Textures/Goobstation/Changeling/Guidebook/guidebook_changeling.rsi/meta.json
Labels: Changes: Sprites

#443 Blueshield Officer and Nanotrasen Representative changes.
  Resources/Locale/en-US/Goobstation/job/job-supervisors.ftl
  Resources/Prototypes/Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: No C#, Status: Needs Review

#449 Frictionfull Space.
  Content.Server/EE/Station/Systems/StationDampeningSystem.cs
  Content.Shared/EE/Physics/FrictionRemoverSystem.cs
  Content.Shared/EE/Physics/PassiveDampeningComponent.cs
  Resources/Maps/Shuttles/trading_outpost.yml
Labels: Changes: Map

#448 Edited NTR and BS rules.
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR16Blueshield.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR17NTR.xml
Labels: No C#
