Repository Goob-Station/Goob-Station, pull requests merged in 2024-12, with the labels that each got.

#1034 Hottestfixfuckthis
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: Sprites, Changes: Map, Changes: UI

#1007 Hardlight bow buff
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Bow/hardlight_arrows.yml
Labels: No C#

#925 Burner Heavy Assault Rifle (.50 cal)
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Boxes/high_caliber_box.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/high_caliber_cartridge.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/high_caliber_magazine.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Rifles/rifle.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/heavy_rifle_mags.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/heavy_rifle_mags.rsi/mag-1.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/heavy_rifle_mags.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/heavy_rifle_mags.rsi/red.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/burner.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/burner.rsi/bolt-open.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/burner.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/burner.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/burner.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/burner.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/burner.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/burner.rsi/mag-0.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/burner.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/burner.rsi/wielded-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/burner.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, No C#, Status: Needs Review

#1013 Blueshield bags
  Resources/Locale/en-US/_Goobstation/preferences/loadout-groups.ftl
  Resources/Prototypes/_Goobstation/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Goobstation/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Textures/_Goobstation/Clothing/Back/Duffels/blueshield.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Clothing/Back/Duffels/blueshield.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Back/Duffels/blueshield.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Back/Duffels/blueshield.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Back/Duffels/blueshield.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Back/Satchels/blueshield.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Clothing/Back/Satchels/blueshield.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Back/Satchels/blueshield.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Back/Satchels/blueshield.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Back/Satchels/blueshield.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#1021 Sec autoinjector tweaks
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/security.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Textures/_Goobstation/Objects/Specific/Medical/cartridge.rsi/cartridge-bicaridine.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/cartridge.rsi/cartridge-dermaline.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/cartridge.rsi/cartridge-ephedrine.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/cartridge.rsi/cartridge-epinephrine.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/cartridge.rsi/cartridge-ichor.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/cartridge.rsi/cartridge.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/cartridge.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/cartridge.rsi/meta.json
Labels: Changes: Sprites, No C#

#1031 paramed helmet resprite 2
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/goobparamed.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/goobparamed.rsi/off-equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/goobparamed.rsi/on-equipped-HELMET.png
Labels: Changes: Sprites, No C#

#1035 Hlb hotfix
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Bow/hardlight_arrows.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Bow/hardlight_bow_protos.yml
Labels: No C#

#1037 The Grinch is here
  Resources/Textures/Clothing/Back/Backpacks/syndicate.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/syndicate.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/syndicate.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/syndicate.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/swat_syndicate.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/syndie-raid.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cybersun.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cybersun.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndicate.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndicate.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiecommander.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiecommander.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiemedic.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiemedic.rsi/meta.json
  Resources/Textures/Mobs/Silicon/chassis.rsi/synd_sec.png
Labels: Changes: Sprites, No C#, Christmas 2024

#1026 Fix pda action and ashen shift
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButton.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButtonContainer.cs
  Content.Client/UserInterface/Systems/Actions/Widgets/ActionsBar.xaml
  Content.Client/UserInterface/Systems/Actions/Widgets/ActionsBar.xaml.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/_Goobstation/Actions/ActionEvents.cs
  Resources/keybinds.yml
Labels: Changes: UI, Status: Needs Review

#1041 Fix operating table test fail
  Resources/Prototypes/Entities/Structures/Furniture/Tables/operating_table.yml
Labels: No C#

#1044 fix revs announcement typos
  Resources/Locale/en-US/_Goobstation/game-ticking/game-presets/presets-revolutionaries.ftl
Labels: No C#

#1045 A very killsign christmas
  Content.Server/_Goobstation/Destructible/Thresholds/Behaviors/KillSignCauseBehavior.cs
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
Labels: Status: Needs Review

#1048 (Tweak)Lower snow ambience
  Resources/Prototypes/weather.yml
Labels: No C#

#1050 fix burner uplink whitelist
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
Labels: No C#

#1065 Add sodium-water reaction
  Resources/Prototypes/_Goobstation/Recipes/Reactions/chemicals.yml
Labels: No C#

#1063 adds the xmas variations of plyushies, also fixes the credits
  Resources/Prototypes/_Goobstation/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushie_blackburnxmas.png
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushie_desislavaxmas.png
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushie_matryoskyaxmas.png
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushie_plyushkinaxmas.png
Labels: Changes: Sprites, No C#, Christmas 2024

#1057 disable ashing until husking is added
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: No C#

#1061 cmo chestrig changes
  Resources/Prototypes/_Goobstation/Catalog/Fills/Belt/belts.yml
Labels: No C#

#1054 Adds the CE hardsuit's supermatter immunity to the HEV Suit
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/specific.yml
Labels: No C#

#1067 Ore balancing (revert from wizden nerf)
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Procedural/biome_ore_templates.yml
  Resources/Prototypes/Procedural/vgroid.yml
  Resources/Prototypes/_Goobstation/Procedural/biom_ore_templates.yml
  Resources/Prototypes/_Goobstation/Procedural/salvage_loot.yml
  Resources/Prototypes/ore.yml
Labels: No C#

#1081 Goofy Ah Felinid
  Resources/Locale/en-US/deltav/chat/managers/chat_manager.ftl
  Resources/Locale/en-US/nyanotrasen/species/species.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/felinid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/CentComm/official.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
  Resources/Textures/Nyanotrasen/Mobs/Species/Felinid/parts.rsi/eyes.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Felinid/parts.rsi/full.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Felinid/parts.rsi/head_f.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Felinid/parts.rsi/head_m.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Felinid/parts.rsi/l_arm.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Felinid/parts.rsi/l_foot.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Felinid/parts.rsi/l_hand.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Felinid/parts.rsi/l_leg.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Felinid/parts.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Species/Felinid/parts.rsi/r_arm.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Felinid/parts.rsi/r_foot.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Felinid/parts.rsi/r_hand.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Felinid/parts.rsi/r_leg.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Felinid/parts.rsi/tail.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Felinid/parts.rsi/torso_f.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Felinid/parts.rsi/torso_m.png
Labels: Changes: Sprites, No C#

#1076 More drinks for bar!
  Resources/Locale/en-US/_NF/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_NF/reagents/meta/consumable/drink/drinks.ftl
  Resources/Prototypes/_NF/Entities/Objects/Comsumable/Drinks/drinks.yml
  Resources/Prototypes/_NF/Flavors/flavors.yml
  Resources/Prototypes/_NF/Reagents/Comsumables/Drink/drinks.yml
  Resources/Prototypes/_NF/Recipes/Reactions/drinks.yml
  Resources/Textures/_NF/Objects/Consumable/Drinks/beesknees.rsi/fill-1.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/beesknees.rsi/fill-2.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/beesknees.rsi/fill-3.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/beesknees.rsi/fill-4.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/beesknees.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/beesknees.rsi/icon_empty.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/beesknees.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Drinks/ginandsonic.rsi/fill-1.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/ginandsonic.rsi/fill-2.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/ginandsonic.rsi/fill-3.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/ginandsonic.rsi/fill-4.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/ginandsonic.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/ginandsonic.rsi/icon_empty.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/ginandsonic.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Drinks/goldencat.rsi/fill-1.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/goldencat.rsi/fill-2.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/goldencat.rsi/fill-3.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/goldencat.rsi/fill-4.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/goldencat.rsi/fill-5.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/goldencat.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/goldencat.rsi/icon_empty.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/goldencat.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Drinks/pineappleblast.rsi/fill-1.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/pineappleblast.rsi/fill-2.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/pineappleblast.rsi/fill-3.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/pineappleblast.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/pineappleblast.rsi/icon_empty.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/pineappleblast.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Drinks/torpedojuice.rsi/fill-1.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/torpedojuice.rsi/fill-2.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/torpedojuice.rsi/fill-3.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/torpedojuice.rsi/fill-4.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/torpedojuice.rsi/fill-5.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/torpedojuice.rsi/fill-6.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/torpedojuice.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/torpedojuice.rsi/icon_empty.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/torpedojuice.rsi/meta.json
Labels: Changes: Sprites, No C#

#1083 Update SpaceLaw.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
Labels: No C#

#1084 Update SLCrimeList.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLCrimeList.xml
Labels: No C#

#1080 Alt security helmet
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/helmets.yml
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/security.rsi/equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/security.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/security.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/security.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/security.rsi/meta.json
Labels: Changes: Sprites, No C#

#1077 Fix BSO getting two emergency boxes
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
Labels: No C#

#1082 Ported ore magnet from WhiteDream
  Content.Shared/Storage/Components/MagnetPickupComponent.cs
  Content.Shared/Storage/EntitySystems/MagnetPickupSystem.cs
  Resources/Locale/en-US/storage/components/magnet-pickup-component.ftl
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/meta.json
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/orebag_off.png
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/orebag_on.png
  Resources/Textures/Objects/Specific/Mining/ore_bag_holding.rsi/meta.json
  Resources/Textures/Objects/Specific/Mining/ore_bag_holding.rsi/orebag_off.png
  Resources/Textures/Objects/Specific/Mining/ore_bag_holding.rsi/orebag_on.png
Labels: Changes: Sprites

#1086 Therapeutic patches
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/medical_patch.yml
Labels: No C#

#1089 Bodycams in the Secdrobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
Labels: No C#

#1091 Adds bogan accent to customize menu
  Resources/Locale/en-US/_Goobstation/traits/traits.ftl
  Resources/Prototypes/_Goobstation/Traits/speech.yml
Labels: No C#

#1095 Fixed sinks having 500 water instead of 9999999 water
  Resources/Prototypes/Entities/Structures/Furniture/sink.yml
Labels: No C#

#1097 goliath and hivelord rebalancing
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
Labels: No C#

#1102 Map - Core: Unwall BSO and NTRep spawner
  Resources/Maps/_Goobstation/core.yml
  Resources/Maps/core.yml
Labels: No C#, Changes: Map

#1101 changeling slugs can now walk under tables and doors
  Resources/Prototypes/_Goobstation/Changeling/Entities/Mobs/headcrab.yml
Labels: No C#

#1106 Bounty: Added coats to the Winterdrobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
Labels: No C#

#1109 Rage Nerf - Remove Bluespace Crystal craft from protolathe
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/sheet.yml
Labels: No C#, Status: Needs Review

#1116 Buff sabre
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
Labels: No C#

#1130 Added lead reagent to steel and lead bottles to emagged chemvend
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemvend.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
Labels: No C#

#1093 add some /tg/ gases
  Content.Client/Atmos/Consoles/AtmosAlarmEntryContainer.xaml.cs
  Content.Server/Atmos/Portable/PortableScrubberComponent.cs
  Content.Server/Atmos/Reactions/BZFormationReaction.cs
  Content.Server/Atmos/Reactions/HealiumProductionReaction.cs
  Content.Server/Atmos/Reactions/NitriumDecompositionReaction.cs
  Content.Server/Atmos/Reactions/NitriumProductionReaction.cs
  Content.Server/EntityEffects/Effects/NitriumMoveSpeedModifier.cs
  Content.Server/StationEvents/Components/GasLeakRuleComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/GasArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Components/ArtifactGasTriggerComponent.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/Atmos/Piping/Unary/Components/SharedVentScrubberComponent.cs
  Resources/Locale/en-US/gases/gases.ftl
  Resources/Locale/en-US/reagents/meta/gases.ftl
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Atmospherics/reactions.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/vox.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/ServerInfo/Guidebook/Engineering/Atmospherics.xml
  Resources/Textures/Effects/atmospherics.rsi/healium.png
  Resources/Textures/Effects/atmospherics.rsi/meta.json
  Resources/Textures/Effects/atmospherics.rsi/nitrium.png
Labels: Changes: Sprites, Changes: UI

#1105 Updates to space law Crime List and Space Law sections of GuideBook
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLCrimeList.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
Labels: No C#

#1107 Vgroid Buff
  Resources/Maps/Dungeon/vgroidinterior.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: No C#, Changes: Map

#1096 Raise Phlogiston Reaction Priority
  Resources/Prototypes/Recipes/Reactions/pyrotechnic.yml
Labels: No C#

#1092 Alchemy bones
  Resources/Audio/_Goobstation/Items/Alchemy/crystal1.ogg
  Resources/Audio/_Goobstation/Items/Alchemy/crystal2.ogg
  Resources/Locale/en-US/_Goobstation/reagents/Vestine.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/alchemy.ftl
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Guidebook/chemicals.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Alchemy/ignitetool.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Alchemy/stones.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_Goobstation/Reagents/alchemy.yml
  Resources/Prototypes/_Goobstation/Recipes/Cooking/medical_recipes.yml
  Resources/Prototypes/_Goobstation/Recipes/Reactions/alchemy.yml
  Resources/Prototypes/_Goobstation/Recipes/Reactions/pyrotechnic.yml
  Resources/ServerInfo/Guidebook/Chemicals.xml
  Resources/ServerInfo/_Goobstation/Guidebook/ChemicalTabs/Alchemy.xml
  Resources/Textures/_Goobstation/Objects/Alchemy/stones.rsi/albedo.png
  Resources/Textures/_Goobstation/Objects/Alchemy/stones.rsi/citrinitas.png
  Resources/Textures/_Goobstation/Objects/Alchemy/stones.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Alchemy/stones.rsi/rubedo.png
  Resources/Textures/_Goobstation/Objects/Alchemy/stones.rsi/tenebris.png
Labels: Changes: Sprites, No C#

#1114 Black powder and fixes
  Resources/Locale/en-US/_Goobstation/reagents/meta/chemicals.ftl
  Resources/Prototypes/_Goobstation/Reagents/botany.yml
  Resources/Prototypes/_Goobstation/Reagents/pyrotechnics.yml
  Resources/Prototypes/_Goobstation/Recipes/Reactions/botany.yml
  Resources/Prototypes/_Goobstation/Recipes/Reactions/pyrotechnics.yml
  Resources/Prototypes/_Goobstation/Recipes/Reactions/single_reagent.yml
Labels: No C#

#1118 adds sound to jump emote
  Resources/Audio/_Goobstation/Voice/sound_items_weapons_thudswoosh.ogg
  Resources/Prototypes/_Goobstation/SoundCollections/emotes.yml
Labels: No C#

#1075 Burner assault rifle buff
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/high_caliber_magazine.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Rifles/rifle.yml
Labels: No C#, Status: Needs Review

#1128 give wehs a lowecase emoting
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: No C#

#1072 Cheaper Makeshift Patches
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/medical_patch.yml
Labels: No C#

#1125 up insuls in engivend to 12
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
Labels: No C#

#1138 add back asteroids
  Resources/Prototypes/World/worldgen_default.yml
Labels: No C#

#1143 Misinformation fix
  Resources/Changelog/GoobChangelog.yml
Labels: No C#

#1146 chud minor changes
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
Labels: No C#

#1153 R U READY 4 ZE NEW TIDE ORDER
  Resources/Locale/en-US/_Goobstation/headset/headsets.ftl
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/_Goobstation/radio_channels.yml
Labels: No C#

#1141 Updated harpies guidebook to be accurate
  Resources/ServerInfo/Guidebook/Mobs/Harpy.xml
Labels: No C#

#1147 make bs crystals easier to get
  Resources/Prototypes/Entities/World/Debris/asteroids.yml
  Resources/Prototypes/Procedural/vgroid.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/_Goobstation/Procedural/biom_ore_templates.yml
  Resources/Prototypes/_Goobstation/ore.yml
Labels: No C#

#1117 adds flaps wings emote to moths
  Resources/Audio/_Goobstation/Voice/Moth/attributions.yml
  Resources/Audio/_Goobstation/Voice/Moth/moth_flap.ogg
  Resources/Locale/en-US/_Goobstation/chat/emotes.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Goobstation/Voice/speech_emotes.yml
Labels: No C#, Status: Needs Review

#1133 portable chem-master
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/portable_chem_master.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Crafting/Graphs/chemical_mixer_Graph.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Crafting/chemical_mixer.yml
  Resources/Textures/_Goobstation/Objects/Tools/chemical_mixer.rsi/chemical_mixer.png
  Resources/Textures/_Goobstation/Objects/Tools/chemical_mixer.rsi/chemical_mixer_beaker.png
  Resources/Textures/_Goobstation/Objects/Tools/chemical_mixer.rsi/incomplete.png
  Resources/Textures/_Goobstation/Objects/Tools/chemical_mixer.rsi/meta.json
Labels: Changes: Sprites

#1111 change ling and heretic playtime reqs
  Resources/Prototypes/_Goobstation/Changeling/Roles/Antags/changeling.yml
  Resources/Prototypes/_Goobstation/Heretic/Roles/Antags/heretic.yml
Labels: Merge Conflict, No C#

#1139 Make flaps un-unanchorable
  Resources/Prototypes/Entities/Structures/plastic_flaps.yml
Labels: No C#

#1168 buff ipc healing
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
Labels: No C#

#1161 Add's NoColor as a skinColoration type
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/Humanoid/SkinColor.cs
  Resources/Prototypes/_Goobstation/Species/yowie.yml
Labels: Changes: UI

#1145 Ported IPC wings from SimpleStation14
  Content.Shared/Humanoid/HumanoidVisualLayers.cs
  Content.Shared/Humanoid/HumanoidVisualLayersExtension.cs
  Content.Shared/Humanoid/Markings/MarkingCategories.cs
  Resources/Locale/en-US/_Goobstation/markings/wings.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_EinsteinEngines/Species/ipc.yml
  Resources/Prototypes/_SimpleStation/Entities/Mobs/Customization/IPCwings.yml
  Resources/Textures/_SimpleStation/Mobs/Customization/wings96x34.rsi/meta.json
  Resources/Textures/_SimpleStation/Mobs/Customization/wings96x34.rsi/robotic.png
Labels: Changes: Sprites

#1149 new IPC low energy warning
  Resources/Audio/_Goobstation/Voice/IPC/attributions.yml
  Resources/Audio/_Goobstation/Voice/IPC/energy_low.ogg
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
Labels: No C#, Status: Needs Review

#1162 lower raffle time
  Resources/Prototypes/GhostRoleRaffles/settings.yml
Labels: No C#

#1166 Energy gun tweaks
  Content.Shared/_Goobstation/Toggle/ItemToggleColorComponent.cs
  Content.Shared/_Goobstation/Toggle/ItemToggleColorSystem.cs
  Content.Shared/_Goobstation/Weapons/AmmoSelector/SelectableAmmoPrototype.cs
  Content.Shared/_Goobstation/Weapons/AmmoSelector/SelectableAmmoSystem.cs
  Resources/Locale/en-US/_Goobstation/objectives/conditions/steal-target-groups.ftl
  Resources/Locale/en-US/_Goobstation/weapons/gun.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Prototypes/_Goobstation/Damage/modifier_sets.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/AmmoSelector/ammo_selector_protos.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Goobstation/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_Goobstation/Objectives/traitor.yml
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mode-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mode-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mode.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Projectiles/selectable_ammo.rsi/heavylaser-narrow.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Projectiles/selectable_ammo.rsi/heavylaser-wide.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Projectiles/selectable_ammo.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Projectiles/selectable_ammo.rsi/omnilaser-blue.png
Labels: Changes: Sprites

#1192 order vscode launch things better
  .vscode/extensions.json
  .vscode/launch.json
Labels: No C#

#1185 new nukie shuttle
  Resources/Maps/_Goobstation/Shuttles/infiltrator.yml
Labels: No C#, Changes: Map

#1198 Fixed the server rules to be up-to-date with Banning Policy.
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC0.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC12MinAge.xml
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRules.xml
Labels: No C#

#1179 custom stack splitting dialog
  Content.Client/_Goobstation/Stack/StackCustomSplitBoundUserInterface.cs
  Content.Client/_Goobstation/Stack/StackCustomSplitWindow.xaml
  Content.Client/_Goobstation/Stack/StackCustomSplitWindow.xaml.cs
  Content.Server/Stack/StackSystem.cs
  Content.Shared/Stacks/SharedStackSystem.cs
  Content.Shared/_Goobstation/Stacks/StackCustomSplit.cs
  Resources/Locale/en-US/stack/stack-component.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/rolling_paper.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Entities/Objects/Misc/carpets.yml
  Resources/Prototypes/Entities/Objects/Misc/machine_parts.yml
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/leaves.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
  Resources/Prototypes/Entities/Objects/Tools/fulton.yml
  Resources/Prototypes/Entities/Objects/Tools/inflatable_wall.yml
Labels: Changes: UI

#1181 extend hotbar to 20 keys via shift
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/keybinds.yml
Labels: enhancement, Changes: UI

#1157 Tons of balance changes
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.Abilities.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/MansusGraspSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Locale/en-US/_Goobstation/reagents/meta/medicine.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/physical-desc.ftl
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/reagents/meta/narcotics.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Changeling/Actions/changeling.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Melee/changeling_armblade.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Goobstation/Heretic/Actions/Heretic/path_ash.yml
  Resources/Prototypes/_Goobstation/Heretic/Actions/Heretic/path_blade.yml
  Resources/Prototypes/_Goobstation/Heretic/Actions/Heretic/path_flesh.yml
  Resources/Prototypes/_Goobstation/Heretic/Actions/Heretic/path_void.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Objects/Specific/heretic.yml
  Resources/Prototypes/_Goobstation/Heretic/Heretic/heretic_rituals.yml
  Resources/Prototypes/_Goobstation/Reagents/Materials/materials.yml
  Resources/Prototypes/_Goobstation/Reagents/medicine.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/sheet.yml
Labels: Status: Needs Review

#1184 Fixed bluespace crystals not showing up on mineral scanner
  Resources/Prototypes/_Goobstation/Entities/Structures/Walls/asteroid.yml
Labels: No C#

#1186 Blueshield revolver on spawn
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
Labels: No C#

#1187 Detective now starts with forensic gloves equipped
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
Labels: No C#

#1160 allow traitors to buy suicide implants
  Content.Server/Implants/ImplanterSystem.cs
  Content.Server/_Goobstation/Implants/MindcontrolImplantSystem.cs
  Content.Shared/Implants/Components/SubdermalImplantComponent.cs
  Content.Shared/Implants/SharedImplanterSystem.cs
  Content.Shared/_Goobstation/Implanter/PreventSelfImplantComponent.cs
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/mindcontrol_implant.yml
Labels: No C#

#1190 Survival boxes added for onis
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
Labels: No C#

#1175 secret weight tweaks + nukie name fix
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/secret_weights.yml
Labels: No C#

#1177 nerf snow walls
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: No C#

#1195 Fix IPC Inventory Eye Slot Position
  Resources/Prototypes/_EinsteinEngines/InventoryTemplates/ipc_inventory_template.yml
Labels: No C#

#1197 Decreased IPC Low Battery Alert Time
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
Labels: No C#

#1199 Added Maximum Sentence Ruleset According to GS Space Law In-Game
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
Labels: No C#

#1194 Maps mail teleporter and other mail accessories into cargo (and a bounty computer to Kettle)
  Resources/Maps/_Goobstation/atlas.yml
  Resources/Maps/_Goobstation/bagel.yml
  Resources/Maps/_Goobstation/barratry.yml
  Resources/Maps/_Goobstation/box.yml
  Resources/Maps/_Goobstation/core.yml
  Resources/Maps/_Goobstation/kettle.yml
  Resources/Maps/_Goobstation/marathon.yml
  Resources/Maps/_Goobstation/meta.yml
  Resources/Maps/_Goobstation/omega.yml
  Resources/Maps/_Goobstation/packed.yml
  Resources/Maps/_Goobstation/saltern.yml
Labels: No C#, Changes: Map

#1202 add nitrosyl plasmide
  Content.Client/Atmos/Consoles/AtmosAlarmEntryContainer.xaml.cs
  Content.Server/Atmos/Portable/PortableScrubberComponent.cs
  Content.Server/EntityEffects/EffectConditions/BloodReagentThreshold.cs
  Content.Server/EntityEffects/Effects/AddReagentToBlood.cs
  Content.Server/StationEvents/Components/GasLeakRuleComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/GasArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Components/ArtifactGasTriggerComponent.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/Atmos/Piping/Unary/Components/SharedVentScrubberComponent.cs
  Resources/Locale/en-US/guidebook/chemistry/conditions.ftl
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Locale/en-US/reagents/meta/narcotics.ftl
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Atmospherics/reactions.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/vox.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/Reagents/narcotics.yml
Labels: Changes: UI

#1203 RPD
  Content.Client/RCD/RCDConstructionGhostSystem.cs
  Content.Client/RCD/RCDMenu.xaml
  Content.Server/Charges/Systems/ChargesSystem.cs
  Content.Shared/Charges/Components/LimitedChargesComponent.cs
  Content.Shared/Charges/Systems/SharedChargesSystem.cs
  Content.Shared/RCD/Components/RCDAmmoComponent.cs
  Content.Shared/RCD/Components/RCDComponent.cs
  Content.Shared/RCD/Components/RCDDeconstructibleComponent.cs
  Content.Shared/RCD/RCDEvents.cs
  Content.Shared/RCD/RCDPrototype.cs
  Content.Shared/RCD/Systems/RCDAmmoSystem.cs
  Content.Shared/RCD/Systems/RCDSystem.cs
  Resources/Locale/en-US/rcd/components/rcd-component.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/RPD/rpd.yml
  Resources/Textures/Interface/Radial/RPD/bend.png
  Resources/Textures/Interface/Radial/RPD/dual_port.png
  Resources/Textures/Interface/Radial/RPD/fourway.png
  Resources/Textures/Interface/Radial/RPD/gas_filter.png
  Resources/Textures/Interface/Radial/RPD/gas_mixer.png
  Resources/Textures/Interface/Radial/RPD/injector.png
  Resources/Textures/Interface/Radial/RPD/pneumatic_valve.png
  Resources/Textures/Interface/Radial/RPD/port.png
  Resources/Textures/Interface/Radial/RPD/pump_manual_valve.png
  Resources/Textures/Interface/Radial/RPD/pump_pressure.png
  Resources/Textures/Interface/Radial/RPD/pump_signal_valve.png
  Resources/Textures/Interface/Radial/RPD/pump_volume.png
  Resources/Textures/Interface/Radial/RPD/radiator.png
  Resources/Textures/Interface/Radial/RPD/scrub_off.png
  Resources/Textures/Interface/Radial/RPD/straight.png
  Resources/Textures/Interface/Radial/RPD/tjunction.png
  Resources/Textures/Interface/Radial/RPD/vent_off.png
  Resources/Textures/Interface/Radial/RPD/vent_passive.png
  Resources/Textures/Objects/Tools/rpd.rsi/icon.png
  Resources/Textures/Objects/Tools/rpd.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/rpd.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/rpd.rsi/meta.json
Labels: Changes: Sprites, Changes: UI

#1204 fuck i had to fix some shit
  Resources/Maps/_Goobstation/Shuttles/infiltrator.yml
Labels: No C#, Changes: Map

#1205 buff youtool
  Resources/Prototypes/Catalog/VendingMachines/Inventories/youtool.yml
Labels: No C#

#1188 Weapons for command and contractor baton for traitors
  Content.Server/_EinsteinEngines/TelescopicBaton/KnockdownOnHitComponent.cs
  Content.Server/_EinsteinEngines/TelescopicBaton/KnockdownOnHitSystem.cs
  Content.Server/_EinsteinEngines/TelescopicBaton/TelescopicBatonComponent.cs
  Content.Server/_EinsteinEngines/TelescopicBaton/TelescopicBatonSystem.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Item/SharedItemSystem.cs
  Content.Shared/Jittering/JitteringComponent.cs
  Content.Shared/StatusEffect/StatusEffectsSystem.cs
  Content.Shared/Stunnable/KnockedDownComponent.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/_EinsteinEngines/TelescopicBaton/KnockdownOnHitEvent.cs
  Content.Shared/_EinsteinEngines/TelescopicBaton/TelescopicBatonVisuals.cs
  Content.Shared/_Goobstation/ContractorBaton/StunBorgsOnHitComponent.cs
  Content.Shared/_Goobstation/ContractorBaton/StungBorgsOnHitSystem.cs
  Content.Shared/_Goobstation/ContractorBaton/TogglePreventStaminaDamageComponent.cs
  Content.Shared/_Goobstation/ContractorBaton/TogglePreventStaminaDamageSystem.cs
  Content.Shared/_Goobstation/Weapons/UseDelay/UseDelayBlockMeleeComponent.cs
  Content.Shared/_Goobstation/Weapons/UseDelay/UseDelayBlockMeleeSystem.cs
  Content.Shared/_Goobstation/Weapons/UseDelay/UseDelayBlockShootComponent.cs
  Content.Shared/_Goobstation/Weapons/UseDelay/UseDelayBlockShootSystem.cs
  Content.Shared/_White/Standing/SharedLayingDownSystem.cs
  Resources/Audio/_Goobstation/Weapons/Baton/attributions.yml
  Resources/Audio/_Goobstation/Weapons/Baton/contractorbatonextend.ogg
  Resources/Audio/_Goobstation/Weapons/Baton/contractorbatonhit.ogg
  Resources/Audio/_Goobstation/Weapons/Baton/woodhit.ogg
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Objects/Weapons/Melee/telescopic_baton.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/contractor_baton.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/security.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/contractor_baton.rsi/equipped-BELT.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/contractor_baton.rsi/icon-off.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/contractor_baton.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/contractor_baton.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/contractor_baton.rsi/off-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/contractor_baton.rsi/off-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/contractor_baton.rsi/on-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/contractor_baton.rsi/on-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/contractor_baton.rsi/uplink.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/telebaton.rsi/equipped-BELT.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/telebaton.rsi/icon-off.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/telebaton.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/telebaton.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/telebaton.rsi/off-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/telebaton.rsi/off-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/telebaton.rsi/on-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/telebaton.rsi/on-inhand-right.png
Labels: Changes: Sprites, Bounty

#1216 enable blob
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#1218 Fix yowie
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/_Goobstation/Reagents/narcotics.yml
  Resources/Prototypes/_Goobstation/Reagents/pyrotechnics.yml
Labels: No C#, size/M, Changes: No C#

#1212 Remove misinformation from changelog
  Resources/Changelog/GoobChangelog.yml
Labels: No C#

#1213 Fix potential action bar issue
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
Labels: size/XS

#1207 repair Yowie gases.yml changes that were deleted
  Resources/Prototypes/Reagents/gases.yml
Labels: No C#, Changes: No C#

#1225 快乐和乐趣
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Shared/MapText/SharedMapTextComponent.cs
Labels: size/S, S: Untriaged

#1224 enabled blob mode
  Resources/Prototypes/secret_weights.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1220 Fix newline in IPC guidebook
  Resources/ServerInfo/Guidebook/Mobs/IPCs.xml
Labels: Changes: No C#, size/XS, S: Untriaged

#1227 Help Yowies breath easy
  Resources/Prototypes/Reagents/gases.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1219 IPC thief objective: steal power cells
  Resources/Locale/en-US/_Goobstation/objectives/steal.ftl
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/thief.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1209 blob typo fixes
  Resources/Locale/en-US/_Goobstation/blob/blob.ftl
Labels: No C#

#1234 1984 威权主义毫无趣味 Admin is Pig 讨厌乐趣
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Shared/MapText/SharedMapTextComponent.cs
Labels: size/S, S: Untriaged

#1208 bounty gaming changes
  Content.Server/Administration/PlayerLocator.cs
  Content.Server/_Goobstation/GameTicking/Rules/DynamicRuleSystem.cs
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/dynamic.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/midround.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/roundstart.yml
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/absorb_dna.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/anatomic_panacea.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/armblade.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/augmented_eyesight.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/biodegrade.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/bone_shard.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/chameleon_skin.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/chitinous_armor.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/epinephrine_overdose.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/evolution_menu.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/fleshmend.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/hivemind_access.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/last_resort.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/lay_egg.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/lesser_form.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/meta.json
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/organic_shield.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/regrow.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/shriek_dissonant.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/shriek_resonant.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/space_adaptation.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/stasis_enter.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/stasis_exit.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/sting_armblade.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/sting_blind.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/sting_cryo.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/sting_extractdna.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/sting_lethargic.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/sting_mute.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/sting_transform.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/strained_muscles.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/tentacle.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/transform.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/transform_cycle.png
Labels: Changes: Sprites, Bounty, size/L, S: Needs Changes, Type: Bugfix

#1228 Plasma rifle sprite fix and explosion chance tweak
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/equipped-SUITSTORAGE.png
Labels: Changes: Sprites, Changes: No C#, size/XS, S: Untriaged

#1231 Fix medborg surgery
  Resources/Prototypes/borg_types.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1233 michael jordan
  Content.Server/Nyanotrasen/Carrying/BeingCarriedComponent.cs
  Content.Server/Nyanotrasen/Carrying/CarriableComponent.cs
  Content.Server/Nyanotrasen/Carrying/CarryingComponent.cs
  Content.Server/Nyanotrasen/Carrying/CarryingSystem.cs
  Content.Server/Nyanotrasen/Item/PseudoItem/PseudoItemSystem.cs
  Content.Server/Resist/EscapeInventorySystem.cs
  Content.Shared/DeltaV/Carrying/BeingCarriedComponent.cs
  Content.Shared/DeltaV/Carrying/CarriableComponent.cs
  Content.Shared/DeltaV/Carrying/CarryDoAfterEvent.cs
  Content.Shared/DeltaV/Carrying/CarryingComponent.cs
  Content.Shared/DeltaV/Carrying/CarryingSlowdownComponent.cs
  Content.Shared/DeltaV/Carrying/CarryingSlowdownSystem.cs
  Content.Shared/DeltaV/Carrying/CarryingSystem.cs
  Content.Shared/Nyanotrasen/Carrying/CarryingDoAfterEvent.cs
  Content.Shared/Nyanotrasen/Carrying/CarryingSlowdownComponent.cs
  Content.Shared/Nyanotrasen/Carrying/CarryingSlowdownSystem.cs
Labels: S: Untriaged, size/XL

#1235 Load o' Fixes for IPCs and Mechs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Server/Objectives/Components/PickRandomPersonComponent.cs
  Content.Server/Objectives/Systems/KillPersonConditionSystem.cs
  Content.Server/PowerCell/PowerCellSystem.cs
  Content.Server/_EinsteinEngines/Silicon/Charge/Systems/SiliconChargeSystem.cs
  Content.Server/_EinsteinEngines/Silicon/WeldingHealable/WeldingHealableSystem.cs
  Content.Server/_Goobstation/Mech/Equipment/EntitySystems/MechGunSystem.cs
  Content.Server/_Goobstation/Temperature/KillOnOverheatComponent.cs
  Content.Server/_Goobstation/Temperature/KillOnOverheatSystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/Mind/SharedMindSystem.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/_Goobstation/CCVars/CCVars.Goob.cs
  Resources/Locale/en-US/_Goobstation/power/silicons.ftl
  Resources/Maps/Dungeon/vgroidinterior.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_EinsteinEngines/Body/Parts/ipc.yml
  Resources/Prototypes/_EinsteinEngines/Damage/modifier_sets.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/_Goobstation/Changeling/Objectives/changeling.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/Weapons/Gun/industrial.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/Weapons/Melee/industrial.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/mech_parts.yml
Labels: Changes: Map, S: Untriaged, size/L, S: Needs Review

#1240 Update discord links to include development discord server
  README.md
Labels: Changes: No C#, size/XS, S: Untriaged

#1239 Evasion and wheelchair bound fix
  Content.Shared/Body/Part/BodyPartComponent.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/_Goobstation/Traits/Assorted/LegsStartParalyzedComponent.cs
  Content.Shared/_Goobstation/Traits/Assorted/LegsStartParalyzedSystem.cs
  Content.Shared/_Shitmed/Body/Systems/SharedBodySystem.Targeting.cs
  Content.Shared/_White/Standing/SharedLayingDownSystem.cs
Labels: S: Untriaged, size/L, S: Needs Review

#1223 Some nerfs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Server/Power/EntitySystems/BatterySystem.cs
  Content.Server/Stunnable/Systems/StunbatonSystem.cs
  Content.Server/Weapons/Melee/EnergySword/EnergySwordSystem.cs
  Content.Server/_Goobstation/Emp/EmpStunSystem.cs
  Content.Server/_White/Blocking/RechargeableBlockingSystem.cs
  Content.Shared/_Goobstation/Emp/EmpDisableSystem.cs
  Resources/Locale/en-US/_Goobstation/emp/emp.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/_Goobstation/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
Labels: S: Untriaged, size/L

#1256 Five Hundred Presents
  Content.Server/Holiday/Christmas/LimitedItemGiverComponent.cs
  Content.Server/Holiday/Christmas/LimitedItemGiverSystem.cs
Labels: enhancement, Christmas 2024, size/S

#1247 add /tg/ sprites for healium, nitrium and bz
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Textures/Effects/atmospherics.rsi/healium.png
  Resources/Textures/Effects/atmospherics.rsi/meta.json
  Resources/Textures/Effects/atmospherics.rsi/nitrium.png
  Resources/Textures/Structures/Storage/canister.rsi/brown-1.png
  Resources/Textures/Structures/Storage/canister.rsi/brown.png
  Resources/Textures/Structures/Storage/canister.rsi/healium-1.png
  Resources/Textures/Structures/Storage/canister.rsi/healium.png
  Resources/Textures/Structures/Storage/canister.rsi/meta.json
  Resources/Textures/Structures/Storage/canister.rsi/purple-1.png
  Resources/Textures/Structures/Storage/canister.rsi/purple.png
Labels: Changes: Sprites, size/M, Changes: No C#

#1244 Dynamic suffering vol. 5
  Content.Server/Antag/AntagSelectionPlayerPool.cs
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/_Goobstation/GameTicking/Rules/DynamicRuleSystem.cs
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/midround.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/roundstart.yml
Labels: S: Untriaged, size/L, S: Needs Review

#1245 funny renamings
  Resources/Prototypes/Entities/Debugging/debug_sweps.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1263 Fix absurd amount of antags being selected roundstart
  Content.Server/Antag/AntagSelectionSystem.cs
Labels: size/S, S: Untriaged

#1237 Incendiary rework
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Changes: No C#, size/S

#1246 medical pathes can be stored in medical belt
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/medical_patch.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1201 VGRoid-and-Salv Additions
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/spawners.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/clothing/goliath_cloak.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/clothing.yml
Labels: No C#, size/M, Changes: No C#, S: Needs Review

#1221 The Great gambling update.
  Content.Server/_Goobstation/RandomChanceSpawner/RandomChanceSpawnerComponent.cs
  Content.Server/_Goobstation/RandomChanceSpawner/RandomChanceSpawnerSystem.cs
  Resources/Locale/en-US/_Goobstation/ghost/ghost-role-component.ftl
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/_Goobstation/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/_Goobstation/Entities/Markers/Spawners/Random/lootbug.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mail/mail_fun.yml
  Resources/Textures/_Goobstation/Mobs/Animals/lootbug.rsi/icon.png
  Resources/Textures/_Goobstation/Mobs/Animals/lootbug.rsi/lootbug.png
  Resources/Textures/_Goobstation/Mobs/Animals/lootbug.rsi/lootbug_dead.png
  Resources/Textures/_Goobstation/Mobs/Animals/lootbug.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/L

#1264 Fixed Gingerbread not taking damage from water
  Resources/Prototypes/Entities/Mobs/Species/gingerbread.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1275 Moved loadprototype perms to the fun category, admemes rejoice!
  Resources/engineCommandPerms.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1276 Fix currency manager Update and Shutdown never being invoked
  Content.Server/Entry/EntryPoint.cs
Labels: size/XS, S: Untriaged, S: Needs Review

#1248 Minor tweaks to /tg/ gases
  Resources/Locale/en-US/reagents/meta/gases.ftl
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Atmospherics/reactions.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/Reagents/narcotics.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1267 Less nukies
  Content.Server/GameTicking/Rules/Components/NukeopsRuleComponent.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/midround.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
Labels: size/S, S: Untriaged

#1255 Printable Ore Bags in Autolathe
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/tools.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1296 ignore
  README.md
Labels: Changes: No C#, S: Untriaged

#1281 Decrease Changeling Spawn Amount
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
Labels: Changes: No C#, size/XS, S: Untriaged, S: Needs Review

#1270 Remove evac emag
  Content.Server/Shuttles/Components/EmergencyShuttleConsoleComponent.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.Console.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Server/_Goobstation/Shuttle/EmergencyShuttleSystem.Emag.cs
  Content.Shared/Emag/Systems/EmagSystem.cs
  Content.Shared/_Goobstation/Emag/Events.cs
  Resources/Maps/Shuttles/emergency.yml
  Resources/Maps/Shuttles/emergency_accordia.yml
  Resources/Maps/Shuttles/emergency_amber.yml
  Resources/Maps/Shuttles/emergency_box.yml
  Resources/Maps/Shuttles/emergency_cluster.yml
  Resources/Maps/Shuttles/emergency_courser.yml
  Resources/Maps/Shuttles/emergency_delta.yml
  Resources/Maps/Shuttles/emergency_lox.yml
  Resources/Maps/Shuttles/emergency_omega.yml
  Resources/Maps/Shuttles/emergency_raven.yml
  Resources/Maps/Shuttles/emergency_rod.yml
  Resources/Maps/Shuttles/emergency_wode.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
Labels: Changes: Map, Bounty, size/M, S: Untriaged, S: Needs Review

#1300 Fix nukeops spawning ghost roles
  Content.Server/Antag/AntagSelectionSystem.cs
Labels: size/XS, S: Untriaged

#1269 PDA Messaging
  Content.Client/Access/UI/AgentIDCardBoundUserInterface.cs
  Content.Client/Access/UI/AgentIDCardWindow.xaml
  Content.Client/Access/UI/AgentIDCardWindow.xaml.cs
  Content.Client/CartridgeLoader/Cartridges/LogProbeUi.cs
  Content.Client/CartridgeLoader/Cartridges/LogProbeUiFragment.xaml
  Content.Client/CartridgeLoader/Cartridges/LogProbeUiFragment.xaml.cs
  Content.Client/_DeltaV/CartridgeLoader/Cartridges/NanoChatEntry.xaml
  Content.Client/_DeltaV/CartridgeLoader/Cartridges/NanoChatEntry.xaml.cs
  Content.Client/_DeltaV/CartridgeLoader/Cartridges/NanoChatLogEntry.xaml
  Content.Client/_DeltaV/CartridgeLoader/Cartridges/NanoChatLogEntry.xaml.cs
  Content.Client/_DeltaV/CartridgeLoader/Cartridges/NanoChatMessageBubble.xaml
  Content.Client/_DeltaV/CartridgeLoader/Cartridges/NanoChatMessageBubble.xaml.cs
  Content.Client/_DeltaV/CartridgeLoader/Cartridges/NanoChatUi.cs
  Content.Client/_DeltaV/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml
  Content.Client/_DeltaV/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml.cs
  Content.Client/_DeltaV/CartridgeLoader/Cartridges/NewChatPopup.xaml
  Content.Client/_DeltaV/CartridgeLoader/Cartridges/NewChatPopup.xaml.cs
  Content.Client/_DeltaV/NanoChat/NanoChatSystem.cs
  Content.Server/Access/Systems/AgentIDCardSystem.cs
  Content.Server/CartridgeLoader/Cartridges/LogProbeCartridgeComponent.cs
  Content.Server/CartridgeLoader/Cartridges/LogProbeCartridgeSystem.cs
  Content.Server/_DeltaV/CartridgeLoader/Cartridges/LogProbeCartridgeSystem.NanoChat.cs
  Content.Server/_DeltaV/CartridgeLoader/Cartridges/NanoChatCartridgeComponent.cs
  Content.Server/_DeltaV/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
  Content.Server/_DeltaV/NanoChat/NanoChatSystem.cs
  Content.Shared/Access/SharedAgentIDCardSystem.cs
  Content.Shared/CartridgeLoader/Cartridges/LogProbeUiState.cs
  Content.Shared/_DeltaV/CartridgeLoader/Cartridges/NanoChatUiMessageEvent.cs
  Content.Shared/_DeltaV/CartridgeLoader/Cartridges/NanoChatUiState.cs
  Content.Shared/_DeltaV/NanoChat/NanoChatCardComponent.cs
  Content.Shared/_DeltaV/NanoChat/SharedNanoChatSystem.cs
  Resources/Locale/en-US/_DeltaV/access/components/agent-id-card-component.ftl
  Resources/Locale/en-US/_DeltaV/nanochat/components/nanochat-card-component.ftl
  Resources/Locale/en-US/deltav/cartridge-loader/cartridges.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_DeltaV/name_identifier_groups.yml
  Resources/Textures/DeltaV/Objects/Devices/cartridge.rsi/cart-chat.png
  Resources/Textures/DeltaV/Objects/Devices/cartridge.rsi/meta.json
  Resources/Textures/_DeltaV/Interface/VerbIcons/ATTRIBUTION.txt
  Resources/Textures/_DeltaV/Interface/VerbIcons/bell.svg
  Resources/Textures/_DeltaV/Interface/VerbIcons/bell.svg.png
  Resources/Textures/_DeltaV/Interface/VerbIcons/bell_muted.png
  Resources/Textures/_DeltaV/Misc/program_icons.rsi/meta.json
  Resources/Textures/_DeltaV/Misc/program_icons.rsi/nanochat.png
Labels: enhancement, Changes: Sprites, Changes: UI, size/L, S: Needs Review

#1259 Adds Dualetta new pistol
  Content.Shared/_Goobstation/Weapons/RequiresDualWield/RequiresDualWieldComponent.cs
  Content.Shared/_Goobstation/Weapons/RequiresDualWield/RequiresDualWieldSystem.cs
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/_Goobstation/weapons/gun.ftl
  Resources/Prototypes/_Goobstation/Catalog/Fills/Boxes/pistol.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Briefcases/briefcase.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Pistols/pistol.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Pistols/Dualetta.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Pistols/Dualetta.rsi/bolt-open.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Pistols/Dualetta.rsi/equipped-BELT.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Pistols/Dualetta.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Pistols/Dualetta.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Pistols/Dualetta.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Pistols/Dualetta.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Pistols/Dualetta.rsi/mag-0.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Pistols/Dualetta.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Needs Review

#1294 give borgs targeting
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: Changes: No C#, size/XS

#1301 [Admin] Add Full-Admin Permissions Category
  Content.Shared/Administration/AdminFlags.cs
  Resources/engineCommandPerms.yml
Labels: size/S, S: Untriaged
