Repository Goob-Station/Goob-Station, pull requests merged in 2024-09, with the labels that each got.

#567 remove KesslerSyndrome
  Resources/Prototypes/secret_weights.yml
Labels: No C#

#575 fix for some tiles on bagel
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/Tiles/shuttleblue.png
  Resources/Textures/Tiles/shuttleorange.png
  Resources/Textures/Tiles/shuttlewhite.png
Labels: No C#

#580 Uplink discounts
  Content.Client/Store/Ui/StoreMenu.xaml.cs
  Content.Server/Store/Systems/StoreSystem.Listings.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Server/Store/Systems/StoreSystem.cs
  Content.Server/_White/StoreDiscount/StoreDiscountSystem.cs
  Content.Shared/Store/Components/StoreComponent.cs
  Content.Shared/Store/ListingLocalisationHelpers.cs
  Content.Shared/Store/ListingPrototype.cs
  Content.Shared/Store/StorePresetPrototype.cs
  Content.Shared/_White/StoreDiscount/SalesSpecifier.cs
  Resources/Locale/en-US/Goobstation/store/categories.ftl
  Resources/Locale/en-US/Goobstation/store/sales.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/Goobstation/Datasets/uplink_discount_fluff.yml
  Resources/Prototypes/Store/presets.yml
  Resources/Prototypes/_White/Store/categories.yml
Labels: Changes: UI, Status: Needs Review

#578 Port crawling from WWDP
  Content.Client/Buckle/BuckleSystem.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/_White/Standing/LayingDownSystem.cs
  Content.IntegrationTests/Tests/Buckle/BuckleTest.cs
  Content.Server/Standing/StandingStateSystem.cs
  Content.Server/_White/Standing/LayingDownSystem.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Standing/StandingStateComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/_White/Standing/LayingDownComponent.cs
  Content.Shared/_White/Standing/SharedLayingDownSystem.cs
  Resources/Locale/en-US/_white/escape-menu/options-menu.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/keybinds.yml
Labels: Changes: UI, Status: Needs Review

#585 Merge Upstream
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml.cs
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml.cs
  Content.Server/ParticleAccelerator/EntitySystems/ParticleAcceleratorSystem.ControlBox.cs
  Content.Server/StationEvents/Events/IonStormRule.cs
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
  Resources/Changelog/Changelog.yml
  Resources/Prototypes/Goobstation/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Goobstation/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Fun/toys.yml
  Resources/Textures/Goobstation/Clothing/Mask/BKKitsuneMask.rsi/equipped-MASK.png
  Resources/Textures/Goobstation/Clothing/Mask/BKKitsuneMask.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Mask/BKKitsuneMask.rsi/meta.json
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/YTS.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/YTS.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/YTS.rsi/meta.json
  Resources/Textures/Goobstation/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Goobstation/Objects/Fun/toys.rsi/plushie_Bkv1.png
  Resources/Textures/Goobstation/Objects/Fun/toys.rsi/plushie_Bkv2.png
  Resources/Textures/Goobstation/Objects/Fun/toys.rsi/plushie_Bkv3.png
Labels: Changes: Sprites, Changes: UI

#587 Bagel update
  Resources/Maps/Goobstation/bagel.yml
Labels: No C#, Changes: Map

#588 Oasis Update
  Resources/Maps/Goobstation/oasis.yml
Labels: No C#, Changes: Map

#598 Add the network setings tab back
  Content.Client/Options/UI/OptionsMenu.xaml
  Content.Client/Options/UI/OptionsMenu.xaml.cs
  Content.Client/Options/UI/Tabs/NetworkTab.xaml
  Content.Client/Options/UI/Tabs/NetworkTab.xaml.cs
Labels: Changes: UI

#573 Security gear armor buff
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
Labels: No C#

#600 MaterialEnergySystem refactor
  Content.Server/Goobstation/MaterialEnergy/MaterialEnergyComponent.cs
  Content.Server/Goobstation/MaterialEnergy/MaterialEnergySystem.cs
  Content.Server/Goobstation/PlasmaCutter/BatteryRechargeComponent.cs
  Content.Server/Goobstation/PlasmaCutter/BatteryRechargeSystem.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Resources/Prototypes/Goobstation/Entities/Objects/Weapons/Guns/Basic/plasma_cutter.yml
  Resources/Prototypes/Goobstation/Recipes/Lathes/salvage.yml
Labels: Status: Needs Review

#601 condemn zillions
  Resources/Prototypes/GameRules/roundstart.yml
Labels: No C#

#603 new shirt by JoeHammad1844
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/syndiedrobe.yml
  Resources/Prototypes/Goobstation/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpsuit/casualsyndicate.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpsuit/casualsyndicate.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpsuit/casualsyndicate.rsi/inhand-left.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpsuit/casualsyndicate.rsi/inhand-right.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpsuit/casualsyndicate.rsi/meta.json
Labels: Changes: Sprites, No C#

#605 Makes the Energy Shotgun self-recharge and increases its max battery capacity
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: No C#, Status: Needs Review

#613 Centcomm airlocks with command access
  Resources/Prototypes/Goobstation/Entities/Structures/Doors/Airlocks/access.yml
Labels: No C#

#615 Heretics changes part 1
  Content.Server/Goobstation/Heretic/Abilities/HereticAbilitySystem.Ash.cs
  Content.Server/Goobstation/Heretic/Abilities/HereticAbilitySystem.Flesh.cs
  Content.Server/Goobstation/Heretic/Abilities/HereticAbilitySystem.cs
  Content.Server/Goobstation/Heretic/Components/EldritchInfluenceComponent.cs
  Content.Server/Goobstation/Heretic/EntitySystems/EldritchInfluenceSystem.cs
  Content.Server/Goobstation/Heretic/EntitySystems/HereticRitualSystem.cs
  Content.Server/Goobstation/Heretic/EntitySystems/HereticSystem.cs
  Content.Server/Goobstation/Heretic/EntitySystems/MansusGraspSystem.cs
  Content.Server/Goobstation/Magic/ChainFireballComponent.cs
  Content.Server/Goobstation/Magic/ChainFireballSystem.cs
  Content.Server/Goobstation/Magic/ImmovableVoidRodComponent.cs
  Content.Server/Goobstation/Magic/ImmovableVoidRodSystem.cs
  Content.Shared/Goobstation/Heretic/Prototypes/Heretic.Data.cs
  Resources/Locale/en-US/Goobstation/Heretic/game-ticking/game-presets/preset-heretic.ftl
  Resources/Locale/en-US/Goobstation/Heretic/heretic/loc.ftl
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Body/Organs/moth.yml
  Resources/Prototypes/Goobstation/Heretic/Entities/Mobs/NPC/eldritch_mobs.yml
  Resources/Prototypes/Goobstation/Heretic/Entities/Structures/Specific/Heretic/eldritch_influence.yml
  Resources/Prototypes/Goobstation/Heretic/Heretic/heretic_rituals.yml
  Resources/Prototypes/Goobstation/Heretic/Polymorphs/polymorphs.yml
  Resources/Prototypes/tags.yml
  Resources/ServerInfo/Goobstation/Guidebook/Antagonist/Heretics.xml
Labels: Status: Needs Review

#617 fix people not being edible
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/gingerbread.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: No C#, Status: Needs Review

#618 Saltern Update
  Resources/Maps/Goobstation/saltern.yml
Labels: No C#, Changes: Map

#619 Oasis Update
  Resources/Maps/Goobstation/oasis.yml
Labels: No C#, Changes: Map

#620 Bagel Update
  Resources/Maps/Goobstation/bagel.yml
Labels: No C#, Changes: Map

#628 Heretics changes part 2
  Content.Client/Goobstation/Heretic/Ritual.CustomBehaviors.cs
  Content.Server/Goobstation/Heretic/EntitySystems/HereticBladeSystem.cs
  Content.Server/Goobstation/Heretic/EntitySystems/HereticCombatMarkSystem.cs
  Content.Server/Goobstation/Heretic/EntitySystems/MansusGraspSystem.cs
  Content.Server/Goobstation/Heretic/Ritual/CustomBehavior.Knowledge.cs
  Resources/Locale/en-US/Goobstation/Heretic/heretic/rituals.ftl
  Resources/Locale/en-US/Goobstation/Heretic/store/heretic/heretic-catalog-flesh.ftl
  Resources/Locale/en-US/Goobstation/Heretic/store/heretic/heretic-catalog-side.ftl
  Resources/Locale/en-US/Goobstation/Heretic/store/heretic/heretic-catalog-void.ftl
  Resources/Prototypes/Goobstation/Datasets/tags.yml
  Resources/Prototypes/Goobstation/Heretic/Catalog/Heretic/path_side.yml
  Resources/Prototypes/Goobstation/Heretic/Entities/Objects/Weapons/Melee/heretic_blades.yml
  Resources/Prototypes/Goobstation/Heretic/Heretic/heretic_knowledge.yml
  Resources/Prototypes/Goobstation/Heretic/Heretic/heretic_rituals.yml
  Resources/Textures/Goobstation/Heretic/Blades/blade_ash-inhand.rsi/inhand-left.png
  Resources/Textures/Goobstation/Heretic/Blades/blade_ash-inhand.rsi/inhand-right.png
  Resources/Textures/Goobstation/Heretic/Blades/blade_ash-inhand.rsi/meta.json
  Resources/Textures/Goobstation/Heretic/Blades/blade_ash.rsi/icon.png
  Resources/Textures/Goobstation/Heretic/Blades/blade_ash.rsi/meta.json
  Resources/Textures/Goobstation/Heretic/Blades/blade_void-inhand.rsi/inhand-left.png
  Resources/Textures/Goobstation/Heretic/Blades/blade_void-inhand.rsi/inhand-right.png
  Resources/Textures/Goobstation/Heretic/Blades/blade_void-inhand.rsi/meta.json
  Resources/Textures/Goobstation/Heretic/Blades/blade_void.rsi/icon.png
  Resources/Textures/Goobstation/Heretic/Blades/blade_void.rsi/meta.json
  Resources/Textures/Goobstation/Heretic/abilities_heretic.rsi/final_hymn.png
Labels: Changes: Sprites, Status: Needs Review

#576 Religion Systems & Mechanics
  Content.Server/Bible/BibleSystem.cs
  Content.Server/Goobstation/Religion/ReligionSystem.cs
  Content.Server/Prayer/PrayerSystem.cs
  Content.Shared/Goobstation/Religion/ReligionComponent.cs
  Resources/Locale/en-US/chapel/bible.ftl
  Resources/Locale/en-US/prayers/prayers.ftl
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Goobstation/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Goobstation/Traits/categories.yml
  Resources/Prototypes/Goobstation/Traits/religions.yml
  Resources/Textures/Goobstation/Objects/Specific/Chapel/atheism.rsi/icon.png
  Resources/Textures/Goobstation/Objects/Specific/Chapel/atheism.rsi/inhand-left.png
  Resources/Textures/Goobstation/Objects/Specific/Chapel/atheism.rsi/inhand-right.png
  Resources/Textures/Goobstation/Objects/Specific/Chapel/atheism.rsi/meta.json
  Resources/Textures/Goobstation/Objects/Specific/Chapel/tripitaka.rsi/icon.png
  Resources/Textures/Goobstation/Objects/Specific/Chapel/tripitaka.rsi/inhand-left.png
  Resources/Textures/Goobstation/Objects/Specific/Chapel/tripitaka.rsi/inhand-right.png
  Resources/Textures/Goobstation/Objects/Specific/Chapel/tripitaka.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#635 Gingerbread Improvements
  Resources/Locale/en-US/Goobstation/species/gingerbread.ftl
  Resources/Prototypes/Entities/Mobs/Species/gingerbread.yml
  Resources/ServerInfo/Guidebook/Mobs/Gingerbread.xml
Labels: No C#, Status: Needs Review

#637 Emag works as laws board for syndicate lawset on AI
  Resources/Prototypes/Entities/Objects/Tools/emag.yml
Labels: No C#

#641 Fix mime survival kit
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Misc/emergencybox.yml
  Resources/Prototypes/Goobstation/tags.yml
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
Labels: No C#

#614 X-01 Multiphase Energy Gun (Delta-V #385, Frontier-#587)
  Content.Server/DeltaV/Weapons/Ranged/Components/EnergyGunComponent.cs
  Content.Server/DeltaV/Weapons/Ranged/Systems/EnergyGunSystem.cs
  Content.Shared/DeltaV/Weapons/Ranged/EnergyGunFireModeVisuals.cs
  Resources/Audio/DeltaV/Weapons/Guns/Empty/dry_fire.ogg
  Resources/Audio/DeltaV/Weapons/Guns/Gunshots/laser.ogg
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Projectiles/impacts.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/base.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/disabler-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/disabler-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/equipped-BELT.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/lethal-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/lethal-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mag-unshaded-0.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mag-unshaded-1.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mag-unshaded-2.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mag-unshaded-3.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mag-unshaded-4.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mode-disabler.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mode-ion.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mode-lethal.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/special-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/special-inhand-right.png
Labels: Changes: Sprites, Status: Needs Review

#616 Adds TF2 stalemate sound effect to post round sounds
  Resources/Audio/Announcements/RoundEnd/stalemate.ogg
  Resources/Prototypes/SoundCollections/announcements.yml
Labels: No C#

#640 H.E.V suit
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Goobstation/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Goobstation/Entities/Clothing/OuterClothing/specific.yml
  Resources/Prototypes/Goobstation/Entities/Structures/Storage/closets.yml
  Resources/Prototypes/Goobstation/tags.yml
  Resources/Textures/Goobstation/Clothing/Head/Helmets/hev.rsi/equipped-HELMET.png
  Resources/Textures/Goobstation/Clothing/Head/Helmets/hev.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Head/Helmets/hev.rsi/meta.json
  Resources/Textures/Goobstation/Clothing/OuterClothing/Suits/hev.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Goobstation/Clothing/OuterClothing/Suits/hev.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/OuterClothing/Suits/hev.rsi/inhand-left.png
  Resources/Textures/Goobstation/Clothing/OuterClothing/Suits/hev.rsi/inhand-right.png
  Resources/Textures/Goobstation/Clothing/OuterClothing/Suits/hev.rsi/meta.json
  Resources/Textures/Goobstation/Structures/Storage/hev_storage.rsi/base.png
  Resources/Textures/Goobstation/Structures/Storage/hev_storage.rsi/glass-up.png
  Resources/Textures/Goobstation/Structures/Storage/hev_storage.rsi/glass.png
  Resources/Textures/Goobstation/Structures/Storage/hev_storage.rsi/locked.png
  Resources/Textures/Goobstation/Structures/Storage/hev_storage.rsi/meta.json
  Resources/Textures/Goobstation/Structures/Storage/hev_storage.rsi/panel.png
  Resources/Textures/Goobstation/Structures/Storage/hev_storage.rsi/suit.png
  Resources/Textures/Goobstation/Structures/Storage/hev_storage.rsi/unlocked.png
  Resources/Textures/Goobstation/Structures/Storage/hev_storage.rsi/welded.png
Labels: Changes: Sprites, No C#, Status: Needs Review

#648 Fix crawling
  Content.IntegrationTests/Tests/Buckle/BuckleTest.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Damage/Systems/RequireProjectileTargetSystem.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/_White/Standing/LayingDownComponent.cs
  Content.Shared/_White/Standing/SharedLayingDownSystem.cs
  Resources/Prototypes/Entities/Structures/Furniture/Tables/base_structuretables.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
Labels: Status: Needs Review

#643 BSO Clothing Update.
  Resources/Prototypes/Goobstation/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Goobstation/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Goobstation/Entities/Clothing/OuterClothing/armour.yml
  Resources/Prototypes/Goobstation/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Goobstation/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Textures/Goobstation/Clothing/Armor/bso_armour.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Goobstation/Clothing/Armor/bso_armour.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Armor/bso_armour.rsi/inhand-left.png
  Resources/Textures/Goobstation/Clothing/Armor/bso_armour.rsi/inhand-right.png
  Resources/Textures/Goobstation/Clothing/Armor/bso_armour.rsi/meta.json
  Resources/Textures/Goobstation/Clothing/Eyes/Glasses/medglasses.rsi/equipped-EYES.png
  Resources/Textures/Goobstation/Clothing/Eyes/Glasses/medglasses.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Eyes/Glasses/medglasses.rsi/inhand-left.png
  Resources/Textures/Goobstation/Clothing/Eyes/Glasses/medglasses.rsi/inhand-right.png
  Resources/Textures/Goobstation/Clothing/Eyes/Glasses/medglasses.rsi/meta.json
  Resources/Textures/Goobstation/Clothing/Head/Hats/beret_bso_navy.rsi/equipped-HELMET.png
  Resources/Textures/Goobstation/Clothing/Head/Hats/beret_bso_navy.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Head/Hats/beret_bso_navy.rsi/inhand-left.png
  Resources/Textures/Goobstation/Clothing/Head/Hats/beret_bso_navy.rsi/inhand-right.png
  Resources/Textures/Goobstation/Clothing/Head/Hats/beret_bso_navy.rsi/meta.json
  Resources/Textures/Goobstation/Clothing/Head/Hats/beret_bso_officer.rsi/equipped-HELMET.png
  Resources/Textures/Goobstation/Clothing/Head/Hats/beret_bso_officer.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Head/Hats/beret_bso_officer.rsi/inhand-left.png
  Resources/Textures/Goobstation/Clothing/Head/Hats/beret_bso_officer.rsi/inhand-right.png
  Resources/Textures/Goobstation/Clothing/Head/Hats/beret_bso_officer.rsi/meta.json
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/blueshield_officer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/blueshield_officer.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/blueshield_officer.rsi/inhand-left.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/blueshield_officer.rsi/inhand-right.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/blueshield_officer.rsi/meta.json
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpsuit/blueshield_officer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpsuit/blueshield_officer.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpsuit/blueshield_officer.rsi/inhand-left.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpsuit/blueshield_officer.rsi/inhand-right.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpsuit/blueshield_officer.rsi/meta.json
Labels: Changes: Sprites, No C#

#645 Nukie planet update
  Resources/Maps/Goobstation/Nonstations/nukieplanet.yml
  Resources/Maps/Goobstation/Shuttles/infiltrator.yml
Labels: No C#, Changes: Map

#650 Jermov
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Prototypes/silicon-laws.yml
Labels: No C#, Status: Needs Review

#658 Fix crawling throwing and turret shooting
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Shared/Damage/Components/RequireProjectileTargetComponent.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Prototypes/Entities/Structures/Furniture/Tables/base_structuretables.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
Labels: bug

#657 Medglasses flash protection
  Resources/Prototypes/Goobstation/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Goobstation/Roles/Jobs/Command/blueshield_officer.yml
Labels: No C#

#661 fix: some boards not showing up in the circit printer
  Resources/Prototypes/Recipes/Lathes/electronics.yml
Labels: No C#

#646 Ion damage
  Resources/Locale/en-US/Goobstation/damage/damage-groups.ftl
  Resources/Locale/en-US/Goobstation/damage/damage-types.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Damage/containers.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Goobstation/Damage/groups.yml
  Resources/Prototypes/Goobstation/Damage/modifier_sets.yml
  Resources/Prototypes/Goobstation/Damage/types.yml
Labels: No C#

#669 Bagel Update
  Resources/Maps/Goobstation/bagel.yml
Labels: No C#, Changes: Map, Status: Needs Review

#677 Bodycams and handheld televisions
  Resources/Locale/en-US/Goobstation/preferences/loadout-groups.ftl
  Resources/Prototypes/Goobstation/Entities/Clothing/OuterClothing/specific.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Devices/handheld_power_console.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Devices/handheld_television.yml
  Resources/Prototypes/Goobstation/Loadouts/Jobs/misc.yml
  Resources/Prototypes/Goobstation/Loadouts/loadout_groups.yml
  Resources/Prototypes/Goobstation/Roles/GhostRoles/Fun/chrono_legionnaire.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Textures/Goobstation/Clothing/OuterClothing/Misc/nopro.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Goobstation/Clothing/OuterClothing/Misc/nopro.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Goobstation/Clothing/OuterClothing/Misc/nopro.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/OuterClothing/Misc/nopro.rsi/inhand-left.png
  Resources/Textures/Goobstation/Clothing/OuterClothing/Misc/nopro.rsi/inhand-right.png
  Resources/Textures/Goobstation/Clothing/OuterClothing/Misc/nopro.rsi/meta.json
  Resources/Textures/Goobstation/Objects/Devices/tablets.rsi/meta.json
  Resources/Textures/Goobstation/Objects/Devices/tablets.rsi/powerconsole.png
  Resources/Textures/Goobstation/Objects/Devices/tablets.rsi/television.png
Labels: Changes: Sprites, No C#

#663 Added medical patches guidebook entry
  Resources/Locale/en-US/Goobstation/guidebook/guides.ftl
  Resources/Prototypes/Goobstation/Guidebook/patches.yml
  Resources/ServerInfo/Goobstation/Guidebook/Medical/Medicalpatches.xml
Labels: No C#

#667 Made BSO uniform more blue
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/blueshield_officer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/blueshield_officer.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/blueshield_officer.rsi/inhand-left.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpskirt/blueshield_officer.rsi/inhand-right.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpsuit/blueshield_officer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpsuit/blueshield_officer.rsi/icon.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpsuit/blueshield_officer.rsi/inhand-left.png
  Resources/Textures/Goobstation/Clothing/Uniforms/Jumpsuit/blueshield_officer.rsi/inhand-right.png
Labels: Changes: Sprites, No C#

#685 Spectral locator
  Content.Shared/Goobstation/Ghost/SpectralComponent.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Fun/spectral_locator.yml
  Resources/Textures/Goobstation/Objects/Fun/spectrallocator.rsi/icon.png
  Resources/Textures/Goobstation/Objects/Fun/spectrallocator.rsi/inhand-left.png
  Resources/Textures/Goobstation/Objects/Fun/spectrallocator.rsi/inhand-right.png
  Resources/Textures/Goobstation/Objects/Fun/spectrallocator.rsi/meta.json
  Resources/Textures/Goobstation/Objects/Fun/spectrallocator.rsi/screen.png
Labels: Changes: Sprites, Status: Needs Review

#664 plasma rifle
  Content.Server/Goobstation/WeaponRandomExplode/WeaponRandomExplodeComponent.cs
  Content.Server/Goobstation/WeaponRandomExplode/WeaponRandomExplodeSystem.cs
  Resources/Locale/en-US/Goobstation/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Goobstation/Recipes/Lathes/salvage.yml
  Resources/Prototypes/Goobstation/Recipes/Lathes/weapons.yml
  Resources/Prototypes/Goobstation/Research/arsenal.yml
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/base.png
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/equipped-BACKPACK.png
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/icon.png
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/inhand-left.png
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/inhand-right.png
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/mag-unshaded-1.png
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/mag-unshaded-2.png
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/mag-unshaded-3.png
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/mag-unshaded-4.png
  Resources/Textures/Goobstation/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#681 Improve revs mindshielding
  Content.Client/Overlays/ShowMindShieldIconsSystem.cs
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Content.Server/Mindshield/MindShieldSystem.cs
  Content.Shared/Mindshield/Components/MindShieldComponent.cs
  Content.Shared/Revolutionary/SharedRevolutionarySystem.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-revolutionary.ftl
  Resources/Prototypes/Roles/Antags/revolutionary.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_Goobstation/StatusIcon/security.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/ServerInfo/Goobstation/Guidebook/Antagonist/Revolutionaries.xml
  Resources/Textures/_Goobstation/Interface/Misc/security_icons.rsi/MindShield-broken.png
  Resources/Textures/_Goobstation/Interface/Misc/security_icons.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Specific/Medical/revs_implanter.rsi/broken.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/revs_implanter.rsi/implanter0.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/revs_implanter.rsi/implanter1.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/revs_implanter.rsi/meta.json
Labels: Changes: Sprites

#678 Core Rule 13 Update Real?
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC13CharacterNames.xml
Labels: No C#, Status: Needs Review

#690 Unique items teleporters
  Content.Server/_Goobstation/Interaction/Components/UseOnStationOnlyComponent.cs
  Content.Server/_Goobstation/Interaction/Systems/UseOnStationOnlySystem.cs
  Content.Server/_Goobstation/Spawn/Components/UniqueEntityCheckerComponent.cs
  Content.Server/_Goobstation/Spawn/Components/UniqueEntityMarkerComponent.cs
  Content.Server/_Goobstation/Spawn/Systems/UniqueEntitySystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/_Goobstation/Interaction/InteractionEvents.cs
  Resources/Locale/en-US/_Goobstation/interaction/interaction-system.ftl
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Goobstation/Entities/Marker/unique.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/unique_teleporters.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_Goobstation/Entities/Unique/lockers.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
  Resources/Textures/_Goobstation/Objects/Devices/unique_teleporters.rsi/bso.png
  Resources/Textures/_Goobstation/Objects/Devices/unique_teleporters.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Devices/unique_teleporters.rsi/ntr.png
  Resources/Textures/_Goobstation/Objects/Devices/unique_teleporters.rsi/standard.png
Labels: Changes: Sprites

#687 Revert security helmet buff
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
Labels: No C#, Status: Needs Review

#686 Clown Resprite
  Resources/Textures/Clothing/Mask/clown.rsi/equipped-MASK-hamster.png
  Resources/Textures/Clothing/Mask/clown.rsi/equipped-MASK-reptilian.png
  Resources/Textures/Clothing/Mask/clown.rsi/equipped-MASK-vox.png
  Resources/Textures/Clothing/Mask/clown.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/clown.rsi/icon.png
  Resources/Textures/Clothing/Mask/clown.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Specific/clown.rsi/equipped-FEET-vox.png
  Resources/Textures/Clothing/Shoes/Specific/clown.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Specific/clown.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Specific/clown.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/clown.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/clown.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/clown.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/clown.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/clown.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/clown.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/clown.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/clown.rsi/meta.json
Labels: Changes: Sprites, No C#

#691 Traitor Item - Smuggler's Satchel
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/thief/backpack.ftl
  Resources/Prototypes/Catalog/thief_toolbox_sets.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Back/satchel.yml
Labels: No C#, Status: Needs Review

#692 Nukies nerf
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/syndicate.yml
Labels: No C#

#695 EG-4 fix-ening
  Resources/Locale/en-US/_Goobstation/weapons/gun.ftl
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: No C#, Status: Needs Review

#704 fix actions not actioning
  Content.Client/Actions/ActionsSystem.cs
Labels: Status: Needs Review

#659 the great gaming rework
  Content.Client/Revolutionary/RevolutionarySystem.cs
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.IntegrationTests/Tests/GameRules/NukeOpsTest.cs
  Content.Server/Antag/AntagSelectionSystem.API.cs
  Content.Server/Antag/Components/AntagSelectionComponent.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/Rules/Components/NukeopsRuleComponent.cs
  Content.Server/GameTicking/Rules/Components/RevolutionaryRuleComponent.cs
  Content.Server/GameTicking/Rules/Components/TraitorRuleComponent.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Objectives/ObjectivesSystem.cs
  Content.Server/Roles/RoleSystem.cs
  Content.Server/_Goobstation/GameTicking/Rules/Components/DynamicRuleComponent.cs
  Content.Server/_Goobstation/GameTicking/Rules/Components/DynamicRulesetComponent.cs
  Content.Server/_Goobstation/GameTicking/Rules/DynamicRuleSystem.cs
  Content.Server/_Goobstation/StationEvents/DynamicStationEventSchedulerComponent.cs
  Content.Server/_Goobstation/StationEvents/DynamicStationEventSchedulerRule.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/_Goobstation/Changeling/ChangelingComponent.cs
  Content.Shared/_Goobstation/Revolutionary/RevolutionEnemyComponent.cs
  Resources/Audio/Ambience/Antag/attributions.yml
  Resources/Audio/Ambience/Antag/headrev_start.ogg
  Resources/Audio/_Goobstation/Ambience/Antag/attributions.yml
  Resources/Audio/_Goobstation/Ambience/Antag/bloodcult_eyes.ogg
  Resources/Audio/_Goobstation/Ambience/Antag/bloodcult_gain.ogg
  Resources/Audio/_Goobstation/Ambience/Antag/bloodcult_halos.ogg
  Resources/Audio/_Goobstation/Ambience/Antag/bloodcult_scribe.ogg
  Resources/Audio/_Goobstation/Ambience/Antag/mindcontrol_start.ogg
  Resources/Locale/en-US/_Goobstation/communications/comms_console.ftl
  Resources/Locale/en-US/_Goobstation/flavors/traitor.ftl
  Resources/Locale/en-US/_Goobstation/game-ticking/dynamic.ftl
  Resources/Locale/en-US/_Goobstation/game-ticking/game-presets/preset-dynamic.ftl
  Resources/Locale/en-US/_Goobstation/game-ticking/game-presets/preset-revolutionary.ftl
  Resources/Locale/en-US/_Goobstation/game-ticking/game-presets/presets-revolutionaries.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/en-US/nukeops/nuke-ops.ftl
  Resources/Locale/en-US/prototypes/roles/antags.ftl
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/_Goobstation/Datasets/traitor_flavor.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/base.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/dynamic.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/midround.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/roundstart.yml
  Resources/Prototypes/_Goobstation/game_presets.yml
  Resources/Prototypes/game_presets.yml
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/on-equipped-HELMET.png
  Resources/Textures/Interface/Misc/job_icons.rsi/Passenger.png
Labels: Changes: Sprites, Status: Needs Review

#701 Frizzy Braid hair + move hairs to _goob folder
  Resources/Locale/en-US/_Goobstation/accessories/human-hair.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/frizzyBraid.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/meta.json
Labels: Changes: Sprites, No C#

#662 AI can view Entertainment camera
  Resources/Prototypes/Entities/Structures/Machines/wireless_surveillance_camera.yml
Labels: No C#

#700 Update cluster
  Resources/Locale/en-US/_Goobstation/navmap-beacons/station-beacons.ftl
  Resources/Maps/_Goobstation/cluster.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/station_beacon.yml
Labels: No C#, Changes: Map

#709 kill unforgiving dynamic
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/dynamic.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/roundstart.yml
Labels: Changes: Sprites, No C#, Status: Needs Review
