Repository Goob-Station/Goob-Station, pull requests merged in 2025-02, with the labels that each got.

#1511 fix atmos max explosion radius cvar
  Content.Server/Atmos/Components/GasTankComponent.cs
  Content.Server/Atmos/EntitySystems/GasTankSystem.cs
Labels: size/XS, S: Untriaged

#1580 [Bounty], Some guy wants to be gibbed i guess
  Content.Server/_Goobstation/Weapons/GibThisGuyComponent.cs
  Content.Server/_Goobstation/Weapons/GibThisGuySystem.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baguette.yml
Labels: size/S, S: Untriaged

#1584 Fix Alerts Test
  Content.IntegrationTests/Tests/GameObjects/Components/Mobs/AlertsComponentTests.cs
Labels: size/S, S: Untriaged

#1579 yet another yowie buff
  Resources/Prototypes/_Goobstation/Entities/Mobs/Species/yowie.yml
  Resources/Prototypes/_Goobstation/InventoryTemplates/yowie_inventory_template.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1555 Silicon Rule 8 examples
  Resources/ServerInfo/Guidebook/ServerRules/SiliconRules/RuleS8DefaultCrewDefinition.xml
Labels: Changes: No C#, size/S, S: Untriaged

#1586 Nukie base QOL
  Resources/Maps/_Goobstation/Nonstations/nukieplanet-honkops.yml
  Resources/Maps/_Goobstation/Nonstations/nukieplanet.yml
Labels: Changes: Map, size/M, Changes: No C#, S: Untriaged

#1523 Hardlight bow rebalance
  Content.Client/_Goobstation/AmmoSelector/AmmoSelectorMenuBoundUserInterface.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/_Goobstation/Weapons/AmmoSelector/SelectableAmmoSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Bow/hardlight_arrows.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Bow/hardlight_bow.yml
Labels: size/S, S: Untriaged, S: Needs Review

#1578 Prescription glasses
  Content.Shared/Traits/Assorted/PermanentBlindnessSystem.cs
  Resources/Locale/en-US/_Goobstation/glasses/glasses.ftl
  Resources/Locale/en-US/_Goobstation/research/technologies.ftl
  Resources/Locale/en-US/_Goobstation/traits/traits.ftl
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/medical.yml
  Resources/Prototypes/_Goobstation/Research/civilianservices.yml
  Resources/Textures/_Goobstation/Clothing/Eyes/Glasses/brokenglasses.rsi/equipped-EYES.png
  Resources/Textures/_Goobstation/Clothing/Eyes/Glasses/brokenglasses.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Eyes/Glasses/brokenglasses.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Eyes/Glasses/brokenglasses.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Eyes/Glasses/brokenglasses.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Untriaged, S: Needs Review

#1581 Abductor yaml maxxing
  Resources/Prototypes/_Shitmed/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/_Shitmed/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Shitmed/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/_Shitmed/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Shitmed/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/_Shitmed/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Shitmed/Entities/Specific/Abductor/surgery.yml
  Resources/Prototypes/_Shitmed/Entities/Specific/Abductor/tools.yml
  Resources/Prototypes/_Shitmed/Entities/Structures/Specific/alien_pad.yml
  Resources/Prototypes/_Shitmed/Entities/Structures/Tables/tables.yml
  Resources/Prototypes/_Shitmed/Entities/Structures/Walls/walls.yml
Labels: Changes: No C#, size/S, S: Needs Review

#1587 Added new lobby art
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/daretobespaced.webp
  Resources/Textures/LobbyScreens/daretobespaced.webp.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1585 Fix NukeOps Test
  Content.IntegrationTests/Tests/GameRules/NukeOpsTest.cs
Labels: size/XS, S: Untriaged

#1522 Oasis Atmos Tweaks
  Resources/Maps/_Goobstation/oasis.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/L, S: Needs Review

#1606 Revert "Added new lobby art"
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/daretobespaced.webp
  Resources/Textures/LobbyScreens/daretobespaced.webp.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1613 bulk mosin crate
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1631 Wizard spellbook fix
  Content.Server/Store/Conditions/BuyerAntagCondition.cs
  Content.Server/Store/Conditions/BuyerDepartmentCondition.cs
  Content.Server/Store/Conditions/BuyerJobCondition.cs
  Content.Server/Store/Conditions/BuyerSpeciesCondition.cs
  Content.Server/Store/Systems/StoreSystem.cs
  Content.Server/Traitor/Uplink/UplinkSystem.cs
  Content.Shared/Store/Components/StoreComponent.cs
  Resources/Prototypes/Magic/mindswap_spell.yml
Labels: size/S, S: Untriaged

#1594 Cryo katana
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/_Goobstation/Weapons/ChangeTemperatureOnHit/ChangeTemperatureOnHitComponent.cs
  Content.Server/_Goobstation/Weapons/ChangeTemperatureOnHit/ChangeTemperatureOnHitSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/_Goobstation/Weapons/MeleeDash/DashingComponent.cs
  Content.Shared/_Goobstation/Weapons/MeleeDash/MeleeDashComponent.cs
  Content.Shared/_Goobstation/Weapons/MeleeDash/MeleeDashSystem.cs
  Content.Shared/_White/Blink/SharedBlinkSystem.cs
  Resources/Audio/_Goobstation/Weapons/Effects/attributions.yml
  Resources/Audio/_Goobstation/Weapons/Effects/throwhard.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/cryokatana.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/cryokatana.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/cryokatana.rsi/equipped-BELT.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/cryokatana.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/cryokatana.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/cryokatana.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/cryokatana.rsi/meta.json
Labels: Changes: Sprites, size/M, Changes: Audio

#1599 MORE WINTERCOATS!!!!
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
Labels: Changes: No C#, size/S, S: Untriaged, S: Needs Review

#1595 IPC Reboot fix
  Content.Server/_EinsteinEngines/Silicon/DeadStartupButton/DeadStartupButtonSystem.cs
Labels: size/S, S: Untriaged

#1624 tidemind event
  Content.Server/_Goobstation/StationEvents/JobAddComponentsRule.cs
  Content.Server/_Goobstation/StationEvents/JobAddComponentsRuleComponent.cs
  Resources/Locale/en-US/_Goobstation/headset/headsets.ftl
  Resources/Locale/en-US/_Goobstation/station-events/events/tidemind.ftl
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_Goobstation/GameRules/events.yml
  Resources/Prototypes/_Goobstation/radio_channels.yml
Labels: size/S, S: Untriaged

#1638 [bounty] DaW to IPCs hotbar x2
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1647 Barotrauma reference
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged

#1642 insulated atmos gloves
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Hands/gloves.yml
  Resources/Textures/_Goobstation/Clothing/Hands/Gloves/atmos.rsi/equipped-HAND.png
  Resources/Textures/_Goobstation/Clothing/Hands/Gloves/atmos.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Hands/Gloves/atmos.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Hands/Gloves/atmos.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Hands/Gloves/atmos.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Untriaged

#1622 Contra cleanup
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Vehicles/keys.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Vehicles/vehicles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Shitmed/Body/Organs/dubious.yml
  Resources/Prototypes/_Shitmed/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Shitmed/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/_Shitmed/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Shitmed/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/_Shitmed/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Shitmed/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Shitmed/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/_Shitmed/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Shitmed/Entities/Objects/Weapons/Melee/silencer.yml
  Resources/Prototypes/_Shitmed/Entities/Objects/Weapons/Melee/wonderprod.yml
  Resources/Prototypes/_Shitmed/Entities/Specific/Abductor/gizmo.yml
  Resources/Prototypes/_Shitmed/Entities/Specific/Abductor/surgery.yml
  Resources/Prototypes/_Shitmed/Entities/Specific/Abductor/tools.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1611 searchable id computer access
  Content.Client/Access/UI/AccessLevelControl.xaml
  Content.Client/Access/UI/IdCardConsoleWindow.xaml
  Content.Client/Access/UI/IdCardConsoleWindow.xaml.cs
  Resources/Locale/en-US/_Goobstation/access/components/id-card-console-component.ftl
Labels: Changes: UI, size/S, S: Untriaged, S: Needs Review

#1615 Added artifexium producing berries mutation
  Resources/Locale/en-US/_Goobstation/seeds/seeds.ftl
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/_Goobstation/Hydroponics/seeds.yml
  Resources/Textures/_Goobstation/Objects/Specific/Hydroponics/strange_berries.rsi/dead.png
  Resources/Textures/_Goobstation/Objects/Specific/Hydroponics/strange_berries.rsi/harvest.png
  Resources/Textures/_Goobstation/Objects/Specific/Hydroponics/strange_berries.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Specific/Hydroponics/strange_berries.rsi/produce.png
  Resources/Textures/_Goobstation/Objects/Specific/Hydroponics/strange_berries.rsi/seed.png
  Resources/Textures/_Goobstation/Objects/Specific/Hydroponics/strange_berries.rsi/stage-1.png
  Resources/Textures/_Goobstation/Objects/Specific/Hydroponics/strange_berries.rsi/stage-2.png
  Resources/Textures/_Goobstation/Objects/Specific/Hydroponics/strange_berries.rsi/stage-3.png
  Resources/Textures/_Goobstation/Objects/Specific/Hydroponics/strange_berries.rsi/stage-4.png
  Resources/Textures/_Goobstation/Objects/Specific/Hydroponics/strange_berries.rsi/stage-5.png
  Resources/Textures/_Goobstation/Objects/Specific/Hydroponics/strange_berries.rsi/stage-6.png
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged, S: Needs Review

#1600 Disposal Blocker
  Content.Server/Disposal/Tube/DisposalTubeSystem.cs
  Content.Server/_Goobstation/Disposals/Tube/Components/DisposalBlockerComponent.cs
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/disposal_pipes.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Piping/Disposal/pipes.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/utilities.yml
  Resources/Textures/_Goobstation/Structures/Piping/disposal.rsi/conpipe-blocker.png
  Resources/Textures/_Goobstation/Structures/Piping/disposal.rsi/meta.json
  Resources/Textures/_Goobstation/Structures/Piping/disposal.rsi/pipe-blocker.png
Labels: Changes: Sprites, size/M, S: Untriaged

#1626 syringe gun nerf take 2
  Content.Server/Chemistry/Components/BaseSolutionInjectOnEventComponent.cs
  Content.Server/Chemistry/Components/SolutionInjectWhileEmbeddedComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionInjectOnEventSystem.cs
  Content.Server/Chemistry/EntitySystems/SolutionInjectWhileEmbeddedSystem.cs
  Content.Server/_Goobstation/Weapons/Ranged/SyringeGunSystem.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/_Goobstation/Weapons/Ranged/SyringeGunComponent.cs
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Locale/en-US/weapons/melee/melee.ftl
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
Labels: size/M, S: Untriaged, S: Needs Review

#1612 port autodoc surgery part filter
  Content.Client/_Shitmed/Autodoc/PickSurgeryWindow.xaml.cs
Labels: Changes: UI, size/S

#1456 nerf delayed death
  Content.Server/_Shitmed/DelayedDeath/DelayedDeathSystem.cs
Labels: size/S, S: Untriaged

#1634 surgery cleanup stuff
  Content.Shared/Body/Organ/OrganComponent.cs
  Content.Shared/Body/Part/BodyPartComponent.cs
  Content.Shared/_Shitmed/Surgery/Steps/SurgeryAddMarkingStepComponent.cs
  Content.Shared/_Shitmed/Surgery/Steps/SurgeryRemoveMarkingStepComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/lathe.yml
Labels: size/M, S: Untriaged

#1621 syringe gun improvements
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S, S: Untriaged

#1649 Some wizard fixes.
  Content.Shared/_Goobstation/Wizard/Traps/SharedIceCubeSystem.cs
  Resources/Prototypes/Entities/Objects/Power/portable_recharger.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/_Goobstation/Wizard/selectable_ammo.yml
Labels: size/S, S: Untriaged

#1593 CE can do lobotomy
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
Labels: Changes: No C#, size/S, S: Needs Review

#1655 Fix antagrolling
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/Station/Systems/StationJobsSystem.Roundstart.cs
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Wizard/gamerules_wizard.yml
Labels: size/S, S: Untriaged

#1603 Blueshield Shield Shield
  Resources/Audio/_Goobstation/Weapons/Effects/attributions.yml
  Resources/Audio/_Goobstation/Weapons/Effects/nanotrasenenergyhum.ogg
  Resources/Audio/_Goobstation/Weapons/Effects/nanotrasenenergyoff.ogg
  Resources/Audio/_Goobstation/Weapons/Effects/nanotrasenenergyon.ogg
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Weapons/blueshieldshield.yml
  Resources/Prototypes/_Goobstation/Entities/Shields/shields.yml
  Resources/Prototypes/_Goobstation/Entities/Weapons/Melee/blueshield_mace.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Textures/_Goobstation/Objects/Shields/blueshieldshield.rsi/icon-on.png
  Resources/Textures/_Goobstation/Objects/Shields/blueshieldshield.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Shields/blueshieldshield.rsi/inhand-left-on.png
  Resources/Textures/_Goobstation/Objects/Shields/blueshieldshield.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Shields/blueshieldshield.rsi/inhand-right-on.png
  Resources/Textures/_Goobstation/Objects/Shields/blueshieldshield.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Shields/blueshieldshield.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Shields/riotshield.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Shields/riotshield.rsi/riot_bullet-icon.png
  Resources/Textures/_Goobstation/Objects/Shields/riotshield.rsi/riot_bullet-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Shields/riotshield.rsi/riot_bullet-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/blueshield_mace.rsi/icon-off.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/blueshield_mace.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/blueshield_mace.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/blueshield_mace.rsi/off-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/blueshield_mace.rsi/off-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/blueshield_mace.rsi/on-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/blueshield_mace.rsi/on-inhand-right.png
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged, S: Needs Review, Changes: Audio

#1658 Fix ethereal jaunt shader
  Resources/Prototypes/_Goobstation/Wizard/Shaders/ethereal_jaunt.yml
  Resources/Textures/_Goobstation/Wizard/Shaders/ethereal_jaunt.swsl
Labels: Changes: Shaders, Changes: No C#, size/XS, S: Untriaged

#1556 Added a wrench to the wardens locker.
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Labels: Changes: No C#, size/XS

#1515 Syndicate Surgical Bag buff!
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
Labels: Changes: No C#, size/XS

#1641 Updated Reach
  Resources/Maps/reach.yml
Labels: Changes: Map, size/M, Changes: No C#, S: Untriaged

#1602 Buffs? Nerfs?
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/_Goobstation/Clothing/Components/ModifyStandingUpTimeComponent.cs
  Content.Shared/_Goobstation/Clothing/Systems/ModifyStandingUpTimeSystem.cs
  Content.Shared/_White/Blink/BlinkComponent.cs
  Content.Shared/_White/Blink/SharedBlinkSystem.cs
  Content.Shared/_White/Standing/SharedLayingDownSystem.cs
  Content.Shared/_White/Standing/TelefragSystem.cs
  Resources/Locale/en-US/_Goobstation/clothing/lying-down.ftl
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Melee/changeling_hammer.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Melee/daggers.yml
Labels: size/M, S: Untriaged, S: Needs Review

#1618 Frontier mosin port
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: size/S, S: Untriaged

#1567 Give Honkops mask eyeprots.
  Resources/Prototypes/_Goobstation/Entities/Clothing/Masks/masks.yml
Labels: Changes: No C#, size/XS

#1630 update to GibThisGuy comp
  Content.Server/_Goobstation/Weapons/GibThisGuyComponent.cs
  Content.Server/_Goobstation/Weapons/GibThisGuySystem.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
Labels: size/S, S: Untriaged

#1664 Fixed IPC Shitmed
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
Labels: Changes: No C#, size/XS

#1552 Tidied up some tags and duplicate texture
  Resources/Prototypes/_Goobstation/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_Goobstation/tags copy.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Textures/Goobstation/Objects/Materials/materials.rsi/bluespace_crystal.png
  Resources/Textures/Goobstation/Objects/Materials/materials.rsi/bluespace_crystal_2.png
  Resources/Textures/Goobstation/Objects/Materials/materials.rsi/bluespace_crystal_3.png
  Resources/Textures/Goobstation/Objects/Materials/materials.rsi/meta.json
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged

#1676 Fixed antag UI for IPCs
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1627 Bananium Esword
  Resources/Audio/_Goobstation/Weapons/Banana/attributions.yml
  Resources/Audio/_Goobstation/Weapons/Banana/bananaeblade1.ogg
  Resources/Audio/_Goobstation/Weapons/Banana/bananaebladeoff.ogg
  Resources/Audio/_Goobstation/Weapons/Banana/bananaebladeon.ogg
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Recipes/Construction/fun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/e_sword_banana.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/fun/bananium_sword.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/fun.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_bananium.rsi/e_sword.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_bananium.rsi/e_sword_blade.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_bananium.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_bananium.rsi/meta.json
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged, S: Needs Review, Changes: Audio

#1682 Increase comms character limit
  Content.Shared/CCVar/CCVars.Chat.cs
Labels: size/XS, S: Untriaged

#1677 Tajaran hotfix
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Wizard/mirror.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1678 untime killer tomato life
  Resources/Prototypes/Entities/Mobs/NPCs/miscellaneous.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1690 Update SpellbladeSystem.cs
  Content.Server/_Goobstation/Wizard/Systems/SpellbladeSystem.cs
Labels: size/XS, S: Untriaged

#1688 BOUNTY: fix vulp temperature protection and add vulp screams
  Resources/Audio/_EinsteinEngines/Voice/Vulpkanin/attritbutions.yml
  Resources/Audio/_EinsteinEngines/Voice/Vulpkanin/vulpscream1.ogg
  Resources/Audio/_EinsteinEngines/Voice/Vulpkanin/vulpscream2.ogg
  Resources/Audio/_EinsteinEngines/Voice/Vulpkanin/vulpscream3.ogg
  Resources/Audio/_EinsteinEngines/Voice/Vulpkanin/vulpscream4.ogg
  Resources/Audio/_EinsteinEngines/Voice/Vulpkanin/vulpscream5.ogg
  Resources/Prototypes/_DV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_DV/SoundCollections/vulpkanin.yml
  Resources/Prototypes/_DV/Voice/speech_emote_sounds.yml
Labels: Bounty, Changes: No C#, S: Untriaged, Changes: Audio

#1712 Cyborgs can have traits
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1711 Sabre buff (again)
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
Labels: Changes: No C#, S: Untriaged

#1707 Improved the formatting of a few things related to patches
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/medical_patch.yml
  Resources/ServerInfo/_Goobstation/Guidebook/Medical/Medicalpatches.xml
Labels: Changes: No C#, size/S, S: Untriaged

#1693 Adds lambda to map pool and benchmarks
  Content.Benchmarks/MapLoadBenchmark.cs
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, S: Untriaged

#1692 Derelict Syndicate Assault Cyborg
  Resources/Locale/en-US/_Goobstation/ghost/ghost-role-component.ftl
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/pinpointer.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_Goobstation/GameRules/events.yml
  Resources/Textures/_Goobstation/Mobs/Silicon/chassis.rsi/meta.json
  Resources/Textures/_Goobstation/Mobs/Silicon/chassis.rsi/synd_sec.png
  Resources/Textures/_Goobstation/Mobs/Silicon/chassis.rsi/synd_sec_e.png
  Resources/Textures/_Goobstation/Mobs/Silicon/chassis.rsi/synd_sec_l.png
Labels: Changes: Sprites, size/M, Changes: No C#

#1691 Bluespace syringes are valid syringe gun ammo
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1679 Add Merciful IPC wings
  Resources/Locale/en-US/_Goobstation/markings/wings.ftl
  Resources/Prototypes/_Goobstation/Entities/Mobs/Customization/Markings/IPCwings.yml
  Resources/Textures/_Goobstation/Mobs/Customization/IPCwings.rsi/merciful_base.png
  Resources/Textures/_Goobstation/Mobs/Customization/IPCwings.rsi/merciful_light.png
  Resources/Textures/_Goobstation/Mobs/Customization/IPCwings.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S, S: Untriaged

#1670 SPEEDMERGE THIS!!! Reduce Abductor and blob midround rate, increase wiz start round rate
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/midround.yml
  Resources/Prototypes/_Shitmed/GameRules/events.yml
  Resources/Prototypes/secret_weights.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1666 Added Bike Horns to Bike Horn Implant Crate
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1702 Reporter dress
  Resources/Prototypes/Loadouts/Jobs/Civilian/passenger.yml
  Resources/Prototypes/Loadouts/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Textures/Template/Humanoid/human.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpskirt/reporter_dress.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpskirt/reporter_dress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpskirt/reporter_dress.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpskirt/reporter_dress.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpskirt/reporter_dress.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpskirt/reporter_dress.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S, S: Untriaged

#1660 Wizard patch 1
  Content.Server/Chemistry/EntitySystems/SolutionInjectOnEventSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/ImmovableRod/ImmovableRodComponent.cs
  Content.Server/ImmovableRod/ImmovableRodSystem.cs
  Content.Server/_Goobstation/Flashbang/FlashbangSystem.cs
  Content.Server/_Goobstation/Wizard/Systems/BindSoulSystem.cs
  Content.Shared/_Goobstation/Wizard/BindSoul/SharedBindSoulSystem.cs
  Resources/Locale/en-US/_Goobstation/Wizard/accents.ftl
  Resources/Locale/en-US/_Goobstation/Wizard/spellbook-catalog.ftl
  Resources/Maps/_Goobstation/Nonstations/wizden.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Fun/immovable_rod.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/_Goobstation/Wizard/Mobs/simians.yml
  Resources/Prototypes/_Goobstation/Wizard/Random/simians.yml
  Resources/Prototypes/_Goobstation/Wizard/Shaders/ethereal_jaunt.yml
  Resources/Prototypes/_Goobstation/Wizard/actions.yml
  Resources/Prototypes/_Goobstation/Wizard/actions_upgrades.yml
  Resources/Prototypes/_Goobstation/Wizard/immovable_rod.yml
  Resources/Prototypes/_Goobstation/Wizard/projectiles.yml
  Resources/Prototypes/_Goobstation/Wizard/wizard.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/WizardSpells.xml
  Resources/Textures/_Goobstation/Wizard/Shaders/ethereal_jaunt.swsl
Labels: Changes: Map, Changes: Shaders, size/M, S: Untriaged

#1643 Contraband Detector
  Content.Server/_Goobstation/Contraband/ContrabandDetectorComponent.cs
  Content.Server/_Goobstation/Contraband/ContrabandDetectorSystem.cs
  Content.Server/_Goobstation/Contraband/HideContrabandContentComponent.cs
  Content.Server/_Goobstation/Contraband/UndetectableContrabandComponent.cs
  Resources/Locale/en-US/_Goobstation/machines/contraband.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/Entities/Clothing/Back/specific.yml
  Resources/Prototypes/Entities/Clothing/Ears/specific.yml
  Resources/Prototypes/Entities/Objects/Misc/briefcases.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Bow/bow.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/DeviceLink/source_ports.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Specific/contraband_detector.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/machines/contraband_detector.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/contraband_detector.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/security.yml
  Resources/Prototypes/_Goobstation/StepTrigger/StepTriggerTypes.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Prototypes/_Shitmed/Body/Organs/dubious.yml
  Resources/Prototypes/_Shitmed/Entities/Markers/Spawners/Random/dubious.yml
  Resources/Textures/_Goobstation/Structures/Machines/contraband_detector.rsi/base.png
  Resources/Textures/_Goobstation/Structures/Machines/contraband_detector.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Untriaged, S: Needs Review

#1700 New lobby art
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/StarGoob.webp
  Resources/Textures/LobbyScreens/StarGoob.webp.yml
  Resources/Textures/LobbyScreens/attributions.yml
Labels: Changes: No C#, size/S

#1628 Some chemicals
  Content.Server/EntityEffects/Effects/AdjustReagent.cs
  Content.Server/_Goobstation/Chemistry/TakeStaminaDamage.cs
  Content.Server/_Goobstation/EntityEffects/EffectConditions/HasComponentOnEquipmentCondition.cs
  Content.Server/_Goobstation/EntityEffects/EffectConditions/StaminaDamageThreshold.cs
  Content.Server/_Goobstation/EntityEffects/EffectConditions/TypedDamageThreshold.cs
  Content.Server/_Goobstation/EntityEffects/EffectConditions/UniqueBloodstreamChemThreshold.cs
  Resources/Locale/en-US/_Goobstation/guidebook/chemistry/conditions.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/Consumable/drinks.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/chemicals.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/fun.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/medicine.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/narcotics.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/toxins.ftl
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Maps/_Goobstation/Nonstations/nukieplanet-honkops.yml
  Resources/Maps/_Goobstation/Nonstations/nukieplanet.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Hydroponics/randomChemicals.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/XenoArch/artifact_triggers.yml
  Resources/Prototypes/_DV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Chemistry/chemistry-created.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Chemistry/chemistry-vials.yml
  Resources/Prototypes/_Goobstation/Polymorphs/polymorph.yml
  Resources/Prototypes/_Goobstation/Reagents/chemicals.yml
  Resources/Prototypes/_Goobstation/Reagents/drinks.yml
  Resources/Prototypes/_Goobstation/Reagents/fun.yml
  Resources/Prototypes/_Goobstation/Reagents/medicine.yml
  Resources/Prototypes/_Goobstation/Reagents/narcotics.yml
  Resources/Prototypes/_Goobstation/Reagents/toxins.yml
  Resources/Prototypes/_Goobstation/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/_Goobstation/Recipes/Reactions/drinks.yml
  Resources/Prototypes/_Goobstation/Recipes/Reactions/fun.yml
  Resources/Prototypes/_Goobstation/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_Goobstation/Recipes/Reactions/narcotics.yml
  Resources/Prototypes/_Goobstation/Recipes/Reactions/toxins.yml
Labels: Changes: Map, S: Untriaged, size/L, S: Needs Review

#1609 Added new lobby screen
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/lostpai.webp
  Resources/Textures/LobbyScreens/lostpai.webp.yml
Labels: S: Merge Conflict, Changes: No C#, size/S, S: Untriaged

#1617 More Sun Glasses / Craftable / YML cleanup
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/clothing/glasses_medhud.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/clothing/glasses_medsechud.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/clothing.yml
  Resources/Prototypes/_Goobstation/tags.yml
Labels: size/M, Changes: No C#, S: Needs Review

#1596 Stun baton buff
  Content.Server/Stunnable/Systems/StunbatonSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/PathSpecific/ChampionStanceSystem.cs
  Content.Server/_Goobstation/Weapons/DelayedKnockdown/DelayedKnockdownComponent.cs
  Content.Server/_Goobstation/Weapons/DelayedKnockdown/DelayedKnockdownOnHitComponent.cs
  Content.Server/_Goobstation/Weapons/DelayedKnockdown/DelayedKnockdownOnHitSystem.cs
  Content.Server/_Goobstation/Weapons/DelayedKnockdown/ModifyDelayedKnockdownComponent.cs
  Content.Server/_Goobstation/Weapons/DelayedKnockdown/RemoveComponentEffect.cs
  Content.Shared/Damage/Components/StaminaComponent.cs
  Content.Shared/Damage/Components/StaminaDamageOnHitComponent.cs
  Content.Shared/Damage/Events/StaminaDamageOnHitAttemptEvent.cs
  Content.Shared/Damage/Events/TakeStaminaDamageEvent.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Stunnable/StunbatonComponent.cs
  Content.Shared/_Goobstation/Clothing/DelayedKnockdownAttemptEvent.cs
  Resources/Locale/en-US/_Goobstation/armor/armor-examine.ftl
  Resources/Locale/en-US/_Goobstation/reagents/remove-component-effect.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/armour.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Shitmed/Entities/Clothing/OuterClothing/armor.yml
  Resources/ServerInfo/Guidebook/Security/Security.xml
Labels: size/M, S: Merge Conflict, S: Untriaged

#1519 Bingle
  Content.Client/_Goobstation/Bingle/BingleFallingVisualsSystem.cs
  Content.Client/_Goobstation/Bingle/BingleSystem.cs
  Content.Server/_Goobstation/Bingle/BinglePitSystem.cs
  Content.Server/_Goobstation/Bingle/BingleSystem.cs
  Content.Shared/_Goobstation/Bingle/BingleComponent.cs
  Content.Shared/_Goobstation/Bingle/BinglePitComponent.cs
  Content.Shared/_Goobstation/Bingle/BinglePitFallingComponent.cs
  Resources/Locale/en-US/_Goobstation/bingle/bingle.ftl
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_Goobstation/Accents/full_replacements.yml
  Resources/Prototypes/_Goobstation/Damage/modifier_sets.yml
  Resources/Prototypes/_Goobstation/Entities/Markers/Spawners/bingle.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/bingle.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Specific/Binglepit.yml
  Resources/Prototypes/_Goobstation/GameRules/bingleEvent.yml
  Resources/Prototypes/_Goobstation/Voice/speech_verbs.yml
  Resources/Textures/_Goobstation/Mobs/Bingle/bingle.rsi/Upgraded.png
  Resources/Textures/_Goobstation/Mobs/Bingle/bingle.rsi/alive.png
  Resources/Textures/_Goobstation/Mobs/Bingle/bingle.rsi/combat.png
  Resources/Textures/_Goobstation/Mobs/Bingle/bingle.rsi/dead.png
  Resources/Textures/_Goobstation/Mobs/Bingle/bingle.rsi/icon.png
  Resources/Textures/_Goobstation/Mobs/Bingle/bingle.rsi/meta.json
  Resources/Textures/_Goobstation/Mobs/Bingle/bingle.rsi/pit.png
Labels: Changes: Sprites, size/M, S: Needs Review

#1701 My Response To The Drama
  Resources/Locale/en-US/_Goobstation/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/fun.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/physical-desc.ftl
  Resources/Prototypes/_Goobstation/Datasets/copium.yml
  Resources/Prototypes/_Goobstation/Flavors/flavors.yml
  Resources/Prototypes/_Goobstation/Reagents/fun.yml
  Resources/Prototypes/_Goobstation/Recipes/Reactions/fun.yml
Labels: S: Merge Conflict, Changes: No C#, size/S, S: Untriaged

#1699 Smartgun
  Content.Client/Weapons/Ranged/Components/MagazineVisualsComponent.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.MagazineVisuals.cs
  Content.Client/_Goobstation/Weapons/LaserPointer/LaserPointerOverlay.cs
  Content.Client/_Goobstation/Weapons/LaserPointer/LaserPointerSystem.cs
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Server/_Goobstation/Weapons/Ranged/LaserPointerSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/Wieldable/ItemWieldedEvent.cs
  Content.Shared/Wieldable/WieldableSystem.cs
  Content.Shared/_Goobstation/Weapons/SmartGun/LaserPointerComponent.cs
  Content.Shared/_Goobstation/Weapons/SmartGun/LaserPointerManagerComponent.cs
  Content.Shared/_Goobstation/Weapons/SmartGun/SharedLaserPointerSystem.cs
  Content.Shared/_Goobstation/Weapons/SmartGun/SmartGunComponent.cs
  Content.Shared/_Goobstation/Weapons/SmartGun/SmartGunSystem.cs
  Resources/Audio/_Goobstation/Weapons/Effects/attributions.yml
  Resources/Audio/_Goobstation/Weapons/Effects/laserpointer.ogg
  Resources/Audio/_Goobstation/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_Goobstation/Weapons/Guns/Gunshots/smartgun_shoot.ogg
  Resources/Locale/en-US/_Goobstation/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/smartgun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/smartgun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/smartgun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/SMGs/smartgun.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/security.yml
  Resources/Prototypes/_Goobstation/Research/arsenal.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Casings/smartgun.rsi/base-spent.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Casings/smartgun.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Casings/smartgun.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/smartgun.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/smartgun.rsi/mag-1.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/smartgun.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Projectiles/smartgun.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Projectiles/smartgun.rsi/smartgun.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/base-unshaded.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/bolt-open.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/mag-0.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/mag-1.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/mag-unshaded-0.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/mag-unshaded-1.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/wielded-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, size/M, Changes: Audio

#1681 Lollypops!
  Resources/Locale/en-US/_Goobstation/reagents/meta/fun.ftl
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/thief/backpack.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/snack.yml
  Resources/Prototypes/Catalog/thief_toolbox_sets.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_snacks.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/trash.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Boxes/pistol.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Consumable/Food/lollypops.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/_Goobstation/Entities/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/_Goobstation/Reagents/fun.yml
  Resources/Prototypes/_Goobstation/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Objects/Storage/boxes.rsi/candy.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Consumable/Food/bay_food_bugmeat.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Consumable/Food/lollypop.rsi/carp.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/lollypop.rsi/color.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/lollypop.rsi/equipped-MASK.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/lollypop.rsi/lollypop-dispenser.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/lollypop.rsi/lollypop-trash.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/lollypop.rsi/lollypop-wrapped-syndicate.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/lollypop.rsi/lollypop-wrapped.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/lollypop.rsi/lollypop-wrapper-syndicate.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/lollypop.rsi/lollypop-wrapper.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/lollypop.rsi/lollypop.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/lollypop.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Consumable/Food/lollypop.rsi/rainbow.png
Labels: Changes: Sprites, Changes: No C#, S: Untriaged, size/L, S: Needs Review

#1687 ipc radiation take 2
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/_EinsteinEngines/Damage/modifier_sets.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/_Goobstation/Damage/containers.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1696 better abductors
  Resources/Locale/en-US/_Shitmed/abductor/abductor-ui.ftl
  Resources/Maps/_Shitmed/Shuttles/ShuttleEvent/abductor_shuttle.yml
  Resources/Maps/_Shitmed/Shuttles/ShuttleEvent/duo_abductor_shuttle.yml
  Resources/Prototypes/_Shitmed/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Shitmed/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_Shitmed/Datasets/Names/abductor.yml
  Resources/Prototypes/_Shitmed/Entities/Clothing/Back/backpack.yml
  Resources/Prototypes/_Shitmed/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/_Shitmed/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Shitmed/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Shitmed/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Shitmed/Entities/Mobs/Player/abductor.yml
  Resources/Prototypes/_Shitmed/Entities/Mobs/Species/abductor.yml
  Resources/Prototypes/_Shitmed/Entities/Objects/Weapons/Guns/Battery/Projectiles/projectiles.yml
  Resources/Prototypes/_Shitmed/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Shitmed/GameRules/events.yml
  Resources/Textures/_Shitmed/Clothing/Back/Backpacks/abductor.rsi/equipped-BACKPACK.png
  Resources/Textures/_Shitmed/Clothing/Back/Backpacks/abductor.rsi/icon.png
  Resources/Textures/_Shitmed/Clothing/Back/Backpacks/abductor.rsi/inhand-left.png
  Resources/Textures/_Shitmed/Clothing/Back/Backpacks/abductor.rsi/inhand-right.png
  Resources/Textures/_Shitmed/Clothing/Back/Backpacks/abductor.rsi/meta.json
  Resources/Textures/_Shitmed/Clothing/OuterClothing/Armor/abductor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Shitmed/Clothing/OuterClothing/Armor/abductor.rsi/meta.json
  Resources/Textures/_Shitmed/Clothing/OuterClothing/Coats/abductor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Shitmed/Clothing/OuterClothing/Coats/abductor.rsi/icon.png
  Resources/Textures/_Shitmed/Clothing/OuterClothing/Coats/abductor.rsi/meta.json
  Resources/Textures/_Shitmed/Objects/Weapons/Guns/Battery/decloner.rsi/base.png
  Resources/Textures/_Shitmed/Objects/Weapons/Guns/Battery/decloner.rsi/equipped-BACKPACK.png
  Resources/Textures/_Shitmed/Objects/Weapons/Guns/Battery/decloner.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Shitmed/Objects/Weapons/Guns/Battery/decloner.rsi/icon.png
  Resources/Textures/_Shitmed/Objects/Weapons/Guns/Battery/decloner.rsi/inhand-left.png
  Resources/Textures/_Shitmed/Objects/Weapons/Guns/Battery/decloner.rsi/inhand-right.png
  Resources/Textures/_Shitmed/Objects/Weapons/Guns/Battery/decloner.rsi/mag-unshaded-1.png
  Resources/Textures/_Shitmed/Objects/Weapons/Guns/Battery/decloner.rsi/mag-unshaded-2.png
  Resources/Textures/_Shitmed/Objects/Weapons/Guns/Battery/decloner.rsi/mag-unshaded-3.png
  Resources/Textures/_Shitmed/Objects/Weapons/Guns/Battery/decloner.rsi/mag-unshaded-4.png
  Resources/Textures/_Shitmed/Objects/Weapons/Guns/Battery/decloner.rsi/meta.json
  Resources/Textures/_Shitmed/Objects/Weapons/Guns/Battery/decloner.rsi/wielded-inhand-left.png
  Resources/Textures/_Shitmed/Objects/Weapons/Guns/Battery/decloner.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: Map, size/M, Changes: No C#

#1480 body part refactor
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/_Shitmed/Body/Systems/BodySystem.VitalOrgans.cs
  Content.Server/_Shitmed/DelayedDeath/DelayedDeathSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Organs.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/_Shitmed/Body/Part/BodyPartAppearanceComponent.cs
  Resources/Locale/en-US/_Shitmed/medical/components/defibrillator.ftl
  Resources/Prototypes/Body/Parts/animal.yml
  Resources/Prototypes/Body/Parts/arachnid.yml
  Resources/Prototypes/Body/Parts/base.yml
  Resources/Prototypes/Body/Parts/diona.yml
  Resources/Prototypes/Body/Parts/gingerbread.yml
  Resources/Prototypes/Body/Parts/human.yml
  Resources/Prototypes/Body/Parts/moth.yml
  Resources/Prototypes/Body/Parts/rat.yml
  Resources/Prototypes/Body/Parts/reptilian.yml
  Resources/Prototypes/Body/Parts/silicon.yml
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/Body/Parts/slime.yml
  Resources/Prototypes/Body/Parts/vox.yml
  Resources/Prototypes/_DV/Body/Parts/harpy.yml
  Resources/Prototypes/_DV/Body/Parts/rodentia.yml
  Resources/Prototypes/_DV/Body/Parts/vulpkanin.yml
  Resources/Prototypes/_EinsteinEngines/Body/Parts/ipc.yml
  Resources/Prototypes/_Shitmed/Body/Parts/Animal/carp.yml
  Resources/Prototypes/_Shitmed/Body/Parts/Animal/kobold.yml
  Resources/Prototypes/_Shitmed/Body/Parts/Animal/monkey.yml
  Resources/Prototypes/_Shitmed/Body/Parts/abductor.yml
  Resources/Prototypes/_Shitmed/Body/Parts/animal.yml
  Resources/Prototypes/_Shitmed/Body/Parts/base.yml
  Resources/Prototypes/_Shitmed/Body/Parts/cybernetic.yml
  Resources/Prototypes/_Shitmed/Species/cyborg.yml
Labels: S: Untriaged, size/L

#1651 Teleport into Microwave with QSI
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Shared/Teleportation/Systems/SwapTeleporterSystem.cs
  Resources/Locale/en-US/portal/swap-teleporter.ftl
Labels: size/S, S: Untriaged

#1650 BOUNTY: ghost roles need some playtime
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
  Resources/Prototypes/_Goobstation/Blob/misc_blob.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
  Resources/Prototypes/_Shitmed/Entities/Mobs/Player/abductor.yml
Labels: Changes: No C#, size/S, S: Needs Review

#1174 Increases Goob's Standard of Roleplay to HRP∞
  Content.IntegrationTests/Tests/GameRules/TraitorRuleTest.cs
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
Labels: No C#, Changes: No C#, size/XS

#1645 funny shakesperean talk
  Content.Server/_Goobstation/Speech/Components/MedievalAccentComponent.cs
  Content.Server/_Goobstation/Speech/EntitySystems/MedievalAccentSystem.cs
  Resources/Locale/en-US/_Goobstation/accent/medieval.ftl
  Resources/Locale/en-US/_Goobstation/traits/traits.ftl
  Resources/Prototypes/_Goobstation/Accents/word_replacements.yml
  Resources/Prototypes/_Goobstation/Traits/speech.yml
Labels: S: Untriaged, size/L

#1718 [HOTFIX] depool lambda
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, Changes: No C#, size/XS, S: Untriaged

#1695 downprice some guns/atmos cans/materials
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Catalog/Cargo/cargo_atmospherics.yml
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/Catalog/Fills/Crates/materials.yml
  Resources/Prototypes/Reagents/Materials/metals.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1719 Abductor (and others) fix 2 because im a fucking idiot
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/_Goobstation/Blob/blob_mobs.yml
  Resources/Prototypes/_Goobstation/Blob/blob_tiles.yml
  Resources/Prototypes/_Shitmed/Entities/Mobs/Player/abductor.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1708 Bagel upstream update
  Resources/Maps/_Goobstation/bagel.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/XL

#1550 Great Heretic Grandmaster Update
  Content.Client/_Goobstation/Heretic/HereticCombatMarkSystem.cs
  Content.Client/_Goobstation/Heretic/VoidCurseSystem.cs
  Content.Server/_Goobstation/GameTicking/Rules/HereticRuleSystem.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Ash.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Void.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticFlames.cs
  Content.Server/_Goobstation/Heretic/Components/PathSpecific/AristocratComponent.cs
  Content.Server/_Goobstation/Heretic/Effects/VoidCurse.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/EldritchInfluenceSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticCombatMarkSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/PathSpecific/AristocratSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/PathSpecific/VoidCurseSystem.cs
  Content.Server/_Goobstation/Heretic/Ritual/CustomBehavior.Sacrifice.cs
  Content.Server/_Goobstation/Magic/ImmovableVoidRodSystem.cs
  Content.Shared/_Goobstation/Heretic/Components/VoidCurseComponent.cs
  Content.Shared/_Goobstation/Heretic/Heretic.Abilites.cs
  Content.Shared/_Goobstation/Heretic/Systems/SharedVoidCurseSystem.cs
  Resources/Audio/_Goobstation/Heretic/Ambience/Antag/Heretic/VoidsEmbrace.ogg
  Resources/Audio/_Goobstation/Heretic/Ambience/Antag/Heretic/attributions.yml
  Resources/Locale/en-US/_Goobstation/Heretic/store/heretic/heretic-catalog-ash.ftl
  Resources/Locale/en-US/_Goobstation/Heretic/store/heretic/heretic-catalog-void.ftl
  Resources/Prototypes/_Goobstation/Heretic/Actions/Heretic/path_ash.yml
  Resources/Prototypes/_Goobstation/Heretic/Catalog/Heretic/path_ash.yml
  Resources/Prototypes/_Goobstation/Heretic/Catalog/Heretic/path_blade.yml
  Resources/Prototypes/_Goobstation/Heretic/Catalog/Heretic/path_flesh.yml
  Resources/Prototypes/_Goobstation/Heretic/Catalog/Heretic/path_side.yml
  Resources/Prototypes/_Goobstation/Heretic/Catalog/Heretic/path_void.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Structures/Specific/Heretic/tiles.yml
  Resources/Prototypes/_Goobstation/Heretic/Heretic/heretic_rituals.yml
  Resources/Prototypes/_Goobstation/Heretic/Polymorphs/polymorphs.yml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Heretics.xml
  Resources/Textures/_Goobstation/Heretic/void_overlay.rsi/meta.json
  Resources/Textures/_Goobstation/Heretic/void_overlay.rsi/void_chill_oh_fuck.png
  Resources/Textures/_Goobstation/Heretic/void_overlay.rsi/void_chill_partial.png
  Resources/Textures/_Goobstation/Heretic/void_overlay.rsi/void_conduit.png
  Resources/Textures/_Goobstation/Heretic/void_overlay.rsi/voidtile.png
Labels: Changes: Sprites, size/M, S: Untriaged, S: Needs Review, Changes: Audio

#1706 Present anomalies are rarer
  Resources/Prototypes/Entities/Markers/Spawners/Random/anomaly.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1720 CMO Glasses
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1033 [port] ventcawling from starligth
  Content.Client/SubFloor/SubFloorHideSystem.cs
  Content.Client/_Starlight/VentCrawling/VentCrawlingVisionSystem.cs
  Content.Server/_Starlight/VentCrawling/BeingVentCrawlingSystem.cs
  Content.Server/_Starlight/VentCrawling/VentCrawableSystem.cs
  Content.Server/_Starlight/VentCrawling/VentCrawlerTubeSystem.cs
  Content.Shared/_Starlight/VentCrawling/Components/BeingVentCrawlerComponent.cs
  Content.Shared/_Starlight/VentCrawling/Components/VentCrawTransitComponent.cs
  Content.Shared/_Starlight/VentCrawling/Components/VentCrawTubeComponent.cs
  Content.Shared/_Starlight/VentCrawling/Components/VentCrawlerBendComponent.cs
  Content.Shared/_Starlight/VentCrawling/Components/VentCrawlerEntryComponent.cs
  Content.Shared/_Starlight/VentCrawling/Components/VentCrawlerHolderComponent.cs
  Content.Shared/_Starlight/VentCrawling/Components/VentCrawlerJunctionComponent.cs
  Content.Shared/_Starlight/VentCrawling/SharedVentCrawableSystem.cs
  Content.Shared/_Starlight/VentCrawling/SharedVentTubeSystem.cs
  Content.Shared/_Starlight/VentCrawling/VentCrawlerComponent.cs
  Resources/Audio/_Starlight/VentCrawling/crawling1.ogg
  Resources/Audio/_Starlight/VentCrawling/crawling10.ogg
  Resources/Audio/_Starlight/VentCrawling/crawling11.ogg
  Resources/Audio/_Starlight/VentCrawling/crawling12.ogg
  Resources/Audio/_Starlight/VentCrawling/crawling13.ogg
  Resources/Audio/_Starlight/VentCrawling/crawling15.ogg
  Resources/Audio/_Starlight/VentCrawling/crawling16.ogg
  Resources/Audio/_Starlight/VentCrawling/crawling17.ogg
  Resources/Audio/_Starlight/VentCrawling/crawling18.ogg
  Resources/Audio/_Starlight/VentCrawling/crawling19.ogg
  Resources/Audio/_Starlight/VentCrawling/crawling2.ogg
  Resources/Audio/_Starlight/VentCrawling/crawling20.ogg
  Resources/Audio/_Starlight/VentCrawling/crawling21.ogg
  Resources/Audio/_Starlight/VentCrawling/crawling22.ogg
  Resources/Audio/_Starlight/VentCrawling/crawling23.ogg
  Resources/Audio/_Starlight/VentCrawling/crawling24.ogg
  Resources/Audio/_Starlight/VentCrawling/crawling4.ogg
  Resources/Audio/_Starlight/VentCrawling/crawling5.ogg
  Resources/Audio/_Starlight/VentCrawling/crawling6.ogg
  Resources/Audio/_Starlight/VentCrawling/crawling7.ogg
  Resources/Audio/_Starlight/VentCrawling/crawling8.ogg
  Resources/Audio/_Starlight/VentCrawling/crawling9.ogg
  Resources/Locale/en-US/_Goobstation/ventcrawling/ventcrawling.ftl
  Resources/Locale/en-US/_Starlight/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Mobs/headcrab.yml
  Resources/Prototypes/_Shitmed/Body/Organs/dubious.yml
  Resources/Prototypes/_Shitmed/Entities/Markers/Spawners/Random/dubious.yml
  Resources/Prototypes/_StarLight/Catalog/uplink_catalog.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_StarLight/SoundCollections/vent_crawling.yml
Labels: size/M, S: Needs Review, S: Needs Changes, Changes: Audio

#1725 Revert mothmaggots
  Resources/Locale/en-US/_Goobstation/ghost/ghost-role-component.ftl
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
  Resources/Textures/Mobs/Animals/mothroach/mothroach.rsi/0-equipped-HELMET.png
  Resources/Textures/Mobs/Animals/mothroach/mothroach.rsi/icon.png
  Resources/Textures/Mobs/Animals/mothroach/mothroach.rsi/inhand-left.png
  Resources/Textures/Mobs/Animals/mothroach/mothroach.rsi/inhand-right.png
  Resources/Textures/Mobs/Animals/mothroach/mothroach.rsi/meta.json
  Resources/Textures/Mobs/Animals/mothroach/mothroach.rsi/mothroach-moving.png
  Resources/Textures/Mobs/Animals/mothroach/mothroach.rsi/mothroach.png
  Resources/Textures/Mobs/Animals/mothroach/mothroach.rsi/mothroach_dead.png
  Resources/Textures/Mobs/Animals/mothroach/mothroach.rsi/mothroach_lazy.png
  Resources/Textures/Mobs/Animals/mothroach/mothroach.rsi/mothroach_sleep.png
Labels: Changes: Sprites, Changes: No C#, size/S, S: Untriaged

#1735 fix ipc nukies not getting comms
  Content.Server/Administration/Commands/SetOutfitCommand.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Server/_EinsteinEngines/Silicon/IPC/InternalEncryptionKeySpawner.cs
  Content.Shared/Station/SharedStationSpawningSystem.cs
  Content.Shared/_EinsteinEngines/Silicon/IPC/InternalEncryptionKeySpawner.cs
Labels: size/S, S: Untriaged

#1732 fix: goliath hardsuit goobstation stuff
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: No C#, S: Untriaged

#1726 Medieval accent: day 1 patch
  Resources/Locale/en-US/_Goobstation/accent/medieval.ftl
Labels: Changes: No C#, size/S, S: Untriaged

#1740 Questionable Balance Decision
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1728 fix alt verbs for device linking
  Content.Server/DeviceNetwork/Systems/NetworkConfiguratorSystem.cs
Labels: size/S, S: Untriaged

#1737 Fix hristov
  Content.Client/Movement/Systems/ContentEyeSystem.cs
  Content.Client/Movement/Systems/EyeCursorOffsetSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
Labels: size/S, S: Untriaged

#1738 fix contortionist's jumpsuit
  Resources/Prototypes/_StarLight/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1736 Robust baseball bat
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
Labels: Changes: No C#, size/XS

#1742 energy shotgun wields when used instead of opening ammo menu
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1771 JaniQOL
  Resources/Prototypes/_Goobstation/Entities/Objects/Consumable/Food/lollypops.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1770 hud removable from glasses so you can upgrade easiser
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Recipes/Construction/Graphs/clothing/glasses_sechud.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/clothing/glasses_medhud.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/clothing/glasses_medsechud.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1769 costumes
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/costumes.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: Changes: No C#, size/S

#1767 SS14: The mouse update
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Goobstation/Actions/mouse.yml
Labels: Changes: No C#, S: Untriaged

#1766 Increase nukie explosive resist so people stop cheesing them
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1765 Medical cyborgs do surgery faster and can do surgery through clothing
  Resources/Prototypes/borg_types.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1764 Bso SOP tweaks
  Resources/ServerInfo/_Goobstation/Guidebook/SoP/Jobs/Command/BlueshieldOfficerSOP.xml
Labels: Changes: No C#, size/S, S: Untriaged

#1763 Robust npcs
  Content.Server/NPC/Components/NPCMeleeCombatComponent.cs
Labels: size/XS, S: Untriaged

#1762 Stun baton no longer wideswings
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: Changes: No C#, S: Untriaged

#1761 Small smartgun fix
  Content.Client/_Goobstation/Weapons/LaserPointer/LaserPointerSystem.cs
  Content.Server/_Goobstation/Weapons/Ranged/LaserPointerSystem.cs
  Content.Shared/_Goobstation/Weapons/SmartGun/LaserPointerComponent.cs
  Content.Shared/_Goobstation/Weapons/SmartGun/SharedLaserPointerSystem.cs
  Content.Shared/_Goobstation/Weapons/SmartGun/SmartGunSystem.cs
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/SMGs/smartgun.yml
Labels: size/S, S: Untriaged

#1759 added vent crawl to more animals
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/animals.yml
Labels: Changes: No C#, S: Untriaged

#1757 Chem tweaks
  Resources/Prototypes/_Goobstation/Reagents/medicine.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1752 BSO/NTR holopads, SM pipe sensors
  Resources/Locale/en-US/_Goobstation/atmos/gas-pipe-sensor.ftl
  Resources/Locale/en-US/_Goobstation/holopad/holopad.ftl
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/holopad.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Piping/Piping/Atmospherics/gas_pipe_sensor.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1751 dwarves feel ore
  Content.Shared/Mining/MiningScannerSystem.cs
  Content.Shared/_NF/Mining/Components/InnateMiningScannerViewerComponent.cs
  Content.Shared/_NF/Mining/MiningScannerSystem.Innate.cs
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/ServerInfo/Guidebook/Mobs/Dwarf.xml
Labels: size/S, S: Untriaged

#1750 Derelict Syndicate Assault Borg now starts with AMAG too (like it's regular counterpart)
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1749 slightly raise bingle weight
  Resources/Prototypes/_Goobstation/GameRules/bingleEvent.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1748 downprice dimension pot
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
Labels: Changes: No C#, size/XS

#1747 Hotfix - moths no longer eat before equipping items in hand
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
Labels: size/XS, S: Untriaged

#1729 Ports Antag Token Purchasing from Gabystation
  Content.Client/Lobby/UI/LobbyCharacterPreviewPanel.xaml
  Content.Client/_Goobstation/ServerCurrency/UI/CurrencyWindow.xaml
  Content.Client/_Goobstation/ServerCurrency/UI/CurrencyWindow.xaml.cs
  Content.Client/_Goobstation/ServerCurrency/UI/CurrencyWindowEui.cs
  Content.Server/Objectives/ObjectivesSystem.cs
  Content.Server/_Goobstation/ServerCurrency/Commands/CurrencyUiCommand.cs
  Content.Server/_Goobstation/ServerCurrency/ServerCurrencySystem.cs
  Content.Server/_Goobstation/ServerCurrency/UI/CurrencyEui.cs
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/Roles/Jobs/SharedJobSystem.cs
  Content.Shared/_Goobstation/CCVars/CCVars.Goob.cs
  Content.Shared/_Goobstation/ServerCurrency/TokenListingPrototype.cs
  Content.Shared/_Goobstation/ServerCurrency/UI/CurrencyEuiState.cs
  Resources/Locale/en-US/_Goobstation/servercurrency/server_currency.ftl
  Resources/Prototypes/_Goobstation/ServerCurrency/token_listings.yml
Labels: Changes: UI, size/M, S: Untriaged

#1583 does the EE handling of kenomimis to humans
  Resources/Locale/en-US/_DV/markings/rodentia.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/rodentia.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/vulpkanin.yml
Labels: Changes: No C#, size/S, S: Untriaged, S: Needs Review

#1778 Destroy all Egirls
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1787 fix IPCs not taking radiation
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1782 insulate bingle
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/bingle.yml
Labels: Changes: No C#, size/XS

#1794 Hotfix Lavaland Mining shuttle
  Content.Server/_Lavaland/Shuttles/Systems/DockingConsoleSystem.cs
Labels: size/XS, S: Untriaged

#1793 increase ripley punch damage
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
Labels: Changes: No C#, size/XS

#1791 Lavaland Optimization
  Content.IntegrationTests/Tests/_Lavaland/LavalandGenerationTest.cs
  Content.Server/Parallax/BiomeSystem.cs
  Content.Server/_Lavaland/Commands/LavalandListingCommand.cs
  Content.Server/_Lavaland/Commands/LavalandMappingCommand.cs
  Content.Server/_Lavaland/Procedural/Components/LavalandMapComponent.cs
  Content.Server/_Lavaland/Procedural/Components/LavalandMemberComponent.cs
  Content.Server/_Lavaland/Procedural/Systems/LavalandMapOptimizationSystem.cs
  Content.Server/_Lavaland/Procedural/Systems/LavalandPlanetSystem.cs
  Content.Server/_Lavaland/Procedural/UnLoadChunkEvent.cs
  Content.Server/_Lavaland/Weather/LavalandWeatherSystem.cs
  Content.Shared/Parallax/Biomes/SharedBiomeSystem.cs
  Content.Shared/_Lavaland/Procedural/Prototypes/LavalandMapPrototype.cs
  Content.Shared/_Lavaland/Procedural/Prototypes/LavalandRuinPrototype.cs
  Resources/Locale/en-US/_Lavaland/salvage/lavaland_names.ftl
  Resources/Prototypes/_Lavaland/Procedural/lavaland_planets.yml
  Resources/Prototypes/_Lavaland/Procedural/lavaland_ruins.yml
Labels: size/M, S: Untriaged

#1784 ventcrawling bugfix
  Content.Server/_Starlight/VentCrawling/BeingVentCrawlingSystem.cs
  Content.Server/_Starlight/VentCrawling/VentCrawlerTubeSystem.cs
Labels: size/S, S: Untriaged

#1785 remove bingle announcement
  Resources/Prototypes/_Goobstation/GameRules/bingleEvent.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1783 Ininite mouse/lag exploit patch
  Content.Server/Animals/Systems/EggLayerSystem.cs
  Content.Shared/Nutrition/Components/HungerComponent.cs
  Content.Shared/Nutrition/EntitySystems/HungerSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: size/S, S: Untriaged, S: Needs Review

#1780 monkey emote noises V1
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: Changes: No C#, size/S

#1801 Decrease Goob's Standard of Roleplay to LRP-∞ (Revert #1174)
  Content.IntegrationTests/Tests/GameRules/TraitorRuleTest.cs
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
Labels: size/S, S: Untriaged

#1797 Bent radiators for the RPD
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/RPD/rpd.yml
  Resources/Textures/Interface/Radial/RPD/radiator_bend.png
Labels: Changes: No C#, S: Untriaged

#1798 Autoinjector Changes
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/security.yml
Labels: size/M, Changes: No C#, S: Untriaged

#1799 Combat hardsuits
  Resources/Prototypes/_EinsteinEngines/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Crates/armory.yml
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/medical.rsi/icon-flash.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/medical.rsi/icon.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/medical.rsi/meta.json
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/medical.rsi/off-equipped-HELMET.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/medical.rsi/on-equipped-HELMET.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/officer.rsi/icon-flash.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/officer.rsi/icon.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/officer.rsi/meta.json
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/officer.rsi/off-equipped-HELMET.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/officer.rsi/on-equipped-HELMET.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/riot.rsi/icon-flash.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/riot.rsi/icon.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/riot.rsi/meta.json
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/riot.rsi/off-equipped-HELMET.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/riot.rsi/on-equipped-HELMET.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/standard.rsi/icon-flash.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/standard.rsi/icon.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/standard.rsi/meta.json
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/standard.rsi/off-equipped-HELMET.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/standard.rsi/on-equipped-HELMET.png
  Resources/Textures/_DV/Clothing/OuterClothing/Hardsuits/Combat/medical.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DV/Clothing/OuterClothing/Hardsuits/Combat/medical.rsi/icon.png
  Resources/Textures/_DV/Clothing/OuterClothing/Hardsuits/Combat/medical.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/OuterClothing/Hardsuits/Combat/medical.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/OuterClothing/Hardsuits/Combat/medical.rsi/meta.json
  Resources/Textures/_DV/Clothing/OuterClothing/Hardsuits/Combat/officer.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DV/Clothing/OuterClothing/Hardsuits/Combat/officer.rsi/icon.png
  Resources/Textures/_DV/Clothing/OuterClothing/Hardsuits/Combat/officer.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/OuterClothing/Hardsuits/Combat/officer.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/OuterClothing/Hardsuits/Combat/officer.rsi/meta.json
  Resources/Textures/_DV/Clothing/OuterClothing/Hardsuits/Combat/riot.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DV/Clothing/OuterClothing/Hardsuits/Combat/riot.rsi/icon.png
  Resources/Textures/_DV/Clothing/OuterClothing/Hardsuits/Combat/riot.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/OuterClothing/Hardsuits/Combat/riot.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/OuterClothing/Hardsuits/Combat/riot.rsi/meta.json
  Resources/Textures/_DV/Clothing/OuterClothing/Hardsuits/Combat/standard.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DV/Clothing/OuterClothing/Hardsuits/Combat/standard.rsi/icon.png
  Resources/Textures/_DV/Clothing/OuterClothing/Hardsuits/Combat/standard.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/OuterClothing/Hardsuits/Combat/standard.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/OuterClothing/Hardsuits/Combat/standard.rsi/meta.json
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged

#1802 Update grass sprites V2
  Resources/Textures/Tiles/Planet/Grass/double_edge.png
  Resources/Textures/Tiles/Planet/Grass/grass.png
  Resources/Textures/Tiles/Planet/Grass/single_edge.png
  Resources/Textures/Tiles/Planet/Grass/triple_edge.png
  Resources/Textures/Tiles/grass.png
  Resources/Textures/Tiles/grassjungle.png
Labels: Changes: No C#, size/XS, S: Untriaged

#1776 Admin abuse tokens
  Resources/Locale/en-US/_Goobstation/servercurrency/server_currency.ftl
  Resources/Prototypes/_Goobstation/ServerCurrency/token_listings.yml
Labels: Changes: No C#, size/S, S: Untriaged, S: Needs Review

#1811 Update ore.yml
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
Labels: Changes: No C#, size/XS

#1823 Udder crash fix
  Content.Shared/Chemistry/EntitySystems/SharedSolutionContainerSystem.cs
Labels: size/XS, S: Untriaged

#1821 [Hotfix] Fix infinite mice electric bogaloo
  Content.Server/Zombies/ZombieSystem.Transform.cs
Labels: size/XS, S: Untriaged

#1819 nice one solstice
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1818 buff dragon rift
  Content.Server/Dragon/Components/DragonRiftComponent.cs
  Content.Server/Dragon/DragonRiftSystem.cs
  Resources/Locale/en-US/_Goobstation/ghost/ghost-role-component.ftl
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/carp.yml
Labels: size/S, S: Untriaged

#1817 add blob starting money
  Content.Server/_Goobstation/Blob/BlobCoreSystem.cs
  Content.Shared/_Goobstation/Blob/Components/BlobCoreComponent.cs
Labels: size/XS, S: Untriaged

#1816 some fixes
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Goobstation/Entities/Markers/Spawners/bingle.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/bingle.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Shitmed/GameRules/events.yml
  Resources/Prototypes/_Shitmed/Roles/Antags/MindRoles/mind_roles.yml
  Resources/Prototypes/_Shitmed/Roles/Antags/abductor.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1807 Fix Lavaland tests
  Content.IntegrationTests/Tests/_Lavaland/LavalandGenerationTest.cs
  Content.Server/_Lavaland/Commands/LavalandMappingCommand.cs
  Content.Server/_Lavaland/Procedural/Components/LavalandPreloaderComponent.cs
  Content.Server/_Lavaland/Procedural/Systems/LavalandPlanetSystem.cs
Labels: size/M, S: Untriaged

#1808 Infinite Salvage
  Resources/Prototypes/_Goobstation/Maps/atlas.yml
  Resources/Prototypes/_Goobstation/Maps/barratry.yml
  Resources/Prototypes/_Goobstation/Maps/cluster.yml
  Resources/Prototypes/_Goobstation/Maps/europa.yml
  Resources/Prototypes/_Goobstation/Maps/flandhighpop.yml
  Resources/Prototypes/_Goobstation/Maps/kettle.yml
  Resources/Prototypes/_Goobstation/Maps/lambda.yml
  Resources/Prototypes/_Goobstation/Maps/leonid.yml
  Resources/Prototypes/_Goobstation/Maps/oasishighpop.yml
  Resources/Prototypes/_Goobstation/Maps/origin.yml
  Resources/Prototypes/_Goobstation/Maps/originhighpop.yml
  Resources/Prototypes/_Goobstation/Maps/submarine.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1804 Revert this fucking shit "insulate bingle (#1782)"
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/bingle.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1790 Chester revamp
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Storage/bso_box.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magnum.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/shotgun_lever_magazine.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Lever/lever.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/security.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Cartridges/highcaliber-shell.rsi/base-spent.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Cartridges/highcaliber-shell.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Cartridges/highcaliber-shell.rsi/beanbag-spent.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Cartridges/highcaliber-shell.rsi/beanbag.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Cartridges/highcaliber-shell.rsi/depleted-uranium-spent.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Cartridges/highcaliber-shell.rsi/depleted-uranium.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Cartridges/highcaliber-shell.rsi/emp-spent.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Cartridges/highcaliber-shell.rsi/emp.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Cartridges/highcaliber-shell.rsi/flash-spent.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Cartridges/highcaliber-shell.rsi/flash.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Cartridges/highcaliber-shell.rsi/incendiary-spent.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Cartridges/highcaliber-shell.rsi/incendiary.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Cartridges/highcaliber-shell.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Cartridges/highcaliber-shell.rsi/practice-spent.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Cartridges/highcaliber-shell.rsi/practice.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Cartridges/highcaliber-shell.rsi/slug-spent.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Cartridges/highcaliber-shell.rsi/slug.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Cartridges/highcaliber-shell.rsi/snare-spent.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Cartridges/highcaliber-shell.rsi/snare.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Lever/chester.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Lever/chester.rsi/bolt-open.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Lever/chester.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Lever/chester.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Lever/chester.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Lever/chester.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Lever/chester.rsi/wielded-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Lever/chester.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: No C#, S: Untriaged, size/L

#1779 Lollypop update, the second!
  Content.Server/_Goobstation/Speech/EntitySystems/GlorpAccentSystem.cs
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Maps/_Shitmed/Shuttles/ShuttleEvent/abductor_shuttle.yml
  Resources/Maps/_Shitmed/Shuttles/ShuttleEvent/duo_abductor_shuttle.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Items/misc.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Consumable/Food/lollypops.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/lollychop.yml
  Resources/Prototypes/_Goobstation/Entities/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/robotics.yml
  Resources/Prototypes/borg_types.yml
  Resources/Textures/_Goobstation/Actions/actions_borg.rsi/lollypop-module.png
  Resources/Textures/_Goobstation/Actions/actions_borg.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Head/Hats/propeller.rsi/equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/propeller.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/propeller.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Consumable/Food/lollypop.rsi/carp.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/lollypop.rsi/color.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/lollypop.rsi/lollypop-trash.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/lollypop.rsi/lollypop-wrapped-syndicate.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/lollypop.rsi/lollypop-wrapped.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/lollypop.rsi/lollypop-wrapper-syndicate.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/lollypop.rsi/lollypop-wrapper.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/lollypop.rsi/lollypop.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/lollypop.rsi/rainbow.png
  Resources/Textures/_Goobstation/Objects/Specific/Robotics/borgmodule.rsi/generic.png
  Resources/Textures/_Goobstation/Objects/Specific/Robotics/borgmodule.rsi/icon-lollypop.png
  Resources/Textures/_Goobstation/Objects/Specific/Robotics/borgmodule.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/lollychop.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/lollychop.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/lollychop.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/lollychop.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/lollychop.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/lollychop.rsi/wielded-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/lollychop.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: Map, size/M, S: Needs Review

#1824 Death to Gate
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, Changes: No C#, size/XS

#1788 rare staff of change bingle transformation
  Resources/Prototypes/_Goobstation/Wizard/Random/polymorph.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1777 Chaplain armor
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/armour.yml
  Resources/Textures/_Goobstation/Clothing/Armor/chaplain_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/Armor/chaplain_armor.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Armor/chaplain_armor.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Armor/chaplain_armor.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Armor/chaplain_armor.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S, S: Untriaged

#1775 Bagel updates part 2 - goobstation stuff
  Resources/Maps/_Goobstation/bagel.yml
Labels: Changes: Map, size/M, Changes: No C#, S: Untriaged
