Repository Goob-Station/Goob-Station, pull requests merged in 2025-10, with the labels that each got.

#4446 Custom admin drop pods
  Resources/Prototypes/_Goobstation/Admin_shit/droppods.yml
  Resources/Textures/_Goobstation/Objects/Specific/DropPod/item.rsi/DROPPOD.png
  Resources/Textures/_Goobstation/Objects/Specific/DropPod/item.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S, Type: Feature, S: Approved

#4469 cc glasses fix
  Resources/Prototypes/_Goobstation/Entities/Clothing/Eyes/glasses.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#4458 Headrev hours changed from 10 hours overall to 10 hours command
  Resources/Prototypes/Roles/Antags/revolutionary.yml
Labels: Changes: No C#, size/XS, S: Approved

#4473 [Tweak] Implanters de-metagaming
  Content.Shared/Implants/SharedImplanterSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_EinsteinEngines/Objects/Misc/translator_implanters.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/mindcontrol_implant.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_Goobstation/Objects/Misc/translator_implanters.yml
Labels: size/M, S: Needs Review, Note: DO NOT MERGE, Type: Balance

#4526 [FIX] another ntr point glitch
  Resources/Prototypes/_Goobstation/Devil/contract.yml
Labels: Changes: No C#, size/XS, S: Approved

#4468 [Shadowling] Larry New Balance Changes + Minor Bug
  Content.Goobstation.Server/Shadowling/Systems/Abilities/PreAscension/ShadowlingVeilSystem.cs
  Content.Goobstation.Server/Shadowling/Systems/ShadowlingThrallSystem.cs
  Content.Goobstation.Shared/Shadowling/Components/Abilities/PreAscension/ShadowlingVeilComponent.cs
  Content.Goobstation.Shared/Shadowling/Systems/Abilities/CollectiveMind/ShadowlingNoxImperiiSystem.cs
  Content.Goobstation.Shared/Shadowling/Systems/SharedShadowlingSystem.cs
  Resources/Locale/en-US/_EinsteinEngines/shadowling/other.ftl
  Resources/Prototypes/_EinsteinEngines/Shadowling/Catalog/collective_mind_unlocks.yml
  Resources/Prototypes/_EinsteinEngines/Shadowling/Entities/Specific/abilities.yml
  Resources/ServerInfo/Guidebook/Antagonist/Shadowlings.xml
  Resources/ServerInfo/_Goobstation/Guidebook/SoP/AlertLevels/RedAlertSOP.xml
  Resources/Textures/_EinsteinEngines/Shaders/enthrall_effect.swsl
Labels: Changes: Shaders, size/M, Type: Bugfix, Type: Balance

#4507 Xenospriteupdate
  Resources/Prototypes/_White/Entities/Mobs/Player/pets.yml
  Resources/Prototypes/_White/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_White/Entities/Structures/Storage/glass_box.yml
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/drone.rsi/meta.json
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/drone.rsi/xenomorph.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/drone.rsi/xenomorph_dead.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/drone.rsi/xenomorph_sleep.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/drone.rsi/xenomorph_unconscious.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/facehugger.rsi/equipped-MASK.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/facehugger.rsi/facehugger.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/facehugger.rsi/facehugger_dead.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/facehugger.rsi/meta.json
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/hunter.rsi/meta.json
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/hunter.rsi/xenomorph.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/hunter.rsi/xenomorph_dead.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/hunter.rsi/xenomorph_sleep.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/hunter.rsi/xenomorph_unconscious.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/hunter_jump.rsi/meta.json
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/hunter_jump.rsi/xenomorph_jump.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/larva.rsi/meta.json
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/larva.rsi/xenomorph-moving.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/larva.rsi/xenomorph.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/larva.rsi/xenomorph_dead.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/larva.rsi/xenomorph_sleep.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/larva.rsi/xenomorph_unconscious.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/old_facehugger.rsi/equipped-MASK.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/old_facehugger.rsi/facehugger.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/old_facehugger.rsi/facehugger_dead.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/old_facehugger.rsi/inhand-left.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/old_facehugger.rsi/inhand-right.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/old_facehugger.rsi/meta.json
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/sentinel.rsi/meta.json
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/sentinel.rsi/xenomorph.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/sentinel.rsi/xenomorph_dead.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/sentinel.rsi/xenomorph_sleep.png
  Resources/Textures/_White/Mobs/Aliens/Xenomorphs/sentinel.rsi/xenomorph_unconscious.png
  Resources/Textures/_White/Mobs/Species/Xenomorph/organs.rsi/embryon.png
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged

#4561 fix lootbug devour
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/animals.yml
Labels: Changes: No C#, size/XS, Type: Bugfix, S: Approved

#4557 Removed drones ability to flash
  Resources/Prototypes/_Imp/_Drone/Mobs_Player_silicon.yml
Labels: Changes: No C#, size/XS, S: Awaits Changes
