Repository Goob-Station/Goob-Station, pull requests merged in 2025-07, with the labels that each got.

#3336 gurt: yo
  Content.Goobstation.Server/Explosion/Components/TriggerOnSpeakComponent.cs
  Content.Goobstation.Server/Explosion/EntitySystems/TriggerSystem.Speak.cs
  Resources/Locale/en-US/_Goobstation/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/security.yml
  Resources/Prototypes/_Goobstation/Research/arsenal.yml
  Resources/Textures/_Goobstation/Clothing/Mask/securemuzzle.rsi/equipped-MASK.png
  Resources/Textures/_Goobstation/Clothing/Mask/securemuzzle.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Mask/securemuzzle.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Mask/securemuzzle.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Mask/securemuzzle.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Untriaged

#3339 #3181 fixed edition
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/MoveToOperator.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Context.cs
  Resources/Prototypes/NPCs/Combat/melee.yml
Labels: size/M, S: Untriaged

#3317 Make Vulps Not Furslop
  Content.Client/_EinsteinEngines/Forensics/ScentTrackerSystem.cs
  Content.Server/Cloning/CloningSystem.Subscriptions.cs
  Content.Server/Destructible/Thresholds/Behaviors/SpawnEntitiesBehavior.cs
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Content.Server/_EinsteinEngines/Forensics/Components/ScentComponent.cs
  Content.Server/_EinsteinEngines/Forensics/Systems/ScentTrackerSystem.cs
  Content.Shared/Forensics/Components/ForensicsComponent.cs
  Content.Shared/_EinsteinEngines/Forensics/Events.cs
  Content.Shared/_EinsteinEngines/Forensics/ScentTrackerComponent.cs
  Resources/Locale/en-US/_EinsteinEngines/forensics/scent.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_EinsteinEngines/Objects/Specific/Forensics/forensics.yml
Labels: size/M, S: Untriaged

#3274 GOIDA
  Content.Goobstation.Shared/TapeRecorder/Components/TapeRecorderComponent.cs
  Content.Server/Nyanotrasen/Abilities/Felinid/FelinidSystem.cs
  Resources/Audio/_DV/Items/TapeRecorder/attributions.yml
  Resources/Audio/_DV/Items/TapeRecorder/play.ogg
  Resources/Audio/_DV/Items/TapeRecorder/rewind.ogg
  Resources/Audio/_DV/Items/TapeRecorder/stop.ogg
  Resources/Locale/en-US/_DV/actions/crawl-under-objects.ftl
  Resources/Locale/en-US/_DV/actions/sleep.ftl
  Resources/Locale/en-US/_DV/cartridge-loader/cartridges.ftl
  Resources/Locale/en-US/_DV/chat/managers/chat_manager.ftl
  Resources/Locale/en-US/_DV/deltav/markings/rodentia.ftl
  Resources/Locale/en-US/_DV/harpy/singer_system.ftl
  Resources/Locale/en-US/_DV/lathe/ui/lathe-menu.ftl
  Resources/Locale/en-US/_DV/markings/felinid.ftl
  Resources/Locale/en-US/_DV/markings/oni.ftl
  Resources/Locale/en-US/_DV/markings/rodentia.ftl
  Resources/Locale/en-US/_DV/markings/vulpkanin.ftl
  Resources/Locale/en-US/_DV/paper/signature.ftl
  Resources/Locale/en-US/_DV/salvage/mining-voucher.ftl
  Resources/Locale/en-US/_DV/salvage/salvage-magnet.ftl
  Resources/Locale/en-US/_DV/shuttles/docking-console.ftl
  Resources/Locale/en-US/_DV/species/namepreset.ftl
  Resources/Locale/en-US/_DV/species/species.ftl
  Resources/Locale/en-US/_DV/station-events/events/vent-critters.ftl
  Resources/Locale/en-US/_DV/storage/mouth-storage-component.ftl
  Resources/Locale/en-US/_DV/store/uplink-catalog.ftl
  Resources/Locale/en-US/_DV/taperecorder/taperecorder.ftl
  Resources/Locale/en-US/_DV/traits/traits.ftl
  Resources/Locale/en-US/_DV/vending-machines/shop-vendor.ftl
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_DV/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/_DV/Catalog/Fills/Items/Backpacks/duffelbag.yml
  Resources/Prototypes/_DV/Catalog/VendingMachines/Inventories/salvage_points.yml
  Resources/Prototypes/_DV/Catalog/mining_voucher.yml
  Resources/Prototypes/_DV/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/tape_recorder.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_DV/GameRules/events.yml
  Resources/Prototypes/_DV/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/_DV/Recipes/Lathes/misc.yml
  Resources/Prototypes/_DV/Wires/layouts.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/mining_voucher.yml
  Resources/Textures/_DV/Objects/Devices/cassette_tapes.rsi/meta.json
  Resources/Textures/_DV/Objects/Devices/cassette_tapes.rsi/tape_greyscale.png
  Resources/Textures/_DV/Objects/Devices/cassette_tapes.rsi/tape_ribbonoverlay.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/empty.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/idle.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/meta.json
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/playing.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/recording.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/rewinding.png
  Resources/Textures/_DV/Objects/Specific/Salvage/voucher.rsi/icon.png
  Resources/Textures/_DV/Objects/Specific/Salvage/voucher.rsi/meta.json
  Resources/Textures/_DV/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/_DV/Objects/Storage/boxes.rsi/recorder.png
Labels: Changes: Sprites, size/M, Changes: Audio

#3147 More Signallers
  Content.Goobstation.Server/MiscSignaller/MiscSignallerComponent.cs
  Content.Goobstation.Server/MiscSignaller/MiscSignallerSystem.cs
  Resources/Locale/en-US/_Goobstation/devices/misc-signallers.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/DeviceLink/source_ports.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/Electronics/misc_signallers.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/shared.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/devices.yml
  Resources/Textures/_Goobstation/Objects/Devices/miscsignallers.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Devices/miscsignallers.rsi/proxysignaller_on.png
  Resources/Textures/_Goobstation/Objects/Devices/miscsignallers.rsi/voicesignaller.png
  Resources/Textures/_Goobstation/Objects/Devices/miscsignallers.rsi/voicesignaller_inhand_left.png
  Resources/Textures/_Goobstation/Objects/Devices/miscsignallers.rsi/voicesignaller_inhand_right.png
Labels: Changes: Sprites, size/M, S: Untriaged

#3342 Syndicate Disaster Victim Reclassification
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/Player/ShuttleRoles/settings.yml
Labels: Changes: No C#, size/S, S: Untriaged

#3331 Engineer "content"
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/modsuit.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/lathe.yml
  Resources/Textures/Objects/Weapons/Guns/Launchers/buster_rocket.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/buster_rocket.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/buster_rocket.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/buster_rocket.rsi/mag-1.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/buster_rocket.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S

#3327 Ensure the NTRep actually gets the disabler explicitly designed for t…
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3324 Station AI Camera Jumping
  Content.Goobstation.Client/Silicon/AiCameraWarping/StationAiWarpSystem.cs
  Content.Goobstation.Client/Silicon/AiCameraWarping/Ui/AiCameraWarpBoundUserInterface.cs
  Content.Goobstation.Client/Silicon/AiCameraWarping/Ui/AiCameraWarpMenu.xaml
  Content.Goobstation.Client/Silicon/AiCameraWarping/Ui/AiCameraWarpMenu.xaml.cs
  Content.Goobstation.Server/Silicon/AiCameraWarping/StationAiWarpSystem.cs
  Content.Goobstation.Shared/Silicon/AiCameraWarping/SharedStationAiWarpSystem.cs
  Resources/Locale/en-US/_Goobstation/silicons/ai-jump.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Goobstation/Actions/station_ai.yml
  Resources/Textures/Interface/Actions/actions_ai.rsi/camera_jump.png
  Resources/Textures/Interface/Actions/actions_ai.rsi/meta.json
Labels: Changes: Sprites, Changes: UI, size/M, S: Untriaged

#3320 I am being threatened at gunpoint to PR this
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/reverb_scythe.yml
  Resources/Textures/_Goobstation/Clothing/Neck/Cloaks/breverb.rsi/equipped-NECK-vox.png
  Resources/Textures/_Goobstation/Clothing/Neck/Cloaks/breverb.rsi/equipped-NECK.png
  Resources/Textures/_Goobstation/Clothing/Neck/Cloaks/breverb.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Neck/Cloaks/breverb.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Neck/Cloaks/breverb.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Neck/Cloaks/breverb.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/breverb.rsi/equipped-FEET-vox.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/breverb.rsi/equipped-FEET.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/breverb.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/breverb.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/breverb.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/breverb.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/breverb.rsi/equipped-INNERCLOTHING-vox.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/breverb.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/breverb.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/breverb.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/breverb.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/breverb.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/breverb.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/breverb.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/breverb.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/breverb.rsi/meta.json
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged

#3319 changed heretic ascension announcement text
  Resources/Locale/en-US/_Goobstation/Heretic/heretic/ascensions.ftl
Labels: Changes: No C#, size/S, S: Untriaged

#3315 Fix Oxycodone recipe
  Resources/Prototypes/_Goobstation/Recipes/Reactions/medicine.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3311 Antimov fix
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: No C#, size/S, S: Untriaged

#3261 PTL Balance
  Content.Goobstation.Server/Power/PTL/PTLSystem.cs
Labels: size/XS, S: Untriaged

#3348 fix ipc
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
Labels: Changes: No C#, size/XS

#3360 Fixes test fail
  Resources/Prototypes/_Goobstation/Entities/Clothing/Masks/masks.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3294 fix changeling beheading
  Content.Goobstation.Server/Changeling/ChangelingSystem.cs
Labels: size/XS, S: Untriaged

#3380 Fixes Holographic.SWSL Compatibility Mode Crash...
  Resources/Textures/Nyanotrasen/Shaders/holographic.swsl
Labels: Changes: Shaders, Changes: No C#, size/XS

#3363 Syndicate Disaster Victim FreeAgentification
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/Player/ShuttleRoles/settings.yml
Labels: Changes: No C#, size/XS

#3417 Revert "Syndicate Disaster Victim FreeAgentification"
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/Player/ShuttleRoles/settings.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2791 General harpy fixes PR. Also fixes diona modsuits or something.
  Content.Client/_EinsteinEngines/Flight/FlightSystem.cs
  Content.Client/_EinsteinEngines/Flight/FlyingVisualizerSystem.cs
  Content.Goobstation.Common/Clothing/EquipmentEnums.cs
  Content.Goobstation.Shared/Clothing/Systems/SharedSealableClothingSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Clothing/EntitySystems/ToggleableClothingSystem.cs
  Content.Shared/_EinsteinEngines/Flight/SharedFlightSystem.cs
  Resources/ConfigPresets/Build/development.toml
  Resources/Prototypes/InventoryTemplates/digitigrade_inventory_template.yml
  Resources/Prototypes/_DV/Body/Parts/harpy.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/harpy.yml
  Resources/Textures/_DV/Mobs/Species/Harpy/displacement.rsi/jumpsuit.png
  Resources/Textures/_DV/Mobs/Species/Harpy/displacement.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Untriaged

#3322 (Bounty) Millions must @gulp
  Resources/Audio/_Goobstation/Voice/Human/attributions.yml
  Resources/Audio/_Goobstation/Voice/Human/gulp.ogg
  Resources/Audio/_Goobstation/Voice/Resomi/attributions.yml
  Resources/Audio/_Goobstation/Voice/attributions.yml
  Resources/Audio/_Goobstation/Voice/gulpexotic.ogg
  Resources/Locale/en-US/_Goobstation/emotes.ftl
  Resources/Prototypes/Nyanotrasen/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_EinsteinEngines/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Floofstation/Voice/avali_emote_sounds.yml
  Resources/Prototypes/_Goobstation/Voice/speech_emotes.yml
  Resources/Textures/_Goobstation/Interface/Emotes/attributions.yml
  Resources/Textures/_Goobstation/Interface/Emotes/gulp.png
Labels: size/M, Changes: No C#, S: Untriaged, Changes: Audio, Note: DO NOT MERGE

#3459 fix stamres
  Content.Goobstation.Server/Weapons/DelayedKnockdown/DelayedKnockdownOnHitSystem.cs
  Content.Goobstation.Shared/Inventory/GoobInventorySystem.Relays.cs
  Content.Goobstation.Shared/MartialArts/SharedMartialArtsSystem.CorporateJudo.cs
  Content.Server/_Shitcode/Heretic/EntitySystems/PathSpecific/ChampionStanceSystem.cs
  Content.Shared/Damage/Systems/SharedStaminaSystem.cs
  Content.Shared/_Shitcode/Weapons/Misc/TakeStaminaDamageEvent.cs
Labels: size/M, S: Untriaged

#3472 Kill doorjack
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Objects/Tools/access_breaker.yml
Labels: Changes: No C#, size/S, S: Untriaged

#3462 Makes Pun Pun no longer a free agent
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: Changes: No C#, size/XS

#3446 moves compact defib to t2 surgical tools tech
  Resources/Prototypes/_Goobstation/Research/civilianservices.yml
  Resources/Prototypes/_Shitmed/Research/civilianservices.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3441 Borg immunity
  Resources/Prototypes/_Goobstation/Damage/modifier_sets.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3391 Start game from goobmod
  .run/Content Server+Client.run.xml
  .run/Goob Content Server+Client.run.xml
  Content.Goobstation.Client/Content.Goobstation.Client.csproj
  Content.Goobstation.Client/Program.cs
  Content.Goobstation.Server/Content.Goobstation.Server.csproj
  Content.Goobstation.Server/Program.cs
  Scripts/sh/runQuickClient.sh
  Scripts/sh/runQuickServer.sh
  runclient-Tools.bat
  runclient-Tools.sh
  runclient.bat
  runclient.sh
  runserver-Tools.bat
  runserver-Tools.sh
  runserver.bat
  runserver.sh
Labels: size/M, S: Untriaged

#3278 Cosmic cult changes
  Content.Server/_DV/CosmicCult/Abilities/CosmicConversionSystem.cs
  Content.Server/_DV/CosmicCult/Abilities/CosmicSiphonSystem.cs
  Content.Server/_DV/CosmicCult/CosmicCultRuleSystem.cs
  Content.Server/_DV/CosmicCult/EntitySystems/CosmicEntropyDegenSystem.cs
  Content.Shared/_DV/CosmicCult/Components/CosmicCultComponent.cs
  Content.Shared/_DV/CosmicCult/Components/CosmicEntropyDebuffComponent.cs
  Resources/Locale/en-US/_DV/cosmiccult/glyphs.ftl
  Resources/Locale/en-US/_DV/cosmiccult/preset-cosmiccult.ftl
Labels: size/S, S: Untriaged

#3421 take away CE roundstart nailgun
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3425 Mantis Blade Delimb Fix
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/mantis_blade.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3401 cyber eye bugfix
  Resources/Prototypes/_Shitmed/Body/Organs/cybernetic.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3373 BSO hardsuit selector fix
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3268 ERT Medical Officer now gets a medical beam gun.
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
Labels: Changes: No C#, size/XS

#3354 VERY SLIGHTLY nerf zombie speed
  Content.Shared/Zombies/ZombieComponent.cs
Labels: size/XS, S: Untriaged

#3465 decrease cooldowns on the contractor baton (bounty)
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/contractor_baton.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3302 Give passengers maintenance access back
  Content.Goobstation.Shared/MisandryBox/PlaytimeDegrade/PlaytimeDegrade.cs
  Content.Goobstation.Shared/MisandryBox/PlaytimeDegrade/PlaytimeDegradeComponent.cs
  Content.Goobstation.Shared/MisandryBox/PlaytimeDegrade/PlaytimeDegradeSystem.cs
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
Labels: size/M, S: Untriaged

#3383 Fix Resomi Gasp and Deathgasp Noises
  Resources/Prototypes/_Floofstation/Voice/avali_emote_sounds.yml
Labels: Changes: No C#, size/S, S: Untriaged

#3241 Botany stuff but without plant analyzer
  Content.Goobstation.Shared/Storage/RelayInteractionStorageComponent.cs
  Content.Goobstation.Shared/Storage/RelayInteractionStorageSystem.cs
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Hydroponics/plant_bag_holding.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/devices.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/service.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Hydroponics/randomChemicals.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_Goobstation/Catalog/Cargo/cargo_botany.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/plant_box.yml
  Resources/Prototypes/_NF/Recipes/Lathes/devices.yml
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/plant_bag_holding.rsi/equipped-BELT.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/plant_bag_holding.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/plant_bag_holding.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/plant_bag_holding.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/plant_bag_holding.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/plantbox.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/plantbox.rsi/plantbox-top.png
  Resources/Textures/_NF/Structures/Storage/plantbox.rsi/plantbox.png
Labels: Changes: Sprites, size/M, S: Untriaged

#3267 Small ratking buffs
  Content.Shared/RatKing/RatKingComponent.cs
  Content.Shared/RatKing/RatKingRummageableComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: size/S, S: Untriaged

#3275 Unshit the equipto command.
  Content.Goobstation.Server/Administration/Commands/EquipTo.cs
  Resources/Locale/en-US/_Goobstation/administration/commands/equipto.ftl
Labels: size/M, S: Untriaged

#3375 Holopad System Performance Tweaks (Port of EE #2470)
  Content.Server/Holopad/HolopadSystem.cs
Labels: size/S, S: Untriaged

#3358 TC Miner Delet
  Content.Goobstation.Server/ItemMiner/Components/TelecrystalMinerComponent.cs
  Content.Goobstation.Server/ItemMiner/Systems/TelecrystalMinerSystem.cs
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/_Goobstation/tcminer/tc-miner.ftl
  Resources/Prototypes/_Goobstation/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/_Goobstation/Catalog/selectable_sets.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/tcprinter.yml
  Resources/Textures/_Goobstation/Structures/Machines/tc_printer.rsi/display.png
  Resources/Textures/_Goobstation/Structures/Machines/tc_printer.rsi/icon.png
  Resources/Textures/_Goobstation/Structures/Machines/tc_printer.rsi/meta.json
  Resources/Textures/_Goobstation/Structures/Machines/tc_printer.rsi/printing.png
  Resources/Textures/_Goobstation/Structures/Machines/tc_printer.rsi/unshaded.png
Labels: Changes: Sprites, size/M

#3353 upstream merge fixes
  Content.Server/Shuttles/Components/ShuttleComponent.cs
  Content.Shared/CCVar/CCVars.Physics.cs
Labels: size/S, S: Untriaged

#3493 Lube bug fix (bounty)
  Resources/Prototypes/Reagents/cleaning.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3485 Abductor name fix
  Resources/Prototypes/_Shitmed/GameRules/events.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3307 Gemini Bugfixes (Again)
  Content.Goobstation.Server/CloneProjector/CloneProjectorSystem.Clone.cs
  Content.Goobstation.Server/CloneProjector/CloneProjectorSystem.cs
  Content.Goobstation.Shared/CloneProjector/CloneProjectorComponent.cs
  Content.Goobstation.Shared/CloneProjector/SharedCloneProjectorSystem.cs
  Resources/Locale/en-US/_Goobstation/cloneprojector/gemini.ftl
  Resources/Locale/en-US/_Goobstation/interaction/interaction-popup-component.ftl
  Resources/Prototypes/_Goobstation/Entities/Clothing/Belt/cloneprojector.yml
Labels: size/S, S: Untriaged

#3355 Add more admin logs
  Content.Goobstation.Server/Supermatter/Systems/SupermatterSystem.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/Objectives/ObjectivesSystem.cs
  Content.Server/_DV/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
  Content.Shared.Database/LogType.cs
Labels: size/S, S: Untriaged

#3382 [Port] Fix/Tweak Item Toggling for Slime and Pockets
  Content.Shared/Item/SharedItemSystem.cs
Labels: size/S, S: Untriaged

#3400 Fix insta stun + tweak batons
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/blueshield.yml
Labels: Changes: No C#, size/S, S: Untriaged

#3416 [PORT] Fix sending people to the shadow realm.
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Shared/_DV/Carrying/CarryingSystem.cs
  Content.Shared/_DV/Containers/ContentContainerSystem.cs
  Content.Shared/_DV/Polymorph/PolymorphEvent.cs
Labels: size/S, S: Untriaged

#3426 [PORT] Poofed Hairstyle.
  Resources/Locale/en-US/_Goobstation/accessories/human-hair.ftl
  Resources/Prototypes/_Goobstation/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/poofed.png
Labels: Changes: Sprites, Changes: No C#, size/S, S: Untriaged

#3427 Add recipes for tesla coils and radiation collectors (repost)
  Resources/Locale/en-US/_Goobstation/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/collector.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/coil.yml
  Resources/Prototypes/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_Goobstation/Research/industrial.yml
Labels: Changes: No C#, size/S, S: Untriaged

#3434 cosmic cult weapon changes and stuff (BOUNTY)
  Content.Server/_DV/CosmicCult/Components/CosmicEmpoweredComponent.cs
  Content.Server/_DV/CosmicCult/CosmicCultRuleSystem.cs
  Content.Server/_DV/CosmicCult/CosmicCultSystem.cs
  Content.Server/_DV/CosmicCult/EntitySystems/CosmicRiftSystem.cs
  Resources/Prototypes/_DV/CosmicCult/Objects/cosmicweapons.yml
Labels: size/S, S: Untriaged

#3444 [Bounty (kinda)] Persona Justice + Steal Objective
  Resources/Locale/en-US/_Goobstation/ghost/ghost-role-component.ftl
  Resources/Locale/en-US/_Goobstation/objectives/conditions/steal-target-groups.ftl
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/justice.yml
  Resources/Prototypes/_Goobstation/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_Goobstation/Objectives/traitor.yml
Labels: Changes: No C#, size/S

#3454 Totally normal PR
  Resources/Locale/en-US/_Goobstation/accent/accents.ftl
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/_Goobstation/Accents/word_replacements.yml
Labels: Changes: No C#, size/S

#3509 Makes it actually dangerous to use cult weapons as a non-cultist
  Content.Server/_DV/CosmicCult/CosmicCultSystem.cs
  Content.Server/_DV/CosmicCult/EntitySystems/CosmicEntropyDegenSystem.cs
  Content.Shared/_DV/CosmicCult/Components/CosmicNonCultistDebuffComponent.cs
  Resources/Prototypes/_DV/CosmicCult/status_effects.yml
Labels: size/S, S: Untriaged

#3500 Repoban JoeHamaSS14 on the crime of shitting it all up
  .github/workflows/check-author-repoban.yml
Labels: Changes: No C#, size/S, S: Untriaged, S: Needs Review

#3308 Craftable wooden wand prototype
  Resources/Locale/en-US/_Goobstation/recipes/recipes.ftl
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/wooden_wand.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/weapons/wooden_wand.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/weapons.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/wooden_wand.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/wooden_wand.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/wooden_wand.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/wooden_wand.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/wooden_wand.rsi/wielded-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/wooden_wand.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged, S: Needs Review

#3359 HTN fixes round 3
  Content.Server/NPC/Components/NPCSteeringComponent.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/MoveToOperator.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Context.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
  Resources/Prototypes/_EinsteinEngines/NPCs/fillbot.yml
Labels: size/M, S: Untriaged

#3506 Cluster update
  Resources/Maps/_Goobstation/cluster.yml
Labels: Changes: Map, Changes: No C#, size/L

#3140 Major Kettle changes
  Resources/Maps/_Goobstation/kettle.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/XL

#3505 Nukie Outpost 2.0
  Resources/Maps/_Goobstation/Nonstations/nukieplanet.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/XL

#3481 Goobcoin Lowpop Multiplier & Short Round Penalty
  Content.Goobstation.Common/CCVar/CCVars.Goob.cs
  Content.Server/_durkcode/ServerCurrency/ServerCurrencySystem.cs
Labels: size/S, S: Untriaged

#3527 Server Currency Goobmod
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Lobby/LobbyState.cs
  Content.Client/_durkcode/ServerCurrency/ServerCurrencySystem.cs
  Content.Goobstation.Client/Entry/EntryPoint.cs
  Content.Goobstation.Client/IoC/ContentGoobClientIoC.cs
  Content.Goobstation.Client/ServerCurrency/ClientCurrencyManager.cs
  Content.Goobstation.Client/ServerCurrency/UI/CurrencyWindow.xaml
  Content.Goobstation.Client/ServerCurrency/UI/CurrencyWindow.xaml.cs
  Content.Goobstation.Client/ServerCurrency/UI/CurrencyWindowEui.cs
  Content.Goobstation.Common/ServerCurrency/ICommonCurrencyManager.cs
  Content.Goobstation.Common/ServerCurrency/ServerCurrencyEvents.cs
  Content.Goobstation.Server/Entry/EntryPoint.cs
  Content.Goobstation.Server/IoC/ServerGoobContentIoC.cs
  Content.Goobstation.Server/ServerCurrency/Commands/CurrencyUiCommand.cs
  Content.Goobstation.Server/ServerCurrency/Commands/ServerCurrencyCommands.cs
  Content.Goobstation.Server/ServerCurrency/ServerCurrencyManager.cs
  Content.Goobstation.Server/ServerCurrency/ServerCurrencySystem.cs
  Content.Goobstation.Server/ServerCurrency/UI/CurrencyEui.cs
  Content.Goobstation.Shared/ServerCurrency/TokenListingPrototype.cs
  Content.Goobstation.Shared/ServerCurrency/UI/CurrencyEuiState.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Objectives/ObjectivesSystem.cs
Labels: Changes: UI, size/M

#3526 [HOTFIX] Fix polymorphs just fucking killin you.
  Content.Shared/_DV/Containers/ContentContainerSystem.cs
Labels: size/S, S: Untriaged

#3549 Slipping Test Fail Fix
  Content.IntegrationTests/Tests/Movement/SlippingTest.cs
Labels: size/XS, S: Untriaged

#3548 Baldmin plush
  Resources/Prototypes/_Goobstation/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushie_baldzby.png
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushie_brizby.png
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushiebaldzby-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushiebaldzby-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushiebrizby-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushiebrizby-inhand-right.png
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged

#3550 gus fix
  Content.Goobstation.Server/Changeling/ChangelingSystem.cs
Labels: size/S, S: Untriaged, S: Needs Review

#3563 nukie magic mirror
  Resources/Maps/_Goobstation/Nonstations/nukieplanet.yml
Labels: Changes: Map, Changes: No C#, size/S, S: Untriaged

#3533 Cheese Accent Goobmod
  Content.Goobstation.Server/Speech/CheeseAccentComponent.cs
  Content.Goobstation.Server/Speech/CheeseAccentSystem.cs
Labels: size/XS, S: Untriaged

#3582 [Fix] Powercell visuals
  Content.Client/PowerCell/PowerCellSystem.cs
Labels: size/XS, S: Untriaged

#3588 Revert "[BOUNTY] Dragging no longer takes up your hand."
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
Labels: Changes: No C#, size/S

#3475 Necksnap Sloppitude
  Content.Goobstation.Shared/MartialArts/SharedMartialArtsSystem.CQC.cs
  Content.Goobstation.Shared/MartialArts/SharedMartialArtsSystem.cs
Labels: size/S, S: Untriaged

#3591 [Fix] Survival box bottle slot
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3584 [Fix] Gemini Holoparasite interaction
  Content.Goobstation.Server/CloneProjector/CloneProjectorSystem.cs
  Resources/Prototypes/_Goobstation/Entities/Clothing/Belt/cloneprojector.yml
Labels: size/XS, S: Untriaged, S: Needs Review

#3575 [Fix] Collective mind message repeat to source
  Content.Client/_Starlight/Chat/CollectiveMindSystem.cs
  Content.Goobstation.Server/Blob/NPC/BlobPod/BlobPodSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: size/S, S: Untriaged

#3599 make PTL not be a neutron star
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/power_laser.yml
Labels: Changes: No C#, size/XS, S: Untriaged
