Repository Goob-Station/Goob-Station, pull requests merged in 2025-08, with the labels that each got.

#3532 (Hotfix) Commantags
  Resources/Prototypes/GameRules/midround.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_DV/CosmicCult/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/midround.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Heretic/GameRules/roundstart.yml
Labels: Changes: No C#, size/S, S: Untriaged

#3658 (admeme bounty) Anaconda and medigun removal
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
Labels: Changes: No C#, size/S, S: Untriaged

#3553 Give moths more sound emotes
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: size/M, Changes: No C#, S: Untriaged

#3574 [Fix] Flame Alert Visual Bug
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
Labels: size/XS, S: Untriaged

#3641 [TWEAK] Kill shitters taking over pun pun
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: Changes: No C#, size/XS

#3702 Remove combat medkit from static, add to science unlock.
  Resources/Prototypes/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/Research/civilianservices.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3698 Cigarette packs whitelisted storage
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/tags.yml
Labels: Changes: No C#, size/S

#3545 Meta hot fix
  Resources/Maps/_Goobstation/meta.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/L

#3755 Re-enables meteors, and changes their frequency
  Resources/Prototypes/GameRules/meteorswarms.yml
  Resources/Prototypes/_Goobstation/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: size/M, Changes: No C#, S: Untriaged, S: Needs Review

#3727 Mothroaches now can do the 65 dash
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3496 [fix] Modsuits no longer FNAF you and are easier to use + (slight buff until modules here)
  Content.Goobstation.Shared/Clothing/Components/SealableClothingComponent.cs
  Content.Goobstation.Shared/Clothing/Components/SealableClothingControlComponent.cs
  Content.Goobstation.Shared/Clothing/Systems/SharedSealableClothingSystem.cs
  Content.Shared/Clothing/EntitySystems/ToggleableClothingSystem.cs
  Resources/Audio/_Goobstation/Machines/ErrorBeep2.wav
  Resources/Audio/_Goobstation/Machines/MaxTempAlert.wav
  Resources/Audio/_Goobstation/Machines/MaxTempAlertCut.wav
  Resources/Audio/_Goobstation/Machines/attributions.yml
  Resources/Locale/en-US/_Goobstation/clothing/sealable-clothing-component.ftl
  Resources/Prototypes/_Goobstation/Entities/Clothing/Back/modsuit.yml
Labels: size/M, S: Untriaged, S: Needs Review

#3767 Fix Diona having a schrodinger's existential crisis
  Content.Shared/Species/Systems/ReformSystem.cs
Labels: size/S, S: Untriaged

#3404 Kill command grabs
  Resources/Locale/en-US/_Goobstation/Changeling/store/changeling-catalog.ftl
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Melee/changeling_claw.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/nullrod.yml
Labels: Changes: No C#, size/S, S: Untriaged

#3605 Sanabi.
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Neck/cloaks.yml
  Resources/Textures/_Goobstation/Clothing/Head/Hats/sanabi.rsi/equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/sanabi.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/sanabi.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/sanabi.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/sanabi.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Neck/Cloaks/sanabi.rsi/equipped-NECK.png
  Resources/Textures/_Goobstation/Clothing/Neck/Cloaks/sanabi.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Neck/Cloaks/sanabi.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Neck/Cloaks/sanabi.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Neck/Cloaks/sanabi.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S

#3642 [sprite change] conveyor sprite arrow (port https://github.com/new-frontiers-14/frontier-station-14/pull/1288
  Resources/Prototypes/Entities/Structures/conveyor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/conveyor.yml
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_loose.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_started_ccw.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_started_ccw_r.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_started_cw.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_started_cw_r.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_stopped_ccw.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_stopped_cw.png
  Resources/Textures/_NF/Structures/conveyor.rsi/greenlight.png
  Resources/Textures/_NF/Structures/conveyor.rsi/meta.json
  Resources/Textures/_NF/Structures/conveyor.rsi/redlight.png
  Resources/Textures/_NF/Structures/conveyor.rsi/switch-fwd.png
  Resources/Textures/_NF/Structures/conveyor.rsi/switch-off.png
  Resources/Textures/_NF/Structures/conveyor.rsi/switch-rev.png
  Resources/Textures/_NF/Structures/conveyor.rsi/switch.png
Labels: Changes: Sprites, size/M, Changes: No C#

#3690 Halve spreadChance on all kudzu variants that matter
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
Labels: Changes: No C#, size/S, S: Untriaged

#3623 [HOTFIX] His Grace round-remove bugfix.
  Content.Goobstation.Server/HisGrace/HisGraceSystem.cs
  Content.Shared/Interaction/Components/UnremoveableComponent.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Syndicate/his_grace.yml
Labels: size/S, S: Untriaged, S: Needs Review

#3600 [Fix] Removed Map check from RuleGridsSystem
  Content.Server/GameTicking/Rules/RuleGridsSystem.cs
Labels: size/S, S: Untriaged, Note: Stale

#3618 Revert "[Fix] Collective mind message repeat to source" & Better admin message wrap
  Content.Client/_Starlight/Chat/CollectiveMindSystem.cs
  Content.Goobstation.Server/Blob/NPC/BlobPod/BlobPodSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Resources/Locale/en-US/_Starlight/collective-mind/collective-mind.ftl
Labels: size/S, S: Untriaged

#3736 secret+ tweaks
  Content.Goobstation.Server/StationEvents/SecretPlus/SecretPlusComponent.cs
  Content.Goobstation.Server/StationEvents/SecretPlus/SecretPlusSystem.cs
  Content.IntegrationTests/Tests/_Goobstation/SecretPlus/SecretPlusTest.cs
  Content.Server/Antag/Components/AntagSelectionComponent.cs
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/midround.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Heretic/GameRules/roundstart.yml
Labels: size/M, S: Untriaged

#3762 Space Italian
  Content.Shared/_EinsteinEngines/Language/Components/Translators/HandheldTranslatorComponent.cs
  Content.Shared/_EinsteinEngines/Language/Systems/SharedTranslatorSystem.cs
  Resources/Locale/en-US/_Goobstation/chat/managers/chat-language.ftl
  Resources/Locale/en-US/_Goobstation/language/languages.ftl
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/_Goobstation/Language/Standard/spaceitalian.yml
  Resources/Prototypes/_Goobstation/Objects/Devices/translator_implants.yml
  Resources/Prototypes/_Goobstation/Objects/Misc/translator_implanters.yml
Labels: size/M, Changes: No C#, S: Needs Review

#3838 (Bounty) Fixes 65% of issues with command & security.
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Dignitary/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Dignitary/nanotrasen_representative.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Security/brigmedic.yml
Labels: Note: Bounty, Changes: No C#

#3857 Revert "(Bounty) Fixes 65% of issues with command & security."
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Dignitary/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Dignitary/nanotrasen_representative.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Security/brigmedic.yml
Labels: Changes: No C#, size/S, S: Untriaged

#3876 Revert "[Tweak] Common radio messages may be send throught intercom only"
  Resources/Prototypes/radio_channels.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3874 (fix) fixes one of the test fail reasons
  Resources/Prototypes/_Goobstation/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/animals.yml
Labels: Changes: No C#, size/XS

#3891 [Upstream Port] Combat Mode and Tail Wagging Action Fixes
  Resources/Prototypes/Actions/types.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3899 Veichle sprinting adjustment
  Resources/Prototypes/_Goobstation/Entities/Objects/Vehicles/clowncar.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Vehicles/vehicles.yml
Labels: Changes: No C#, size/XS

#3870 Fix erroneous "d" in knuckle cracking emote
  Resources/Locale/en-US/_Impstation/chat/emotes.ftl
Labels: Changes: No C#, size/XS, S: Untriaged

#3923 Moth antennae (head, top) marking limit increase
  Resources/Prototypes/Species/moth.yml
Labels: Changes: No C#, size/XS

#3900 Fixes - Rodentia thirst
  Resources/Prototypes/_DV/Entities/Mobs/Species/rodentia.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3920 Some Glowing eyes glow again!
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/_Imp/Mobs/Customization/arachnid.yml
  Resources/Prototypes/_Imp/Mobs/Customization/slimeperson.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3850 Bingle pit no longer dies to suicide borgs
  Resources/Prototypes/_Goobstation/Entities/Structures/Specific/Binglepit.yml
  Resources/Prototypes/_Goobstation/Tiles/bingle.yml
Labels: Changes: No C#, size/XS, S: Untriaged, Antag/Balance Freeze

#3929 fix cluster
  Resources/Prototypes/_Goobstation/Maps/cluster.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3701 [FIX] TestChangelingFullArmor throwing goidafails constantly.
  Content.IntegrationTests/Tests/_Goobstation/Changeling/ChangelingArmorTests.cs
Labels: size/S, S: Untriaged

#3878 Adds crapotoxin, a poison that forces farting.
  Resources/Locale/en-US/_Goobstation/reagents/meta/fun.ftl
  Resources/Prototypes/_Goobstation/Reagents/fun.yml
  Resources/Prototypes/_Goobstation/Recipes/Reactions/fun.yml
Labels: Changes: No C#, size/S, S: Untriaged

#3592 [TWEAK] Security Masks in Survival Boxes
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/emergencybox.yml
Labels: S: Merge Conflict, Changes: No C#, size/S, Priority: Medium, Note: Stale

#3615 heretic heretic sacrifice
  Content.Server/_Shitcode/Heretic/Ritual/CustomBehavior.Sacrifice.cs
Labels: size/S, S: Untriaged, Antag/Balance Freeze

#3901 Raises minimum sizes for all species, makes some species wider
  Resources/Prototypes/Species/dwarf.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/_DV/Species/harpy.yml
  Resources/Prototypes/_DV/Species/rodentia.yml
  Resources/Prototypes/_EinsteinEngines/Species/shadowkin.yml
  Resources/Prototypes/_Floofstation/Species/resomi.yml
  Resources/Prototypes/_Goobstation/Species/tajaran.yml
Labels: Changes: No C#, size/S

#3913 Updated Height/Width slider logic inside of HumanoidProfileEditor
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: UI, size/S, S: Untriaged

#3904 [BOUNTY] Potato Power
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
Labels: Changes: No C#, size/S

#3887 closes #3828 - Fixes & Balances PTL from being able to make free spesos
  Content.Goobstation.Server/Power/PTL/PTLSystem.cs
  Content.Goobstation.Shared/Power/PTL/PTLComponent.cs
Labels: size/S, S: Untriaged

#3871 [HOTFIX] Biomass Reclaimer.
  Content.Server/Medical/BiomassReclaimer/ActiveBiomassReclaimerComponent.cs
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
Labels: size/S, S: Untriaged, S: Needs Review

#3759 Update BSO combat injector kit to be explosive resistant
  Resources/Locale/en-US/_Goobstation/set-selector/selectable-sets.ftl
  Resources/Prototypes/_Goobstation/Catalog/selectable_sets.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Belt/belts.yml
Labels: Changes: No C#, size/S, S: Untriaged, Antag/Balance Freeze

#3936 Make Smoking Great Again
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigars/cigar.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/base_smokeables.yml
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Tools/lighters.yml
Labels: Changes: No C#, size/S, S: Untriaged

#3934 Balance Change: Slime People do not take bone damage anymore
  Resources/Prototypes/Body/Parts/slime.yml
Labels: Changes: No C#, size/S

#3928 fix abductor + bingle goidacode
  Resources/Prototypes/_Goobstation/Entities/Markers/Spawners/bingle.yml
  Resources/Prototypes/_Shitmed/Actions/abductor.yml
Labels: Changes: No C#

#3896 Fixes abductor issues with the console, and traitor flavor in char menu.
  Content.Server/GameTicking/Rules/Components/TraitorRuleComponent.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Resources/Locale/en-US/_Goobstation/datasets/corporations.ftl
  Resources/Locale/en-US/_Goobstation/flavors/corporateagent.ftl
  Resources/Locale/en-US/_Goobstation/flavors/traitor.ftl
  Resources/Prototypes/_Goobstation/Datasets/corporate_flavor.yml
  Resources/Prototypes/_Shitmed/Actions/abductor.yml
  Resources/Prototypes/_Shitmed/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Shitmed/Entities/Clothing/OuterClothing/armor.yml
Labels: size/M, S: Untriaged

#3795 Set engineering voidsuit to have correct Contraband parent
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Misc/voidsuitselectors.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3894 British and dementia update
  Content.Goobstation.Common/Speech/BritishAccentComponent.cs
  Content.Goobstation.Server/Speech/BritishAccentSystem.cs
  Resources/Locale/en-US/_Goobstation/accent/british.ftl
  Resources/Locale/en-US/_Goobstation/accent/dementia.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/_Goobstation/Accents/word_replacements.yml
  Resources/Prototypes/_Goobstation/Traits/speech.yml
Labels: size/M, S: Untriaged

#3632 [yaml + minor c#] Helmet show / hide hair verb
  Content.Shared/Clothing/EntitySystems/FoldableClothingSystem.cs
  Resources/Locale/en-US/foldable/components/foldable-component.ftl
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Shitmed/Entities/Clothing/Head/helmets.yml
Labels: size/M, Changes: No C#, S: Needs Review

#3946 [Clean up] Move actions prototypes under actions folders
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/_DV/Actions/cosmiccult.yml
  Resources/Prototypes/_DV/Actions/harpy.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/_Goobstation/Actions/Heretic/basic.yml
  Resources/Prototypes/_Goobstation/Actions/Heretic/path_ash.yml
  Resources/Prototypes/_Goobstation/Actions/Heretic/path_blade.yml
  Resources/Prototypes/_Goobstation/Actions/Heretic/path_flesh.yml
  Resources/Prototypes/_Goobstation/Actions/Heretic/path_rust.yml
  Resources/Prototypes/_Goobstation/Actions/Heretic/path_side.yml
  Resources/Prototypes/_Goobstation/Actions/Heretic/path_void.yml
  Resources/Prototypes/_Goobstation/Actions/Heretic/weapon.yml
  Resources/Prototypes/_Goobstation/Actions/changeling.yml
  Resources/Prototypes/_Goobstation/Actions/clothing.yml
  Resources/Prototypes/_Goobstation/Actions/types.yml
  Resources/Prototypes/_Goobstation/Actions/weapon.yml
  Resources/Prototypes/_Goobstation/Actions/wizard.yml
  Resources/Prototypes/_Goobstation/Actions/wizard_upgrades.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Objects/Weapons/Melee/carving_knife.yml
  Resources/Prototypes/_Imp/Actions/pai.yml
  Resources/Prototypes/_Imp/_Drone/Mobs_Player_silicon.yml
  Resources/Prototypes/_Imp/_Drone/drone_tools.yml
  Resources/Prototypes/_Lavaland/Actions/types.yml
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/Guns/Basic/pka.yml
  Resources/Prototypes/_Shitmed/Actions/organs.yml
Labels: size/M, Changes: No C#, S: Untriaged

#3790 D.U.I. Guide for clowns
  Content.Goobstation.Server/Implants/Components/ClumsyImplantComponent.cs
  Content.Goobstation.Server/Implants/Systems/ClumsyImplantSystem.cs
  Content.Goobstation.Server/Vehicles/Clowncar/ClowncarSystem.cs
  Content.Goobstation.Shared/Content.Goobstation.Shared.csproj
  Content.Goobstation.Shared/Vehicles/Clowncar/ClowncarComponent.cs
  Content.Goobstation.Shared/Vehicles/Clowncar/SharedClowncarSystem.cs
  Directory.Packages.props
  Resources/Audio/_Goobstation/Music/Asgore_runs_over_dess_short.ogg
  Resources/Audio/_Goobstation/Music/attributions.yml
  Resources/Prototypes/_Goobstation/Actions/clowncar.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Crates/clowncar.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/subdermal_implants.yml
Labels: size/M, S: Untriaged, S: Needs Review, Changes: Audio

#3893 [Fix] Bold Chat and Bold Languages
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Resources/Fonts/_Goobstation/Eatday/Eatday.otf
  Resources/Fonts/_Goobstation/Eatday/Eatday.ttf
  Resources/Fonts/_Goobstation/Eatday/info.txt
  Resources/Fonts/_Goobstation/Eatday/misc/More Info-091e.txt
  Resources/Fonts/_Goobstation/Eatday/misc/Read Me-a312.pdf
  Resources/Fonts/_Goobstation/NotoSansMono/NotoSansMono-Bold.ttf
  Resources/Fonts/_Goobstation/NotoSansMono/NotoSansMono-ExtraLight.ttf
  Resources/Fonts/_Goobstation/NotoSansMono/NotoSansMono-Medium.ttf
  Resources/Fonts/_Goobstation/NotoSansMono/NotoSansMono-Regular.ttf
  Resources/Fonts/_Goobstation/NotoSansMono/NotoSansMono-SemiBold.ttf
  Resources/Fonts/_Goobstation/NotoSansMono/NotoSansMono-Thin.ttf
  Resources/Fonts/_Goobstation/NotoSansMono/OFL.txt
  Resources/Fonts/_Goobstation/Sour_Gummy/SourGummy-Bold.ttf
  Resources/Fonts/_Goobstation/Sour_Gummy/SourGummy-BoldItalic.ttf
  Resources/Fonts/_Goobstation/Sour_Gummy/SourGummy-Italic.ttf
  Resources/Fonts/_Goobstation/Sour_Gummy/SourGummy-Medium.ttf
  Resources/Fonts/_Goobstation/Sour_Gummy/SourGummy-MediumItalic.ttf
  Resources/Locale/en-US/_Goobstation/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/_Goobstation/headset/headset-component.ftl
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/headset/headset-component.ftl
  Resources/Prototypes/_EinsteinEngines/Language/FactionSpecific/blob.yml
  Resources/Prototypes/_EinsteinEngines/Language/Species-Specific/harpy.yml
  Resources/Prototypes/_EinsteinEngines/Language/Species-Specific/skeleton.yml
  Resources/Prototypes/_EinsteinEngines/Language/Species-Specific/slimeperson.yml
  Resources/Prototypes/_EinsteinEngines/Language/genericlanguages.yml
  Resources/Prototypes/_EinsteinEngines/fonts.yml
  Resources/Prototypes/_Goobstation/Languages/Faction/bingle.yml
  Resources/Prototypes/_Goobstation/fonts.yml
Labels: size/M, S: Untriaged

#3957 [HOTFIX] Delayed Death System Hotfix
  Content.Server/_Shitmed/DelayedDeath/DelayedDeathSystem.cs
Labels: size/XS, S: Untriaged

#3613 carp caller
  Content.Goobstation.Server/MobCaller/MobCallerComponent.cs
  Content.Goobstation.Server/MobCaller/MobCallerSystem.cs
  Resources/Locale/en-US/_Goobstation/mob-caller/mob-caller.ftl
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/Syndicate_Gadgets/carp_caller.yml
  Resources/Textures/_Goobstation/Objects/Devices/carp_caller.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Devices/carp_caller.rsi/lights_bottom.png
  Resources/Textures/_Goobstation/Objects/Devices/carp_caller.rsi/lights_top.png
  Resources/Textures/_Goobstation/Objects/Devices/carp_caller.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Devices/carp_caller.rsi/thumper.png
  Resources/Textures/_Goobstation/Objects/Devices/carp_caller.rsi/thumper_unpowered.png
Labels: Changes: Sprites, size/M

#3950 Fix Shadowkin's having no visible left leg
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Species/shadowkin.yml
Labels: Changes: No C#, size/S, S: Untriaged

#3952 Better surveillance camera monitor fixes
  Content.Goobstation.Common/SurveillanceCamera/ReconnectingSurveillanceCameraMonitorComponent.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraMonitorSystem.cs
Labels: size/S, S: Untriaged, S: Needs Review

#3962 fix coscult stuff being instantly rcdable away
  Resources/Prototypes/_DV/CosmicCult/Tileset/walls.yml
Labels: Changes: No C#, S: Untriaged

#3961 fix facehuggers
  Content.Server/_White/Xenomorphs/FaceHugger/FaceHuggerSystem.cs
Labels: size/XS, S: Untriaged

#3968 bring back slipper footstep sounds
  Resources/Locale/en-US/_Goobstation/clothing/shoes.ftl
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
Labels: Bug: Small, Type: Enhancement, Changes: No C#, size/S, S: Needs Review
