Repository Goob-Station/Goob-Station, pull requests merged in 2025-04, with the labels that each got.

#2253 curse two people with russian accent
  Resources/Prototypes/_Goobstation/MisandryBox/debdeb01.yml
  Resources/Prototypes/_Goobstation/MisandryBox/rhmborsigwt.yml
Labels: Changes: No C#, size/S, Low Priority

#2099 Add bingle meat
  Resources/Locale/en-US/_Goobstation/reagents/meta/fun.ftl
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/bingle.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_Goobstation/Polymorphs/polymorph.yml
  Resources/Prototypes/_Goobstation/Reagents/fun.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/food/steak.yml
  Resources/Textures/_Goobstation/Objects/Consumable/Food/bingle.rsi/binglemeat.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/bingle.rsi/cookedbinglemeat.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/bingle.rsi/meta.json
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged, Low Priority

#2266 Incompatible roundstart game director gamemodes
  Content.Goobstation.Common/CCVar/CCVars.Goob.cs
  Content.Goobstation.Server/StationEvents/GameDirectorSystem.cs
  Content.Goobstation.Shared/StationEvents/IncompatibleGameModesPrototype.cs
  Resources/Prototypes/_Goobstation/GameRules/gamedirector_weights.yml
Labels: size/M, S: Untriaged, Medium Priority

#2187 Tide Accent(bounty)
  Resources/Locale/en-US/_Goobstation/accent/tide.ftl
  Resources/Locale/en-US/_Goobstation/traits/traits.ftl
  Resources/Prototypes/_Goobstation/Accents/word_replacements.yml
  Resources/Prototypes/_Goobstation/Traits/speech.yml
Labels: Bounty, size/M, Changes: No C#, S: Untriaged, Low Priority

#2195 BOUNTY Add the homunculus
  Resources/Locale/en-US/_Goobstation/ghost/ghost-role-component.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/_Goobstation/Mobs/Animals/homunculus.rsi/homunculus.png
  Resources/Textures/_Goobstation/Mobs/Animals/homunculus.rsi/homunculus_dead.png
  Resources/Textures/_Goobstation/Mobs/Animals/homunculus.rsi/icon.png
  Resources/Textures/_Goobstation/Mobs/Animals/homunculus.rsi/meta.json
Labels: Changes: Sprites, Bounty, size/M, Changes: No C#, S: Untriaged, Low Priority

#2215 slight pka nerf
  Content.Goobstation.Shared/Weapons/Multishot/SharedMultishotSystem.cs
  Content.Server/_Lavaland/Weapons/Ranged/Upgrades/GunUpgradeSystem.cs
  Content.Shared/_Lavaland/Weapons/Ranged/Upgrades/Components/GunUpgradeDamageComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/Guns/Basic/pka.yml
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: size/S, S: Untriaged, Low Priority

#2139 make syringe gun more smooth
  Content.Goobstation.Server/Weapons/Ranged/SyringeGunSystem.cs
  Content.Server/Chemistry/Components/BaseSolutionInjectOnEventComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionInjectOnEventSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: size/S, S: Untriaged, Low Priority

#2212 give explorer suit stun baton res
  Resources/Prototypes/_Lavaland/Entities/Clothing/explorer_suit.yml
Labels: Changes: No C#, S: Untriaged, Low Priority

#2131 Increse the ammount of inventry you can have open at one time
  Content.Shared/CCVar/CCVars.Interactions.cs
Labels: size/XS, S: Untriaged, Medium Priority

#2257 hide o2 alert without a breath mask
  Content.Server/Body/Systems/InternalsSystem.cs
Labels: size/XS, S: Untriaged, Low Priority

#2246 Fix events happening on ATS and shuttles
  Content.Server/GameTicking/Rules/GameRuleSystem.Utility.cs
  Content.Server/_Shitcode/GameTicking/Rules/Components/HereticRuleComponent.cs
  Content.Server/_Shitcode/GameTicking/Rules/HereticRuleSystem.cs
Labels: size/S, S: Untriaged, Medium Priority

#2296 the great lathe yamlmaxxing
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Maps/Salvage/medium-vault-1.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/cargo.yml
  Resources/Prototypes/_EinsteinEngines/Recipes/Packs/security.yml
  Resources/Prototypes/_EinsteinEngines/Recipes/security.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Markers/Spawners/Random/evil.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Pistols/pistol.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/cargo.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/mech.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/misc.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/security.yml
Labels: Changes: Sprites, Changes: Map, size/M, Changes: No C#, S: Untriaged

#2288 revert proximity airlocks
  Content.Shared/Doors/Components/DoorComponent.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
Labels: size/S, S: Untriaged

#2277 remove n1984 from captain
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: size/M, Changes: No C#, S: Untriaged

#2306 Remove curse from me
  Resources/Prototypes/_Goobstation/MisandryBox/aineias.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2302 Revert "Increse the ammount of inventry you can have open at one time"
  Content.Shared/CCVar/CCVars.Interactions.cs
Labels: size/XS, S: Untriaged

#2026 Shoving and Melee Weapon Animations
  Content.Client/Weapons/Melee/MeleeWeaponSystem.Effects.cs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Goobstation.Client/Blob/BlobCoreActionSystem.cs
  Content.Goobstation.Common/CCVar/CCVars.Goob.cs
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapons/Melee/ShovingComponent.cs
  Content.Shared/CombatMode/DisarmedEvent.cs
  Content.Shared/Damage/Components/StaminaComponent.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Throwing/ThrowingSystem.cs
  Content.Shared/Weapons/Melee/Events/MeleeLungeEvent.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/_EinsteinEngines/Contests/ContestsSystem.cs
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_string.yml
  Resources/Prototypes/Entities/Objects/Fun/bike_horn.yml
  Resources/Prototypes/Entities/Objects/Fun/darts.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Misc/utensils.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/gohei.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/needle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/white_cane.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: Changes: Sprites, size/M, S: Untriaged, S: Needs Review, High Priority, GoobMod Freeze

#2331 add group retaliation
  Content.Goobstation.Server/NPC/GroupRetaliationComponent.cs
  Content.Goobstation.Server/NPC/GroupRetaliationSystem.cs
  Content.Server/NPC/Events/NPCRetaliatedEvent.cs
  Content.Server/NPC/Systems/NPCRetaliationSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/NPCs/mob.yml
  Resources/Prototypes/_Goobstation/Reagents/narcotics.yml
  Resources/Prototypes/ai_factions.yml
Labels: size/S, S: Untriaged

#2338 5 million workflow updates
  .github/workflows/benchmarks.yml
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/check-crlf.yml
  .github/workflows/labeler-conflict.yml
  .github/workflows/labeler-needsreview.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/labeler-review.yml
  .github/workflows/labeler-size.yml
  .github/workflows/labeler-stable.yml
  .github/workflows/labeler-staging.yml
  .github/workflows/labeler-untriaged.yml
  .github/workflows/no-submodule-update.yml
  .github/workflows/publish.yml
  .github/workflows/rsi-diff.yml
  .github/workflows/test-packaging.yml
  .github/workflows/update-credits.yml
  .github/workflows/update-prs.yaml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate-rsis.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
Labels: size/M, Changes: No C#

#2346 MPL Support
  .github/PULL_REQUEST_TEMPLATE.md
  LICENSES/MPL-2.0.txt
  Tools/update_pr_reuse_headers.py
Labels: Changes: No C#, S: Untriaged

#2375 Better Workflows Test
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/check-crlf.yml
  .github/workflows/reusable-checkout.yml
  .github/workflows/reusable-setup.yml
  .github/workflows/rsi-diff.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate-rsis.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
Labels: size/M, Changes: No C#, S: Untriaged

#2376 Fix?
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/check-crlf.yml
  .github/workflows/reusable-checkout.yml
  .github/workflows/reusable-setup.yml
  .github/workflows/rsi-diff.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate-rsis.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2377 Workflow test
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/check-crlf.yml
  .github/workflows/reusable-setup.yml
  .github/workflows/rsi-diff.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate-rsis.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
Labels: Changes: No C#

#2378 Fixes?
  .github/workflows/check-crlf.yml
  .github/workflows/rsi-diff.yml
  .github/workflows/validate-rsis.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
Labels: Changes: No C#, size/XS

#2379 Yeah I'm Dumb
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/check-crlf.yml
  .github/workflows/reusable-checkout.yml
  .github/workflows/reusable-setup.yml
  .github/workflows/rsi-diff.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate-rsis.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
Labels: Changes: No C#, S: Untriaged

#2357 Fixes some uplink descriptions
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/_white/store/uplink-catalog.ftl
Labels: Changes: No C#

#2395 [Port] Adds optional logging for popups and examines.
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/Popups/PopupSystem.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Goobstation.Common/CCVar/CCVars.Goob.cs
  Content.Goobstation.Common/Examine/Events.cs
  Content.Server/IdentityManagement/IdentitySystem.cs
  Content.Server/_White/Examine/ExaminableCharacterComponent.cs
  Content.Server/_White/Examine/ExaminableCharacterSystem.cs
  Content.Shared/Damage/Systems/DamageExamineSystem.cs
  Content.Shared/Examine/ExamineSystemShared.Group.cs
  Content.Shared/Examine/ExamineSystemShared.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Interactions.cs
  Content.Shared/HealthExaminable/HealthExaminableSystem.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Locale/en-US/_Goobstation/chat/chat-stacking.ftl
  Resources/Locale/en-US/_Goobstation/damage/damage-examine.ftl
  Resources/Locale/en-US/_Goobstation/escape-menu/ui/options-menu.ftl
  Resources/Locale/en-US/_white/escape-menu/options-menu.ftl
  Resources/Locale/en-US/_white/examine/examine.ftl
  Resources/Locale/ru-RU/_white/chat/chat-stacking.ftl
  Resources/Locale/ru-RU/_white/examine/examine.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/silicon_base.yml
Labels: Changes: UI, size/M, S: Untriaged, Medium Priority

#2407 1984 byond curse, april fools is over sadly
  Resources/Prototypes/_Goobstation/Wizard/actions.yml
  Resources/Prototypes/_Goobstation/Wizard/spellbook_catalog.yml
Labels: Changes: No C#, size/S, S: Untriaged, High Priority

#2123 Stamina update
  Content.Goobstation.Shared/MartialArts/SharedMartialArtsSystem.CQC.cs
  Content.Goobstation.Shared/MartialArts/SharedMartialArtsSystem.CorporateJudo.cs
  Content.Goobstation.Shared/MartialArts/SharedMartialArtsSystem.KravMaga.cs
  Content.Goobstation.Shared/MartialArts/SharedMartialArtsSystem.SleepingCarp.cs
  Content.Goobstation.Shared/Stunnable/StaminaDamageResistanceSystem.cs
  Content.Goobstation.Shared/TableSlam/TableSlamSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/armour.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Bow/hardlight_arrows.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Goobstation/Wizard/Clothing/wizard.yml
  Resources/Prototypes/_Shitmed/Entities/Clothing/OuterClothing/armor.yml
  Resources/ServerInfo/Guidebook/Security/Security.xml
Labels: size/M, S: Untriaged, High Priority

#2386 grab9
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Goobstation.Shared/GrabReleaseBind/GrabReleaseBindSystem.cs
  Content.Goobstation.Shared/MartialArts/SharedMartialArtsSystem.CorporateJudo.cs
  Content.Goobstation.Shared/MartialArts/SharedMartialArtsSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Movement/Pulling/Components/PullerComponent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Locale/en-US/_Goobstation/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/_Goobstation/MartialArts/judo.yml
  Resources/keybinds.yml
Labels: Changes: UI, size/M, S: Untriaged, S: Needs Review, High Priority

#2290 Omega: Fix NTR room spacing
  Resources/Maps/_Goobstation/omega.yml
Labels: Changes: Map, Changes: No C#, size/S, Type: Bugfix, Medium Priority

#2291 Saltern: Fix Salv spacing
  Resources/Maps/_Goobstation/saltern.yml
Labels: Changes: Map, Changes: No C#, size/S, Type: Bugfix, Medium Priority

#2363 Cluster: Fix Salv spacing, add Lavaland shuttle
  Resources/Maps/_Goobstation/cluster.yml
Labels: Changes: Map, Changes: No C#, size/S, Medium Priority

#2381 Bluespace shelters: Remove preloaded grids
  Resources/Prototypes/_Lavaland/Entities/Objects/Specific/Salvage/shelter.yml
Labels: Changes: No C#, size/XS, Type: Bugfix, Medium Priority

#2389 [PORT] Footprints refactor
  Content.Client/_White/FootPrint/FootPrintsVisualizerSystem.cs
  Content.Goobstation.Client/Footprints/FootprintSystem.cs
  Content.Goobstation.Common/Footprints/FootprintChangedEvent.cs
  Content.Goobstation.Common/Footprints/FootprintCleanEvent.cs
  Content.Goobstation.Common/Footprints/FootprintComponent.cs
  Content.Goobstation.Common/Footprints/FootprintOwnerComponent.cs
  Content.Goobstation.Server/Footprints/FootprintSystem.cs
  Content.Server/Chemistry/TileReactions/CleanTileReaction.cs
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Server/_White/FootPrint/FootPrintsSystem.cs
  Content.Server/_White/FootPrint/PuddleFootPrintsSystem.cs
  Content.Shared/Fluids/Components/PuddleComponent.cs
  Content.Shared/Fluids/SharedPuddleSystem.cs
  Content.Shared/_White/Footprint/FootPrintComponent.cs
  Content.Shared/_White/Footprint/FootPrintVisuals.cs
  Content.Shared/_White/Footprint/FootPrintsComponent.cs
  Content.Shared/_White/Footprint/PuddleFootPrintsComponent.cs
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Mobs/Player/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/_Floofstation/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Species/bananamen.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/_White/Entities/Effects/puddle.yml
  Resources/Textures/_CorvaxNext/Effects/footprint.rsi/body.png
  Resources/Textures/_CorvaxNext/Effects/footprint.rsi/foot.png
  Resources/Textures/_CorvaxNext/Effects/footprint.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Medium Priority

#2408 Singularity Buster
  Resources/Locale/en-US/objectives/conditions/steal-target-groups.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Explosives/explosives.rsi/buster.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Explosives/explosives.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Launchers/buster_rocket.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/buster_rocket.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/buster_rocket.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/buster_rocket.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/buster_rocket.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Launchers/buster_rocket.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/buster_rocket.rsi/wielded-inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles2.rsi/buster.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles2.rsi/meta.json
Labels: Changes: Sprites, size/M, Changes: No C#

#2406 Change poppy to Muzzle in voiceless dead [BOUNTY]
  Resources/Locale/en-US/_Goobstation/Heretic/store/heretic/heretic-catalog-flesh.ftl
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_Goobstation/Heretic/Heretic/heretic_rituals.yml
  Resources/Prototypes/_Goobstation/tags.yml
Labels: Changes: No C#, size/S

#2402 Knuckledusters [SEMI-PORT]
  Resources/Locale/en-US/objectives/conditions/steal-target-groups.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/brass_knuckles.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Hands/gloves.yml
  Resources/Textures/_Goobstation/Clothing/Hands/Gloves/knuckleduster.rsi/brassknuckleduster.png
  Resources/Textures/_Goobstation/Clothing/Hands/Gloves/knuckleduster.rsi/equipped-HAND.png
  Resources/Textures/_Goobstation/Clothing/Hands/Gloves/knuckleduster.rsi/goldenknuckleduster.png
  Resources/Textures/_Goobstation/Clothing/Hands/Gloves/knuckleduster.rsi/knuckleduster.png
  Resources/Textures/_Goobstation/Clothing/Hands/Gloves/knuckleduster.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Hands/Gloves/knuckleduster.rsi/syndicateknuckleduster.png
Labels: Changes: Sprites, size/M, Changes: No C#

#2111 Nukie-Surplus
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: No C#, S: Untriaged, Low Priority

#2314 Firefighter watertank backpack and nozzle
  Content.Goobstation.Server/Atmos/Components/AtmosResinDespawnComponent.cs
  Content.Goobstation.Server/Atmos/EntitySystems/AtmosResinDespawnSystem.cs
  Content.Goobstation.Shared/Atmos/Components/FirefighterTankRefillableComponent.cs
  Content.Goobstation.Shared/Atmos/EntitySystems/FirefighterTankRefillableSystem.cs
  Content.Server/Explosion/EntitySystems/SmokeOnTriggerSystem.cs
  Content.Server/Fluids/Components/SprayComponent.cs
  Content.Server/Fluids/EntitySystems/SpraySystem.cs
  Content.Shared/Weapons/Ranged/Components/ClothingSlotAmmoProviderComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Clothing.cs
  Resources/Locale/en-US/tools/components/firefighter-nozzle-component.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Entities/Clothing/Back/specific.yml
  Resources/Prototypes/Entities/Effects/chemistry_effects.yml
  Resources/Prototypes/Entities/Objects/Tools/firefightingnozzle.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Clothing/Back/Backpacks/atmosbackpacktank.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/atmosbackpacktank.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/atmosbackpacktank.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Backpacks/atmosbackpacktank.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Backpacks/atmosbackpacktank.rsi/meta.json
  Resources/Textures/Effects/foam.rsi/meta.json
  Resources/Textures/Effects/foam.rsi/resin-dissolve.png
  Resources/Textures/Effects/foam.rsi/resin-east.png
  Resources/Textures/Effects/foam.rsi/resin-north.png
  Resources/Textures/Effects/foam.rsi/resin-south.png
  Resources/Textures/Effects/foam.rsi/resin-west.png
  Resources/Textures/Effects/foam.rsi/resin.png
  Resources/Textures/Objects/Weapons/Grenades/frozen-smoke-capsule.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Grenades/frozen-smoke-capsule.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/frozen-smoke-capsule.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/frozen-smoke-capsule.rsi/primed.png
  Resources/Textures/Objects/Weapons/Guns/Basic/extinguishernozzle.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Basic/extinguishernozzle.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Basic/extinguishernozzle.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Basic/extinguishernozzle.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Untriaged, Medium Priority

#2168 Fixed wonderprod
  Content.Shared/_Shitmed/ItemSwitch/SharedItemSwitchSystem.cs
Labels: size/XS, S: Untriaged, Type: Bugfix, Medium Priority

#2300 Some heretic fixes
  Content.Client/IconSmoothing/IconSmoothSystem.cs
  Content.Client/_Shitcode/Heretic/IconSmoothCornersInitializedEvent.cs
  Content.Client/_Shitcode/Heretic/RustRuneSystem.cs
  Content.Server/_Shitcode/Heretic/Abilities/HereticAbilitySystem.Rust.cs
  Content.Shared/_Shitcode/Heretic/Components/RustRuneComponent.cs
  Content.Shared/_Shitcode/Heretic/Systems/SharedVoidCloakSystem.cs
  Resources/Prototypes/_Goobstation/Heretic/Entities/Mobs/NPC/eldritch_mobs.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Objects/Weapons/Melee/heretic_blades.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Objects/Weapons/Touchspell/mansus_grasp.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Structures/Specific/Heretic/ritual_rune.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Structures/Specific/Heretic/tiles.yml
  Resources/Prototypes/_Goobstation/Heretic/Reagents/reagents.yml
  Resources/Textures/_Goobstation/Heretic/ritual_rune.rsi/meta.json
  Resources/Textures/_Goobstation/Heretic/ritual_rune.rsi/overlay.png
Labels: Changes: Sprites, size/M, S: Merge Conflict, S: Untriaged, S: Needs Review, High Priority

#2364 Remove anaconda from nukie uplink
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
Labels: Changes: No C#, size/XS, S: Untriaged, Low Priority

#2385 Syndicate GX-Instigator: De-nukiefy, install CS:S to floor tiles
  Resources/Maps/_Goobstation/Shuttles/ShuttleEvent/instigator.yml
  Resources/Prototypes/Shuttles/shuttle_incoming_event.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/L

#2398 Remove Cowboy "wow" to "By gum" replacement.
  Resources/Locale/en-US/accent/cowboy.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2332 randomise dimension pot sprite
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Syndicate/dimension_pot.yml
Labels: Changes: No C#, size/S, S: Untriaged, Low Priority

#2371 fix abductor agent not getting glorpmind
  Resources/Prototypes/_Shitmed/GameRules/events.yml
Labels: Changes: No C#, size/XS, S: Untriaged, Low Priority

#2404 Centcomm Wizard Clothes (admin)
  Resources/Prototypes/_Goobstation/Wizard/Clothing/wizard.yml
  Resources/Textures/_Goobstation/Wizard/Clothing/Head/comwizard.rsi/equipped-HELMET.png
  Resources/Textures/_Goobstation/Wizard/Clothing/Head/comwizard.rsi/icon.png
  Resources/Textures/_Goobstation/Wizard/Clothing/Head/comwizard.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Wizard/Clothing/Head/comwizard.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Wizard/Clothing/Head/comwizard.rsi/meta.json
  Resources/Textures/_Goobstation/Wizard/Clothing/OuterClothing/comwizard.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Goobstation/Wizard/Clothing/OuterClothing/comwizard.rsi/icon.png
  Resources/Textures/_Goobstation/Wizard/Clothing/OuterClothing/comwizard.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Wizard/Clothing/OuterClothing/comwizard.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Wizard/Clothing/OuterClothing/comwizard.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S

#2401 Add people as plushies
  Resources/Audio/Voice/Slime/slime_scream_m1.ogg
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Goobstation/Objects/Fun/selfinsert.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Fun/selfinsert.rsi/plushie_ahti.png
  Resources/Textures/_Goobstation/Objects/Fun/selfinsert.rsi/plushie_benny.png
  Resources/Textures/_Goobstation/Objects/Fun/selfinsert.rsi/plushie_byrrne.png
  Resources/Textures/_Goobstation/Objects/Fun/selfinsert.rsi/plushie_byrrne_gibbed.png
  Resources/Textures/_Goobstation/Objects/Fun/selfinsert.rsi/plushie_cairo.png
  Resources/Textures/_Goobstation/Objects/Fun/selfinsert.rsi/plushie_command_human.png
  Resources/Textures/_Goobstation/Objects/Fun/selfinsert.rsi/plushie_delta.png
  Resources/Textures/_Goobstation/Objects/Fun/selfinsert.rsi/plushie_grub.png
  Resources/Textures/_Goobstation/Objects/Fun/selfinsert.rsi/plushie_knott.png
  Resources/Textures/_Goobstation/Objects/Fun/selfinsert.rsi/plushie_kury.png
  Resources/Textures/_Goobstation/Objects/Fun/selfinsert.rsi/plushie_pash.png
  Resources/Textures/_Goobstation/Objects/Fun/selfinsert.rsi/plushie_raki.png
  Resources/Textures/_Goobstation/Objects/Fun/selfinsert.rsi/plushie_ranork.png
  Resources/Textures/_Goobstation/Objects/Fun/selfinsert.rsi/plushie_sparkle.png
  Resources/Textures/_Goobstation/Objects/Fun/selfinsert.rsi/plushie_stoop.png
  Resources/Textures/_Goobstation/Objects/Fun/selfinsert.rsi/plushie_tider_moth.png
  Resources/Textures/_Goobstation/Objects/Fun/selfinsert.rsi/plushie_tina.png
  Resources/Textures/_Goobstation/Objects/Fun/selfinsert.rsi/plushie_violet_slime.png
  Resources/Textures/_Goobstation/Objects/Fun/selfinsert.rsi/plushie_weh_winter.png
  Resources/Textures/_Goobstation/Objects/Fun/selfinsert.rsi/plushie_zlorb.png
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged, Changes: Audio

#2397 Add Lone Abuctor Plush (alien plush)
  Resources/Maps/_Shitmed/Shuttles/ShuttleEvent/abductor_shuttle.yml
  Resources/Maps/_Shitmed/Shuttles/ShuttleEvent/duo_abductor_shuttle.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushie_abductor.png
Labels: Changes: Sprites, Changes: Map, Changes: No C#, size/S, S: Untriaged

#2396 Fixes IPC Disarm
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/silicon_base.yml
Labels: Changes: No C#, size/XS, S: Untriaged, Type: Bugfix, Low Priority

#2391 put ion storms on a scheduler
  Resources/Prototypes/_Goobstation/GameRules/ion_storm.yml
  Resources/Prototypes/_Goobstation/game_presets.yml
Labels: Changes: No C#, size/S, S: Untriaged, Low Priority

#2374 Hristov Buff
  Content.Goobstation.Common/Weapons/Penetration/PenetratableComponent.cs
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Shared/Projectiles/ProjectileComponent.cs
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Entities/Objects/Tools/binoculars.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/blast_door.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Entities/Structures/Walls/grille.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
  Resources/Prototypes/Entities/Structures/base_structure.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/high_caliber_magazine.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Bow/hardlight_bow.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/sniper_rifle_mag.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/sniper_rifle_mag.rsi/mag-1.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/sniper_rifle_mag.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Untriaged, Low Priority

#2384 Gamedir roundstart variation
  Resources/Prototypes/_Goobstation/game_presets.yml
Labels: Changes: No C#, Low Priority

#2366 [BOUNTY] Add 4 bottle boxes to nukie outpost
  Resources/Maps/_Goobstation/Nonstations/nukieplanet.yml
Labels: Changes: Map, Bounty, Changes: No C#, S: Untriaged, size/L, Low Priority

#2365 fixes
  Resources/Prototypes/Entities/Objects/Weapons/Melee/hammers.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Melee/changeling_hammer.yml
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/crushers.yml
Labels: Changes: No C#, size/S, S: Untriaged, Low Priority

#2360 Northstars + Betrayal Knife tweak
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_White/Catalog/uplink_catalog.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Melee/daggers.yml
Labels: Changes: No C#, size/S, S: Untriaged, Low Priority

#2358 Adjust multifire default values, and multifire tweaks for revolvers/pistols
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
Labels: Changes: No C#, size/S, Low Priority

#2355 Tweak changeling armblade damage
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Melee/changeling_armblade.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Melee/changeling_hammer.yml
Labels: Changes: No C#, size/S, S: Untriaged, Low Priority

#2350 Scrubber Quick Select/Deselect Buttons
  Content.Client/Atmos/Monitor/UI/Widgets/ScrubberControl.xaml
  Content.Client/Atmos/Monitor/UI/Widgets/ScrubberControl.xaml.cs
Labels: Changes: UI, size/S, S: Untriaged, Low Priority

#2348 Remove Deathsquad Gear from Chameleon kit in line with PR #2339
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Belt/belts.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Shields/shields.yml
Labels: S: Merge Conflict, Changes: No C#, size/S, S: Untriaged, Low Priority

#2341 Lich and forcewall nerf
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_Goobstation/Wizard/gear.yml
  Resources/Prototypes/_Goobstation/Wizard/spellbook_catalog.yml
Labels: Changes: No C#, size/S, Low Priority, Mald PR

#2339 Update the Metashield
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR4Metashield.xml
Labels: Changes: No C#, size/S, S: Untriaged, Low Priority

#2317 weapon rebalance
  Content.Shared/Weapons/Ranged/Components/BallisticAmmoProviderComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Rifles/rifle.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/bolt-open.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/mag-0.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/wielded-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, size/M, S: Untriaged, Medium Priority

#2312 add a maxDrunkTime that can be changed through a CVar
  Content.Goobstation.Common/CCVar/CCVars.Goob.cs
  Content.Shared/Drunk/DrunkSystem.cs
Labels: size/S, S: Untriaged, Low Priority

#2310 buff healium, nitrium and bz
  Content.Server/Atmos/Reactions/NitriumProductionReaction.cs
  Content.Server/Atmos/Reactions/PluoxiumProductionReaction.cs
  Content.Server/EntityEffects/Effects/NitriumMoveSpeedModifier.cs
  Content.Shared/Atmos/Atmospherics.cs
  Resources/Prototypes/Reagents/gases.yml
Labels: size/S, S: Untriaged, Low Priority

#2308 total oni death
  Content.Server/Nyanotrasen/Abilities/Oni/HeldbyOniComponent.cs
  Content.Server/Nyanotrasen/Abilities/Oni/OniAllowedGunComponent.cs
  Content.Server/Nyanotrasen/Abilities/Oni/OniSystem.cs
  Content.Shared/Wieldable/Components/WieldableComponent.cs
  Content.Shared/_Shitmed/Restrict/RestrictGunshotsByUserTag.cs
  Content.Shared/_Shitmed/Restrict/RestrictInteractionByUserTag.cs
  Content.Shared/_Shitmed/Restrict/RestrictMeleeByUserTag.cs
  Content.Shared/_Shitmed/Restrict/SharedRestrictSystem.cs
  Resources/Locale/en-US/_Goobstation/research/technologies.ftl
  Resources/Locale/en-US/_Shitmed/abductor/abductor.ftl
  Resources/Locale/en-US/nyanotrasen/oni/oni.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_wieldable.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/Oni.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Objects/Weapons/Melee/terminus.yml
  Resources/Prototypes/_Goobstation/Research/arsenal.yml
  Resources/Prototypes/_Shitmed/Entities/Objects/Weapons/Melee/silencer.yml
  Resources/Prototypes/_Shitmed/Entities/Objects/Weapons/Melee/wonderprod.yml
  Resources/Prototypes/_Shitmed/Entities/Specific/Abductor/gizmo.yml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Oni.xml
Labels: size/M, S: Merge Conflict, S: Untriaged, S: Needs Review, Low Priority

#2305 Rework aranesp and buff hyperzine
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/_Goobstation/Reagents/narcotics.yml
  Resources/Prototypes/_Goobstation/Recipes/Reactions/narcotics.yml
Labels: Changes: No C#, size/S, S: Untriaged, Low Priority

#2295 make syndie messenger bigger
  Resources/Prototypes/_NF/Entities/Clothing/Back/messenger.yml
Labels: Changes: No C#, size/S, S: Untriaged, Low Priority

#2294 decloner rebalance
  Resources/Prototypes/_Shitmed/Entities/Objects/Weapons/Guns/Battery/Projectiles/projectiles.yml
  Resources/Prototypes/_Shitmed/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: No C#, size/S, S: Untriaged, Low Priority

#2278 Aghost neck slot
  Resources/Prototypes/InventoryTemplates/aghost_inventory_template.yml
Labels: Changes: No C#, size/S, Low Priority

#2275 Movement Impaired!
  Content.Goobstation.Shared/Traits/Components/MovementImpairedComponent.cs
  Content.Goobstation.Shared/Traits/Components/MovementImpairedCorrectionComponent.cs
  Content.Goobstation.Shared/Traits/Systems/LegsParalyzedSystem.cs
  Content.Goobstation.Shared/Traits/Systems/LegsStartParalyzedSystem.cs
  Content.Goobstation.Shared/Traits/Systems/MovementImpairedSystem.cs
  Resources/Locale/en-US/_Goobstation/traits/traits.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/white_cane.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/medical.yml
  Resources/Prototypes/_Goobstation/Traits/disabilities.yml
Labels: size/M, Low Priority

#2239 Ward locker sprite
  Resources/Textures/Structures/Storage/closet.rsi/warden_door.png
Labels: Changes: Sprites, Bounty, Changes: No C#, size/XS, S: Untriaged, Low Priority

#2287 Buffs wizard spellcards
  Content.Shared/_Shitcode/Wizard/SpellCards/SpellCardsActionComponent.cs
  Resources/Prototypes/_Goobstation/Wizard/actions.yml
  Resources/Prototypes/_Goobstation/Wizard/projectiles.yml
Labels: size/S, S: Untriaged, Low Priority

#2233 prevent zombies from damaging initial infected
  Content.Server/Zombies/ZombieSystem.cs
Labels: size/XS, S: Untriaged, Low Priority

#2228 Blue shield injector tweak
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/blueshield_knife.yml
Labels: Changes: No C#, size/XS, Low Priority

#2217 Ghostbar antags
  Content.Goobstation.Server/Ghostbar/AntagBaseSystem.cs
  Content.Goobstation.Server/Implants/Components/ChangelingImplantComponent.cs
  Content.Goobstation.Server/Implants/Components/HereticImplantComponent.cs
  Content.Goobstation.Server/Implants/Components/SpaceNinjaImplantComponent.cs
  Content.Goobstation.Server/Implants/Systems/ChangelingImplantSystem.cs
  Content.Goobstation.Server/Implants/Systems/HereticImplantSystem.cs
  Content.Goobstation.Server/Implants/Systems/SpaceNinjaImplantSystem.cs
  Resources/Locale/en-US/store/store.ftl
  Resources/Maps/_Goobstation/Nonstations/antagplanet.yml
  Resources/Maps/_Goobstation/Nonstations/ghostbar.yml
  Resources/Prototypes/Catalog/spellbook_catalog.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Magic/books.yml
  Resources/Prototypes/Store/presets.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/gateway.yml
  Resources/Prototypes/_Goobstation/Wizard/spellbook_catalog.yml
  Resources/Prototypes/_Goobstation/Wizard/spellbook_upgrades.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/_NF/Structures/Machines/VendingMachines/contravend.rsi/broken.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/contravend.rsi/deny-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/contravend.rsi/eject-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/contravend.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/VendingMachines/contravend.rsi/normal-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/contravend.rsi/off.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/contravend.rsi/panel.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/contravend.rsi/screen.png
Labels: Changes: Sprites, Changes: Map, S: Untriaged, size/XL, Medium Priority

#2119 Uhm, CHEESED to meet you? (Rodentia Cheesed Accent)
  Content.Server/_Goobstation/Speech/Components/CheeseAccentComponent.cs
  Content.Server/_Goobstation/Speech/EntitySystems/CheeseAccentSystem.cs
  Resources/Locale/en-US/_Goobstation/accent/cheese.ftl
  Resources/Prototypes/_DV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/_Goobstation/Accents/word_replacements.yml
Labels: size/M, S: Untriaged, Low Priority

#2126 make organ insertion surgeries slot-based, add posibrain surgery
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgeries.yml
Labels: Changes: No C#, size/S

#2067 SS14 - Making the worst species even worse update
  Resources/Audio/_Goobstation/Voice/Vox/attributions.yml
  Resources/Audio/_Goobstation/Voice/Vox/scream3.ogg
  Resources/Audio/_Goobstation/Voice/Vox/scream4.ogg
  Resources/Audio/_Goobstation/Voice/Vox/vox_cough.ogg
  Resources/Audio/_Goobstation/Voice/Vox/vox_cry.ogg
  Resources/Audio/_Goobstation/Voice/Vox/vox_deathgasp.ogg
  Resources/Audio/_Goobstation/Voice/Vox/vox_gasp.ogg
  Resources/Audio/_Goobstation/Voice/Vox/vox_sigh.ogg
  Resources/Audio/_Goobstation/Voice/Vox/vox_sneeze.ogg
  Resources/Audio/_Goobstation/Voice/Vox/vox_snore.ogg
  Resources/Audio/_Goobstation/Voice/Vox/vox_yawn.ogg
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Goobstation/SoundCollections/screams.yml
Labels: Bounty, Changes: No C#, size/S, S: Untriaged, Changes: Audio, Low Priority

#2411 Roundstart grenade tech SECOND TRY
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/shared.yml
  Resources/Prototypes/_Goobstation/Research/arsenal.yml
Labels: size/M, Changes: No C#, size/S, S: Untriaged

#2410 Make Bingles Antagonists
  Resources/Locale/en-US/_Goobstation/bingle/bingle.ftl
  Resources/Prototypes/_Goobstation/Entities/Markers/Spawners/bingle.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/bingle.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2414 Revert "Remove anaconda from nukie uplink"
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2413 Revert "Tweak changeling armblade damage"
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Melee/changeling_armblade.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Melee/changeling_hammer.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2382 Metal Gear Solid V: The Phantom Pain
  Content.Goobstation.Common/TheManWhoSoldTheWorld/TheManWhoSoldTheWorldComponent.cs
  Content.Goobstation.Shared/HoloCigar/HoloCigarAffectedGunComponent.cs
  Content.Goobstation.Shared/HoloCigar/HoloCigarComponent.cs
  Content.Goobstation.Shared/HoloCigar/HoloCigarSystem.cs
  Content.Goobstation.Shared/Weapons/Multishot/SharedMultishotSystem.cs
  Content.Shared/Wieldable/SharedWieldableSystem.cs
  Resources/Audio/_Goobstation/Items/TheManWhoSoldTheWorld/invisible.ogg
  Resources/Audio/_Goobstation/Items/TheManWhoSoldTheWorld/whouuuHOOAAAAAAAAAAAAH.ogg
  Resources/Locale/en-US/_Goobstation/holocigar/holo-cigar.ftl
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/Syndicate_Gadgets/holo_cigar.yml
  Resources/Textures/_Goobstation/Objects/Devices/holocigar.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Devices/holocigar.rsi/lit-icon.png
  Resources/Textures/_Goobstation/Objects/Devices/holocigar.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Untriaged, S: Needs Review, Changes: Audio

#2416 Hmm... What if this entity doesn't exist?
  Content.Goobstation.Server/Fishing/FishingSystem.cs
  Content.Goobstation.Shared/Fishing/Systems/SharedFishingSystem.cs
Labels: size/S, S: Untriaged

#2415 1984 wizard spawn rates and antag token
  Resources/Locale/en-US/_Goobstation/servercurrency/server_currency.ftl
  Resources/Prototypes/_Goobstation/GameRules/gamedirector_weights.yml
Labels: Changes: No C#, size/S, S: Untriaged, High Priority

#2421 Revert "Gamedir roundstart variation (#2384)"
  Resources/Prototypes/_Goobstation/game_presets.yml
Labels: Changes: No C#, size/XS

#2420 fix protection enchant
  Content.Goobstation.Shared/Enchanting/Systems/EnchantRelaySystem.cs
Labels: size/XS, S: Untriaged

#2412 Revert "Lich and forcewall nerf"
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_Goobstation/Wizard/gear.yml
  Resources/Prototypes/_Goobstation/Wizard/spellbook_catalog.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2387 Syringes can now be destroyed
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: Changes: No C#, size/S, Low Priority

#2301 Add NTR's scarf to their loadout
  Resources/Locale/en-US/_Goobstation/preferences/loadout-groups.ftl
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Command/nanotrasen_representative.yml
  Resources/Prototypes/_Goobstation/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Goobstation/Loadouts/role_loadouts.yml
Labels: Changes: No C#, size/S, S: Untriaged, Low Priority

#2299 Partial AP
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Shared/Armor/SharedArmorSystem.cs
  Content.Shared/Blocking/BlockingSystem.User.cs
  Content.Shared/Clothing/SharedCursedMaskSystem.cs
  Content.Shared/Damage/DamageModifierSet.cs
  Content.Shared/Damage/DamageSpecifier.cs
  Content.Shared/Damage/Systems/DamageProtectionBuffSystem.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Projectiles/ProjectileComponent.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/Weapons/Reflect/ReflectSystem.cs
  Content.Shared/_Shitcode/Wizard/Spellblade/SharedSpellbladeSystem.cs
  Content.Shared/_Shitmed/Body/Systems/SharedBodySystem.Targeting.cs
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
  Resources/Prototypes/Nyanotrasen/Damage/modifier_sets.yml
  Resources/Prototypes/_DV/Damage/modifier_sets.yml
  Resources/Prototypes/_EinsteinEngines/Damage/modifier_sets.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Melee/changeling_armblade.yml
  Resources/Prototypes/_Goobstation/Damage/modifier_sets.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Bow/hardlight_arrows.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Bow/hardlight_bow_protos.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Objects/Weapons/Melee/heretic_blades.yml
  Resources/Prototypes/_Goobstation/Wizard/modifier_sets.yml
  Resources/Prototypes/_Shitmed/Damage/modifier_sets.yml
Labels: size/M, S: Untriaged, S: Needs Review, Low Priority

#2263 Bingle plushies make binglepit sounds
  Resources/Prototypes/_Goobstation/Entities/Objects/Fun/toys.yml
Labels: Changes: No C#, size/S, S: Untriaged, Low Priority

#2434 Make Resomi go less slow when cold
  Resources/Prototypes/_Floofstation/Entities/Mobs/Species/resomi.yml
Labels: Changes: No C#, size/XS

#2436 Make cryostasis syringe fireable from the syringe gun.
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: Changes: No C#, size/XS

#2426 subgamemodes for gamedirector
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/game_presets.yml
Labels: Changes: No C#, size/S

#2432 Syndicate Stealth Suit Nerf
  Content.Shared/Stealth/Components/StealthOnMoveComponent.cs
  Content.Shared/Stealth/SharedStealthSystem.cs
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: size/S, S: Untriaged

#2433 [PORT] Tape recorder
  Content.Goobstation.Client/TapeRecorder/TapeRecorderSystem.cs
  Content.Goobstation.Client/TapeRecorder/UI/TapeRecorderBoundUserInterface.cs
  Content.Goobstation.Client/TapeRecorder/UI/TapeRecorderWindow.xaml
  Content.Goobstation.Client/TapeRecorder/UI/TapeRecorderWindow.xaml.cs
  Content.Goobstation.Server/TapeRecorder/TapeRecorderSystem.cs
  Content.Goobstation.Shared/TapeRecorder/Components/ActiveTapeRecorderComponent.cs
  Content.Goobstation.Shared/TapeRecorder/Components/FitsInTapeRecorderComponent.cs
  Content.Goobstation.Shared/TapeRecorder/Components/TapeCasetteComponent.cs
  Content.Goobstation.Shared/TapeRecorder/Components/TapeRecorderComponent.cs
  Content.Goobstation.Shared/TapeRecorder/Systems/SharedTapeRecorderSystem.cs
  Content.Goobstation.Shared/TapeRecorder/TapeCasetteRecordedMessage.cs
  Content.Goobstation.Shared/TapeRecorder/TapeRecorderUI.cs
  Resources/Audio/DeltaV/Items/TapeRecorder/attributions.yml
  Resources/Audio/DeltaV/Items/TapeRecorder/play.ogg
  Resources/Audio/DeltaV/Items/TapeRecorder/rewind.ogg
  Resources/Audio/DeltaV/Items/TapeRecorder/stop.ogg
  Resources/Locale/en-US/deltav/taperecorder/taperecorder.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/tape_recorder.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/DeltaV/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/misc.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/service.yml
  Resources/Textures/DeltaV/Objects/Devices/cassette_tapes.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Devices/cassette_tapes.rsi/tape_greyscale.png
  Resources/Textures/DeltaV/Objects/Devices/cassette_tapes.rsi/tape_ribbonoverlay.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/empty.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/idle.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/playing.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/recording.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/rewinding.png
  Resources/Textures/DeltaV/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Storage/boxes.rsi/recorder.png
Labels: Changes: Sprites, Changes: UI, S: Untriaged, size/L, Changes: Audio

#2394 Added pAI and Golden pAI to loadouts
  Resources/Locale/en-US/_Goobstation/pai/goldpai-system.ftl
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Fun/goldpai.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/misc.yml
  Resources/Textures/_Goobstation/Objects/Fun/goldpai.rsi/goldpai-base.png
  Resources/Textures/_Goobstation/Objects/Fun/goldpai.rsi/goldpai-off-overlay.png
  Resources/Textures/_Goobstation/Objects/Fun/goldpai.rsi/goldpai-on-overlay.png
  Resources/Textures/_Goobstation/Objects/Fun/goldpai.rsi/goldpai-searching-overlay.png
  Resources/Textures/_Goobstation/Objects/Fun/goldpai.rsi/icon-goldpai-off.png
  Resources/Textures/_Goobstation/Objects/Fun/goldpai.rsi/meta.json
Labels: Changes: Sprites, size/M, Changes: No C#, Low Priority

#2209 proper dart gun and better nukie agent
  Content.Goobstation.Shared/Chemistry/GunApplySolution/GunApplySolutionComponent.cs
  Content.Goobstation.Shared/Chemistry/GunApplySolution/GunApplySolutionSystem.cs
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Objects/Specific/Chemistry/chem_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Belt/belts.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Goobstation/Entities/Markers/Spawners/Random/evil.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Syndicate/uplink.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/dart_gun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/syringe_gun.yml
  Resources/Prototypes/_Goobstation/Roles/Antags/honkops.yml
  Resources/Textures/_Goobstation/Clothing/Belt/evil_chem_bag.rsi/equipped-BELT.png
  Resources/Textures/_Goobstation/Clothing/Belt/evil_chem_bag.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Belt/evil_chem_bag.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Belt/evil_chem_bag.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Belt/evil_chem_bag.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/dart_gun.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/dart_gun.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Untriaged, Medium Priority

#2445 Limit Enchanting to Chaplain/Heretic/Wizard
  Content.Goobstation.Shared/Enchanting/Components/CanEnchantComponent.cs
  Content.Goobstation.Shared/Enchanting/Systems/EnchanterSystem.cs
  Resources/Locale/en-US/_Goobstation/enchanting/enchanter.ftl
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Magic/books.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Objects/Specific/heretic.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Structures/Specific/Heretic/ritual_rune.yml
  Resources/Prototypes/_Goobstation/Heretic/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Wizard/gamerules_wizard.yml
Labels: size/S, S: Untriaged

#2461 bring back disposal speedflush
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
Labels: size/XS, S: Untriaged, S: Needs Review

#2460 Temporarily remove ghost bar antag portal
  Resources/Maps/_Goobstation/Nonstations/ghostbar.yml
Labels: Changes: Map, Changes: No C#, size/S

#2470 Revert "Syringes can now be destroyed (#2387)"
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2259 More customisation
  Resources/Locale/en-US/_Goobstation/accessories/human-hair.ftl
  Resources/Locale/en-US/accessories/human-hair.ftl
  Resources/Locale/en-US/markings/scars.ftl
  Resources/Locale/en-US/markings/tattoos.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Nyanotrasen/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/_DV/Species/harpy.yml
  Resources/Prototypes/_Floofstation/Species/resomi.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/Mobs/Customization/scars.rsi/buff.png
  Resources/Textures/Mobs/Customization/scars.rsi/meta.json
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/spikehawk.png
  Resources/Textures/_Goobstation/Mobs/Customization/scars.rsi/bodyscar_r.png
  Resources/Textures/_Goobstation/Mobs/Customization/scars.rsi/meta.json
  Resources/Textures/_Goobstation/Mobs/Customization/tattoos.rsi/loops.png
  Resources/Textures/_Goobstation/Mobs/Customization/tattoos.rsi/meta.json
  Resources/Textures/_Goobstation/Mobs/Customization/tattoos.rsi/tribal1.png
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged, Low Priority

#2458 gun fixes
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.Battery.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.Cartridges.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Resources/Locale/en-US/_Goobstation/damage/damage-examine.ftl
  Resources/Locale/en-US/_Goobstation/martial-arts/martial-arts.ftl
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/ammunition.yml
  Resources/Prototypes/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/Weapons/Gun/industrial.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_magnum.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/m7s.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_magnum.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/m7s.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/caseless.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/caseless_magnum.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/m7s.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Pistols/pistol.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Rifles/rifle.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/misc.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/security.yml
  Resources/Prototypes/_Goobstation/tags.yml
Labels: size/M, S: Untriaged, S: Needs Review

#2459 yaml insanity
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Syndicate/uplink.yml
  Resources/Prototypes/tags.yml
Labels: Changes: No C#, size/S

#2234 remove ling biomass
  Content.Goobstation.Client/Changeling/ChangelingSystem.cs
  Content.Goobstation.Server/Changeling/ChangelingSystem.Abilities.cs
  Content.Goobstation.Server/Changeling/ChangelingSystem.cs
  Content.Goobstation.Shared/Changeling/Actions/Changeling.Actions.cs
  Content.Goobstation.Shared/Changeling/Components/ChangelingIdentityComponent.cs
  Resources/Prototypes/_Goobstation/Changeling/Actions/changeling.yml
  Resources/Prototypes/_Goobstation/Changeling/Objectives/changeling.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
Labels: size/M, S: Untriaged, S: Needs Review, Medium Priority

#2502 Game Director Logging
  Content.Goobstation.Server/StationEvents/GameDirectorSystem.cs
  Content.Goobstation.Server/StationEvents/Metric/AnomalyMetric.cs
  Content.Goobstation.Server/StationEvents/Metric/CombatMetricSystem.cs
  Content.Goobstation.Server/StationEvents/Metric/DoorMetricSystem.cs
  Content.Goobstation.Server/StationEvents/Metric/FoodMetricSystem.cs
  Content.Goobstation.Server/StationEvents/Metric/PuddleMetricSystem.cs
Labels: size/M, S: Untriaged

#2504 Token Fix
  Content.Goobstation.Server/StationEvents/GameDirectorSystem.cs
  Content.Server/StationEvents/Components/StationEventComponent.cs
  Resources/Prototypes/_Goobstation/GameRules/Admeme/token.yml
Labels: size/S, S: Untriaged

#2444 Multishot + NoWieldNeeded refactors
  Content.Goobstation.Common/TheManWhoSoldTheWorld/TheManWhoSoldTheWorldComponent.cs
  Content.Goobstation.Common/Weapons/Multishot/MultishotComponent.cs
  Content.Goobstation.Common/Weapons/NoWieldNeeded/NoWieldNeededComponent.cs
  Content.Goobstation.Shared/HoloCigar/HoloCigarAffectedGunComponent.cs
  Content.Goobstation.Shared/HoloCigar/HoloCigarComponent.cs
  Content.Goobstation.Shared/HoloCigar/HoloCigarSystem.cs
  Content.Goobstation.Shared/Weapons/MissChance/MissChanceComponent.cs
  Content.Goobstation.Shared/Weapons/MissChance/MissChanceSystem.cs
  Content.Goobstation.Shared/Weapons/Multishot/MultishotComponent.cs
  Content.Goobstation.Shared/Weapons/Multishot/SharedMultishotSystem.cs
  Content.Goobstation.Shared/Weapons/NoWieldNeeded/NoWieldNeededSystem.cs
  Content.Goobstation.Shared/Weapons/RequiresDualWield/RequiresDualWieldSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/Wieldable/SharedWieldableSystem.cs
  Resources/Locale/en-US/_Goobstation/multishot/multishot-component.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Pistols/pistol.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/dart_gun.yml
Labels: size/M, S: Untriaged, S: Needs Review

#2480 Nerf enchantments
  Resources/Prototypes/Entities/Clothing/Hands/colored.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/cores.yml
  Resources/Prototypes/_Goobstation/Enchants/fire_aspect.yml
  Resources/Prototypes/_Goobstation/Enchants/knockback.yml
  Resources/Prototypes/_Goobstation/Enchants/protection.yml
  Resources/Prototypes/_Goobstation/Enchants/sharpness.yml
  Resources/Prototypes/_Goobstation/Enchants/slippery.yml
  Resources/Prototypes/_Goobstation/Enchants/thorns.yml
  Resources/Prototypes/_Goobstation/Enchants/unbreaking.yml
  Resources/Prototypes/_Goobstation/Enchants/unslippable.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Objects/Weapons/Melee/heretic_blades.yml
Labels: size/M, Changes: No C#, S: Untriaged

#2236 Welder energy swords
  Resources/Audio/_Goobstation/Weapons/EswordWelder/eblade1.ogg
  Resources/Audio/_Goobstation/Weapons/EswordWelder/hum.ogg
  Resources/Audio/_Goobstation/Weapons/EswordWelder/off.ogg
  Resources/Audio/_Goobstation/Weapons/EswordWelder/on.ogg
  Resources/Audio/_Goobstation/Weapons/EswordWelder/swing.ogg
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/e_sword_welder.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/fun/welder_sword.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/fun.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Prototypes/_Shitmed/Entities/Specific/Abductor/tools.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder-inhands.rsi/inhand-left-blade.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder-inhands.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder-inhands.rsi/inhand-right-blade.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder-inhands.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder-inhands.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder.rsi/icon_experimental.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder.rsi/icon_industrial.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder.rsi/icon_mini.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder.rsi/welder_sword.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder.rsi/welder_sword_blade.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder.rsi/welder_sword_blade_experimental.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder.rsi/welder_sword_blade_industrial.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder.rsi/welder_sword_blade_simple.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder.rsi/welder_sword_experimental.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder.rsi/welder_sword_industrial.png
Labels: Changes: Sprites, Bounty, size/M, Changes: No C#, S: Needs Review, Changes: Audio, Low Priority

#2249 New ling ability + fire affects lings + ability reworks and adjustments
  Content.Goobstation.Server/Changeling/ChangelingSystem.Abilities.cs
  Content.Goobstation.Server/Changeling/ChangelingSystem.cs
  Content.Goobstation.Shared/Atmos/Components/SpecialPressureImmunityComponent.cs
  Content.Goobstation.Shared/Body/Components/SpecialBreathingImmunityComponent.cs
  Content.Goobstation.Shared/Changeling/Actions/Changeling.Actions.cs
  Content.Goobstation.Shared/Changeling/Components/ChangelingIdentityComponent.cs
  Content.Goobstation.Shared/MartialArts/SharedMartialArtsSystem.KravMaga.cs
  Content.Goobstation.Shared/MartialArts/SharedMartialArtsSystem.SleepingCarp.cs
  Content.Goobstation.Shared/MartialArts/SharedMartialArtsSystem.cs
  Content.Goobstation.Shared/Temperature/Components/SpecialLowTempImmunityComponent.cs
  Content.Goobstation.Shared/Temperature/TemperatureEvents.cs
  Content.IntegrationTests/Tests/_Goobstation/Changeling/ChangelingArmorTests.cs
  Content.Server/Atmos/EntitySystems/BarotraumaSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/Temperature/Systems/TemperatureSystem.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/Temperature/Components/TemperatureSpeedComponent.cs
  Content.Shared/Temperature/Systems/SharedTemperatureSystem.cs
  Resources/Locale/en-US/_Goobstation/Changeling/abilities/changeling.ftl
  Resources/Locale/en-US/_Goobstation/Changeling/store/changeling-catalog.ftl
  Resources/Locale/en-US/_Goobstation/martial-arts/martial-arts.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/medicine.ftl
  Resources/Locale/en-US/_Goobstation/reagents/remove-component-effect.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/_Goobstation/Changeling/Actions/changeling.yml
  Resources/Prototypes/_Goobstation/Changeling/Catalog/changeling_catalog.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Melee/changeling_armblade.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Melee/changeling_claw.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Melee/changeling_hammer.yml
  Resources/Prototypes/_Goobstation/Reagents/medicine.yml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Changelings.xml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/ChangelingsAbilities.xml
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/claw.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/hammer.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/meta.json
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/void_adaptation.png
  Resources/Textures/_Goobstation/Changeling/claw.rsi/icon.png
  Resources/Textures/_Goobstation/Changeling/claw.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Changeling/claw.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Changeling/claw.rsi/meta.json
  Resources/Textures/_Goobstation/Changeling/hammer.rsi/icon.png
  Resources/Textures/_Goobstation/Changeling/hammer.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Changeling/hammer.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Changeling/hammer.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Needs Review, Medium Priority

#2517 better goobmod throws
  Content.Goobstation.Shared/Module/GoobModPack.cs
  Content.Shared/Entry/EntryPoint.cs
  Content.Shared/Module/ModulePack.cs
Labels: size/S, S: Untriaged

#2514 resomi tweak
  Resources/Prototypes/_Floofstation/Damage/modifier.sets.yml
  Resources/Prototypes/_Floofstation/Entities/Mobs/Species/resomi.yml
  Resources/ServerInfo/Guidebook/Mobs/Resomi.xml
Labels: Changes: No C#, size/S, S: Untriaged, S: Needs Review

#2484 more embed damage for advanced pens
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2515 goob is saved forever
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/pda.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2538 make ipcs make sense
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/_EinsteinEngines/Damage/modifier_sets.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
  Resources/ServerInfo/Guidebook/Mobs/IPCs.xml
Labels: Changes: No C#, size/S, S: Untriaged

#2540 Fixwelderswords
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/e_sword_welder.yml
Labels: Changes: No C#, size/S, S: Untriaged, S: Needs Review

#2542 Fixes event metrics in Game Director panel
  Content.Goobstation.Server/StationEvents/GameDirectorSystem.cs
Labels: size/S, S: Untriaged

#2469 New tot faction
  Content.Server/GameTicking/Rules/Components/TraitorRuleComponent.cs
  Resources/Locale/en-US/_Goobstation/flavors/traitor.ftl
  Resources/Prototypes/_Goobstation/Datasets/traitor_flavor.yml
Labels: size/S, S: Untriaged

#2543 Removed fun.
  Content.Goobstation.Shared/HoloCigar/HoloCigarComponent.cs
  Content.Goobstation.Shared/HoloCigar/HoloCigarSystem.cs
  Content.Server/Holiday/Christmas/RandomGiftSystem.cs
  Resources/Audio/StationEvents/mariah.ogg
  Resources/Audio/_Goobstation/Items/TheManWhoSoldTheWorld/invisible.ogg
  Resources/Audio/_Goobstation/Items/TheManWhoSoldTheWorld/whouuuHOOAAAAAAAAAAAAH.ogg
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/miscellaneous.yml
Labels: size/S, S: Untriaged, Changes: Audio

#2477 Radiation Overhaul
  Content.Goobstation.Server/Supermatter/Systems/SupermatterSystem.cs
  Content.Goobstation.Shared/Supermatter/Components/SupermatterComponent.cs
  Content.Server/Radiation/Systems/RadiationSystem.GridCast.cs
  Resources/Maps/_Goobstation/core.yml
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Entities/Debugging/item.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Walls/wall_directional.yml
  Resources/Prototypes/_Goobstation/Entities/Supermatter/supermatter.yml
Labels: Changes: Map, S: Untriaged, size/XL

#2508 buff radcollectors
  Content.Server/Singularity/EntitySystems/RadiationCollectorSystem.cs
Labels: size/S, S: Untriaged

#2509 (bounty) power transmission laser
  Content.Goobstation.Client/Content.Goobstation.Client.csproj
  Content.Goobstation.Client/Power/PTL/PTLVisualsComponent.cs
  Content.Goobstation.Client/Power/PTL/PTLVisualsSystem.cs
  Content.Goobstation.Server/Power/PTL/PTLSystem.cs
  Content.Goobstation.Shared/Content.Goobstation.Shared.csproj
  Content.Goobstation.Shared/Power/PTL/PTLComponent.cs
  Content.Server/Power/SMES/SmesSystem.cs
  Content.Shared/Weapons/Ranged/Components/BatteryAmmoProviderComponent.cs
  Content.Shared/Weapons/Ranged/Components/HitscanBatteryAmmoProviderComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Battery.cs
  Resources/Locale/en-US/_Goobstation/power/power_laser.ftl
  Resources/Prototypes/_Goobstation/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/power_laser.yml
  Resources/Textures/_Goobstation/Structures/Machines/PTL/pt_beam.rsi/meta.json
  Resources/Textures/_Goobstation/Structures/Machines/PTL/pt_beam.rsi/ptl_beam.png
  Resources/Textures/_Goobstation/Structures/Machines/PTL/pt_laser.rsi/base.png
  Resources/Textures/_Goobstation/Structures/Machines/PTL/pt_laser.rsi/charge-1.png
  Resources/Textures/_Goobstation/Structures/Machines/PTL/pt_laser.rsi/charge-2.png
  Resources/Textures/_Goobstation/Structures/Machines/PTL/pt_laser.rsi/charge-3.png
  Resources/Textures/_Goobstation/Structures/Machines/PTL/pt_laser.rsi/charge-4.png
  Resources/Textures/_Goobstation/Structures/Machines/PTL/pt_laser.rsi/charge-5.png
  Resources/Textures/_Goobstation/Structures/Machines/PTL/pt_laser.rsi/charge-6.png
  Resources/Textures/_Goobstation/Structures/Machines/PTL/pt_laser.rsi/firing.png
  Resources/Textures/_Goobstation/Structures/Machines/PTL/pt_laser.rsi/green_light.png
  Resources/Textures/_Goobstation/Structures/Machines/PTL/pt_laser.rsi/meta.json
  Resources/Textures/_Goobstation/Structures/Machines/PTL/pt_laser.rsi/red_light.png
  Resources/Textures/_Goobstation/Structures/Machines/PTL/pt_laser.rsi/started_firing.png
  Resources/Textures/_Goobstation/Structures/Machines/PTL/pt_laser.rsi/unpowered.png
Labels: Changes: Sprites, size/M, S: Untriaged, S: Needs Review

#2558 uikit pt3 pls work this time holy shit
  Content.Client/Content.Client.csproj
  Content.GoobStation.UIKit/Assembly.cs
  Content.GoobStation.UIKit/Content.GoobStation.UIKit.csproj
  Content.GoobStation.UIKit/Entry/EntryPoint.cs
  Content.GoobStation.UIKit/GlobalUsings.cs
  Content.Goobstation.Shared/Module/GoobModPack.cs
  Content.IntegrationTests/PoolManager.Modules.cs
  Content.Shared/Entry/EntryPoint.cs
  SpaceStation14.sln
Labels: size/S, S: Untriaged, S: Needs Review

#2496 Handheld Fax Fix
  Content.Server/Fax/FaxSystem.cs
Labels: size/S, S: Untriaged

#2564 Revert "uikit pt3 pls work this time holy shit"
  Content.Client/Content.Client.csproj
  Content.GoobStation.UIKit/Assembly.cs
  Content.GoobStation.UIKit/Content.GoobStation.UIKit.csproj
  Content.GoobStation.UIKit/Entry/EntryPoint.cs
  Content.GoobStation.UIKit/GlobalUsings.cs
  Content.Goobstation.Shared/Module/GoobModPack.cs
  Content.IntegrationTests/PoolManager.Modules.cs
  Content.Shared/Entry/EntryPoint.cs
  SpaceStation14.sln
Labels: size/S, S: Untriaged

#2567 Queue System + Goob Coin Changes + Patreon Benefit Updates
  .vscode/launch.json
  .vscode/tasks.json
  Content.DiscordBot/CommandHandler.cs
  Content.DiscordBot/Config.cs
  Content.DiscordBot/Content.DiscordBot.csproj
  Content.DiscordBot/Logger.cs
  Content.DiscordBot/Modules/AccountLinkingModule.cs
  Content.DiscordBot/Modules/LinkAccountModal.cs
  Content.DiscordBot/Program.cs
  Content.Goobstation.Client/Entry/EntryPoint.cs
  Content.Goobstation.Client/IoC/ContentGoobClientIoC.cs
  Content.Goobstation.Client/JoinQueue/JoinQueueManager.cs
  Content.Goobstation.Client/JoinQueue/QueueGui.xaml
  Content.Goobstation.Client/JoinQueue/QueueGui.xaml.cs
  Content.Goobstation.Client/JoinQueue/QueueState.cs
  Content.Goobstation.Common/CCVar/CCVars.Goob.cs
  Content.Goobstation.Common/JoinQueue/JoinQueueManagerInterface.cs
  Content.Goobstation.Server/Entry/EntryPoint.cs
  Content.Goobstation.Server/IoC/ServerGoobContentIoC.cs
  Content.Goobstation.Server/JoinQueue/JoinQueueManager.cs
  Content.Goobstation.Shared/JoinQueue/QueueUpdateMessage.cs
  Content.Server/Administration/Managers/AdminManager.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/GameTicking/GameTicker.StatusShell.cs
  Content.Server/_durkcode/ServerCurrency/ServerCurrencySystem.cs
  Resources/Locale/en-US/_Goobstation/join-queue/queue-screen.ftl
  Resources/Locale/en-US/_Goobstation/servercurrency/server_currency.ftl
  Resources/Prototypes/_Goobstation/ServerCurrency/token_listings.yml
  SpaceStation14.sln
Labels: Changes: UI, S: Untriaged, size/L

#2566 UIKIT BUT IT DOSENT CRASH CLIENTS
  Content.Client/Content.Client.csproj
  Content.Goobstation.Shared/Module/GoobModPack.cs
  Content.Goobstation.UIKit.Client/Assembly.cs
  Content.Goobstation.UIKit.Client/Content.Goobstation.UIKit.Client.csproj
  Content.Goobstation.UIKit.Client/Entry/EntryPoint.cs
  Content.Goobstation.UIKit.Client/GlobalUsings.cs
  Content.IntegrationTests/PoolManager.Modules.cs
  Content.Shared/Entry/EntryPoint.cs
  SpaceStation14.sln
Labels: size/S, S: Untriaged

#2271 Weapon resizing + holster rework
  Resources/Locale/en-US/_Goobstation/set-selector/selectable-sets.ftl
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Belt/belts.yml
  Resources/Prototypes/_Goobstation/Catalog/selectable_sets.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Rifles/rifle.yml
  Resources/Prototypes/_Shitmed/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Shitmed/Entities/Objects/Weapons/Melee/wonderprod.yml
Labels: size/M, Changes: No C#, S: Untriaged, Low Priority

#2487 fire axe buff
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2526 mice take anger management classes
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2559 Make Bingles Team Antagonists
  Resources/Prototypes/_Goobstation/Entities/Markers/Spawners/bingle.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/bingle.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2485 glorp zap bald glorpship shitsec zop
  Resources/Prototypes/_Shitmed/Entities/Specific/Abductor/surgery.yml
Labels: Changes: No C#, size/S
