Repository Goob-Station/Goob-Station, pull requests merged in 2025-05, with the labels that each got.

#2481 weldable plating
  Content.Shared/Tools/Components/ToolComponent.cs
  Content.Shared/Tools/Systems/SharedToolSystem.cs
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/_Shitmed/Entities/Specific/Abductor/tools.yml
Labels: Changes: No C#, size/S

#2576 effectively remove atmos tempcap
  Content.Shared/Atmos/Atmospherics.cs
Labels: size/XS, S: Untriaged

#2545 BSO is now 10x cooler.
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: No C#, size/XS, S: Untriaged, S: Needs Review

#2553 gambling gambling ultimate
  Content.Server/Traitor/Uplink/SurplusBundle/SurplusBundleSystem.cs
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: size/S, S: Untriaged

#2519 competent nukeops and QoL
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/pda.yml
Labels: Changes: No C#, size/S, S: Needs Review

#2442 Unnerfs bingles
  Content.Goobstation.Common/Bingle/BinglePitComponent.cs
Labels: size/XS, S: Untriaged

#2441 Remove random lights from blob
  Resources/Prototypes/_Goobstation/Blob/blob_tiles.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2523 explosive stuff
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2574 counterfeit spesos
  Resources/Locale/en-US/_Goobstation/tools/tool-qualities.ftl
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/Entities/Objects/Tools/spray_painter.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/misc/spesos.yml
  Resources/Prototypes/_Goobstation/tool-qualities.yml
Labels: Changes: No C#, size/S

#2506 Fixes IPC Racism(and also cr-2 tweak)
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/energybatterymag.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/energy.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/security.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/energyriflemag.rsi/erifle_overcharge.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/energyriflemag.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/ion_rifle.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/ion_rifle.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/ion_rifle.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/ion_rifle.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/ion_rifle.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/ion_rifle.rsi/mag-unshaded-0.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/ion_rifle.rsi/mag-unshaded-1.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/ion_rifle.rsi/mag-unshaded-2.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/ion_rifle.rsi/mag-unshaded-3.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/ion_rifle.rsi/mag-unshaded-4.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/ion_rifle.rsi/meta.json
Labels: Changes: Sprites, size/M, Changes: No C#, S: Needs Review

#2591 Devil Fixes
  Content.Goobstation.Server/Devil/Condemned/CondemnedSystem.OnDeath.cs
  Content.Goobstation.Server/Devil/Condemned/CondemnedSystem.cs
  Content.Goobstation.Server/Devil/Contract/DevilContractSystem.cs
  Content.Goobstation.Server/Devil/DevilSystem.cs
  Content.Goobstation.Server/Possession/PossessedComponent.cs
  Content.Goobstation.Server/Possession/PossessionSystem.cs
  Content.Goobstation.Shared/Devil/Condemned/CondemnedComponent.cs
  Content.Goobstation.Shared/Devil/Contract/DevilContractComponent.cs
  Content.Goobstation.Shared/Religion/Nullrod/DamageUnholyEvent.cs
  Content.Goobstation.Shared/Religion/UnholyItemComponent.cs
  Content.Goobstation.Shared/Religion/WeakToHolyComponent.cs
  Content.Goobstation.Shared/Religion/WeakToHolySystem.cs
  Resources/Prototypes/Damage/containers.yml
  Resources/Prototypes/_Goobstation/Roles/mind_roles.yml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR4Metashield.xml
Labels: size/M, S: Untriaged, S: Needs Review

#2428 Experimental RPD and giving maintenance drones additional access.
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_Imp/_Drone/Mobs_Player_silicon.yml
  Resources/Prototypes/_Imp/_Drone/drone.yml
  Resources/Prototypes/_Imp/_Drone/drone_tools.yml
Labels: Type: Enhancement, Changes: No C#, size/S, Priority: Low

#2465 New decal sprites
  Resources/Textures/Decals/Overlays/greyscale.rsi/checkerNESW.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/checkerNWSE.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/fulltile_overlay.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/halftile_overlay.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/halftile_overlay_180.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/halftile_overlay_270.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/halftile_overlay_90.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/quartertile_overlay.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/quartertile_overlay_180.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/quartertile_overlay_270.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/quartertile_overlay_90.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/threequartertile_overlay.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/threequartertile_overlay_180.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/threequartertile_overlay_270.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/threequartertile_overlay_90.png
Labels: Changes: Sprites, Changes: No C#, size/XS, S: Untriaged

#2513 Plushie Changes
  Resources/Prototypes/_Goobstation/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushie_samantha.png
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushiesamantha-equipped-HELMET.png
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushiesamantha-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushiesamantha-inhand-right.png
Labels: Changes: Sprites, Changes: No C#, size/S, S: Untriaged

#2522 Species stuff
  Content.Goobstation.Common/Cloning/UncloneableComponent.cs
  Content.Goobstation.Shared/Dash/DashActionComponent.cs
  Content.Goobstation.Shared/Dash/DashActionSystem.cs
  Content.Server/Cloning/CloningSystem.cs
  Resources/Audio/_Goobstation/Effects/attributions.yml
  Resources/Audio/_Goobstation/Effects/moth_wings.ogg
  Resources/Prototypes/Body/Parts/moth.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_DV/Body/Parts/harpy.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/_Floofstation/Damage/modifier.sets.yml
  Resources/Prototypes/_Goobstation/Actions/types.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/SMGs/smartgun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/web_neck_clothing.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/_NF/Recipes/Crafting/Graphs/web.yml
  Resources/Prototypes/_NF/Recipes/Crafting/web.yml
  Resources/ServerInfo/Guidebook/Mobs/Harpy.xml
  Resources/ServerInfo/Guidebook/Mobs/Moth.xml
  Resources/ServerInfo/Guidebook/Mobs/Vox.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Oni.xml
  Resources/Textures/_Goobstation/Actions/dash.rsi/icon.png
  Resources/Textures/_Goobstation/Actions/dash.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Cloaks/cloak_web.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/cloak_web.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/cloak_web.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/cloak_web.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/cloak_web.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_poncho_web.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_poncho_web.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_poncho_web.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_poncho_web.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_poncho_web.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_poncho_web.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Misc/poncho_web.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Misc/poncho_web.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Misc/poncho_web.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Neck/Misc/poncho_web.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Neck/Misc/poncho_web.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/webcocoon.rsi/body-overlay-2.png
  Resources/Textures/_NF/Objects/Misc/webcocoon.rsi/body-overlay-4.png
  Resources/Textures/_NF/Objects/Misc/webcocoon.rsi/cocoon.png
  Resources/Textures/_NF/Objects/Misc/webcocoon.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Untriaged, S: Needs Review, Changes: Audio

#2463 heavens gate if it was good
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/_Goobstation/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Damage/containers.yml
  Resources/Prototypes/_Goobstation/Damage/modifier_sets.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Boxes/high_caliber_box.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/antimateriel.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/gate.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/gate.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/misc.yml
  Resources/Prototypes/_Goobstation/explosions.yml
  Resources/Prototypes/_Goobstation/tags.yml
Labels: size/M, Changes: No C#, S: Untriaged

#2570 tider construction Balanced:tm: edition
  Resources/Locale/en-US/_Goobstation/ghost/ghost-role-component.ftl
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_Goobstation/Blob/misc_blob.yml
  Resources/Prototypes/_Goobstation/Changeling/ai_factions.yml
  Resources/Prototypes/_Goobstation/Datasets/Names/tider.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/misc/greytider.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/misc.yml
  Resources/Prototypes/_Goobstation/ai_factions.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Prototypes/_Lavaland/Entities/Objects/Specific/Salvage/lavaland_loot.yml
  Resources/Prototypes/_Lavaland/tags.yml
  Resources/Prototypes/ai_factions.yml
Labels: size/M, Changes: No C#, Type: Feature

#2486 Syringe/patches improvements and bola rework
  Content.Client/DoAfter/DoAfterOverlay.cs
  Content.Goobstation.Common/DoAfter/CombatDoAfterEvents.cs
  Content.Goobstation.Shared/DoAfter/CombatDoAfterComponent.cs
  Content.Goobstation.Shared/DoAfter/CombatDoAfterEvents.cs
  Content.Goobstation.Shared/DoAfter/CombatDoAfterSystem.Triggers.cs
  Content.Goobstation.Shared/DoAfter/CombatDoAfterSystem.cs
  Content.Goobstation.Shared/DoAfter/EnsnaringKnockdownComponent.cs
  Content.Server/Chemistry/EntitySystems/InjectorSystem.cs
  Content.Shared/CombatMode/Pacification/PacificationSystem.cs
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
  Content.Shared/DoAfter/DoAfterArgs.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.cs
  Content.Shared/Ensnaring/SharedEnsnareableSystem.cs
  Content.Shared/Sticky/Components/StickyComponent.cs
  Content.Shared/Sticky/Systems/StickySystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Audio/_Goobstation/Weapons/Effects/attributions.yml
  Resources/Audio/_Goobstation/Weapons/Effects/pierce1.ogg
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/medical_patch.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/dart_gun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/syringe_gun.yml
Labels: size/M, S: Untriaged, Changes: Audio

#2595 1984 toolbox bombing, but flukies should fluke
  Content.IntegrationTests/Tests/Payload/ModularGrenadeTests.cs
  Content.Server/Explosion/EntitySystems/ProjectileGrenadeSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Objects/Devices/payload.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/grenade.yml
  Resources/Prototypes/_Goobstation/Recipes/Reactions/single_reagent.yml
Labels: size/S, S: Untriaged, S: Needs Review

#2571 make freedom useful
  Content.Goobstation.Server/Changeling/ChangelingSystem.Abilities.cs
  Content.Server/Implants/SubdermalImplantSystem.cs
  Content.Shared/Implants/Components/SubdermalImplantComponent.cs
  Resources/Locale/en-US/_Goobstation/set-selector/selectable-sets.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Catalog/selectable_sets.yml
Labels: Type: Enhancement, size/S, S: Needs Changes, Priority: Low

#2575 exponential power ramping
  Content.IntegrationTests/Tests/Power/PowerTest.cs
  Content.Server/Power/Components/PowerSupplierComponent.cs
  Content.Server/Power/Pow3r/PowerSolverShared.cs
  Content.Server/Power/Pow3r/PowerState.cs
Labels: Bug: Small, size/S, S: Needs Review, Type: Bugfix, Priority: Low

#2593 Invisible Armor Fix
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/armour.yml
Labels: Bug: Small, Changes: No C#, size/XS, S: Needs Review, Type: Bugfix, Priority: Low

#2466 allow hristov to quickscope as god himself intended
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2536 Ghost Spawners with time locks now properly group together.
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRolesEui.cs
Labels: Bug: Small, size/S, S: Needs Review

#2284 New Ian variant: Clown Ian
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/_Goobstation/Mobs/Animals/clown_ian.rsi/clown_ian.png
  Resources/Textures/_Goobstation/Mobs/Animals/clown_ian.rsi/clown_ian_dead.png
  Resources/Textures/_Goobstation/Mobs/Animals/clown_ian.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S, Priority: Low

#2527 Coward.
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Specific/rehydrateable.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2450 Movement Impaired Bugfix
  Content.Goobstation.Shared/Traits/Components/MovementImpairedComponent.cs
  Content.Goobstation.Shared/Traits/Components/MovementImpairedCorrectionComponent.cs
  Content.Goobstation.Shared/Traits/Systems/MovementImpairedSystem.cs
Labels: size/S, S: Untriaged

#2443 Revenant buffs
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
  Content.Shared/Revenant/Components/RevenantComponent.cs
  Content.Shared/Revenant/Components/RevenantOverloadedLightsComponent.cs
  Content.Shared/Revenant/EntitySystems/SharedRevenantOverloadedLightsSystem.cs
  Resources/Prototypes/Actions/revenant.yml
  Resources/Prototypes/Entities/Effects/lightning.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
Labels: Type: Enhancement, size/S, S: Needs Review, Priority: Low

#2551 bouncy tesla
  Content.Goobstation.Server/EventHorizonIgnore/EventHorizonIgnoreComponent.cs
  Content.Goobstation.Server/EventHorizonIgnore/EventHorizonIgnoreSystem.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/energyball.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/generator.yml
  Resources/Prototypes/_Goobstation/tags.yml
Labels: size/S, S: Untriaged

#2563 ungimp blob factories
  Content.Goobstation.Server/Blob/BlobFactorySystem.cs
  Content.Goobstation.Server/Blob/Components/BlobFactoryComponent.cs
Labels: size/S, S: Untriaged

#2528 Make propeller hats flippable
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hats.yml
  Resources/Textures/_Goobstation/Clothing/Head/Hats/propeller.rsi/flipped-equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/propeller.rsi/icon_flipped.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/propeller.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S

#2572 uplink prices slight adjustments + burner he changes
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/caseless_rifle.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Boxes/high_caliber_box.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/high_caliber_cartridge.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/high_caliber_magazine.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Goobstation/explosions.yml
Labels: Changes: No C#, size/S

#2573 Fix Ninja/Loneops Token Naming + Token Store Hat
  Resources/Locale/en-US/_Goobstation/servercurrency/server_currency.ftl
  Resources/Prototypes/_Goobstation/GameRules/Admeme/token.yml
  Resources/Prototypes/_Goobstation/ServerCurrency/token_listings.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2531 port https://github.com/space-wizards/space-station-14/pull/28359
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasFilterSystem.cs
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_trinary.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Piping/Atmospherics/gas_pipe_sensor.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/_Goobstation/RPD/rpd.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/utilities.yml
  Resources/Textures/_Goobstation/Interface/Radial/RPD/inlineFilter.png
  Resources/Textures/_Goobstation/Structures/Piping/inlinegasfilter.rsi/gasFilter.png
  Resources/Textures/_Goobstation/Structures/Piping/inlinegasfilter.rsi/gasFilterOn.png
  Resources/Textures/_Goobstation/Structures/Piping/inlinegasfilter.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Needs Review, Priority: Low, Type: Feature

#2568 Armor
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/Clothing/OuterClothing/Vests/elitevest.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Vests/elitevest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Vests/elitevest.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Vests/elitevest.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Vests/elitevest.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Vests/elitevest.rsi/meta.json
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged, S: Needs Review

#2608 Update GameTicker.Player.cs
  Content.Server/GameTicking/GameTicker.Player.cs
Labels: size/XS, S: Untriaged

#2430 adds combat shotgun for the syndicate
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/icon-incendiary.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/icon-lethal.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/icon-sarin.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/icon-slug.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/sarin.png
Labels: Changes: Sprites, size/M, Changes: No C#, S: Needs Review

#2628 Clean up emoji wheel by removing unimplemented emojis
  Resources/Prototypes/_Floofstation/Voice/speech_emotes.yml
Labels: Changes: No C#, size/S

#2635 nullrod misc stuff
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/nullrod.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Specific/firey_cross.yml
  Resources/Prototypes/_Goobstation/Guidebook/chaplain.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/furniture/altars.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/misc/firey_cross.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/altars.yml
  Resources/Prototypes/_Goobstation/explosions.yml
  Resources/Prototypes/_ShitChap/Entities/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_ShitChap/explosion.yml
Labels: size/M, Changes: No C#, S: Untriaged

#2624 total bluesec death
  Content.Goobstation.Server/CrewMonitoring/CrewMonitorScanningSystem.cs
  Content.Goobstation.Server/RelayedDeathrattle/RelayedDeathrattleComponent.cs
  Content.Goobstation.Server/RelayedDeathrattle/RelayedDeathrattleSystem.cs
  Content.Goobstation.Shared/CrewMonitoring/CrewMonitorScanningComponent.cs
  Content.Goobstation.Shared/CrewMonitoring/CrewMonitorScanningDoAfterEvent.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Belt/belts.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Goobstation/Entities/Specific/bso.yml
  Resources/Textures/_Goobstation/Objects/Specific/Security/bso_monitor.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Specific/Security/bso_monitor.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Specific/Security/bso_monitor.rsi/scanner.png
Labels: Changes: Sprites, size/M, S: Untriaged, S: Needs Review

#2636 cult conversion hotfix
  Content.Server/_DV/CosmicCult/CosmicGlyphSystem.cs
Labels: size/XS, S: Untriaged

#2618 sec stuff tweaks
  Content.Goobstation.Server/Explosion/Components/TriggerOnVoiceIdLockedComponent.cs
  Content.Goobstation.Server/Explosion/EntitySystems/TriggerSystem.Voice.IdLocked.cs
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/security.yml
Labels: size/S, S: Untriaged

#2654 dear lord save us from this hell (this is not a mald pr i swear)
  Resources/Prototypes/_Goobstation/GameRules/gamedirector_weights.yml
Labels: Changes: No C#, size/S, Priority: High, NOTE: NOT A MALD PR

#2662 shuttle impact tweaks
  Content.Goobstation.Common/CCVar/CCVars.Goob.cs
  Content.Goobstation.Server/Shuttle/ShuttleImpactSystem.cs
  Content.Server/Physics/Controllers/MoverController.cs
  Content.Server/Shuttles/Components/ShuttleComponent.cs
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_Shitmed/Entities/Structures/Walls/walls.yml
Labels: size/M, S: Untriaged

#2667 Proper Project References
  Content.ModuleManager/Content.ModuleManager.csproj
  Content.Packaging/Content.Packaging.csproj
  Directory.Packages.props
Labels: Changes: No C#, size/S, S: Untriaged

#2622 Chair spawners
  Resources/Prototypes/_Goobstation/Entities/Markers/Spawners/vehicles.yml
  Resources/Textures/Objects/Vehicles/chairs.rsi/dark-icon.png
  Resources/Textures/Objects/Vehicles/chairs.rsi/meta.json
  Resources/Textures/Objects/Vehicles/chairs.rsi/white-icon.png
Labels: Changes: Sprites, Changes: No C#, size/S

#2684 shuttle impacts hotfix
  Content.Goobstation.Server/Shuttle/ShuttleImpactSystem.cs
Labels: size/S, S: Untriaged

#2483 #2432 partial revert
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2601 PTL now in CE locker too
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2521 Visitor Aliens now have Fanny Packs and totally real Jordans
  Resources/Prototypes/_Goobstation/Roles/Jobs/Fun/visitors_startinggear.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2610 baseball bat now has knockback again (goob is saved)
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
Labels: Changes: No C#, size/XS

#2693 Ports top right options panel and chat styling from a certain fork.
  Content.Client/Construction/UI/ConstructionMenuPresenter.cs
  Content.Client/GameTicking/Managers/ClientGameTicker.cs
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml.cs
  Content.Client/UserInterface/Systems/Admin/AdminUIController.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/UserInterface/Systems/Crafting/CraftingUIController.cs
  Content.Client/UserInterface/Systems/Sandbox/SandboxUIController.cs
  Content.Client/_Shitcode/UserActions/Tabs/ActionsTabControl.cs
  Content.Client/_Shitcode/UserActions/Tabs/ActionsTabControl.xaml
  Content.Client/_Shitcode/UserActions/Tabs/BaseTabControl.cs
  Content.Client/_Shitcode/UserActions/Tabs/ConfigTabControl.cs
  Content.Client/_Shitcode/UserActions/Tabs/ConfigTabControl.xaml
  Content.Client/_Shitcode/UserActions/Tabs/EmotesTabControl.cs
  Content.Client/_Shitcode/UserActions/Tabs/EmotesTabControl.xaml
  Content.Client/_Shitcode/UserActions/Tabs/StatusTabControl.cs
  Content.Client/_Shitcode/UserActions/Tabs/StatusTabControl.xaml
  Content.Client/_Shitcode/UserActions/UserActionUIController.cs
  Content.Client/_Shitcode/UserActions/UserActionUISystem.cs
  Content.Client/_Shitcode/UserActions/UserActionsPanel.cs
  Content.Client/_Shitcode/UserActions/UserActionsPanel.xaml
  Content.Goobstation.UIKit/UserActions/Controls/IconButton.cs
  Content.Goobstation.UIKit/UserInterface/Controls/CustomOutputPanel.cs
  Content.Goobstation.UIKit/UserInterface/Controls/CustomRichTextEntry.cs
  Content.Goobstation.UIKit/UserInterface/Controls/CustomRingBufferList.cs
  Content.Goobstation.UIKit/UserInterface/Controls/CustomWordWrap.cs
  Content.Goobstation.UIKit/UserInterface/Controls/StaticSpriteView.cs
  Content.Goobstation.UIKit/UserInterface/RichText/BaseTextureTag.cs
  Content.Goobstation.UIKit/UserInterface/RichText/EntityTextureTag.cs
  Content.Goobstation.UIKit/UserInterface/RichText/ExamineBorderTag.cs
  Content.Goobstation.UIKit/UserInterface/RichText/RadioIconTag.cs
  Content.Goobstation.UIKit/UserInterface/RichText/TextureTag.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Content.Server/_White/Examine/ExaminableCharacterSystem.cs
  Content.Shared/Chat/MsgChatMessage.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
  Resources/Locale/en-US/_Goobstation/GameTicker/gameticker.ftl
  Resources/Locale/en-US/_Goobstation/configmenu.ftl
  Resources/Locale/en-US/_Goobstation/uitoolkit.ftl
  Resources/Locale/en-US/_Goobstation/useractionpanel.ftl
Labels: Changes: UI, S: Untriaged, size/L

#2695 Fixes small whoopsie in FTL with the lifeweb inspects lmao
  Resources/Locale/en-US/_white/examine/examine.ftl
Labels: Changes: No C#, S: Untriaged

#2694 per-ent-hit wideswing stam damage
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: size/XS, S: Untriaged

#2696 Fix broken UI in research menu
  Content.Goobstation.Client/Research/UI/FancyResearchConsoleMenu.xaml.cs
Labels: Changes: UI, size/XS, S: Needs Review, Type: Bugfix, Priority: Medium

#2606 Token fixes
  Resources/Locale/en-US/_Goobstation/servercurrency/server_currency.ftl
  Resources/Prototypes/_Goobstation/ServerCurrency/token_listings.yml
Labels: Changes: No C#, size/XS

#2525 fix midround shuttles not existing
  Resources/Prototypes/_Goobstation/game_presets.yml
Labels: Bug: Medium, Changes: No C#, S: Needs Review, Type: Bugfix, Priority: Low

#2660 Fix rust charge.
  Content.Shared/_Shitcode/Heretic/Systems/RustChargeSystem.cs
Labels: size/S, S: Untriaged

#2677 Shadow cloak fix
  Content.Shared/_Shitcode/Heretic/Systems/SharedMansusGraspSystem.cs
Labels: size/XS, S: Untriaged

#2633 fix upgrade kits being in circuit printer
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2668 replace goidacode with visibility flag
  Content.Server/_Shitcode/Heretic/Components/EldritchInfluenceComponent.cs
  Content.Server/_Shitcode/Heretic/EntitySystems/HereticSystem.cs
  Content.Shared/Eye/VisibilityFlags.cs
  Resources/Prototypes/_Goobstation/Heretic/Entities/Structures/Specific/Heretic/eldritch_influence.yml
Labels: size/S, S: Untriaged

#2631 make fax automatable
  Content.Goobstation.Server/Fax/FaxSignalSystem.cs
  Content.Server/Fax/FaxSystem.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
  Resources/Locale/en-US/_Goobstation/machines/automation.ftl
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/_Goobstation/DeviceLink/sink_ports.yml
  Resources/Prototypes/_Goobstation/DeviceLink/source_ports.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Tools/tools.yml
Labels: size/M, S: Untriaged

#2672 Fix the stupid fucking chud hos shit / mcdonalds hotfix
  Resources/Locale/en-US/_Goobstation/undetermined-items/headofsecurity-undetermined.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Goobstation/Catalog/selectable_sets.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Security/set_selectors.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/AmmoSelector/ammo_selector_protos.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/lawbringer.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/x-00-weapons.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/justice.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Storage/glass_box.yml
  Resources/Prototypes/_Goobstation/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_Goobstation/Objectives/traitor.yml
Labels: size/M, Changes: No C#

#2609 add waddling
  Content.Goobstation.Client/Waddle/WaddleAnimationSystem.cs
  Content.Goobstation.Server/Waddle/WaddleAnimationSystem.cs
  Content.Goobstation.Shared/Waddle/SharedWaddleAnimationSystem.cs
  Content.Goobstation.Shared/Waddle/WaddleAnimationComponent.cs
  Content.Goobstation.Shared/Waddle/WaddleClothingSystem.cs
  Content.Goobstation.Shared/Waddle/WaddleWhenWornComponent.cs
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
Labels: size/M, S: Untriaged

#2600 Hair saturation job requirement
  Content.Goobstation.Shared/Content.Goobstation.Shared.csproj
  Content.Goobstation.Shared/MisandryBox/Helpers/ColorExt.cs
  Content.Goobstation.Shared/MisandryBox/Saturation/SaturationRequirement.cs
  Resources/Locale/en-US/_Goobstation/MisandryBox/HairSaturation.ftl
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
Labels: size/M, S: Untriaged

#2700 add constructor
  Content.Goobstation.Client/Factory/ConstructorSystem.cs
  Content.Goobstation.Client/Factory/UI/ConstructorBUI.cs
  Content.Goobstation.Common/Construction/ConstructedEvent.cs
  Content.Goobstation.Server/Factory/ConstructorSystem.cs
  Content.Goobstation.Shared/Factory/AutomationSystem.cs
  Content.Goobstation.Shared/Factory/ConstructorComponent.cs
  Content.Goobstation.Shared/Factory/RoboticArmSystem.cs
  Content.Goobstation.Shared/Factory/SharedConstructorSystem.cs
  Content.Goobstation.Shared/Factory/StartableMachineComponent.cs
  Content.Goobstation.Shared/Factory/StartableMachineSystem.cs
  Content.Server/Construction/ConstructionSystem.Initial.cs
  Content.Server/DeviceLinking/Components/LogicGateComponent.cs
  Content.Server/DeviceLinking/Systems/DoorSignalControlSystem.cs
  Content.Server/DeviceLinking/Systems/EdgeDetectorSystem.cs
  Content.Shared/DeviceLinking/SharedLogicGate.cs
  Resources/Locale/en-US/_Goobstation/factory/constructor.ftl
  Resources/Locale/en-US/_Goobstation/machines/automation.ftl
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_Goobstation/DeviceLink/sink_ports.yml
  Resources/Prototypes/_Goobstation/DeviceLink/source_ports.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/Circuitboards/machine.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/constructor.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/storage_bin.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/circuits.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/electronics.yml
  Resources/Textures/_Goobstation/Structures/Machines/constructor.rsi/icon.png
  Resources/Textures/_Goobstation/Structures/Machines/constructor.rsi/meta.json
  Resources/Textures/_Goobstation/Structures/Machines/constructor.rsi/powered.png
Labels: Changes: Sprites, S: Untriaged, size/L

#2447 The return of the MODsuit: Part 2 - Grubby hands and a great renaming
  Resources/Locale/en-US/_Goobstation/set-selector/selectable-sets.ftl
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/objectives/conditions/steal-target-groups.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Maps/Shuttles/ShuttleEvent/flatline.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_Goobstation/Catalog/selectable_sets.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Back/modsuit.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Hands/modsuit.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/modsuit.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/voidsuit-helmet.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/modsuit.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Shoes/modsuit.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Misc/voidsuitselectors.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Robotics/modsuit_parts.yml
  Resources/ServerInfo/Guidebook/Engineering/SingularityEngine.xml
  Resources/Textures/Clothing/Head/Hardsuits/security-red.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/security-red.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/security-red.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/security-red.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/security-red.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/security-red.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/security-red.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/security-red.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/security-red.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/security-red.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndicate.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Head/Voidsuits/security.rsi/icon-flash.png
  Resources/Textures/_Goobstation/Clothing/Head/Voidsuits/security.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Head/Voidsuits/security.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Head/Voidsuits/security.rsi/off-equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Voidsuits/security.rsi/on-equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Voidsuits/security.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Voidsuits/security.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Voidsuits/security.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, size/M, Changes: No C#, S: Untriaged, S: Needs Review

#2285 loadout expansion
  Resources/Locale/en-US/_Goobstation/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Cargo/salvage.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Civilian/botanist.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Dignitary/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Dignitary/nanotrasen_representative.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Medical/chemist.yml
  Resources/Prototypes/_Goobstation/Loadouts/loadout_groups.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/messenger.yml
  Resources/Prototypes/_NF/Loadouts/messengers.yml
  Resources/Textures/_Goobstation/Clothing/Head/Hats/beret_botany.rsi/equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/beret_botany.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/beret_botany.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/beret_botany.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/beret_botany.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites, Changes: Map, size/M, Changes: No C#, S: Needs Review, Priority: Low

#2478 Oasis Holopads, maintenance extensions and AI revamp
  Resources/Maps/_Goobstation/oasis.yml
Labels: Changes: Map, Changes: No C#, size/XL, S: Needs Review, Priority: Medium

#2482 Greytide Virus EA door instead of open-bolt them
  Content.Server/StationEvents/Events/GreytideVirusRule.cs
Labels: size/XS, S: Untriaged

#2546 Blob Guidebook revamp.
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Blob.xml
Labels: Type: Documentation, size/M, Changes: No C#, S: Needs Review, Priority: Low

#2585 Added surgery and defibrillator modules to medical cyborgs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/_Shitmed/Research/civilianservices.yml
  Resources/Prototypes/borg_types.yml
Labels: Type: Enhancement, Changes: No C#, size/S, S: Needs Review, Priority: Low

#2605 Fix IPCs stop recharging once full in borg rechargers
  Content.Server/Power/EntitySystems/ChargerSystem.cs
Labels: Bug: Medium, size/S, S: Needs Review, Type: Bugfix, Priority: Low

#2607 (BOUNTY) Alex Mercer's clothes
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/_Goobstation/Clothing/Head/Hoods/mercer_hood.rsi/equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Hoods/mercer_hood.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Head/Hoods/mercer_hood.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Misc/mercer_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Misc/mercer_jacket.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Misc/mercer_jacket.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Misc/mercer_jacket.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Misc/mercer_jacket.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/mercer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/mercer.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/mercer.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/mercer.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/mercer.rsi/meta.json
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged

#2611 Tile suit
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/specific.yml
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/budget_stealth.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/budget_stealth.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/budget_stealth.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/budget_stealth.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/budget_stealth.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S, S: Untriaged

#2619 rock and stone
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/e_pickaxe.yml
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/e-pickaxe-blade.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/e-pickaxe.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/inhand-left-blade.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/inhand-right-blade.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/meta.json
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged

#2625 Lets make mechs great again
  Resources/Prototypes/_Goobstation/Damage/modifier_sets.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2630 Move tide flipper to major contra
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/Crafting/ghetto_stuff.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2613 Fix skeletons get poison damage when recieving surgery without mask/gloves
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/_Shitmed/Surgery/SurgeryTargetComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
Labels: size/S, S: Untriaged

#2658 slightly less awful shotgun reloading
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
Labels: size/XS, S: Untriaged

#2650 Added Cognizine to sentient brains
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Body/Organs/slime.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2649 Kitchen knifes do damage when thrown
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2627 Add lawyer jobslot to atlas
  Resources/Prototypes/_Goobstation/Maps/atlas.yml
Labels: Changes: No C#, size/XS

#2499 Plasteel construction module
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: Changes: No C#, size/S, S: Needs Review

#2689 make chemistry able to reasonably produce plastic
  Resources/Prototypes/Recipes/Reactions/fun.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2683 borg self-weld
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2709 fixed some typos
  Resources/Locale/en-US/advertisements/other/medibot.ftl
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/robotics.yml
  Resources/Prototypes/borg_types.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2604 more tesla stuff
  Content.Goobstation.Common/Singularity/ContainmentFieldThrowEvent.cs
  Content.Goobstation.Server/Singularity/ContainmentField/ContainmentFieldIgnoreComponent.cs
  Content.Goobstation.Server/Singularity/ContainmentField/ContainmentFieldIgnoreSystem.cs
  Content.Goobstation.Server/Singularity/EventHorizon/EventHorizonIgnoreComponent.cs
  Content.Goobstation.Server/Singularity/EventHorizon/EventHorizonIgnoreSystem.cs
  Content.Goobstation.Shared/Clothing/Components/ClothingGrantComponentComponent.cs
  Content.Goobstation.Shared/Clothing/Systems/ClothingGrantingSystem.cs
  Content.Server/Singularity/EntitySystems/ContainmentFieldSystem.cs
  Content.Server/Singularity/EntitySystems/SingularityGeneratorSystem.cs
  Content.Shared/Singularity/Components/ContainmentFieldComponent.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/energyball.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/specific.yml
  Resources/Prototypes/_Goobstation/Entities/Debugging/nukiestealth.yml
Labels: size/M, S: Untriaged

#2690 Chudimov Lawset
  Resources/Locale/en-US/_Goobstation/station-laws/laws.ftl
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Goobstation/silicon-laws.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: No C#, size/S, S: Needs Review

#2722 moment
  Content.Goobstation.Shared/MisandryBox/Helpers/ColorExt.cs
  Content.Goobstation.Shared/MisandryBox/Saturation/SaturationRequirement.cs
Labels: size/S, S: Untriaged

#2724 Hair un-1984.
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
Labels: Changes: No C#, size/XS

#2739 Bloodpack Fix
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
Labels: Changes: No C#, size/XS, S: Untriaged, S: Needs Review

#2612 make instruments less annoying
  Resources/Prototypes/Entities/Objects/Fun/Instruments/base_instruments.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2713 It's hammer time.
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2711 Grab bag of cosmic cult ports & fixes
  Content.Server/_DV/CosmicCult/Abilities/CosmicGlareSystem.cs
  Content.Server/_DV/CosmicCult/Components/CleanseOnUseComponent.cs
  Content.Server/_DV/CosmicCult/Components/CosmicFinaleComponent.cs
  Content.Server/_DV/CosmicCult/CosmicCultSystem.cs
  Content.Server/_DV/CosmicCult/EntitySystems/CosmicCorruptingSystem.cs
  Content.Server/_DV/CosmicCult/MonumentSystem.cs
  Content.Shared/_DV/Abilities/CCVars/DCCVars.cs
  Content.Shared/_DV/CosmicCult/Components/CosmicCultComponent.cs
  Resources/Audio/_DV/CosmicCult/attributions.yml
  Resources/Audio/_DV/CosmicCult/projectile_razor.ogg
  Resources/Audio/_DV/CosmicCult/projectile_razor_hit.ogg
  Resources/Audio/_DV/CosmicCult/projectile_razor_reload.ogg
  Resources/Locale/en-US/_DV/cosmiccult/preset-cosmiccult.ftl
  Resources/Locale/en-US/_DV/datasets/figurines.ftl
  Resources/Locale/en-US/_DV/stationlaws/laws.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Fun/figurine_boxes.yml
  Resources/Prototypes/Entities/Tiles/lava.yml
  Resources/Prototypes/Entities/Tiles/liquid_plasma.yml
  Resources/Prototypes/Entities/Tiles/water.yml
  Resources/Prototypes/_DV/CosmicCult/Effects/effects.yml
  Resources/Prototypes/_DV/CosmicCult/Objects/cosmicweapons.yml
  Resources/Prototypes/_DV/CosmicCult/Objects/misc.yml
  Resources/Prototypes/_DV/CosmicCult/Tileset/floors.yml
  Resources/Prototypes/_DV/CosmicCult/Tileset/monument.yml
  Resources/Prototypes/_DV/CosmicCult/projectiles.yml
  Resources/Prototypes/_DV/Datasets/figurines.yml
  Resources/Prototypes/_DV/Entities/Objects/Fun/figurines.yml
  Resources/Prototypes/_DV/siliconlaws.yml
  Resources/Textures/_DV/CosmicCult/Effects/effect_ns_flarevfx.rsi/meta.json
  Resources/Textures/_DV/CosmicCult/Effects/effect_ns_flarevfx.rsi/vfx.png
  Resources/Textures/_DV/CosmicCult/Effects/effect_ns_reboundvfx.rsi/meta.json
  Resources/Textures/_DV/CosmicCult/Effects/effect_ns_reboundvfx.rsi/vfx.png
  Resources/Textures/_DV/CosmicCult/Objects/lawboard.rsi/icon.png
  Resources/Textures/_DV/CosmicCult/Objects/lawboard.rsi/meta.json
  Resources/Textures/_DV/Objects/Fun/figurines.rsi/cosmiccultist.png
  Resources/Textures/_DV/Objects/Fun/figurines.rsi/cosmiccultist_unshaded.png
  Resources/Textures/_DV/Objects/Fun/figurines.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Untriaged, Changes: Audio

#2744 delaggening
  Content.Shared/Body/Components/BodyComponent.cs
  Content.Shared/_Shitmed/Surgery/Wounds/Components/WoundableComponent.cs
  Content.Shared/_Shitmed/Surgery/Wounds/Systems/WoundSystem.Wounding.cs
  Content.Shared/_Shitmed/Surgery/Wounds/Systems/WoundSystem.cs
Labels: size/M, S: Untriaged

#2717 removed unused blueshield heavy voidsuit set
  Resources/Locale/en-US/_Goobstation/set-selector/selectable-sets.ftl
  Resources/Prototypes/_Goobstation/Catalog/selectable_sets.yml
Labels: Changes: No C#, size/S, S: Untriaged, S: Needs Review

#2746 Woundmed Fixes 1
  Content.Server/EntityEffects/Effects/HealthChange.cs
  Content.Shared/Body/Components/BodyComponent.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/_Shitmed/Body/Components/BodyTypeEnums.cs
  Content.Shared/_Shitmed/Surgery/Consciousness/Systems/ConsciousnessSystem.Networking.cs
  Content.Shared/_Shitmed/Surgery/Pain/Components/NerveSystemComponent.cs
  Content.Shared/_Shitmed/Surgery/Pain/Systems/PainSystem.Damage.cs
  Content.Shared/_Shitmed/Surgery/Traumas/Systems/TraumaSystem.Process.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/robotics.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_Shitmed/Body/Parts/animal.yml
  Resources/Prototypes/_Shitmed/Body/Prototypes/Animal/dragon.yml
  Resources/Prototypes/_Shitmed/Body/Prototypes/Animal/goliath.yml
  Resources/Prototypes/_Shitmed/Body/Prototypes/Animal/laserraptor.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/wounds.yml
  Resources/Prototypes/_Shitmed/Recipes/Lathes/medical.yml
Labels: size/M, S: Untriaged

#2638 add interactor for automating simple processes
  Content.Goobstation.Client/Factory/InteractorSystem.cs
  Content.Goobstation.Common/DoAfter/DoAfterEndedEvent.cs
  Content.Goobstation.Server/Factory/InteractorSystem.cs
  Content.Goobstation.Shared/Factory/InteractorComponent.cs
  Content.Goobstation.Shared/Factory/SharedInteractorSystem.cs
  Content.Goobstation.Shared/Factory/Slots/AutomatedHand.cs
  Content.Shared/DoAfter/DoAfterComponent.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Mobs/Systems/MobThresholdSystem.cs
  Resources/Locale/en-US/_Goobstation/machines/automation.ftl
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_Goobstation/DeviceLink/sink_ports.yml
  Resources/Prototypes/_Goobstation/DeviceLink/source_ports.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/Circuitboards/machine.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/interactor.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/circuits.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/autodoc.yml
  Resources/Textures/_Goobstation/Structures/Machines/interactor.rsi/active-powered.png
  Resources/Textures/_Goobstation/Structures/Machines/interactor.rsi/active.png
  Resources/Textures/_Goobstation/Structures/Machines/interactor.rsi/base.png
  Resources/Textures/_Goobstation/Structures/Machines/interactor.rsi/empty-powered.png
  Resources/Textures/_Goobstation/Structures/Machines/interactor.rsi/empty.png
  Resources/Textures/_Goobstation/Structures/Machines/interactor.rsi/icon.png
  Resources/Textures/_Goobstation/Structures/Machines/interactor.rsi/inactive-powered.png
  Resources/Textures/_Goobstation/Structures/Machines/interactor.rsi/inactive.png
  Resources/Textures/_Goobstation/Structures/Machines/interactor.rsi/meta.json
Labels: Changes: Sprites, size/M

#2716 [Bounty]mindcontrol implant cost to 25
  Resources/Prototypes/_Goobstation/Catalog/selectable_sets.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
Labels: Changes: No C#, size/XS, S: Needs Review

#2754 [BOUNTY] Better wiz chances
  Resources/Prototypes/_Goobstation/GameRules/gamedirector_weights.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2632 add factorio goidabook
  Content.Goobstation.Client/Guidebook/Controls/GuideAutomationSlotsEmbed.cs
  Content.Goobstation.Shared/Factory/AutomationSystem.cs
  Resources/Locale/en-US/_Goobstation/guidebook/guides.ftl
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/engineering.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/filters.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Tools/upgrade_kits.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/robotic_arm.yml
  Resources/Prototypes/_Goobstation/Guidebook/engineering.yml
  Resources/ServerInfo/_Goobstation/Guidebook/Engineering/Automation.xml
Labels: size/M, S: Untriaged

#2771 Remove dumb lawboards
  Resources/Locale/en-US/_Goobstation/accent/tide.ftl
  Resources/Locale/en-US/_Goobstation/station-laws/laws.ftl
  Resources/Locale/en-US/_Goobstation/traits/traits.ftl
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Prototypes/_Goobstation/Accents/word_replacements.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Goobstation/Traits/speech.yml
  Resources/Prototypes/_Goobstation/silicon-laws.yml
  Resources/Prototypes/silicon-laws.yml
Labels: size/M, S: Merge Conflict, Changes: No C#, S: Untriaged

#2774 hotfix 3
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Goobstation/silicon-laws.yml
Labels: size/M, Changes: No C#, S: Untriaged

#2712 Bingle Moneyspread Lobby Art
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/binglemoneyspread.webp
  Resources/Textures/LobbyScreens/binglemoneyspread.webp.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2764 Resprite factorio
  Resources/Textures/_Goobstation/Structures/Machines/constructor.rsi/icon.png
  Resources/Textures/_Goobstation/Structures/Machines/constructor.rsi/meta.json
  Resources/Textures/_Goobstation/Structures/Machines/constructor.rsi/powered.png
  Resources/Textures/_Goobstation/Structures/Machines/robotic_arm.rsi/arm-long.png
  Resources/Textures/_Goobstation/Structures/Machines/robotic_arm.rsi/arm-short.png
  Resources/Textures/_Goobstation/Structures/Machines/robotic_arm.rsi/base.png
  Resources/Textures/_Goobstation/Structures/Machines/robotic_arm.rsi/icon.png
  Resources/Textures/_Goobstation/Structures/Machines/robotic_arm.rsi/meta.json
  Resources/Textures/_Goobstation/Structures/Machines/robotic_arm.rsi/powered.png
  Resources/Textures/_Goobstation/Structures/Machines/storage_bin.rsi/icon.png
  Resources/Textures/_Goobstation/Structures/Machines/storage_bin.rsi/meta.json
  Resources/Textures/_Goobstation/Structures/Machines/storage_bin.rsi/powered.png
Labels: Changes: Sprites, Changes: No C#, size/S, S: Untriaged

#2729 remove radiation from bananium ore
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2534 Skinnable Pun-pun
  Content.Goobstation.Server/Skinnable/SkinnableSystem.cs
  Content.Goobstation.Shared/Skinnable/SharedSkinnableSystem.cs
  Content.Goobstation.Shared/Skinnable/SkinnableComponent.cs
  Content.Goobstation.Shared/Skinnable/SkinningDoAfter.cs
  Resources/Locale/en-US/_Goobstation/skinning/skinning.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/Mobs/Animals/monkey.rsi/meta.json
  Resources/Textures/Mobs/Animals/monkey.rsi/monkey_skinned.png
Labels: Changes: Sprites, size/M, S: Needs Review, Note: Mald PR, Type: Feature

#2778 fix the game
  Content.Goobstation.Shared/Skinnable/SkinnableComponent.cs
Labels: size/XS, S: Untriaged

#2779 Update singularity.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2780 fix 1x1 tesla
  Content.Server/Singularity/EntitySystems/SingularityGeneratorSystem.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/generator.yml
Labels: Bug: Large, size/S, S: Untriaged, Priority: High

#2599 Devilmaxxing
  Content.Goobstation.Server/Devil/CheatDeath/CheatDeathSystem.cs
  Content.Goobstation.Server/Devil/Condemned/CondemnedSystem.OnDeath.cs
  Content.Goobstation.Server/Devil/Condemned/CondemnedSystem.cs
  Content.Goobstation.Server/Devil/Contract/DevilContractSystem.ContractEvents.cs
  Content.Goobstation.Server/Devil/Contract/DevilContractSystem.cs
  Content.Goobstation.Server/Devil/Contract/Revival/RevivalContractSystem.cs
  Content.Goobstation.Server/Devil/DevilSystem.Actions.cs
  Content.Goobstation.Server/Devil/DevilSystem.Handshake.cs
  Content.Goobstation.Server/Devil/DevilSystem.cs
  Content.Goobstation.Server/Devil/GameTicking/Rules/DevilRuleSystem.cs
  Content.Goobstation.Server/Devil/Grip/DevilGripComponent.cs
  Content.Goobstation.Server/Devil/Grip/DevilGripSystem.cs
  Content.Goobstation.Server/Possession/PossessedComponent.cs
  Content.Goobstation.Server/Possession/PossessionSystem.cs
  Content.Goobstation.Shared/Dash/CheatDeath/CheatDeathComponent.cs
  Content.Goobstation.Shared/Devil/Actions/Devil.Actions.cs
  Content.Goobstation.Shared/Devil/Condemned/CondemnedComponent.cs
  Content.Goobstation.Shared/Devil/Contract/DevilClausePrototype.cs
  Content.Goobstation.Shared/Devil/DevilComponent.cs
  Content.Goobstation.Shared/Devil/DevilEvents.cs
  Content.Goobstation.Shared/Devil/PendingHandshakeComponent.cs
  Content.Goobstation.Shared/Inventory/GoobInventorySystem.Relays.cs
  Content.Goobstation.Shared/Possession/PossessionEvents.cs
  Content.Server/Chat/SuicideSystem.cs
  Content.Server/_Shitmed/DelayedDeath/DelayedDeathComponent.cs
  Content.Server/_Shitmed/DelayedDeath/DelayedDeathSystem.cs
  Resources/Locale/en-US/_Goobstation/datasets/figurines.ftl
  Resources/Locale/en-US/_Goobstation/devil/cheatdeath/cheatdeath.ftl
  Resources/Locale/en-US/_Goobstation/devil/contracts/contract.ftl
  Resources/Locale/en-US/_Goobstation/devil/devil.ftl
  Resources/Locale/en-US/_Goobstation/devil/grip.ftl
  Resources/Locale/en-US/_Goobstation/possession/possession.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Fun/figurine_boxes.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/_Goobstation/Actions/devil.yml
  Resources/Prototypes/_Goobstation/Datasets/figurines.yml
  Resources/Prototypes/_Goobstation/Devil/clauses.yml
  Resources/Prototypes/_Goobstation/Devil/contract.yml
  Resources/Prototypes/_Goobstation/Devil/devilgrip.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Fun/figurines.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Polymorphs/polymorph.yml
  Resources/Prototypes/_Goobstation/Roles/Antags/devil.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Devil.xml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/DevilClauses.xml
  Resources/Textures/_Goobstation/Actions/devil.rsi/devil-grip.png
  Resources/Textures/_Goobstation/Actions/devil.rsi/meta.json
  Resources/Textures/_Goobstation/Devil/devil_grip.rsi/icon.png
  Resources/Textures/_Goobstation/Devil/devil_grip.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Devil/devil_grip.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Devil/devil_grip.rsi/meta.json
Labels: Changes: Sprites, Bug: Medium, size/L, S: Needs Review, Priority: High, Note: Mald PR

#2776 Add molotov cocktail
  Resources/Locale/en-US/tools/tool-qualities.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/Entities/Objects/Tools/matches.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/firebomb.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Bombs/molotov.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Specific/firey_cross.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/weapons/molotov.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/weapons.yml
  Resources/Prototypes/_Goobstation/explosions.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Prototypes/tool_qualities.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Bombs/Molotov.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Bombs/Molotov.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Bombs/Molotov.rsi/lit.png
  Resources/Textures/_Goobstation/Objects/Weapons/Bombs/Molotov.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Bombs/Molotov.rsi/unlit.png
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged

#2322 Big shotgun
  Content.Goobstation.Shared/Weapons/Recoil/GunRecoilComponent.cs
  Content.Goobstation.Shared/Weapons/Recoil/GunRecoilSystem.cs
  Content.Shared/Damage/Systems/RequireProjectileTargetSystem.cs
  Content.Shared/_Shitcode/Weapons/SmartGun/SharedLaserPointerSystem.cs
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/heavy_shotgun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Cartridges/magshot.rsi/fshell-spent.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Cartridges/magshot.rsi/fshell.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Cartridges/magshot.rsi/gshell-spent.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Cartridges/magshot.rsi/gshell.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Cartridges/magshot.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/heavy_shotgun.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/heavy_shotgun.rsi/base2.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/heavy_shotgun.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/heavy_shotgun.rsi/icon2.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/heavy_shotgun.rsi/mag-1.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/heavy_shotgun.rsi/mag-2.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/heavy_shotgun.rsi/mag-3.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/heavy_shotgun.rsi/mag-4.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/heavy_shotgun.rsi/mag-5.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/heavy_shotgun.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/magshot.rsi/base-unshaded.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/magshot.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/magshot.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/magshot.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/magshot.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/magshot.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/magshot.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/magshot.rsi/mag-0.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/magshot.rsi/mag-1.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/magshot.rsi/mag-2.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/magshot.rsi/mag-3.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/magshot.rsi/mag-unshaded-0.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/magshot.rsi/mag-unshaded-1.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/magshot.rsi/mag-unshaded-2.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/magshot.rsi/mag-unshaded-3.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/magshot.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/magshot.rsi/wielded-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/magshot.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, size/M, S: Needs Review, Priority: Low, Type: Feature

#2786 Let the borgs scream
  Resources/Audio/_Goobstation/Voice/Cyborg/borgscream.ogg
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: Changes: No C#, size/S, S: Untriaged, S: Needs Review, Changes: Audio

#2702 [Bounty] Revert "Reduce storage implant to a 2x L shape/6 slots (#36272)"
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: Note: Bounty, Changes: No C#, size/S, S: Needs Review, Priority: Low, Note: Mald PR

#2766 Heretics & Changelings can no longer be made Revolutionaries
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
Labels: size/S, S: Untriaged

#2794 Fix newmed
  Content.Goobstation.Common/CCVar/CCVars.Goob.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Shared/_Shitmed/Surgery/Traumas/Systems/TraumaSystem.Process.cs
  Content.Shared/_Shitmed/Surgery/Wounds/Systems/WoundSystem.cs
Labels: size/S, S: Untriaged, S: Needs Review

#2802 Revert "Nukie-Surplus (#2111)"
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2562 buff Janitor mop
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: Changes: No C#, size/XS

#2808 FIX ARMOK
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2810 fixed skinnable kobolds
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2793 CAPTAIN THERE'S NUKIES!!!
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/CAPTAAINTHERE'SNUKIES.webp.yml
  Resources/Textures/LobbyScreens/CAPTAINTHERE'SNUKIES.webp
  Resources/Textures/LobbyScreens/attributions.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2714 Carp Cloak!
  Resources/Prototypes/_Goobstation/Entities/Clothing/Neck/cloaks.yml
  Resources/Textures/_Goobstation/Clothing/Neck/Cloaks/carpcloak.rsi/equipped-NECK.png
  Resources/Textures/_Goobstation/Clothing/Neck/Cloaks/carpcloak.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Neck/Cloaks/carpcloak.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Neck/Cloaks/carpcloak.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Neck/Cloaks/carpcloak.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Neck/Cloaks/carpcloakalt.rsi/equipped-NECK.png
  Resources/Textures/_Goobstation/Clothing/Neck/Cloaks/carpcloakalt.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Neck/Cloaks/carpcloakalt.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Neck/Cloaks/carpcloakalt.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Neck/Cloaks/carpcloakalt.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S, S: Untriaged

#2657 Chap tweaks
  Content.Goobstation.Common/IgniteOnBuckle/IgniteOnBuckleComponent.cs
  Content.Goobstation.Common/Religion/DivineInterventionComponent.cs
  Content.Goobstation.Common/Religion/Events/NullrodEvent.cs
  Content.Goobstation.Common/Religion/NullrodEvents.cs
  Content.Goobstation.Server/Content.Goobstation.Server.csproj
  Content.Goobstation.Server/Devil/Grip/DevilGripSystem.cs
  Content.Goobstation.Server/IgniteOnBuckle/IgniteOnBuckleSystem.cs
  Content.Goobstation.Server/Religion/OnPray/HealNearOnPray/HealNearOnPrayComponent.cs
  Content.Goobstation.Server/Religion/OnPray/HealNearOnPray/HealNearOnPraySystem.cs
  Content.Goobstation.Server/Religion/OnPray/HealUserOnPray/HealUserOnPrayComponent.cs
  Content.Goobstation.Server/Religion/OnPray/HealUserOnPray/HealUserOnPraySystem.cs
  Content.Goobstation.Server/Religion/OnPray/ReloadOnPray/ReloadOnPrayComponent.cs
  Content.Goobstation.Server/Religion/OnPray/ReloadOnPray/ReloadOnPraySystem.cs
  Content.Goobstation.Server/Religion/WeakToHolySystem.cs
  Content.Goobstation.Shared/Bible/GoobBibleSystem.cs
  Content.Goobstation.Shared/Held/HeldGrantComponentComponent.cs
  Content.Goobstation.Shared/Held/HeldGrantComponentSystem.cs
  Content.Goobstation.Shared/RandomizeMovementSpeed/ItemRandomizeMovementSpeedSystem.cs
  Content.Goobstation.Shared/RandomizeMovementSpeed/ItemRandomizeMovementspeedComponent.cs
  Content.Goobstation.Shared/Religion/AlternatePrayable/AlternatePrayableSystem.cs
  Content.Goobstation.Shared/Religion/DivineInterventionSystem.cs
  Content.Goobstation.Shared/Religion/Nullrod/Components/NullrodComponent.cs
  Content.Goobstation.Shared/Religion/Nullrod/NullRodEvents.cs
  Content.Goobstation.Shared/Religion/Nullrod/Systems/SharedNullRodSystem.cs
  Content.Goobstation.Shared/Religion/WeakToHolyComponent.cs
  Content.Server/Bible/BibleUserSystem.cs
  Content.Server/_DV/CosmicCult/Abilities/CosmicBlankSystem.cs
  Content.Server/_DV/CosmicCult/Abilities/CosmicConversionSystem.cs
  Content.Server/_DV/CosmicCult/Abilities/CosmicGlareSystem.cs
  Content.Server/_DV/CosmicCult/Abilities/CosmicLapseSystem.cs
  Content.Server/_DV/CosmicCult/Abilities/CosmicSiphonSystem.cs
  Content.Server/_DV/CosmicCult/Components/CleanseOnUseComponent.cs
  Content.Server/_DV/CosmicCult/CosmicCultRuleSystem.cs
  Content.Server/_Shitcode/Heretic/Abilities/HereticAbilitySystem.Rust.cs
  Content.Server/_Shitcode/Heretic/EntitySystems/MansusGraspSystem.cs
  Content.Shared/Magic/SharedMagicSystem.cs
  Content.Shared/_Shitcode/Heretic/Systems/SharedEntropicPlumeSystem.cs
  Content.Shared/_Shitcode/Wizard/SharedSpellsSystem.cs
  Resources/Locale/en-US/_Shitchap/religion/nullrod.ftl
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/_DV/CosmicCult/Actions/cosmiccult.actions.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/nullrod.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Specific/fiery_stake.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/furniture/altars.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/misc/fiery_stake.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/ServerInfo/_Goobstation/Guidebook/Service/Chaplain.xml
  Resources/Textures/_ShitChap/Structures/bonfire.rsi/bonfire.png
  Resources/Textures/_ShitChap/Structures/bonfire.rsi/bonfire_extinguished.png
  Resources/Textures/_ShitChap/Structures/bonfire.rsi/burning.png
Labels: Changes: Sprites, Changes: UI, size/M, S: Untriaged, S: Needs Review

#2806 RuleR20: Adding the New Life Rule "Death Amnesia"
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR0.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR20NewLifeRule.xml
Labels: Changes: No C#, size/S, S: Untriaged

#2816 Add queue to /status endpoint
  Content.Server/GameTicking/GameTicker.StatusShell.cs
Labels: size/XS, S: Untriaged

#2841 Hairstyle job requirement, tear floorlengths away from hos
  Content.Goobstation.Shared/MisandryBox/Hair/MarkingManagerExt.cs
  Content.Goobstation.Shared/MisandryBox/Hair/SaturationRequirement.cs
  Content.Goobstation.Shared/MisandryBox/Hair/StyleRequirement.cs
  Resources/Locale/en-US/_Goobstation/MisandryBox/HairStyle.ftl
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
Labels: size/M, S: Untriaged

#2733 make steel use less ores
  Resources/Prototypes/Recipes/Lathes/sheet.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2456 [Bounty] Pinpointers Rework
  Content.Client/Pinpointer/PinpointerSystem.cs
  Content.Server/Pinpointer/PinpointerSystem.cs
  Content.Shared/Pinpointer/PinpointerComponent.cs
  Content.Shared/Pinpointer/SharedPinpointerSystem.cs
  Resources/Locale/en-US/_Goobstation/research/technologies.ftl
  Resources/Locale/en-US/pinpointer/pinpointer.ftl
  Resources/Prototypes/Entities/Objects/Devices/pinpointer.yml
  Resources/Prototypes/Roles/Antags/thief.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/pinpointer.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/misc.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/devices.yml
  Resources/Prototypes/_Goobstation/Research/experimental.yml
  Resources/Prototypes/_Imp/_Drone/drone_tools.yml
  Resources/Textures/Objects/Devices/pinpointer.rsi/meta.json
  Resources/Textures/Objects/Devices/pinpointer.rsi/pinpointer-science.png
  Resources/Textures/Objects/Devices/pinpointer.rsi/pinpointer-universal.png
Labels: Type: Enhancement, Changes: Sprites, size/M, S: Needs Review, Priority: Low

#2852 Loop update
  Resources/Maps/_Goobstation/loop.yml
  Resources/Prototypes/Maps/loop.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/L

#2848 nuke stupid borg names
  Resources/Locale/en-US/datasets/names/borg.ftl
Labels: Changes: No C#, size/XS, S: Untriaged

#2847 Dynamic Hostname
  Content.Goobstation.Common/CCVar/CCVars.Goob.cs
  Content.Goobstation.Server/Hostname/DynamicHostnameSystem.cs
  Resources/Locale/en-US/_Goobstation/datasets/motd.ftl
  Resources/Prototypes/_Goobstation/Datasets/motd.yml
Labels: size/M, S: Untriaged

#2834 Remove tesla ballpit
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/energyball.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/generator.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2833 Unchudify the SM grenade
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: Changes: No C#, size/XS

#2826 When you cut one head, two come in its place
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/ion_storm.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Heretic/GameRules/roundstart.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2836 lube tweaks
  Content.Goobstation.Server/Footprints/FootprintSystem.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Resources/Prototypes/Reagents/cleaning.yml
Labels: size/S, S: Untriaged

#2726 Holocig has music again
  Content.Goobstation.Common/TheManWhoSoldTheWorld/TheManWhoSoldTheWorldComponent.cs
  Content.Goobstation.Shared/HoloCigar/HoloCigarComponent.cs
  Content.Goobstation.Shared/HoloCigar/HoloCigarSystem.cs
  Resources/Audio/_Goobstation/Items/TheManWhoSoldTheWorld/invisibingle.ogg
  Resources/Audio/_Goobstation/Items/TheManWhoSoldTheWorld/ouchies.ogg
Labels: size/S, S: Untriaged, Changes: Audio

#2727 shuttle impact optimisations
  Content.Goobstation.Common/CCVar/CCVars.Goob.cs
  Content.Goobstation.Server/Shuttle/ShuttleImpactSystem.cs
Labels: size/M, S: Untriaged

#2539 let borgs drag-drop stuff
  Content.Client/Construction/ConstructionSystem.cs
  Content.Goobstation.Client/Construction/ConstructionComponent.cs
  Content.Goobstation.Client/DragDrop/GoobDragDropSystem.cs
  Content.Goobstation.Common/Construction/SharedConstructionComponent.cs
  Content.Goobstation.Server/DragDrop/GoobDragDropSystem.cs
  Content.Goobstation.Shared/DragDrop/SharedGoobDragDropSystem.cs
  Content.Server/Construction/Components/ConstructionComponent.cs
  Content.Server/Construction/ConstructionSystem.Initial.cs
  Content.Server/Construction/MachineFrameSystem.cs
  Content.Server/Ghost/Roles/ToggleableGhostRoleSystem.cs
  Content.Shared/Construction/Events.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
Labels: size/M, S: Untriaged

#2584 CCV4.5 - If you want it, you're going to have to take it. But you already knew that.
  Content.Client/Administration/UI/SetOutfit/SetOutfitMenu.xaml
  Content.Client/Administration/UI/SetOutfit/SetOutfitMenu.xaml.cs
  Content.Goobstation.Server/CheckInfection/CheckInfectionComponent.cs
  Content.Goobstation.Server/CheckInfection/CheckInfectionSystem.cs
  Content.Goobstation.Server/DeathSquad/DeathSquadMemberComponent.cs
  Content.Goobstation.Server/DeathSquad/DeathSquadMemberSystem.cs
  Content.Goobstation.Server/Implants/Components/StypticStimulatorImplantComponent.cs
  Content.Goobstation.Server/Implants/Systems/NaniteMenderImplantSystem.cs
  Content.Goobstation.Server/Implants/Systems/StypticStimulatorImplantSystem.cs
  Content.Goobstation.Shared/CheckInfection/CheckInfectionDoAfter.cs
  Content.Goobstation.Shared/Implants/ImplantEvents.cs
  Content.Server/Administration/Commands/SetOutfitCommand.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Cluwne/CluwneSystem.cs
  Content.Server/GameTicking/Rules/DeathMatchRuleSystem.cs
  Content.Server/_Shitcode/Wizard/Systems/BindSoulSystem.cs
  Content.Shared/_Shitcode/Weapons/AmmoSelector/SelectableAmmoPrototype.cs
  Content.Shared/_Shitcode/Weapons/AmmoSelector/SelectableAmmoSystem.cs
  Resources/Audio/_Goobstation/Weapons/Effects/attributions.yml
  Resources/Audio/_Goobstation/Weapons/Effects/metalcrush.ogg
  Resources/Audio/_Goobstation/Weapons/Effects/nanotrasenenergyhum.ogg
  Resources/Locale/en-US/_Goobstation/checkinfection/checkinfection.ftl
  Resources/Locale/en-US/_Goobstation/deathsquad/deathsquad.ftl
  Resources/Locale/en-US/_Goobstation/implant/implant.ftl
  Resources/Locale/en-US/_Goobstation/station-events/admeme/centralcommand.ftl
  Resources/Locale/en-US/administration/commands/set-outfit-command.ftl
  Resources/Locale/en-US/administration/ui/set-outfit/set-outfit-menu.ftl
  Resources/Maps/_Goobstation/Shuttles/retort_chaplain.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Roles/Jobs/CentComm/cburn.yml
  Resources/Prototypes/Roles/Jobs/CentComm/deathsquad.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/Roles/Jobs/CentComm/official.yml
  Resources/Prototypes/_Goobstation/Actions/implants.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Backpacks/satchels.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/admeme.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/CentralCommand/infectionscanner.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/AmmoSelector/ammo_selector_protos.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/blueshield_mace.yml
  Resources/Prototypes/_Goobstation/GameRules/Admeme/eventshuttles.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/CentComm/centralcommand.yml
  Resources/Prototypes/_Goobstation/Shuttles/eventshuttles.yml
  Resources/Textures/_Goobstation/Actions/implants/nanitemend.rsi/icon.png
  Resources/Textures/_Goobstation/Actions/implants/nanitemend.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Back/Duffels/cburn.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Clothing/Back/Duffels/cburn.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Back/Duffels/cburn.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Back/Duffels/cburn.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Back/Duffels/cburn.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Devices/zedscanner.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Devices/zedscanner.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, Changes: UI, S: Untriaged, size/L, Changes: Audio

#2356 Remove job tab from nukie uplinks
  Content.Server/Store/Conditions/BuyerDepartmentCondition.cs
  Content.Server/Store/Conditions/BuyerJobCondition.cs
Labels: Bug: Medium, size/S, S: Untriaged, S: Needs Review, S: Needs Changes, Type: Bugfix, Priority: Low, Note: Stale

#2856 remove shitcode
  Content.Goobstation.Server/Hostname/DynamicHostnameSystem.cs
Labels: size/S, S: Untriaged

#2597 More security stuff
  Content.Goobstation.Server/Explosion/Components/ExplodeOnMeleeHitComponent.cs
  Content.Goobstation.Server/Explosion/Components/TriggerOnMeleeComponent.cs
  Content.Goobstation.Server/Explosion/EntitySystems/ExplodeOnMeleeHitSystem.cs
  Content.Goobstation.Server/Explosion/EntitySystems/GoobTriggerSystem.cs
  Content.Goobstation.Server/Explosion/EntitySystems/TriggerSystem.Melee.cs
  Content.Goobstation.Server/Flashbang/FlashbangComponent.cs
  Content.Goobstation.Server/Flashbang/FlashbangSystem.cs
  Content.Server/_Shitmed/ItemSwitch/ItemSwitchSystem.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/armour.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/justice.yml
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/web_vest_hos.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/web_vest_hos.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/web_vest_hos.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/web_vest_hos.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/web_vest_hos.rsi/legs-equipped-OUTERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/web_vest_hos.rsi/meta.json
Labels: Type: Enhancement, Changes: Sprites, size/M, S: Needs Review, Priority: Medium

#2075 Feature to set criminal status with security hud items with verb.
  Content.Goobstation.Client/CriminalRecords/WantedMenu.xaml
  Content.Goobstation.Client/CriminalRecords/WantedMenu.xaml.cs
  Content.Goobstation.Client/CriminalRecords/WantedMenuBoundUserInterface.cs
  Content.Server/CriminalRecords/Systems/CriminalRecordsConsoleSystem.cs
  Content.Server/CriminalRecords/Systems/WantedMenuSystem.cs
  Content.Shared/Access/Components/IdExaminableComponent.cs
  Content.Shared/Access/Systems/IdExaminableSystem.cs
  Resources/Locale/en-US/_Goobstation/criminal-records/criminal-records.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Textures/_Goobstation/Interface/VerbIcons/wanted.png
  Resources/Textures/_Goobstation/Interface/VerbIcons/wanted.svg
Labels: Changes: UI, size/M, S: Needs Review, Priority: Medium

#2797 [Port] all outer clothing have all suit storage
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
Labels: size/XS, S: Untriaged

#2777 Reduce reflect chance from DEsword
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2479 collective mind improvement + port binary to collective mind
  Content.Client/_Starlight/Chat/CollectiveMindSystem.cs
  Content.Goobstation.Server/Blob/NPC/BlobPod/BlobPodSystem.cs
  Content.Goobstation.Server/Blob/ZombieBlobSystem.cs
  Content.Goobstation.Server/Changeling/ChangelingSystem.Abilities.cs
  Content.Goobstation.Server/StationEvents/JobAddCollectiveMindRule.cs
  Content.Goobstation.Server/StationEvents/JobAddCollectiveMindRuleComponent.cs
  Content.Goobstation.Shared/Blob/Components/BlobPodComponent.cs
  Content.Goobstation.Shared/Blob/Components/ZombieBlobComponent.cs
  Content.Server/_Shitcode/Heretic/Abilities/HereticAbilitySystem.cs
  Content.Shared/_Starlight/CollectiveMind/CollectiveMindComponent.cs
  Content.Shared/_Starlight/CollectiveMind/CollectiveMindUpdateSystem.cs
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Player/narsie.yml
  Resources/Prototypes/Entities/Mobs/Player/ratvar.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_Goobstation/Blob/blob_mobs.yml
  Resources/Prototypes/_Goobstation/CollectiveMind/collective_minds.yml
  Resources/Prototypes/_Goobstation/CollectiveMind/tags.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/_Goobstation/GameRules/Admeme/token.yml
  Resources/Prototypes/_Goobstation/GameRules/events.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Mobs/NPC/eldritch_mobs.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Mobs/NPC/polymorph.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Prototypes/_Imp/_Drone/Mobs_Player_silicon.yml
  Resources/Prototypes/_Shitmed/Entities/Mobs/Species/abductor.yml
  Resources/Prototypes/_Shitmed/GameRules/events.yml
  Resources/Prototypes/radio_channels.yml
Labels: Type: Enhancement, size/M, S: Needs Review, Priority: Low

#2692 Coldblooded Lizards
  Content.Goobstation.Server/Heatlamp/HeatlampComponent.cs
  Content.Goobstation.Server/Heatlamp/HeatlampSystem.cs
  Content.Goobstation.Server/Interaction/Components/TransferHeatOnInteractComponent.cs
  Content.Goobstation.Server/Interaction/Systems/TransferHeatOnInteractSystem.cs
  Content.Goobstation.Server/Temperature/GoobTemperatureSystem.cs
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Tools/heatlamps.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/medical.yml
  Resources/Prototypes/_Goobstation/Research/civilianservices.yml
  Resources/ServerInfo/Guidebook/Mobs/Reptilian.xml
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/basic.rsi/equipped-BELT.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/basic.rsi/icon-off.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/basic.rsi/icon-on.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/basic.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/basic.rsi/off-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/basic.rsi/off-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/basic.rsi/on-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/basic.rsi/on-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/phoron.rsi/equipped-BELT.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/phoron.rsi/icon-off.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/phoron.rsi/icon-on.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/phoron.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/phoron.rsi/off-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/phoron.rsi/off-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/phoron.rsi/on-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/phoron.rsi/on-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/syndicate.rsi/equipped-BELT.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/syndicate.rsi/icon-off.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/syndicate.rsi/icon-on.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/syndicate.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/syndicate.rsi/off-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/syndicate.rsi/off-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/syndicate.rsi/on-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/syndicate.rsi/on-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/upgraded.rsi/equipped-BELT.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/upgraded.rsi/icon-off.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/upgraded.rsi/icon-on.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/upgraded.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/upgraded.rsi/off-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/upgraded.rsi/off-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/upgraded.rsi/on-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Devices/Heatlamps/upgraded.rsi/on-inhand-right.png
Labels: Changes: Sprites, size/M, S: Untriaged

#2452 [Bounty] Experimental law boards
  Content.Goobstation.Common/Silicons/Components/ActiveExperimentalLawProviderComponent.cs
  Content.Goobstation.Common/Silicons/Components/ExperimentalLawProviderComponent.cs
  Content.Server/Silicons/Laws/IonStormSystem.cs
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Content.Shared/Silicons/Laws/Components/SiliconLawUpdaterComponent.cs
  Resources/Locale/en-US/_Goobstation/research/technologies.ftl
  Resources/Locale/en-US/_Goobstation/silicons/experimental-lawset.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_Goobstation/Catalog/Cargo/cargo_science.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Crates/science.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/experimental_boards.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/research.yml
  Resources/Prototypes/_Goobstation/Research/experimental.yml
Labels: Type: Enhancement, size/M, S: Needs Review
