Repository Goob-Station/Goob-Station, pull requests merged in 2025-01, with the labels that each got.

#1316 Add 'nearby' to FullAdmin perms.
  Resources/engineCommandPerms.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1280 fix medical jobs not being fast at surgery + small cleanup
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Battery.cs
  Resources/Prototypes/Damage/containers.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Prototypes/_Shitmed/Damage/containers.yml
  Resources/Prototypes/_Shitmed/Damage/modifier_sets.yml
  Resources/Prototypes/tags.yml
Labels: size/M, Changes: No C#, S: Untriaged

#1304 make mousetraps damage your feet
  Content.Server/Damage/Components/DamageUserOnTriggerComponent.cs
  Content.Server/Damage/Systems/DamageUserOnTriggerSystem.cs
Labels: size/XS, S: Untriaged

#1320 Add New Song
  Resources/Audio/Lobby/attributions.yml
  Resources/Audio/Lobby/the_future_soon.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/_Goobstation/Catalog/Jukebox/Standard.yml
Labels: Changes: No C#, size/S, S: Untriaged, S: Needs Review, Changes: Audio

#1252 Annie and WSPR
  Resources/Audio/_Goobstation/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_Goobstation/Weapons/Guns/Gunshots/bwuh.ogg
  Resources/Audio/_Goobstation/Weapons/Guns/Gunshots/thock.ogg
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/_Goobstation/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifles.yml
  Resources/Prototypes/_Goobstation/Entities/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/annie.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/annie.rsi/bolt-open.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/annie.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/annie.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/annie.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/annie.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/annie.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/annie.rsi/mag-0.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/annie.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/annie.rsi/wielded-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/annie.rsi/wielded-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/wspr.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/wspr.rsi/bolt-open.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/wspr.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/wspr.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/wspr.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/wspr.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/wspr.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/wspr.rsi/mag-0.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/wspr.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/wspr.rsi/wielded-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Rifles/wspr.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged, Changes: Audio

#1268 Esword pro combat
  Content.Server/Weapons/Melee/EnergySword/EnergySwordSystem.cs
  Content.Server/_Goobstation/Weapons/Ranged/SyringeGunSystem.cs
  Content.Shared/Nutrition/EntitySystems/SharedCreamPieSystem.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
  Content.Shared/_Goobstation/Weapons/ThrowableBlocker/ThrowableBlockedComponent.cs
  Content.Shared/_Goobstation/Weapons/ThrowableBlocker/ThrowableBlockerComponent.cs
  Content.Shared/_Goobstation/Weapons/ThrowableBlocker/ThrowableBlockerSystem.cs
  Resources/Locale/en-US/_Goobstation/weapons/throw_blocker.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/trash_drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/bowl.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/plate.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/tin.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Entities/Objects/Fun/darts.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Misc/broken_bottle.yml
  Resources/Prototypes/Entities/Objects/Misc/candy_bowl.yml
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-vials.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/needle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/croissant.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/throwing_stars.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
Labels: size/M, S: Untriaged

#1250 Heretic blade path fixes
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Blade.cs
  Content.Shared/_Goobstation/Heretic/Components/HereticComponent.cs
  Content.Shared/_Goobstation/Heretic/Heretic.Abilites.cs
  Resources/Locale/en-US/_Goobstation/Heretic/abilities/heretic.ftl
  Resources/Prototypes/_Goobstation/Heretic/Heretic/heretic_knowledge.yml
Labels: size/S, S: Needs Review, S: Needs Changes, Type: Bugfix

#1258 Blueshield Lever Action Rifle - Chester
  Content.Shared/Ensnaring/SharedEnsnareableSystem.cs
  Resources/Audio/Weapons/Guns/Bolt/lever_bolt_closed.ogg
  Resources/Audio/Weapons/Guns/Bolt/lever_bolt_opened.ogg
  Resources/Audio/_Goobstation/Weapons/Guns/MagOut/garand_eject.ogg
  Resources/Locale/en-US/_Goobstation/preferences/loadout-groups.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/armour.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Storage/bso_box.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magnum.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum_caliber_magazine.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Lever/lever.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Goobstation/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/security.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Textures/_Goobstation/Clothing/Head/Hats/cowboyhatbso.rsi/equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/cowboyhatbso.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/cowboyhatbso.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/cowboyhatbso.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/cowboyhatbso.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/blueshield_cowboy_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/blueshield_cowboy_jacket.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/blueshield_cowboy_jacket.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/blueshield_cowboy_jacket.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/blueshield_cowboy_jacket.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Storage/bso_box.rsi/icon-open.png
  Resources/Textures/_Goobstation/Objects/Storage/bso_box.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Storage/bso_box.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/lever_rifle_mags.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/lever_rifle_mags.rsi/mag-1.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/lever_rifle_mags.rsi/mag-2.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/lever_rifle_mags.rsi/mag-3.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/lever_rifle_mags.rsi/mag-4.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/lever_rifle_mags.rsi/mag-5.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/lever_rifle_mags.rsi/mag-6.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/lever_rifle_mags.rsi/mag-7.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/lever_rifle_mags.rsi/mag-8.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/lever_rifle_mags.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Lever/chester.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Lever/chester.rsi/bolt-open.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Lever/chester.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Lever/chester.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Lever/chester.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Lever/chester.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Lever/chester.rsi/mag-0.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Lever/chester.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Lever/chester.rsi/wielded-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Lever/chester.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, size/M, S: Untriaged, S: Needs Review, Changes: Audio

#1260 Buff humans
  Content.Server/Communications/CommsHackerSystem.cs
  Content.Server/Mech/Equipment/EntitySystems/MechGrabberSystem.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/Ninja/Systems/BatteryDrainerSystem.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Server/Nutrition/EntitySystems/SmokingSystem.Vape.cs
  Content.Server/_EinsteinEngines/Flight/FlightSystem.cs
  Content.Server/_EinsteinEngines/Power/Systems/BatteryDrinkerSystem.cs
  Content.Server/_Goobstation/Blob/NPC/BlobPod/BlobPodSystem.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.Abilities.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/EldritchInfluenceSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/MansusGraspSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.cs
  Content.Shared/CriminalRecords/Systems/SharedCriminalRecordsHackerSystem.cs
  Content.Shared/DeltaV/Carrying/CarryingSystem.cs
  Content.Shared/DoAfter/DoAfterArgs.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.cs
  Content.Shared/Execution/SharedExecutionSystem.cs
  Content.Shared/Magic/SpellbookSystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/RCD/Systems/RCDSystem.cs
  Content.Shared/Research/Systems/SharedResearchStealerSystem.cs
  Content.Shared/Sericulture/SericultureSystem.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Content.Shared/Species/Systems/ReformSystem.cs
  Content.Shared/_EinsteinEngines/Silicon/DeadStartupButton/SharedDeadStartupButtonSystem.cs
  Content.Shared/_Goobstation/DoAfter/DoAfterDelayMultiplierComponent.cs
  Content.Shared/_Goobstation/DoAfter/DoAfterDelayMultiplierSystem.cs
  Content.Shared/_Shitmed/Body/Systems/SharedBodySystem.Relay.cs
  Content.Shared/_White/Standing/SharedLayingDownSystem.cs
  Resources/Prototypes/Body/Parts/human.yml
  Resources/Prototypes/Body/Prototypes/dwarf.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Body/Prototypes/felinid.yml
  Resources/Prototypes/_Goobstation/Body/Parts/hands.yml
  Resources/Prototypes/_Goobstation/Body/Prototypes/yowie.yml
  Resources/Prototypes/_Shitmed/Body/Parts/cybernetic.yml
  Resources/Prototypes/_Shitmed/Body/Parts/generic.yml
  Resources/Prototypes/_Shitmed/Recipes/Lathes/robotics.yml
  Resources/Prototypes/_Shitmed/Research/civilianservices.yml
  Resources/ServerInfo/Guidebook/Mobs/Human.xml
Labels: size/S, S: Untriaged, S: Needs Review

#1262 Species and blob fixes
  Content.Server/GameTicking/Rules/AntagLoadProfileRuleSystem.cs
  Content.Server/GameTicking/Rules/Components/AntagLoadProfileRuleCOmponent.cs
  Content.Server/Humanoid/Systems/RandomHumanoidSystem.cs
  Content.Server/_Goobstation/Blob/BlobTileSystem.cs
  Content.Server/_Goobstation/GameTicking/Rules/BlobRuleSystem.cs
  Content.Shared/Humanoid/Prototypes/RandomHumanoidSettingsPrototype.cs
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/hecu.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/base.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/midround.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
Labels: size/M, S: Untriaged, S: Needs Review

#1282 Add pluoxium and integrate tg gases with supermatter
  Content.Server/Atmos/Portable/PortableScrubberComponent.cs
  Content.Server/Atmos/Reactions/BZFormationReaction.cs
  Content.Server/Atmos/Reactions/HealiumProductionReaction.cs
  Content.Server/Atmos/Reactions/NitriumDecompositionReaction.cs
  Content.Server/Atmos/Reactions/NitriumProductionReaction.cs
  Content.Server/Atmos/Reactions/PluoxiumProductionReaction.cs
  Content.Server/StationEvents/Components/GasLeakRuleComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/GasArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Components/ArtifactGasTriggerComponent.cs
  Content.Server/_Goobstation/Supermatter/Systems/SupermatterSystem.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/Atmos/Piping/Unary/Components/SharedVentScrubberComponent.cs
  Content.Shared/_Goobstation/Supermatter/Components/SupermatterComponent.cs
  Resources/Locale/en-US/gases/gases.ftl
  Resources/Locale/en-US/reagents/meta/gases.ftl
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Atmospherics/reactions.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/vox.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/ServerInfo/Guidebook/Engineering/Atmospherics.xml
  Resources/ServerInfo/_Goobstation/Guidebook/Engineering/Supermatter.xml
  Resources/Textures/Structures/Storage/canister.rsi/brown-1.png
  Resources/Textures/Structures/Storage/canister.rsi/brown.png
  Resources/Textures/Structures/Storage/canister.rsi/healium-1.png
Labels: Changes: Sprites, size/M

#1274 Adds Banana people
  Content.Shared/_Goobstation/Slippery/SlipperyOnLayingDownComponent.cs
  Content.Shared/_Goobstation/Slippery/SlipperyOnLayingDownSystem.cs
  Resources/Locale/en-US/_Goobstation/species/bananamen.ftl
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/_Goobstation/Body/Organs/bananamen.yml
  Resources/Prototypes/_Goobstation/Body/Prototypes/bananamen.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/bananamen.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Species/bananamen.yml
  Resources/Prototypes/_Goobstation/Polymorphs/polymorph.yml
  Resources/Prototypes/_Goobstation/Species/bananamen.yml
  Resources/Textures/_Goobstation/Mobs/Species/BananaMen/organs.rsi/meta.json
  Resources/Textures/_Goobstation/Mobs/Species/BananaMen/organs.rsi/organ.png
  Resources/Textures/_Goobstation/Mobs/Species/BananaMen/parts.rsi/full.png
  Resources/Textures/_Goobstation/Mobs/Species/BananaMen/parts.rsi/head_f.png
  Resources/Textures/_Goobstation/Mobs/Species/BananaMen/parts.rsi/head_m.png
  Resources/Textures/_Goobstation/Mobs/Species/BananaMen/parts.rsi/l_arm.png
  Resources/Textures/_Goobstation/Mobs/Species/BananaMen/parts.rsi/l_foot.png
  Resources/Textures/_Goobstation/Mobs/Species/BananaMen/parts.rsi/l_hand.png
  Resources/Textures/_Goobstation/Mobs/Species/BananaMen/parts.rsi/l_leg.png
  Resources/Textures/_Goobstation/Mobs/Species/BananaMen/parts.rsi/meta.json
  Resources/Textures/_Goobstation/Mobs/Species/BananaMen/parts.rsi/r_arm.png
  Resources/Textures/_Goobstation/Mobs/Species/BananaMen/parts.rsi/r_foot.png
  Resources/Textures/_Goobstation/Mobs/Species/BananaMen/parts.rsi/r_hand.png
  Resources/Textures/_Goobstation/Mobs/Species/BananaMen/parts.rsi/r_leg.png
  Resources/Textures/_Goobstation/Mobs/Species/BananaMen/parts.rsi/torso_f.png
  Resources/Textures/_Goobstation/Mobs/Species/BananaMen/parts.rsi/torso_m.png
Labels: Changes: Sprites, size/M, S: Needs Review

#1287 Make nuke and nuke disk SM immune
  Resources/Prototypes/Entities/Objects/Misc/dat_fukken_disk.yml
  Resources/Prototypes/Entities/Structures/Machines/nuke.yml
Labels: Changes: No C#, S: Untriaged

#1293 Frezon canister sprite
  Resources/ServerInfo/Guidebook/Engineering/Atmospherics.xml
  Resources/Textures/Structures/Storage/canister.rsi/frezon.png
Labels: Changes: Sprites, Changes: No C#

#1305 Changes description of dualetta
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Pistols/pistol.yml
Labels: Changes: No C#, size/XS

#1307 Add Onis to guidebook
  Resources/Prototypes/Guidebook/species.yml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Oni.xml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
Labels: Changes: No C#, size/S

#1310 headslugs survive in space
  Resources/Prototypes/_Goobstation/Changeling/Entities/Mobs/headcrab.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1311 Playing Cards: 2 New Variants, Security Seal on Examine, Bug Fix
  Content.Client/_EstacaoPirata/Cards/Card/CardSystem.cs
  Content.Client/_EstacaoPirata/Cards/Deck/CardDeckSystem.cs
  Content.Client/_EstacaoPirata/Cards/Hand/CardHandSystem.cs
  Content.Server/_EstacaoPirata/OpenTriggeredStorageFill/OpenTriggeredStorageFillSystem.cs
  Content.Shared/_EstacaoPirata/Cards/Hand/CardHandSystem.cs
  Resources/Locale/en-US/estacao-pirata/cards/cards.ftl
  Resources/Locale/en-US/estacao-pirata/store/uplink-catalog.ftl
  Resources/Prototypes/EstacaoPirata/Catalog/uplink_catalog.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Misc/black_cards.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Misc/nt_cards.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Misc/syndicate_cards.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: S: Untriaged, size/L

#1312 Bow is now ClumsyProof
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Bow/bow.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1313 NanoChat Notification Fix
  Content.Server/_DeltaV/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
  Content.Server/_DeltaV/NanoChat/NanoChatSystem.cs
  Content.Shared/_DeltaV/NanoChat/NanoChatCardComponent.cs
Labels: size/S, S: Untriaged

#1314 Chem guidebook accumulation display fix
  Content.Server/EntityEffects/Effects/StatusEffects/GenericStatusEffect.cs
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
Labels: size/XS, S: Untriaged

#1321 Assign lootbugs to the mouse faction, to be treated as pests
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/animals.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1323 [Bounty] Added Surgical Supplies to Cargo Catalog.
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
Labels: Changes: No C#, size/S

#1324 [Bounty] Added Digital Audio Workstation to the Cargo Catalog
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
Labels: Changes: No C#, S: Untriaged

#1327 Fixing FartComponent references to appease the YAML linter.
  Content.Server/_Goobstation/Emoting/FartSystem.cs
  Content.Shared/_Goobstation/Emoting/FartComponent.cs
Labels: size/XS, S: Untriaged

#1329 Re-worded the previous description for the blueshield mantle.
  Resources/Prototypes/_Goobstation/Entities/Clothing/Neck/mantles.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1330 fix most test fails
  Content.IntegrationTests/Tests/Commands/SuicideCommandTests.cs
  Content.Server/Administration/Commands/SetOutfitCommand.cs
  Content.Server/_Goobstation/RandomChanceSpawner/RandomChanceSpawnerComponent.cs
Labels: size/XS, S: Untriaged

#1331 make limb sever damage types use protoid
  Content.Shared/_Shitmed/Body/Systems/SharedBodySystem.Targeting.cs
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgery_steps.yml
Labels: size/XS, S: Untriaged

#1332 Make Bluespace Crystals Ore Baggable Again
  Resources/Prototypes/_Goobstation/Entities/Objects/Materials/materials.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1335 Update BSO to use BSO Icon
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1336 Fix Typos and Reformat SOP
  Resources/Locale/en-US/_Goobstation/guidebook/guides.ftl
  Resources/Prototypes/_Goobstation/Guidebook/sop.yml
  Resources/ServerInfo/_Goobstation/Guidebook/SoP/Jobs/Science/RoboticistSOP.xml
Labels: Changes: No C#, S: Untriaged

#1337 Unique Blueshield Officer PDA
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Devices/pda.rsi/pda-blueshield.png
Labels: Changes: Sprites, Changes: No C#, size/S, S: Untriaged

#1338 Warden hardsuit buff
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1339 Fix ghost roles not working.
  Content.Server/Antag/AntagSelectionSystem.cs
Labels: size/XS, S: Untriaged

#1340 Misc bugs fixes
  Content.Client/Chat/UI/EmotesMenu.xaml
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Chat/Prototypes/EmotePrototype.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Resources/Locale/en-US/_Goobstation/chat/emotes.ftl
  Resources/Locale/en-US/_Goobstation/emotes.ftl
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_EinsteinEngines/Voice/speech_emotes.yml
  Resources/Prototypes/_Goobstation/Actions/emotes.yml
  Resources/Prototypes/_Goobstation/Blob/misc_blob.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Mobs/headcrab.yml
  Resources/Prototypes/_Goobstation/Voice/speech_emotes.yml
  Resources/ServerInfo/_Goobstation/Guidebook/SoP/Jobs/Command/ChiefMedicalOfficerSOP.xml
  Resources/ServerInfo/_Goobstation/Guidebook/SoP/Jobs/Service/BotanistSOP.xml
  Resources/ServerInfo/_Goobstation/Guidebook/SoP/Jobs/Service/ClownSOP.xml
Labels: Changes: UI, size/M, S: Merge Conflict, S: Untriaged

#1342 ERT Loadout Fixes
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/CentComm/emergencyresponseteam.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1346 Revert "Update GoobChangelog.yml (This probably has repeats idgaf"
  Resources/Changelog/GoobChangelog.yml
Labels: size/M, Changes: No C#, S: Untriaged

#1371 Fix syringe guns not working
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
Labels: size/XS, S: Untriaged

#1368 [Bounty] Ghost Verbs
  Content.Server/Chat/Systems/ChatSystem.cs
  Resources/Locale/en-US/_Goobstation/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/_Goobstation/Voice/speech_verbs.yml
Labels: size/S, S: Untriaged

#1354 give fridge 99% explo res
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1361 dwarf alchohol regeneration tweak
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1363 Harpies can fly while moving.
  Content.Server/_EinsteinEngines/Flight/FlightSystem.cs
Labels: size/XS, S: Untriaged

#1357 rq
  Content.Server/_Goobstation/PlayerListener/PlayerListenerComponent.cs
  Content.Server/_Goobstation/PlayerListener/RageQuitNotifySystem.cs
  Content.Shared/_Goobstation/CCVars/CCVars.Goob.cs
  Resources/Locale/en-US/_Goobstation/playerlistener/ragequit.ftl
Labels: size/M, S: Untriaged

#1364 chudshift
  Resources/Locale/en-US/game-ticking/game-presets/preset-greenshift.ftl
Labels: Changes: No C#, size/XS, S: Untriaged

#1366 prevent space nuggetting
  Content.Server/Atmos/EntitySystems/BarotraumaSystem.cs
Labels: size/XS, S: Untriaged

#1356 Made DAW Cheaper
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1373 fix+cleanup heretic knowledge ritual
  Content.Server/_Goobstation/Heretic/Ritual/CustomBehavior.Knowledge.cs
Labels: size/S, S: Untriaged

#1374 Increase Default Ragequit Threshold to 30 Seconds
  Content.Shared/_Goobstation/CCVars/CCVars.Goob.cs
Labels: size/XS, S: Untriaged

#1377 New warden headset.
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Textures/_Goobstation/Clothing/Ears/Headsets/warden.rsi/alt-equipped-EARS.png
  Resources/Textures/_Goobstation/Clothing/Ears/Headsets/warden.rsi/icon_alt.png
  Resources/Textures/_Goobstation/Clothing/Ears/Headsets/warden.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S, S: Untriaged, S: Needs Review

#1391 somewhat untroll harpy body parts
  Resources/Prototypes/_DV/Body/Parts/harpy.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/harpy.yml
  Resources/Textures/_DV/Mobs/Species/Harpy/parts.rsi/l_arm.png
  Resources/Textures/_DV/Mobs/Species/Harpy/parts.rsi/l_hand.png
  Resources/Textures/_DV/Mobs/Species/Harpy/parts.rsi/meta.json
  Resources/Textures/_DV/Mobs/Species/Harpy/parts.rsi/r_arm.png
  Resources/Textures/_DV/Mobs/Species/Harpy/parts.rsi/r_hand.png
Labels: Changes: Sprites, Changes: No C#, S: Untriaged

#1392 making bluespace crystals doubles the value instead of 50xing the value
  Resources/Prototypes/_Goobstation/Reagents/Materials/materials.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1393 Fix Winter Coat Storage
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
Labels: Changes: No C#, S: Untriaged

#1376 Add Early Evac, Clean Up Security, and Clarify Alert Levels in SOP
  Resources/Locale/en-US/_Goobstation/guidebook/guides.ftl
  Resources/Prototypes/_Goobstation/Guidebook/sop.yml
  Resources/ServerInfo/_Goobstation/Guidebook/SoP/AlertLevels/AlertLevelsSOP.xml
  Resources/ServerInfo/_Goobstation/Guidebook/SoP/Jobs/Command/HeadOfSecuritySOP.xml
  Resources/ServerInfo/_Goobstation/Guidebook/SoP/Jobs/Command/NanotrasenRepSOP.xml
  Resources/ServerInfo/_Goobstation/Guidebook/SoP/Jobs/Command/ResearchDirectorSOP.xml
  Resources/ServerInfo/_Goobstation/Guidebook/SoP/Jobs/Science/RoboticistSOP.xml
  Resources/ServerInfo/_Goobstation/Guidebook/SoP/Jobs/Science/ScientistSOP.xml
  Resources/ServerInfo/_Goobstation/Guidebook/SoP/Jobs/Security/DetectiveSOP.xml
  Resources/ServerInfo/_Goobstation/Guidebook/SoP/Jobs/Security/OfficerCadetSOP.xml
  Resources/ServerInfo/_Goobstation/Guidebook/SoP/Jobs/Security/WardenSOP.xml
  Resources/ServerInfo/_Goobstation/Guidebook/SoP/StandardProcedures/EarlyEvacuationSOP.xml
Labels: size/M, Changes: No C#, S: Untriaged

#1379 ling ability to recover chems from food items
  Content.Client/_Goobstation/Nutrition/FoodComponent.cs
  Content.Server/Nutrition/Components/FoodComponent.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.Abilities.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.cs
  Content.Shared/Nutrition/Components/SharedFoodComponent.cs
  Content.Shared/_Goobstation/Changeling/Changeling.Actions.cs
  Content.Shared/_Goobstation/Changeling/Changeling.DoAfter.cs
  Resources/Locale/en-US/_Goobstation/Changeling/abilities/changeling.ftl
  Resources/Locale/en-US/_Goobstation/Changeling/store/changeling-catalog.ftl
  Resources/Prototypes/_Goobstation/Changeling/Actions/changeling.yml
  Resources/Prototypes/_Goobstation/Changeling/Catalog/changeling_catalog.yml
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/absorb_biomatter.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Untriaged

#1386 Repallete HoS and HoP cloaks
  Resources/Textures/Clothing/Neck/Cloaks/hop.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/hop.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/hop.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/hos.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/hos.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/hos.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/XS, S: Untriaged

#1405 fix cloning not putting you in the clone
  Content.Server/Cloning/CloningSystem.cs
Labels: size/S, S: Untriaged

#1408 Add Music to Blob
  Content.Server/_Goobstation/GameTicking/Rules/BlobRuleSystem.cs
  Content.Server/_Goobstation/GameTicking/Rules/Components/BlobRuleComponent.cs
  Resources/Audio/StationEvents/attributions.yml
  Resources/Audio/StationEvents/blobin_time.ogg
  Resources/Audio/_Goobstation/Announcements/attributions.yml
  Resources/Audio/_Goobstation/Announcements/blob_detected.ogg
Labels: enhancement, size/S, S: Untriaged, Changes: Audio

#1409 Changelog Fixes / Tweaks
  Content.Client/Changelog/ChangelogManager.cs
  Content.Shared/CCVar/CCVars.Server.cs
  Resources/Changelog/GoobChangelog.yml
  Resources/Locale/en-US/_Goobstation/changelog/changelog-window.ftl
  Resources/Locale/en-US/changelog/changelog-window.ftl
Labels: size/S, S: Untriaged

#1410 More Changelog Fixes
  Resources/Locale/en-US/_Goobstation/changelog/changelog-window.ftl
  Resources/Locale/en-US/changelog/changelog-window.ftl
  Tools/changelog/changelog.js
Labels: Changes: No C#, size/XS, size/S, S: Untriaged

#1398 Paradormal Activity Early Warning System
  Content.Server/_Goobstation/PlayerListener/DormNotifier.cs
  Content.Server/_Goobstation/PlayerListener/DormNotifierComponent.cs
  Content.Server/_Goobstation/PlayerListener/DormNotifierMarkerComponent.cs
  Content.Shared/_Goobstation/CCVars/CCVars.Goob.cs
  Resources/Locale/en-US/_Goobstation/playerlistener/dorm.ftl
  Resources/Prototypes/_Goobstation/PlayerListener/Marker.yml
Labels: size/M, S: Untriaged

#1411 Better Lizor 2 Electric Boogaloo
  Resources/ServerInfo/Guidebook/Mobs/Reptilian.xml
Labels: Changes: No C#, size/XS, S: Untriaged

#1414 rebrand plyushkina plushies to kobliska plushies
  Resources/Maps/_Goobstation/kettle.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushie_kobliska.png
Labels: Changes: Sprites, Changes: Map, Changes: No C#, size/S

#1396 Discord notif for ragequits, solve for constant reconnection
  Content.Server/Discord/WebhookPayload.cs
  Content.Server/_Goobstation/PlayerListener/RageQuitNotifySystem.Discord.cs
  Content.Server/_Goobstation/PlayerListener/RageQuitNotifySystem.cs
  Content.Shared/_Goobstation/CCVars/CCVars.Goob.cs
  Resources/Locale/en-US/_Goobstation/playerlistener/ragequit.ftl
Labels: size/S, S: Untriaged

#1420 Ashen passage nerf
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Ash.cs
  Content.Shared/_Goobstation/Heretic/Heretic.Abilites.cs
  Resources/Locale/en-US/_Goobstation/Heretic/store/heretic/heretic-catalog-ash.ftl
  Resources/Prototypes/_Goobstation/Heretic/Actions/Heretic/path_ash.yml
Labels: Bounty, size/S, S: Untriaged

#1422 Jaunt Idiotproofing
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Ash.cs
  Resources/Locale/en-US/_Goobstation/Heretic/abilities/heretic.ftl
Labels: enhancement, size/S

#1273 New ling abilities
  Content.Client/Hands/ShowHandItemOverlay.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/_EinsteinEngines/TelescopicBaton/KnockdownOnHitComponent.cs
  Content.Server/_EinsteinEngines/TelescopicBaton/KnockdownOnHitSystem.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.Abilities.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.cs
  Content.Server/_Goobstation/Chemistry/TakeStaminaDamage.cs
  Content.Shared/ActionBlocker/ActionBlockerSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Movement/Pulling/Events/AttemptStopPullingEvent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/_Goobstation/Changeling/Changeling.Actions.cs
  Content.Shared/_Goobstation/Changeling/ChangelingChemicalsAmmoProviderComponent.cs
  Content.Shared/_Goobstation/Changeling/ChangelingDartComponent.cs
  Content.Shared/_Goobstation/Changeling/ChangelingReagentStingComponent.cs
  Content.Shared/_Goobstation/Changeling/ReagentStingConfigurationPrototype.cs
  Content.Shared/_Goobstation/Changeling/SharedGunSystem.Changeling.cs
  Content.Shared/_Goobstation/Grab/BeingGrabbedComponent.cs
  Content.Shared/_Goobstation/Grab/GrabbingItemComponent.cs
  Content.Shared/_Goobstation/Grab/GrabbingItemSystem.cs
  Content.Shared/_Goobstation/Weapons/AmmoSelector/AmmoSelectorComponent.cs
  Content.Shared/_Goobstation/Weapons/AmmoSelector/SelectableAmmoSystem.cs
  Resources/Locale/en-US/_Goobstation/Changeling/abilities/changeling.ftl
  Resources/Locale/en-US/_Goobstation/Changeling/store/changeling-catalog.ftl
  Resources/Locale/en-US/_Goobstation/grab/grabbing_item.ftl
  Resources/Locale/en-US/_Goobstation/guidebook/chemistry/effects.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/narcotics.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Melee/armblade.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/_Goobstation/Changeling/Actions/changeling.yml
  Resources/Prototypes/_Goobstation/Changeling/Catalog/changeling_catalog.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Guns/changeling_dartgun.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Melee/changeling_armblade.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Melee/changeling_claw.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Melee/changeling_hammer.yml
  Resources/Prototypes/_Goobstation/Changeling/dartgun_selectable_ammo.yml
  Resources/Prototypes/_Goobstation/Changeling/reagent_stings.yml
  Resources/Prototypes/_Goobstation/Reagents/narcotics.yml
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/claw.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/dartgun.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/hammer.png
  Resources/Textures/_Goobstation/Changeling/changeling_abilities.rsi/meta.json
  Resources/Textures/_Goobstation/Changeling/claw.rsi/icon.png
  Resources/Textures/_Goobstation/Changeling/claw.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Changeling/claw.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Changeling/claw.rsi/meta.json
  Resources/Textures/_Goobstation/Changeling/dart.rsi/icon.png
  Resources/Textures/_Goobstation/Changeling/dart.rsi/meta.json
  Resources/Textures/_Goobstation/Changeling/dartgun.rsi/icon.png
  Resources/Textures/_Goobstation/Changeling/dartgun.rsi/meta.json
  Resources/Textures/_Goobstation/Changeling/hammer.rsi/icon.png
  Resources/Textures/_Goobstation/Changeling/hammer.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Changeling/hammer.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Changeling/hammer.rsi/meta.json
Labels: Changes: Sprites, Bounty, size/M, S: Untriaged, S: Needs Review

#1424 Blatantly Nuclear
  Resources/Audio/StationEvents/attributions.yml
  Resources/Audio/StationEvents/blatantly_nuclear.ogg
  Resources/Audio/StationEvents/clearly_nuclear.ogg
  Resources/Prototypes/SoundCollections/NukeMusic.yml
  Resources/Prototypes/_Goobstation/Catalog/Jukebox/Standard.yml
Labels: enhancement, Changes: No C#, size/S, S: Untriaged, Changes: Audio

#1403 Fix hands
  Resources/Prototypes/Body/Prototypes/dwarf.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_Floofstation/Body/Parts/resomi.yml
  Resources/Prototypes/_Goobstation/Body/Parts/hands.yml
  Resources/Prototypes/_Goobstation/Body/Prototypes/bananamen.yml
Labels: Changes: No C#, size/S

#1394 Janitor Airlock Recolour + Spray Painter Addition
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Doors/airlock_groups.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/janitor.rsi/assembly.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/janitor.rsi/bolted_unlit.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/janitor.rsi/closed.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/janitor.rsi/closed_unlit.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/janitor.rsi/closing.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/janitor.rsi/closing_unlit.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/janitor.rsi/deny_unlit.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/janitor.rsi/emergency_unlit.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/janitor.rsi/meta.json
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/janitor.rsi/open.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/janitor.rsi/opening.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/janitor.rsi/opening_unlit.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/janitor.rsi/panel_closing.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/janitor.rsi/panel_open.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/janitor.rsi/panel_opening.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/janitor.rsi/sparks.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/janitor.rsi/sparks_broken.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/janitor.rsi/sparks_damaged.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/janitor.rsi/sparks_open.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/janitor.rsi/welded.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Standard/janitor.rsi/assembly.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Standard/janitor.rsi/bolted_unlit.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Standard/janitor.rsi/closed.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Standard/janitor.rsi/closed_unlit.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Standard/janitor.rsi/closing.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Standard/janitor.rsi/closing_unlit.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Standard/janitor.rsi/deny_unlit.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Standard/janitor.rsi/emergency_unlit.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Standard/janitor.rsi/meta.json
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Standard/janitor.rsi/open.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Standard/janitor.rsi/opening.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Standard/janitor.rsi/opening_unlit.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Standard/janitor.rsi/panel_closing.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Standard/janitor.rsi/panel_open.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Standard/janitor.rsi/panel_opening.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Standard/janitor.rsi/sparks.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Standard/janitor.rsi/sparks_broken.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Standard/janitor.rsi/sparks_damaged.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Standard/janitor.rsi/sparks_open.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Standard/janitor.rsi/welded.png
Labels: Changes: Sprites, size/M, Changes: No C#, S: Needs Review

#1418 Resprite HoS and HoP caps
  Resources/Textures/Clothing/Head/Hats/hopcap.rsi/equipped-HELMET-hamster.png
  Resources/Textures/Clothing/Head/Hats/hopcap.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/hopcap.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/hopcap.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/hoshat.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/hoshat.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/hoshat.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Untriaged

#1406 make limb severing bleed instead of bloodloss damage
  Content.Server/Body/Systems/BodySystem.cs
  Content.Shared/Body/Part/BodyPartComponent.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
Labels: size/S, S: Untriaged

#1430 Honkops
  Content.Server/GameTicking/Rules/Components/NukeopsRuleComponent.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/Nuke/NukeComponent.cs
  Content.Server/Nuke/NukeSystem.cs
  Resources/Audio/StationEvents/attributions.yml
  Resources/Audio/StationEvents/opposing_nuke.ogg
  Resources/Locale/en-US/_Goobstation/game-ticking/game-presets/preset-honkops.ftl
  Resources/Maps/_Goobstation/Nonstations/nukieplanet-honkops.yml
  Resources/Prototypes/_Goobstation/Datasets/Names/honkops.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/misc.yml
  Resources/Prototypes/_Goobstation/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Goobstation/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Goobstation/Roles/Antags/honkops.yml
  Resources/Prototypes/_Goobstation/SoundCollections/HonkopsNukeMusic.yml
  Resources/Prototypes/_Goobstation/game_presets.yml
  Resources/Prototypes/secret_weights.yml
  Resources/map_attributions.txt
Labels: enhancement, Changes: Map, size/XL, S: Needs Review, Changes: Audio

#1419 Shorten blobbernaut raffle timer
  Resources/Prototypes/_Goobstation/Blob/blob_mobs.yml
Labels: Changes: No C#, S: Untriaged

#1442 Edited warden to spawn with their own unique headset.
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Changes: No C#, size/XS

#1444 Smugglers Satchel capitalization
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
Labels: Changes: No C#, size/XS

#1429 Tweak ling claw
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Melee/changeling_claw.yml
Labels: Changes: No C#, S: Untriaged

#1412 Adds the chemical payload and timer trigger to the syndie chem kit.
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/syndicate.yml
Labels: Changes: No C#, size/XS, S: Untriaged, S: Needs Review

#1428 Chester Contraband Fix
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Lever/lever.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1432 Fix nightwatcher's rebirth
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Ash.cs
Labels: size/XS, S: Untriaged

#1440 make hardlight bow not stupid op against blob
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Shared/Projectiles/ProjectileComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Goobstation/Blob/blob_tiles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Bow/hardlight_arrows.yml
Labels: size/S, S: Untriaged

#1431 [Port] Operative UI
  Resources/Locale/en-US/_white/escape-menu/ui/options.ftl
  Resources/Prototypes/_White/hud.yml
  Resources/Prototypes/_White/themes.yml
  Resources/Textures/_White/Interface/Operative/SlotBackground.png
  Resources/Textures/_White/Interface/Operative/Slots/back.png
  Resources/Textures/_White/Interface/Operative/Slots/belt.png
  Resources/Textures/_White/Interface/Operative/Slots/ears.png
  Resources/Textures/_White/Interface/Operative/Slots/ears_extra.png
  Resources/Textures/_White/Interface/Operative/Slots/glasses.png
  Resources/Textures/_White/Interface/Operative/Slots/gloves.png
  Resources/Textures/_White/Interface/Operative/Slots/hand_l.png
  Resources/Textures/_White/Interface/Operative/Slots/hand_l_no_letter.png
  Resources/Textures/_White/Interface/Operative/Slots/hand_r.png
  Resources/Textures/_White/Interface/Operative/Slots/hand_r_no_letter.png
  Resources/Textures/_White/Interface/Operative/Slots/head.png
  Resources/Textures/_White/Interface/Operative/Slots/id.png
  Resources/Textures/_White/Interface/Operative/Slots/mask.png
  Resources/Textures/_White/Interface/Operative/Slots/neck.png
  Resources/Textures/_White/Interface/Operative/Slots/pocket.png
  Resources/Textures/_White/Interface/Operative/Slots/shoes.png
  Resources/Textures/_White/Interface/Operative/Slots/socks.png
  Resources/Textures/_White/Interface/Operative/Slots/suit.png
  Resources/Textures/_White/Interface/Operative/Slots/suit_storage.png
  Resources/Textures/_White/Interface/Operative/Slots/toggle-alt.png
  Resources/Textures/_White/Interface/Operative/Slots/toggle.png
  Resources/Textures/_White/Interface/Operative/Slots/underwearb.png
  Resources/Textures/_White/Interface/Operative/Slots/underweart.png
  Resources/Textures/_White/Interface/Operative/Slots/uniform.png
  Resources/Textures/_White/Interface/Operative/Slots/web.png
  Resources/Textures/_White/Interface/Operative/Slots/wrists.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_bottom.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_bottomLeft.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_bottomRight.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_center.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_left.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_right.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_top.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_topLeft.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_topRight.png
  Resources/Textures/_White/Interface/Operative/Storage/sidebar_bottom.png
  Resources/Textures/_White/Interface/Operative/Storage/sidebar_mid.png
  Resources/Textures/_White/Interface/Operative/Storage/sidebar_top.png
  Resources/Textures/_White/Interface/Operative/Storage/tile_blocked.png
  Resources/Textures/_White/Interface/Operative/Storage/tile_blocked_opaque.png
  Resources/Textures/_White/Interface/Operative/Storage/tile_empty.png
  Resources/Textures/_White/Interface/Operative/Storage/tile_empty_opaque.png
  Resources/Textures/_White/Interface/Operative/item_status_left.png
  Resources/Textures/_White/Interface/Operative/item_status_left_highlight.png
  Resources/Textures/_White/Interface/Operative/item_status_right.png
  Resources/Textures/_White/Interface/Operative/item_status_right_highlight.png
  Resources/Textures/_White/Interface/Operative/slot_highlight.png
  Resources/Textures/_White/Interface/Operative/target_doll.png
  Resources/Textures/_White/Interface/Operative/template_small.png
Labels: Changes: No C#, size/S, S: Untriaged, S: Needs Review

#1448 Fix night vision
  Content.Client/Overlays/EquipmentHudSystem.cs
  Content.Client/_White/Overlays/NightVisionSystem.cs
  Content.Client/_White/Overlays/ThermalVisionOverlay.cs
  Content.Client/_White/Overlays/ThermalVisionSystem.cs
  Content.Shared/_White/Overlays/SwitchableOverlaySystem.cs
  Content.Shared/_White/Overlays/SwitchableVisionOverlayComponent.cs
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Clothing/Neck/specific.yml
  Resources/Prototypes/_White/Entities/Clothing/Eyes/goggles.yml
Labels: size/S, S: Untriaged

#1450 [PORT] Vent Critters Rework from Delta-V
  Content.Server/StationEvents/Components/VentCrittersRuleComponent.cs
  Content.Server/StationEvents/Events/VentCrittersRule.cs
  Resources/Locale/en-US/deltav/station-events/events/vent-critters.ftl
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/pests.yml
Labels: enhancement, size/M, S: Untriaged

#1455 make air vents not shit
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
Labels: Changes: No C#, size/XS

#1449 New Lobby Background - Tider Activities by asardonicsailor
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/tideractivities.webp
  Resources/Textures/LobbyScreens/tideractivities.webp.yml
Labels: enhancement, Changes: Sprites, Changes: No C#, size/S

#1445 Bso ntr centcomm role access
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/CentComm/cburn.yml
  Resources/Prototypes/Roles/Jobs/CentComm/deathsquad.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/Roles/Jobs/CentComm/official.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Goobstation/Roles/GhostRoles/Fun/hecu.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1458 fix some credits
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
Labels: Changes: No C#

#1465 24h shift
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Resources/Prototypes/Catalog/Jukebox/Standard.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/_Goobstation/Catalog/Jukebox/Standard.yml
  Resources/Prototypes/_Goobstation/Maps/barratry.yml
  Resources/Prototypes/lobbyscreens.yml
Labels: Changes: Map, size/M, S: Merge Conflict, S: Untriaged

#1464 Recolour HoS/Ward armored coats
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coathosarmored.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coathosarmored.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coathosarmored.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coathosarmored.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatwardenarmored.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatwardenarmored.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatwardenarmored.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatwardenarmored.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatwardenarmored.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/XS, S: Untriaged

#1470 Gloob
  Resources/Locale/en-US/_Goobstation/blob/blob.ftl
Labels: size/M, Changes: No C#, S: Untriaged

#1476 Update publish_multi_request.py
  Tools/publish_multi_request.py
Labels: Changes: No C#, S: Untriaged

#1461 Glorp Accent for Abductor
  Content.Server/_Goobstation/Speech/Components/GlorpAccentComponent.cs
  Content.Server/_Goobstation/Speech/EntitySystems/GlorpAccentSystem.cs
  Resources/Prototypes/_Shitmed/Entities/Mobs/Species/abductor.yml
Labels: size/M, S: Untriaged

#1486 Revert "Gloob"
  Resources/Locale/en-US/_Goobstation/blob/blob.ftl
Labels: size/M, Changes: No C#, S: Untriaged

#1481 Partially Reverts #1391
  Resources/Textures/_DV/Mobs/Species/Harpy/parts.rsi/l_arm.png
  Resources/Textures/_DV/Mobs/Species/Harpy/parts.rsi/r_arm.png
Labels: Changes: Sprites, Changes: No C#, size/XS

#1487 Fix ritual of knowledge and nightwatcher's rebirth
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Ash.cs
  Content.Server/_Goobstation/Heretic/Ritual/CustomBehavior.Knowledge.cs
Labels: size/S, S: Untriaged, S: Needs Review

#1499 Give ratking NV and Insulation
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1469 Made SM not suck (gas) (out of the chamber)
  Content.Server/_Goobstation/Supermatter/Systems/SupermatterSystem.cs
Labels: size/XS, S: Untriaged

#1518 Unnerf elite syndie suit
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: No C#, size/XS

#1468 Abductor Unique Blood
  Resources/Locale/en-US/_Goobstation/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/biological.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/physical-desc.ftl
  Resources/Prototypes/_Goobstation/Flavors/flavors.yml
  Resources/Prototypes/_Goobstation/Reagents/biological.yml
  Resources/Prototypes/_Shitmed/Entities/Mobs/Species/abductor.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1479 Apply preferred borg name to Station AI
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Resources/Locale/en-US/_Goobstation/preferences/ui/humanoid-profile-editor.ftl
Labels: size/XS, S: Untriaged

#1483 Spacelaw updated in-game
  Resources/ServerInfo/Guidebook/Security/SpaceLaw.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLCrimeList.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
Labels: size/M, Changes: No C#, S: Untriaged

#1489 Give HoS loadout standard vests.
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: Changes: No C#, size/XS

#1490 make frezon great again
  Resources/Prototypes/Atmospherics/gases.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1493 Yowies now use liver instead of heart for chem processing :)
  Resources/Prototypes/_Goobstation/Body/Organs/yowie.yml
  Resources/ServerInfo/Guidebook/Mobs/Yowie.xml
Labels: Changes: No C#, size/S, S: Untriaged

#1494 Fix ghost roles specism
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/chronolegionnaire.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/base.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/midround.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1474 SMES Fix and Value Increase
  Content.Server/Power/Components/BatteryComponent.cs
  Resources/Prototypes/Entities/Structures/Power/smes.yml
Labels: size/S, S: Untriaged

#1501 Fixed GlorpAccent on abductor spawn
  Resources/Prototypes/_Shitmed/GameRules/events.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1506 fix stealth
  Content.Client/Stealth/StealthSystem.cs
  Content.Shared/Stealth/Components/StealthComponent.cs
  Content.Shared/Stealth/Components/StealthOnMoveComponent.cs
  Content.Shared/Stealth/SharedStealthSystem.cs
  Resources/Prototypes/Anomaly/behaviours.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
Labels: size/M, S: Untriaged

#1507 fix nukie macrobomb restock
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1525 Removing broken map and mode from pools (temporarily)
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/dynamic.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged

#1390 Wizzy skates
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Shoes/specific.yml
  Resources/Textures/_Goobstation/Clothing/Shoes/Specific/skateswizard.rsi/equipped-FEET.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Specific/skateswizard.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Specific/skateswizard.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Specific/skateswizard.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Specific/skateswizard.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S, S: Untriaged, S: Needs Review

#1457 Fix heretic gear
  Content.Shared/_Goobstation/Heretic/Systems/HereticClothingSystem.cs
  Resources/Prototypes/_Goobstation/Heretic/Entities/Clothing/Neck/specific.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Clothing/OuterClothing/armor.yml
Labels: size/S, S: Untriaged

#1533 undisarmable wonderprod
  Resources/Prototypes/_Shitmed/Entities/Objects/Weapons/Melee/wonderprod.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1451 syndicate pocket dimension pot
  Content.Server/_Goobstation/Teleportation/Components/PocketDimensionComponent.cs
  Content.Server/_Goobstation/Teleportation/Systems/PocketDimensionSystem.cs
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/_Goobstation/teleportation/pocket-dimension.ftl
  Resources/Maps/_Goobstation/Nonstations/pocket-dimension.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Syndicate/dimension_pot.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Walls/dimension.yml
Labels: Changes: Map, size/M, S: Untriaged

#1402 More casual jumpsuits
  Resources/Prototypes/Catalog/VendingMachines/Inventories/centdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/clothing.yml
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualcentcom.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualcentcom.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualcentcom.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualcentcom.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualcentcom.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualcommand.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualcommand.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualcommand.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualcommand.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualcommand.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualengineer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualengineer.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualengineer.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualengineer.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualengineer.rsi/meta.json
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged, S: Needs Review

#1446 All at once includes all antags
  Resources/Prototypes/game_presets.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1452 Betrayal knife
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Client/_White/Blink/BlinkStatusControl.cs
  Content.Client/_White/Blink/BlinkSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/MansusGraspSystem.cs
  Content.Server/_White/Blink/BlinkSystem.cs
  Content.Shared/_White/BackStab/BackStabComponent.cs
  Content.Shared/_White/BackStab/BackStabSystem.cs
  Content.Shared/_White/Blink/BlinkComponent.cs
  Content.Shared/_White/Blink/SharedBlinkSystem.cs
  Content.Shared/_White/Standing/TelefragSystem.cs
  Resources/Audio/_Goobstation/Weapons/Effects/attributions.yml
  Resources/Audio/_Goobstation/Weapons/Effects/guillotine.ogg
  Resources/Locale/en-US/_white/backstab/backstab.ftl
  Resources/Locale/en-US/_white/blink/blink.ftl
  Resources/Locale/en-US/_white/store/uplink-catalog.ftl
  Resources/Prototypes/_White/Catalog/uplink_catalog.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Melee/daggers.yml
  Resources/Textures/_White/Objects/Weapons/Melee/Daggers/betrayal_knife.rsi/icon.png
  Resources/Textures/_White/Objects/Weapons/Melee/Daggers/betrayal_knife.rsi/inhand-left.png
  Resources/Textures/_White/Objects/Weapons/Melee/Daggers/betrayal_knife.rsi/inhand-right.png
  Resources/Textures/_White/Objects/Weapons/Melee/Daggers/betrayal_knife.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Untriaged, Changes: Audio

#1566 Very Normal PR Please Speedmerge Nothing Bad Will Happen
  Resources/Locale/en-US/_Goobstation/headset/headsets.ftl
  Resources/Locale/en-US/_Goobstation/tide.ftl/tidemind.ftl
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/_Goobstation/radio_channels.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1441 TOTAL MIME DEATH V2 (WITH SCALEBEARD APPROVAL)
  Content.Server/Abilities/Mime/MimePowersComponent.cs
  Content.Server/Abilities/Mime/MimePowersSystem.cs
Labels: size/S, S: Untriaged, S: Needs Review

#1447 (Ready to merge) Change uplink thieving gloves to have chameleon technology
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1385 Voice Modulator Mask
  Content.Server/VoiceMask/VoiceMaskComponent.cs
  Content.Server/VoiceMask/VoiceMaskSystem.cs
  Resources/Locale/en-US/_Goobstation/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/_Goobstation/clothing/voice-modulator.ftl
  Resources/Prototypes/_Goobstation/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/clothing/VoiceModulator.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/clothing.yml
  Resources/Prototypes/_Goobstation/Voice/speech_verbs.yml
Labels: Changes: UI, Changes: No C#, size/S, S: Untriaged, S: Needs Review

#1488 ai-powered c4
  Resources/Locale/en-US/_Goobstation/ghost/ghost-role-component.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_Goobstation/Voice/speech_emote_sounds.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1495 Loop station goob update take 2
  Resources/Maps/loop.yml
  Resources/Prototypes/Maps/loop.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/XL

#1500 Changed syndicate night / infrared goggles to be slightly better but also contraband and detectable.
  Content.Shared/_White/Overlays/ThermalVisionComponent.cs
  Resources/Prototypes/_White/Entities/Clothing/Eyes/goggles.yml
  Resources/Textures/_White/Clothing/Eyes/Goggles/snightvision.rsi/equipped-EYES-off.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/snightvision.rsi/equipped-EYES.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/snightvision.rsi/icon.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/snightvision.rsi/inhand-left.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/snightvision.rsi/inhand-right.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/snightvision.rsi/meta.json
  Resources/Textures/_White/Clothing/Eyes/Goggles/sthermals.rsi/equipped-EYES.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/sthermals.rsi/icon.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/sthermals.rsi/inhand-left.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/sthermals.rsi/inhand-right.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/sthermals.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Untriaged

#1512 fix borg jobs being MMIs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Changes: No C#, size/XS

#1514 let borgs pilot mechs
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/mechs.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1517 Bring back spin emote
  Resources/Locale/en-US/_Goobstation/emotes.ftl
  Resources/Prototypes/_Goobstation/Actions/emotes.yml
Labels: Changes: No C#, size/S

#1535 lmao stop holding onto contraband you bitch
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR15SpaceLaw.xml
Labels: Changes: No C#, size/XS, S: Untriaged

#1547 make flesh ascension good
  Resources/Prototypes/_Goobstation/Heretic/Entities/Mobs/NPC/polymorph.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1561 pen recipe in autolathe
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/tools.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1560 Fix yowie naming
  Resources/Prototypes/_Goobstation/Datasets/Names/yowie_last.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/_Goobstation/Species/yowie.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1565 [bounty] explosive uplink fake insuls
  Content.Shared/_Goobstation/Electrocution/ExplosiveShockComponent.cs
  Content.Shared/_Goobstation/Electrocution/ExplosiveShockIgnitedComponent.cs
  Content.Shared/_Goobstation/Electrocution/ExplosiveShockSystem.cs
  Resources/Locale/en-US/_Goobstation/clothing/explosiveshock.ftl
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Hands/gloves.yml
Labels: size/M, S: Untriaged
