Repository Goob-Station/Goob-Station, pull requests merged in 2025-09, with the labels that each got.

#3944 ГОЙДА
  Content.IntegrationTests/Tests/_Shitmed/Body/BodySetupTest.cs
  Resources/Locale/en-US/_Goobstation/goida.ftl
  Resources/Locale/en-US/_Goobstation/recipes/tags.ftl
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Goobstation/Entities/Markers/Spawners/silicon.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/goidabot.yml
  Resources/Prototypes/_Goobstation/Recipes/Crafting/Graphs/goidabot.yml
  Resources/Prototypes/_Goobstation/Recipes/Crafting/goidabot.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Textures/_Goobstation/Mobs/Silicon/Bots/goidabot.rsi/goidabot.png
  Resources/Textures/_Goobstation/Mobs/Silicon/Bots/goidabot.rsi/meta.json
Labels: Note: Duplicate, Note: Help wanted, Note: Wontfix, Changes: Sprites, S: Admin Review Pending, size/M, Changes: No C#, S: Untriaged, S: Needs Review, S: Needs Changes, Priority: Low, Priority: Medium, Priority: High, Note: Mald PR, Note: DO NOT MERGE, NOTE: NOT A MALD PR, S: Disapproval, Antag/Balance Freeze, D0: Holy Shit, D1: Hard, D2: Medium, D3: Easy

#3977 Add the 2 new species specific languages to the librarian implant.
  Resources/Prototypes/_Goobstation/Objects/Devices/translator_implants.yml
Labels: Changes: No C#, size/S, S: Untriaged

#3919 More changes to Cosmic Cult
  Content.Server/_DV/CosmicCult/Abilities/CosmicMonumentSystem.cs
  Content.Server/_DV/CosmicCult/Abilities/CosmicSiphonSystem.cs
  Content.Server/_DV/CosmicCult/CosmicCultRuleSystem.cs
  Content.Server/_DV/CosmicCult/MonumentSystem.cs
  Content.Server/_DV/StationEvents/Components/RandomMultipleSpawnRuleComponent.cs
  Content.Server/_DV/StationEvents/Events/RandomMultipleSpawnRule.cs
  Content.Shared/_DV/CosmicCult/Components/CosmicCultComponent.cs
  Content.Shared/_DV/CosmicCult/CosmicCult.Actions.cs
  Resources/Locale/en-US/_DV/cosmiccult/abilities.ftl
  Resources/Locale/en-US/_DV/cosmiccult/examine.ftl
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_DV/Actions/cosmiccult.yml
  Resources/Prototypes/_DV/CosmicCult/MonumentPowers/influences.yml
  Resources/Prototypes/_DV/CosmicCult/Objects/cosmicweapons.yml
  Resources/Prototypes/_DV/CosmicCult/glyphs.yml
  Resources/Prototypes/_DV/GameRules/events.yml
Labels: size/M, S: Untriaged, S: Needs Review

#3980 fix mousebites "stunlock" when crit
  Resources/Prototypes/_Goobstation/Reagents/fun.yml
  Resources/Prototypes/_Goobstation/Reagents/narcotics.yml
Labels: Changes: No C#, size/S

#3975 fix botany beret
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Civilian/botanist.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3916 [RMC-14 Port] Adds mangos
  Resources/Locale/en-US/_RMC14/kitchen/seeds.ftl
  Resources/Locale/en-US/_RMC14/nutrition/components/food-sequence.ftl
  Resources/Locale/en-US/_RMC14/reagents/flavors.ftl
  Resources/Locale/en-US/_RMC14/reagents/meta/consumable/juice.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/_RMC14/Flavors/flavors.yml
  Resources/Prototypes/_RMC14/Kitchen/Plants/produce.yml
  Resources/Prototypes/_RMC14/Kitchen/Plants/seeds.yml
  Resources/Prototypes/_RMC14/Reagents/Consumable/Drink/juice.yml
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/dead.png
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/harvest.png
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/produce-inhand-left.png
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/produce-inhand-right.png
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/produce.png
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/seed.png
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/stage-1.png
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/stage-2.png
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/stage-3.png
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/stage-4.png
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/stage-5.png
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/stage-6.png
Labels: Changes: Sprites, size/M, Changes: No C#

#4009 Remove ERP ban bait, holy fuck.
  Resources/Locale/en-US/_white/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/_White/Entities/Mobs/Xenomorphs/maid.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#4033 no more bingle spam
  Resources/Prototypes/_Goobstation/GameRules/bingleEvent.yml
Labels: Changes: No C#, S: Untriaged

#4030 Adding Nitrous Oxide & Breath mask to Abductor ships
  Resources/Maps/_Shitmed/Shuttles/ShuttleEvent/abductor_shuttle.yml
  Resources/Maps/_Shitmed/Shuttles/ShuttleEvent/duo_abductor_shuttle.yml
Labels: Changes: Map, size/M, Changes: No C#, S: Untriaged

#3557 THE NEW JANITOR ORDER
  Content.Goobstation.Server/Footprints/FootprintSystem.cs
  Content.Goobstation.Server/Footprints/NoFootprintsComponent.cs
  Content.Goobstation.Shared/FloorCleaner/FloorCleanerComponent.cs
  Content.Goobstation.Shared/FloorCleaner/FloorCleanerDoAfterEvent.cs
  Content.Goobstation.Shared/FloorCleaner/FloorCleanerSystem.cs
  Content.Goobstation.Shared/Keyring/KeyringComponent.cs
  Content.Goobstation.Shared/Keyring/KeyringDoAfterEvent.cs
  Content.Goobstation.Shared/Keyring/KeyringSystem.cs
  Content.Server/Light/EntitySystems/LightReplacerSystem.cs
  Content.Server/Light/EntitySystems/PoweredLightSystem.cs
  Content.Shared/Disposal/Unit/SharedDisposalUnitSystem.cs
  Content.Shared/Light/Components/LightReplacerComponent.cs
  Content.Shared/Storage/EntitySystems/DumpableSystem.cs
  Resources/Audio/_Goobstation/Items/key_rustle.ogg
  Resources/Locale/en-US/_Goobstation/cleaningtool/cleaningtool.ftl
  Resources/Locale/en-US/_Goobstation/keyring/keyring.ftl
  Resources/Locale/en-US/_Goobstation/lightreplacer/light-replacer-component.ftl
  Resources/Locale/en-US/light/components/light-replacer-component.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Reagents/cleaning.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Janitorial/keyring.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Civilian/janitor.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/ServerInfo/Guidebook/Service/Janitorial.xml
  Resources/Textures/Clothing/Belt/belt_overlay.rsi/keyring-equipped-BELT.png
  Resources/Textures/Clothing/Belt/belt_overlay.rsi/keyring.png
  Resources/Textures/Clothing/Belt/belt_overlay.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Head/Hats/janitor_cap.rsi/equipped-HELMET-hamster.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/janitor_cap.rsi/equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/janitor_cap.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/janitor_cap.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/janitor_cap.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/janitor_cap.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Specific/Janitorial/keyring.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Specific/Janitorial/keyring.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Specific/Janitorial/keyring.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Specific/Janitorial/keyring.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Untriaged, S: Needs Review, Changes: Audio

#4045 AutoInjector stock and price adjustment
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/security.yml
Labels: Changes: No C#, size/S, S: Untriaged

#4039 tweaked xeno chaos score
  Resources/Prototypes/_White/GameRules/events.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#4025 Wizard Crate o' Enchanting
  Resources/Locale/en-US/_Goobstation/Wizard/spellbook-catalog-equipment.ftl
  Resources/Prototypes/_Goobstation/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_Goobstation/Catalog/spellbook_catalog.yml
Labels: Changes: No C#, size/S

#4040 fucking predict surgery
  Content.Client/_Shitmed/Medical/Surgery/SurgeryBui.cs
  Content.Server/_Shitmed/Medical/Surgery/SurgerySystem.cs
  Content.Shared/_Shitmed/CCVar/SurgeryCVars.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Start.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.cs
Labels: size/M, S: Untriaged, S: Needs Review

#3964 Updating xenomorph sprites
  Resources/Prototypes/_White/Actions/xenomorph.yml
  Resources/Prototypes/_White/Entities/Structures/Furniture/resin_weed.yml
  Resources/Prototypes/_White/Entities/Structures/Walls/resin.yml
  Resources/Prototypes/_White/Entities/Structures/Windows/resin.yml
Labels: Changes: No C#, size/S, S: Untriaged

#4066 Stop letting chuds enable this game mode, it does not work
  Resources/Prototypes/game_presets.yml
Labels: Changes: No C#, size/XS, NOTE: NOT A MALD PR

#4090 nerf intercom spam
  Content.Goobstation.Server/Speech/ListenBlacklistSystem.cs
  Content.Goobstation.Shared/Speech/ListenBlacklistComponent.cs
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
Labels: size/S, S: Untriaged

#4022 Coffee now causes jittering, and ever so slightly alters your speed
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
Labels: Changes: No C#, size/S, S: Untriaged

#3992 Fixes: #3983 - Entities render below the chair sprite when facing south/down
  Content.Client/Buckle/BuckleSystem.cs
Labels: size/S, S: Untriaged

#3911 Update Train
  Resources/Maps/_Goobstation/train.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/train.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/XL, S: Needs Review

#4095 Xeno music on announcement
  Content.Server/_White/GameTicking/Rules/Components/XenomorphsRuleComponent.cs
  Content.Server/_White/GameTicking/Rules/XenomorphsRuleSystem.cs
  Resources/Audio/_Goobstation/Music/Black_Swarm.ogg
  Resources/Audio/_Goobstation/Music/Black_Swarm_Short.ogg
  Resources/Audio/_Goobstation/Music/attributions.yml
  Resources/Locale/en-US/_white/game-tiking/game-rules/xenomorphs.ftl
  Resources/Prototypes/_Goobstation/Catalog/Jukebox/Standard.yml
Labels: size/S, S: Untriaged, Changes: Audio

#4092 Species specific trait support
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Traits/TraitPrototype.cs
Labels: Changes: UI, size/S, S: Untriaged

#4073 Xenomorph stuff
  Content.Server/_White/Xenomorphs/FaceHugger/FaceHuggerComponent.cs
  Content.Shared/_White/Xenomorphs/XenomorphShoveTracker/XenomorphShoveTrackerComponent.cs
  Resources/Locale/en-US/_Goobstation/access/accesslevel.ftl
  Resources/Locale/en-US/_Goobstation/collective-mind/collective-mind.ftl
  Resources/Prototypes/_Goobstation/Access/xenomorph.yml
  Resources/Prototypes/_Goobstation/CollectiveMind/collective_minds.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Prototypes/_White/Actions/xenomorph.yml
  Resources/Prototypes/_White/Body/Organs/Animal/xenomorph.yml
  Resources/Prototypes/_White/Entities/Mobs/Xenomorphs/base.yml
  Resources/Prototypes/_White/Entities/Mobs/Xenomorphs/drone.yml
  Resources/Prototypes/_White/Entities/Mobs/Xenomorphs/praetorian.yml
  Resources/Prototypes/_White/Entities/Mobs/Xenomorphs/queen.yml
  Resources/Prototypes/_White/Entities/Structures/Doors/resin.yml
  Resources/Prototypes/_White/Entities/Structures/Walls/resin.yml
  Resources/Prototypes/_White/GameRules/events.yml
Labels: size/M, S: Untriaged

#3853 Cent com update
  Resources/Maps/centcomm.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/XL, Note: Stale

#4163 Fixes: #4137 No more Nudist Station
  Content.Client/Clothing/ClientClothingSystem.cs
Labels: size/XS, Type: Bugfix

#4169 Fixes wonderprod sleep mode
  Resources/Prototypes/_Shitmed/Reagents/narcotics.yml
Labels: Changes: No C#, S: Untriaged

#4166 Wet Slop
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: Changes: No C#

#4156 Fixes #4109 IPC Clone doesn't spawn with the encryption key
  Content.Server/Cloning/CloningSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
Labels: size/S, Type: Bugfix

#4136 Buff Armok
  Resources/Prototypes/Entities/Structures/conveyor.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/Electronics/misc_signallers.yml
Labels: Changes: No C#, size/S

#4096 fix stupid chud shit
  Content.Shared/Body/Systems/SharedBodySystem.Organs.cs
  Content.Shared/Construction/Steps/TagConstructionGraphStep.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Resources/Prototypes/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgeries.yml
Labels: size/S, S: Untriaged

#4081 Kill Voidsuits
  Resources/Locale/en-US/_Goobstation/set-selector/selectable-sets.ftl
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Modsuits/apocryphal.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Modsuits/corporate.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Modsuits/engineering-responsory.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Modsuits/inquisitory.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Modsuits/janitorial-responsory.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Modsuits/leader-responsory.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Modsuits/medical-responsory.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Modsuits/praetorian.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Modsuits/security-responsory.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Back/modsuit.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Hands/modsuit.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/modsuit.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/voidsuit-helmet.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/modsuit.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Shoes/modsuit.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Misc/voidsuitselectors.yml
  Resources/ServerInfo/Guidebook/Engineering/SingularityEngine.xml
  Resources/ServerInfo/Guidebook/Mobs/Plasmaman.xml
Labels: size/M, Changes: No C#, S: Needs Review

#4031 Rustwalker change
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_Goobstation/Heretic/Heretic/heretic_rituals.yml
  Resources/Prototypes/_Goobstation/tags.yml
Labels: Changes: No C#, size/XS, S: Needs Changes

#3993 Fixes: Station AI being able to seal modsuits.
  Content.Goobstation.Shared/Clothing/Systems/SharedSealableClothingSystem.cs
Labels: size/XS, S: Needs Review, Type: Bugfix

#3826 [BOUNTY] Boggle & Lehmin plushie (and Lehmin hat)
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Goobstation/Clothing/Head/Hats/lehmin.rsi/equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/lehmin.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/lehmin.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushie_boggle.png
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushie_lehmin.png
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushieboggle-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushieboggle-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushielehmin-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushielehmin-inhand-right.png
Labels: Changes: Sprites, Note: Bounty, size/M, Changes: No C#

#4150 Revolutionary Conversion Accounts for Languages
  Content.Server/_EinsteinEngines/Language/LanguageSystem.cs
  Content.Shared/_EinsteinEngines/Language/Components/UniversalLanguageSpeakerComponent.cs
  Content.Shared/_EinsteinEngines/Language/Systems/SharedLanguageSystem.cs
  Content.Shared/_EinsteinEngines/Revolutionary/RevolutionaryConverterSystem.cs
Labels: size/S, S: Untriaged, S: Needs Review

#4124 Hotfix 2 for CC
  Resources/Maps/centcomm.yml
Labels: Changes: Map, Changes: No C#, size/L, S: Needs Review, Type: Bugfix

#4188 typo fix because fen merged when there was review changes
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR6Antag.xml
Labels: Changes: No C#, Type: Bugfix

#4190 fix scarp troll
  Content.Goobstation.Shared/MartialArts/SharedMartialArtsSystem.SleepingCarp.cs
  Content.Shared/Weapons/Reflect/ReflectComponent.cs
Labels: size/XS, S: Untriaged

#4184 Syndiedrobe to uplink
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
Labels: Changes: No C#, size/S, Type: Feature

#4160 make devil handshake require a hand
  Content.Goobstation.Server/Devil/DevilSystem.Handshake.cs
Labels: size/XS, Type: Bugfix

#4144 Fix Trevor Access
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/trevor.yml
Labels: Changes: No C#, Type: Bugfix

#4089 Tranq shells are no longer contra to Zookeepers
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/base_contraband.yml
Labels: Changes: No C#, size/S, S: Needs Review

#3912 New York accent.
  Resources/Locale/en-US/_Goobstation/accent/newyork.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/_Goobstation/Accents/word_replacements.yml
  Resources/Prototypes/_Goobstation/Traits/speech.yml
Labels: Type: Enhancement, size/M, Changes: No C#

#4182 Summerclothes
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Science/research_director.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/clothing.yml
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualshirt_captain.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualshirt_captain.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualshirt_captain.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualshirt_ce.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualshirt_ce.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualshirt_ce.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualshirt_hop.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualshirt_hop.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualshirt_hop.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualshirt_hos.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualshirt_hos.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualshirt_hos.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualshirt_qm.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualshirt_qm.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualshirt_qm.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualshirt_rd.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualshirt_rd.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/casualshirt_rd.rsi/meta.json
Labels: Type: Enhancement, Changes: Sprites, size/M, Changes: No C#

#4231 Serpentcrest hotfix
  Resources/Maps/_Goobstation/serpentcrest.yml
Labels: Changes: Map, Changes: No C#, Type: Bugfix

#4122 Jordans not magical contra
  Resources/Prototypes/_Goobstation/Entities/Clothing/Shoes/boots.yml
Labels: Changes: No C#, size/XS, S: Needs Review

#4222 The CC hotfixes never end, but also plushies
  Resources/Maps/centcomm.yml
Labels: Changes: Map, Changes: No C#, size/L, Type: Bugfix

#4289 fix interactor direction
  Content.Goobstation.Shared/Factory/SharedInteractorSystem.cs
Labels: size/XS, Type: Bugfix, S: Approved

#4283 fixed the unplayable boxing gloves png
  Resources/Textures/Clothing/Hands/Gloves/Boxing/boxingred.rsi/equipped-HAND-kangaroo.png
  Resources/Textures/Clothing/Hands/Gloves/Boxing/boxingred.rsi/equipped-HAND.png
Labels: Changes: Sprites, Changes: No C#, size/XS, S: Approved

#4269 let fish vent crawl
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
Labels: Changes: No C#, size/XS, Balance, S: Approved

#4263 Fixed missing/incorrect names and descriptions.
  Resources/Locale/en-US/_Goobstation/job/job-names.ftl
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
Labels: Changes: No C#, size/S, Type: Bugfix

#4262 More Sunglasses Textures for Moths
  Resources/Textures/_Goobstation/Clothing/Eyes/Glasses/bsoglasses.rsi/equipped-EYES-moth.png
  Resources/Textures/_Goobstation/Clothing/Eyes/Glasses/bsoglasses.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Eyes/Glasses/centcommglasses.rsi/equipped-EYES-moth.png
  Resources/Textures/_Goobstation/Clothing/Eyes/Glasses/centcommglasses.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Eyes/Glasses/deathsquad.rsi/equipped-EYES-moth.png
  Resources/Textures/_Goobstation/Clothing/Eyes/Glasses/deathsquad.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Eyes/Glasses/diagglasses.rsi/equipped-EYES-moth.png
  Resources/Textures/_Goobstation/Clothing/Eyes/Glasses/diagglasses.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Eyes/Glasses/meddiagglasses.rsi/equipped-EYES-moth.png
  Resources/Textures/_Goobstation/Clothing/Eyes/Glasses/meddiagglasses.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Eyes/Glasses/medglasses.rsi/equipped-EYES-moth.png
  Resources/Textures/_Goobstation/Clothing/Eyes/Glasses/medglasses.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Eyes/Glasses/medsecglasses.rsi/equipped-EYES-moth.png
  Resources/Textures/_Goobstation/Clothing/Eyes/Glasses/medsecglasses.rsi/meta.json
Labels: Type: Enhancement, Changes: Sprites, Changes: No C#, size/S, S: Approved

#4227 Add Mining Shuttle board to QM Locker
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: No C#, size/XS, Type: Bugfix

#4229 Mech Tweaks
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/mechs.yml
Labels: Changes: No C#, size/S, Balance

#4221 Roleplay rule 6 fix.
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR6Antag.xml
Labels: Changes: No C#, S: Untriaged

#4176 raised shield infection fix
  Content.Server/Zombies/ZombieSystem.cs
Labels: size/XS, Type: Bugfix, Balance

#3978 Lollypop now slowly gets eaten while in mouth
  Content.Goobstation.Server/Lollypop/LollypopComponent.cs
  Content.Goobstation.Server/Lollypop/LollypopSystem.cs
  Resources/Prototypes/_Goobstation/Entities/Objects/Consumable/Food/lollypops.yml
Labels: size/M, S: Untriaged

#4272 Office Chair Update (Rocket Chairs & Wall Launches)
  Content.Goobstation.Client/OfficeChair/RocketChairSystem.cs
  Content.Goobstation.Server/OfficeChair/RocketChairSystem.cs
  Content.Goobstation.Shared/OfficeChair/RocketChairComponent.cs
  Content.Goobstation.Shared/OfficeChair/SharedRocketChairSystem.cs
  Content.Goobstation.Shared/OfficeChair/SprayPushableVehicleComponent.cs
  Content.Goobstation.Shared/OfficeChair/SprayPushableVehicleSystem.cs
  Content.Goobstation.Shared/OfficeChair/VehicleHitAndRunComponent.cs
  Content.Goobstation.Shared/OfficeChair/VehicleHitAndRunSystem.cs
  Content.Goobstation.Shared/OfficeChair/VehicleWallPushComponent.cs
  Content.Goobstation.Shared/OfficeChair/VehicleWallPushSystem.cs
  Content.Server/Chemistry/EntitySystems/VaporSystem.cs
  Content.Server/Fluids/EntitySystems/SpraySystem.cs
  Resources/Audio/_Goobstation/OfficeChair/roll.ogg
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/seats.yml
  Resources/Prototypes/_Goobstation/Actions/types.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Furniture/chairs.yml
  Resources/Textures/_Goobstation/Structures/Furniture/rocket_chair.rsi/meta.json
  Resources/Textures/_Goobstation/Structures/Furniture/rocket_chair.rsi/office-dark.png
  Resources/Textures/_Goobstation/Structures/Furniture/rocket_chair.rsi/office-white.png
Labels: Changes: Sprites, size/L, S: Needs Review, Changes: Audio, Priority: High, Type: Feature, S: Approved

#4179 More traits and wheelchair fix #4044 but with new paint
  Content.Goobstation.Client/Traits/DeafSystem.cs
  Content.Goobstation.Common/Chat/ChatMessageOverrideInVoiceRangeEvent.cs
  Content.Goobstation.Common/Traits/Components/SocialAnxietyComponent.cs
  Content.Goobstation.Common/Traits/DeafComponent.cs
  Content.Goobstation.Common/Traits/LegsParalyzedComponent.cs
  Content.Goobstation.Server/Deafness/DeafnessSystem.cs
  Content.Goobstation.Shared/Traits/Systems/LegsParalyzedSystem.cs
  Content.Goobstation.Shared/Traits/Systems/SocialAnxietySystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Shared/_Shitcode/Chat/ChatMessageOverrideInVoiceRangeEvent.cs
  Resources/Locale/en-US/_Goobstation/traits-popups/traits-popups.ftl
  Resources/Locale/en-US/_Goobstation/traits/traits.ftl
  Resources/Prototypes/_Goobstation/Traits/disabilities.yml
Labels: Type: Enhancement, size/M, S: Needs Review, Type: Bugfix

#4280 slop tot med consumables buff
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
Labels: Changes: No C#, Balance

#4301 make ling + heretic cloning better
  Content.Goobstation.Common/Cloning/TransferredToCloneEvent.cs
  Content.Goobstation.Server/Changeling/ChangelingSystem.Abilities.cs
  Content.Goobstation.Server/Changeling/ChangelingSystem.cs
  Content.Goobstation.Shared/Changeling/Systems/SharedChangelingSystem.cs
  Content.Goobstation.Shared/Heretic/HereticCloningSystem.cs
  Content.Server/Cloning/CloningPodSystem.cs
  Content.Server/Cloning/Components/BeingClonedComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
Labels: size/S, Type: Bugfix, S: Approved

#3995 Librarians, Chaplain, and Chef visitors now start with appropriate implants, skills, and items.
  Resources/Prototypes/Entities/Mobs/Player/ShuttleRoles/settings.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Roles/Jobs/Fun/visitors_startinggear.yml
Labels: Changes: No C#, size/S, S: Approved

#4132 Dechuddify borg laws
  Resources/Locale/en-US/_Goobstation/station-laws/laws.ftl
  Resources/Prototypes/_DV/siliconlaws.yml
  Resources/Prototypes/borg_types.yml
Labels: Changes: No C#, size/S, S: Needs Review, Balance, S: Approved

#4141 Nerf multishot
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Basic/plasma_cutter.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/magfed_lasers.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Pistols/pistol.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/dart_gun.yml
Labels: Changes: No C#, size/S, Balance, S: Approved

#4195 NTR and BSO highlighting
  Resources/Locale/en-US/chat/highlights.ftl
Labels: Type: Enhancement, Changes: No C#, S: Approved

#4252 yaml "bug" fix
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/_DV/Catalog/VendingMachines/Inventories/salvage_points.yml
  Resources/Prototypes/_Lavaland/Catalog/Fills/Crates/cargo.yml
Labels: Changes: No C#, size/S, Type: Bugfix, S: Approved

#4197 untroll air alarm low pressure thresholds + unchud tg gases
  Resources/Locale/en-US/_Goobstation/gases/gases.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/gases.ftl
  Resources/Locale/en-US/_Goobstation/xenoarchaeology/artifact-hints.ftl
  Resources/Locale/en-US/gases/gases.ftl
  Resources/Locale/en-US/reagents/meta/gases.ftl
  Resources/Locale/en-US/xenoarchaeology/artifact-hints.ftl
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Atmospherics/reactions.yml
  Resources/Prototypes/Atmospherics/thresholds.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/vox.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/XenoArch/triggers.yml
  Resources/Prototypes/_Goobstation/Atmospherics/gases.yml
  Resources/Prototypes/_Goobstation/Atmospherics/reactions.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/_Goobstation/Reagents/gases.yml
  Resources/Prototypes/_Goobstation/XenoArch/triggers.yml
Labels: Changes: No C#, size/L, Balance, S: Approved

#4240 add rev flash
  Content.Shared/_EinsteinEngines/Revolutionary/Components/RevolutionaryConverterComponent.cs
  Content.Shared/_EinsteinEngines/Revolutionary/RevolutionaryConverterSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Revolutionary/converters.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/misc/revflash.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/revflash.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/revflash.rsi/burnt.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/revflash.rsi/flash.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/revflash.rsi/flashing.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/revflash.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/revflash.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/revflash.rsi/meta.json
Labels: Type: Enhancement, Changes: Sprites, size/M, S: Approved

#4305 kill shitter drones
  Resources/Prototypes/_Imp/_Drone/Mobs_Player_silicon.yml
Labels: Changes: No C#, size/XS

#4306 Network IsEquipment field for night vision
  Content.Goobstation.Shared/Overlays/SwitchableOverlaySystem.cs
  Content.Goobstation.Shared/Overlays/SwitchableVisionOverlayComponent.cs
Labels: size/XS, Type: Bugfix, S: Approved

#4214 Xeno Nest prevent use of your hand + more heal
  Content.Goobstation.Common/BlockHandsOnBuckle/BlockHandsOnBuckleComponent.cs
  Content.Goobstation.Common/SpaceImmunityOnBuckle/SpaceImmunityOnBuckle.cs
  Content.Goobstation.Server/BlockHandsOnBuckle/BlockHandsOnBuckleSystem.cs
  Content.Goobstation.Server/SpaceImmunityOnBuckle/SpaceImmunityOnBuckleSystem.cs
  Resources/Prototypes/_White/Entities/Structures/Furniture/resin_nest.yml
Labels: Type: Enhancement, size/M, Balance

#4316 Fix IPCs being cloneable
  Content.Server/Cloning/CloningSystem.cs
  Resources/Prototypes/_Goobstation/Entities/Clothing/Belt/cloneprojector.yml
Labels: size/XS, S: Approved

#4302 lose useless heretics actions after HereticComponent is removed
  Content.Server/_Shitcode/Heretic/EntitySystems/HereticKnowledgeSystem.cs
  Content.Server/_Shitcode/Heretic/EntitySystems/HereticSystem.cs
  Content.Shared/_Shitcode/Heretic/Components/HereticComponent.cs
Labels: size/S, Type: Bugfix, S: Approved

#4248 Xenomorph Ghostrole Rule String
  Resources/Locale/en-US/_Goobstation/ghost/ghost-role-component.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/_White/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/_White/Entities/Mobs/Xenomorphs/drone.yml
  Resources/Prototypes/_White/Entities/Mobs/Xenomorphs/hunter.yml
  Resources/Prototypes/_White/Entities/Mobs/Xenomorphs/larva.yml
  Resources/Prototypes/_White/Entities/Mobs/Xenomorphs/praetorian.yml
  Resources/Prototypes/_White/Entities/Mobs/Xenomorphs/queen.yml
  Resources/Prototypes/_White/Entities/Mobs/Xenomorphs/sentinel.yml
Labels: Changes: No C#, size/S, Type: Bugfix, S: Approved

#4230 more factorio gameplay
  Content.Goobstation.Client/Factory/UI/MobFilterBUI.cs
  Content.Goobstation.Client/Factory/UI/MobFilterWindow.xaml
  Content.Goobstation.Client/Factory/UI/MobFilterWindow.xaml.cs
  Content.Goobstation.Shared/Examine/ToggleExamineComponent.cs
  Content.Goobstation.Shared/Examine/ToggleExamineSystem.cs
  Content.Goobstation.Shared/Factory/Filters/AnchorFilterComponent.cs
  Content.Goobstation.Shared/Factory/Filters/AutomationFilterSystem.cs
  Content.Goobstation.Shared/Factory/Filters/CuffFilterComponent.cs
  Content.Goobstation.Shared/Factory/Filters/MobFilterComponent.cs
  Content.Goobstation.Shared/Factory/InteractorComponent.cs
  Content.Goobstation.Shared/Factory/SharedInteractorSystem.cs
  Content.Shared/DeviceLinking/DevicePortPrototype.cs
  Resources/Locale/en-US/_Goobstation/factory/filters.ftl
  Resources/Locale/en-US/_Goobstation/machines/automation.ftl
  Resources/Prototypes/_Goobstation/DeviceLink/sink_ports.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/filters.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/interactor.yml
  Resources/Prototypes/_Goobstation/Recipes/Crafting/Graphs/filters.yml
  Resources/Prototypes/_Goobstation/Recipes/Crafting/filters.yml
Labels: Changes: UI, size/M, Type: Feature, S: Approved

#4233 Tweak midround spawn rates
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_Goobstation/GameRules/events.yml
  Resources/Prototypes/_Goobstation/GameRules/midround.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/secretplus.yml
  Resources/Prototypes/_Goobstation/SlaughterDemon/GameRules/slaughter_demon.yml
  Resources/Prototypes/_Shitmed/GameRules/events.yml
  Resources/Prototypes/_White/GameRules/events.yml
Labels: S: Needs Discussion, size/M, Changes: No C#, Note: Mald PR, Type: Balance

#4242 Belts Rendering over Outerwear
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/_Floofstation/Entities/Mobs/Species/resomi.yml
Labels: Type: Enhancement, Changes: No C#, size/S, S: Approved

#4336 Fix knockdowns
  Content.Shared/StatusEffect/StatusEffectsSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
Labels: size/S, S: Untriaged

#4388 Added jump boots to salvage points vendomat
  Resources/Prototypes/_DV/Catalog/VendingMachines/Inventories/salvage_points.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#4383 Shadowling - Patch of First day
  Content.Goobstation.Common/CCVar/CCVars.Goob.cs
  Content.Goobstation.Server/LightDetection/LightDetectionDamageSystem.cs
  Content.Goobstation.Server/LightDetection/LightDetectionSystem.cs
  Content.Goobstation.Shared/LightDetection/Components/LightDetectionComponent.cs
  Content.Goobstation.Shared/LightDetection/Components/LightDetectionDamageComponent.cs
  Content.Goobstation.Shared/Mindcontrol/MindControllableComponent.cs
  Content.Goobstation.Shared/Nightmare/NightmareSystem.cs
  Content.Goobstation.Shared/Shadowling/Systems/Abilities/Thrall/ThrallGuiseSystem.cs
  Content.Goobstation.Shared/Shadowling/Systems/SharedShadowlingSystem.cs
  Content.Shared/Damage/Components/PassiveDamageComponent.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Damage/Systems/PassiveDamageSystem.cs
  Content.Shared/_Shitmed/Damage/DamageBehaviors.cs
  Content.Shared/_Shitmed/Surgery/Wounds/Systems/WoundSystem.Healing.cs
  Content.Shared/_Shitmed/Surgery/Wounds/Systems/WoundSystem.Wounding.cs
  Resources/Locale/en-US/_EinsteinEngines/shadowling/abilities.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: size/M, S: Untriaged

#4319 Revert "fix shitsalv"
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
Labels: S: Needs Discussion, Changes: No C#, size/XS, S: Needs Review, Note: Mald PR

#4385 [goodcode] Shadowling Fixes
  Content.Goobstation.Server/Nightmare/LightEaterSystem.cs
  Content.Goobstation.Server/Shadowling/Systems/ShadowlingAscensionEggSystem.cs
  Content.Goobstation.Shared/Nightmare/Components/LightEaterComponent.cs
  Content.Goobstation.Shared/Nightmare/Components/LightEaterUserComponent.cs
  Content.Goobstation.Shared/Shadowling/Systems/SharedShadowlingSystem.cs
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Species/shadowling.yml
  Resources/Prototypes/_EinsteinEngines/InventoryTemplates/shadowling_inventory_template.yml
  Resources/Prototypes/_EinsteinEngines/Shadowling/Damage/modifier_set.yml
  Resources/Prototypes/_EinsteinEngines/Shadowling/Entities/Mobs/shadowling.yml
  Resources/Prototypes/_EinsteinEngines/Shadowling/Roles/Antags/shadowling.yml
  Resources/Prototypes/_Goobstation/GameRules/secretplus.yml
  Resources/ServerInfo/Guidebook/Antagonist/Shadowlings.xml
Labels: size/M, Type: Bugfix

#4411 Fix the game
  Content.Goobstation.Client/Entry/EntryPoint.cs
  Content.Goobstation.Client/Voice/IVoiceChatManager.cs
  Content.Goobstation.Client/Voice/VoiceChatClientManager.cs
  Content.Goobstation.Server/Entry/EntryPoint.cs
  Content.Goobstation.Server/Voice/IVoiceChatServerManager.cs
  Content.Goobstation.Server/Voice/VoiceChatServerManager.cs
  Content.Server/_DV/Cargo/Components/StationLogisticStatsDatabaseComponent.cs
  Content.Server/_DV/Cargo/Systems/LogisticStatsSystem.cs
  Content.Shared/Cargo/SharedCargoSystem.cs
Labels: size/S, S: Untriaged

#4394 Predict vulpkanin scent tracking verb and actions.
  Content.Client/_EinsteinEngines/Forensics/ScentTrackerSystem.cs
  Content.Server/_EinsteinEngines/Forensics/Systems/ScentTrackerSystem.cs
  Content.Shared/_EinsteinEngines/Forensics/Systems/SharedScentTrackerSystem.cs
Labels: size/M, Type: Bugfix, S: Approved

#4389 Minor Inventory item fixes and tweaks
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baguette.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Security/panic_button.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Mail/base_mail_large.yml
Labels: Changes: No C#, size/S, Type: Balance, S: Approved

#4365 Bounty - Add chainsaw to hacked botany vendor
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
Labels: Changes: No C#, size/XS, Type: Balance, S: Approved

#4359 Duplicate sec senior poncho fix.
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Neck/ponchos.yml
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/blackstripe.rsi/equipped-NECK.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/blackstripe.rsi/icon.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/blackstripe.rsi/inhand-left.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/blackstripe.rsi/inhand-right.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/blackstripe.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S, Type: Bugfix, S: Approved

#4386 Xeno alert timer now starts at first queen evolution
  Content.Server/_White/GameTicking/Rules/XenomorphsRuleSystem.cs
Labels: size/S, Type: Balance

#4303 Goose heaven (human hell)
  Content.Goobstation.Client/HellGoose/HellGooseStatueClientSystem.cs
  Content.Goobstation.Server/Administration/Systems/GoobAdminVerbSystem.Smites.cs
  Content.Goobstation.Server/HellGoose/HellDimensionSystem.cs
  Content.Goobstation.Server/HellGoose/HellGooseStatueSystem.cs
  Content.Goobstation.Shared/HellGoose/Components/HellGooseBeaconTeleport.cs
  Content.Goobstation.Shared/HellGoose/Components/HellGooseStatueComponent.cs
  Content.Goobstation.Shared/HellGoose/Components/HellGooseTeleportComponent.cs
  Content.Goobstation.Shared/HellGoose/Components/HellPortalExitComponent.cs
  Content.Goobstation.Shared/HellGoose/Systems/HellGooseStatueSharedSystem.cs
  Content.Goobstation.Shared/HellGoose/Systems/HellGooseTeleportSystem.cs
  Content.Goobstation.Shared/Maps/HellMapComponent.cs
  Content.Goobstation.Shared/Teleportation/Components/HellPortalComponent.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Resources/Audio/_Goobstation/Goose/attributions.yml
  Resources/Audio/_Goobstation/Goose/goose_honk_1.ogg
  Resources/Audio/_Goobstation/Goose/goose_honk_2.ogg
  Resources/Audio/_Goobstation/Goose/goose_honk_3.ogg
  Resources/Audio/_Goobstation/Goose/goose_honk_4.ogg
  Resources/Audio/_Goobstation/Goose/goose_honk_5.ogg
  Resources/Audio/_Goobstation/Goose/goose_laugh.ogg
  Resources/Locale/en-US/_Goobstation/Hell-goose-statue/hellgoosestatue.ftl
  Resources/Locale/en-US/_Goobstation/hell-goose/hellgoose.ftl
  Resources/Locale/en-US/administration/smites.ftl
  Resources/Maps/_Goobstation/Nonstations/Hell.yml
  Resources/Prototypes/Entities/Objects/Devices/station_beacon.yml
  Resources/Prototypes/Entities/Structures/Decoration/statues.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/Prototypes/_Goobstation/Actions/types.yml
  Resources/Prototypes/_Goobstation/Effects/portal.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/hellgoose.yml
  Resources/Prototypes/_Goobstation/GameRules/pests.yml
  Resources/Prototypes/_Goobstation/Languages/Animal/goose.yml
  Resources/Prototypes/_Goobstation/SoundCollections/goose.yml
  Resources/Prototypes/_Goobstation/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Goobstation/Voice/speech_sounds.yml
  Resources/Prototypes/_Goobstation/Voice/speech_verbs.yml
  Resources/Textures/_Goobstation/Effects/portal.rsi/meta.json
  Resources/Textures/_Goobstation/Effects/portal.rsi/portal-hell.png
  Resources/Textures/_Goobstation/Structures/Decoration/statues.rsi/hell_goose.png
  Resources/Textures/_Goobstation/Structures/Decoration/statues.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, size/XL, S: Needs Review, Changes: Audio, Type: Feature, S: Approved

#4354 meat bugfix
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
Labels: Changes: No C#, Type: Bugfix, S: Approved

#4412 [HOTFIX] Fixed nuke not exploding plus chem crash when nuking
  Content.Goobstation.Server/Chemistry/ChangeTileReaction.cs
  Resources/Prototypes/Entities/Structures/Machines/nuke.yml
Labels: size/XS, Type: Bugfix

#4421 Added construction bag to cyborg construction module
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: Changes: No C#, size/XS, P3: Low, Type: Feature, S: Approved

#4401 Port Dislippler from Omustation
  Content.Shared/Slippery/SlipperySystem.cs
  Resources/Locale/en-US/_Omu/store/uplink-catalog.ftl
  Resources/Prototypes/_Omu/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Omu/Entities/Objects/Weapons/Guns/Battery/dislippler.yml
  Resources/Textures/_Omu/Objects/Weapons/Guns/Battery/dislippler.rsi/base.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Battery/dislippler.rsi/equipped-BELT.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Battery/dislippler.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Battery/dislippler.rsi/inhand-left-0.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Battery/dislippler.rsi/inhand-left-1.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Battery/dislippler.rsi/inhand-left-2.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Battery/dislippler.rsi/inhand-left-3.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Battery/dislippler.rsi/inhand-left-4.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Battery/dislippler.rsi/inhand-left.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Battery/dislippler.rsi/inhand-right-0.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Battery/dislippler.rsi/inhand-right-1.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Battery/dislippler.rsi/inhand-right-2.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Battery/dislippler.rsi/inhand-right-3.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Battery/dislippler.rsi/inhand-right-4.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Battery/dislippler.rsi/inhand-right.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Battery/dislippler.rsi/mag-unshaded-0.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Battery/dislippler.rsi/mag-unshaded-1.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Battery/dislippler.rsi/mag-unshaded-2.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Battery/dislippler.rsi/mag-unshaded-3.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Battery/dislippler.rsi/mag-unshaded-4.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Battery/dislippler.rsi/meta.json
  Resources/Textures/_Omu/Objects/Weapons/Guns/Projectiles/dislippler_laser.rsi/dislipplerlaser.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Projectiles/dislippler_laser.rsi/dislipplerlaser_flash.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Projectiles/dislippler_laser.rsi/meta.json
Labels: Changes: Sprites, size/M, Type: Feature, S: Approved

#4440 Hand thrown items now have their velocity added to the throw velocity.
  Content.Server/Hands/Systems/HandsSystem.cs
Labels: size/XS, S: Untriaged

#4298 serpentcrest cargo shuttle fix attempt 2
  Resources/Maps/Shuttles/cargo_syndicate.yml
  Resources/Maps/_Goobstation/serpentcrest.yml
Labels: Changes: Map, Changes: No C#, size/L, Type: Bugfix

#4234 Shadowkin blood xenoarch fix + visual tweak
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Resources/Prototypes/XenoArch/triggers.yml
Labels: Type: Enhancement, size/S, S: Approved
