Repository Goob-Station/Goob-Station, pull requests merged in 2025-03, with the labels that each got.

#1874 Mocho is a fucking dumbass and refuses to use breakpoints
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/_Shitmed/Antags/Abductor/AbductorSystem.Actions.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
Labels: size/XS, S: Untriaged

#1828 uplink balance changes
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Goobstation/Entities/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/security.yml
  Resources/Prototypes/_Goobstation/tags.yml
Labels: size/M, Changes: No C#, S: Needs Review

#1842 Mice bite
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Bounty, Changes: No C#, size/XS, S: Untriaged

#1844 Mouse bites
  Resources/Locale/en-US/_Goobstation/reagents/meta/mousebites.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/narcotics.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Goobstation/Polymorphs/polymorph.yml
  Resources/Prototypes/_Goobstation/Reagents/narcotics.yml
Labels: Changes: No C#, size/S

#1814 Fixes Lavaland Shuttle Issues
  Content.Server/_Lavaland/Shuttles/Systems/DockingConsoleSystem.cs
  Content.Server/_Lavaland/Shuttles/Systems/DockingShuttleSystem.cs
Labels: size/S, S: Untriaged

#1890 add jaunter to salvage closet
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
Labels: Changes: No C#, S: Untriaged

#1827 remove roundend on wiz death
  Content.Server/_Goobstation/Wizard/Components/EndRoundOnWizardDeathRuleComponent.cs
  Content.Server/_Goobstation/Wizard/Components/RuleOnWizardDeathRuleComponent.cs
  Content.Server/_Goobstation/Wizard/Systems/WizardRuleSystem.cs
  Resources/Prototypes/_Goobstation/Wizard/gamerules_wizard.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1891 disallow china lake dual wielding
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
Labels: Changes: No C#, size/XS

#1931 Removing two test heisenfails
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/_Goobstation/Wizard/Traps/SharedIceCubeSystem.cs
Labels: size/XS, S: Untriaged, S: Needs Review, Type: Bugfix

#1879 Lavaland looting fix
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
Labels: Changes: No C#, size/XS

#1916 increase blob reflective tile reflect chance
  Resources/Prototypes/_Goobstation/Blob/blob_tiles.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1927 Make Wizard Traps More Visible
  Resources/Prototypes/_Goobstation/Wizard/traps.yml
Labels: Changes: No C#, size/S

#1867 Lavaland mob tweaks and necropolis tendril adjustments/fixes
  Content.Server/NPC/Components/NPCMeleeCombatComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
  Resources/Prototypes/Entities/Mobs/NPCs/miscellaneous.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Lavaland/Entities/Structures/Specific/tendril.yml
Labels: size/M, S: Untriaged, S: Needs Review

#1851 Mining points and ore rebalance (+ Bananium fix)
  Resources/Prototypes/_Goobstation/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_Goobstation/Procedural/biome_ore_templates.yml
  Resources/Prototypes/_Lavaland/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/_Lavaland/Procedural/lavaland_planets.yml
  Resources/Prototypes/ore.yml
Labels: Changes: No C#, size/S

#1934 Add "starts" to "tweaking!" emote text
  Resources/Locale/en-US/_Goobstation/emotes.ftl
Labels: Changes: No C#, S: Untriaged

#1929 Department Techfabs & Recipes tweaks
  Resources/Locale/en-US/_Goobstation/research/technologies.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/cargo.yml
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Recipes/Lathes/Packs/shared.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/cargo.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/mech.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/shared.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/sheet.yml
  Resources/Prototypes/_Goobstation/Research/experimental.yml
  Resources/Textures/_Goobstation/Structures/Machines/Icons/Anomaly/anomaly_vessel.png
  Resources/Textures/_Goobstation/Structures/Machines/Icons/Computers/analysis.png
  Resources/Textures/_Goobstation/Structures/Machines/Icons/Computers/camera.png
  Resources/Textures/_Goobstation/Structures/Machines/Icons/Computers/cloning.png
  Resources/Textures/_Goobstation/Structures/Machines/Icons/Computers/news.png
  Resources/Textures/_Goobstation/Structures/Machines/Icons/Computers/shuttle.png
  Resources/Textures/_Goobstation/Structures/Machines/Icons/Computers/solar.png
Labels: size/M, Changes: No C#, S: Untriaged

#1925 Ghoul icons
  Content.Client/_Goobstation/Heretic/GhoulSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/GhoulSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/MansusGraspSystem.cs
  Content.Shared/_Goobstation/Heretic/Components/GhoulComponent.cs
  Resources/Prototypes/_Goobstation/Heretic/StatusIcon/antag.yml
  Resources/Textures/_Goobstation/Interface/Misc/job_icons.rsi/Ghoul.png
  Resources/Textures/_Goobstation/Interface/Misc/job_icons.rsi/HereticMaster.png
  Resources/Textures/_Goobstation/Interface/Misc/job_icons.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Untriaged, S: Needs Review

#1924 Flatpack cloning, Brains show catatonic status, Biofabricator buff
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Recipes/Lathes/rehydrateable.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/biofab.yml
  Resources/Prototypes/_Shitmed/Body/Parts/generic.yml
  Resources/Prototypes/typing_indicator.yml
  Resources/Textures/Effects/speech.rsi/empty0.png
  Resources/Textures/Effects/speech.rsi/meta.json
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged, S: Needs Review

#1923 Rule 16 update
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR16Blueshield.xml
Labels: Changes: No C#, size/XS, S: Untriaged

#1920 Walltorch
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Wallmounts/torch.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/furniture/walltorch.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/furniture.yml
  Resources/Textures/_Goobstation/Structures/Wallmounts/torch.rsi/meta.json
  Resources/Textures/_Goobstation/Structures/Wallmounts/torch.rsi/torch.png
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged

#1919 Contraband dectector now has a cooldown for scans
  Content.Server/_Goobstation/Contraband/ContrabandDetectorComponent.cs
  Content.Server/_Goobstation/Contraband/ContrabandDetectorSystem.cs
Labels: size/S, S: Untriaged

#1917 blob end of round buff
  Content.Server/_Goobstation/Blob/BlobResourceSystem.cs
Labels: size/S, S: Untriaged

#1915 blob light
  Resources/Prototypes/_Goobstation/Blob/blob_tiles.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1912 Guidebook update
  Resources/Prototypes/Guidebook/antagonist.yml
  Resources/Prototypes/_Goobstation/Changeling/Guidebook/antagonist.yml
  Resources/Prototypes/_Goobstation/Guidebook/bingle.yml
  Resources/Prototypes/_Goobstation/Guidebook/changeling.yml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Bingle.xml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Blob.xml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Changelings.xml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/ChangelingsAbilities.xml
  Resources/ServerInfo/_Shitmed/Guidebook/Antagonist/Abductors.xml
Labels: size/M, Changes: No C#

#1910 Economy per job change
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/botanist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/boxer.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/zookeeper.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1909 Directional walls
  Resources/Prototypes/_Goobstation/Entities/Structures/Walls/wall_directional.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/structures/walldirectional.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/structures.yml
  Resources/Textures/_Goobstation/Structures/Walls/directional.rsi/directionalwall.png
  Resources/Textures/_Goobstation/Structures/Walls/directional.rsi/meta.json
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged

#1904 Add foam wonderprod
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Goobstation/Objects/Fun/foamwonderprod.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Fun/foamwonderprod.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Fun/foamwonderprod.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Fun/foamwonderprod.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S, S: Untriaged

#1903 Wizard time increase
  Resources/Prototypes/_Goobstation/Wizard/wizard.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1900 rename coder socks to linq socks
  Resources/Locale/en-US/_Goobstation/prototypes/entity/clothing/under.ftl
Labels: Changes: No C#, size/XS, S: Untriaged

#1896 Smart-equip to back (Suit storage)
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/_Goobstation/Interaction/BackEquipSystem.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/keybinds.yml
Labels: Changes: UI, size/M, S: Untriaged

#1888 Better borgs
  Content.Client/UserInterface/Systems/Hands/HandsUIController.cs
  Content.Client/_NF/Hands/UI/HandPlaceholderStatus.cs
  Content.Client/_NF/Hands/UI/HandPlaceholderStatus.xaml
  Content.Client/_NF/Interaction/Components/HandPlaceholderVisualsComponent.cs
  Content.Client/_NF/Interaction/Systems/HandPlaceholderVisualsSystem.cs
  Content.IntegrationTests/Tests/Sprite/ItemSpriteTest.cs
  Content.Server/Silicons/Borgs/BorgSystem.Modules.cs
  Content.Server/_Goobstation/Whitelist/Components/ElectronicsComponent.cs
  Content.Server/_Goobstation/Whitelist/Components/StockPartComponent.cs
  Content.Shared/Silicons/Borgs/Components/ItemBorgModuleComponent.cs
  Content.Shared/_NF/Interaction/Components/HandPlaceholderComponent.cs
  Content.Shared/_NF/Interaction/Components/HandPlaceholderRemoveableComponent.cs
  Content.Shared/_NF/Interaction/Systems/SharedHandPlaceholderSystem.cs
  Resources/Locale/en-US/_NF/hands/hands-system.ftl
  Resources/Prototypes/Entities/Objects/Devices/Electronics/base_electronics.yml
  Resources/Prototypes/Entities/Objects/Misc/machine_parts.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Robotics/borg_hand_placeholder.yml
  Resources/Prototypes/borg_types.yml
  Resources/Textures/_Goobstation/Objects/Specific/Robotics/borgmodule.rsi/cargo.png
  Resources/Textures/_Goobstation/Objects/Specific/Robotics/borgmodule.rsi/icon-pka.png
  Resources/Textures/_Goobstation/Objects/Specific/Robotics/borgmodule.rsi/meta.json
Labels: Changes: Sprites, Changes: UI, size/M

#1886 Ratkings digest chems faster now
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/_Goobstation/Body/Organs/ratking.yml
  Resources/Prototypes/_Goobstation/Body/Prototypes/ratking.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1882 fix changeling blood
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
Labels: size/XS, S: Untriaged

#1881 unparent annie and wspr from akms and fix their suitstorage sprites
  Resources/Prototypes/_Goobstation/Entities/Weapons/Guns/Rifles/rifles.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1901 can break heretic runes
  Resources/Audio/_Goobstation/Heretic/attributions.yml
  Resources/Audio/_Goobstation/Heretic/runebreak.ogg
  Resources/Prototypes/_Goobstation/Heretic/Entities/Structures/Specific/Heretic/ritual_rune.yml
Labels: Changes: No C#, size/S, S: Untriaged, Changes: Audio

#1843 Borg hand fix
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Tools/tools.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1846 Wizard patch 2
  Content.Client/Ghost/GhostSystem.cs
  Content.Client/_Goobstation/Wizard/Systems/GhostVisibilitySystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Server/_Goobstation/Bingle/BinglePitSystem.cs
  Content.Server/_Goobstation/Wizard/Systems/GhostVisibilitySystem.cs
  Content.Server/_Goobstation/Wizard/Systems/WizardMirrorSystem.cs
  Content.Server/_Goobstation/Wizard/Systems/WizardRuleSystem.cs
  Content.Shared/GameTicking/Components/ActiveGameRuleComponent.cs
  Content.Shared/Physics/PreventCollideComponent.cs
  Content.Shared/Physics/SharedPreventCollideSystem.cs
  Content.Shared/Polymorph/PolymorphPrototype.cs
  Content.Shared/_Goobstation/Wizard/EventSpells/GhostsVisibleRuleComponent.cs
  Content.Shared/_Goobstation/Wizard/EventSpells/SharedGhostVisibilitySystem.cs
  Content.Shared/_Goobstation/Wizard/SharedSpellsSystem.cs
  Resources/Locale/en-US/_Goobstation/Wizard/items.ftl
  Resources/Locale/en-US/_Goobstation/Wizard/spellbook-catalog-other.ftl
  Resources/Locale/en-US/_Goobstation/Wizard/spellbook-upgrades.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/Player/jaunt_mobs.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/cryokatana.yml
  Resources/Prototypes/_Goobstation/Heretic/Polymorphs/polymorphs.yml
  Resources/Prototypes/_Goobstation/Wizard/Clothing/wizard.yml
  Resources/Prototypes/_Goobstation/Wizard/Items/misc.yml
  Resources/Prototypes/_Goobstation/Wizard/Mobs/bees.yml
  Resources/Prototypes/_Goobstation/Wizard/Mobs/borgs.yml
  Resources/Prototypes/_Goobstation/Wizard/Mobs/misc.yml
  Resources/Prototypes/_Goobstation/Wizard/Mobs/simians.yml
  Resources/Prototypes/_Goobstation/Wizard/Random/polymorph.yml
  Resources/Prototypes/_Goobstation/Wizard/actions.yml
  Resources/Prototypes/_Goobstation/Wizard/actions_upgrades.yml
  Resources/Prototypes/_Goobstation/Wizard/gamerules_wizard.yml
  Resources/Prototypes/_Goobstation/Wizard/polymorphs.yml
  Resources/Prototypes/_Goobstation/Wizard/projectiles.yml
  Resources/Prototypes/_Goobstation/Wizard/reagents.yml
  Resources/Prototypes/_Goobstation/Wizard/spellbook_upgrades.yml
  Resources/Prototypes/borg_types.yml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/WizardSpells.xml
Labels: size/M, S: Untriaged

#1872 Fixes off thruster
  Resources/Maps/_Goobstation/Shuttles/infiltrator.yml
Labels: Changes: Map, Changes: No C#, size/XS, S: Untriaged

#1865 Nice one starch
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
Labels: Changes: No C#, size/XS, S: Needs Review

#1863 allow borgs to unlock borgs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: Changes: No C#, size/XS

#1862 frontier magnet for ore processor
  Content.Server/Materials/MaterialStorageSystem.cs
  Content.Shared/_NF/Storage/Components/MaterialStorageMagnetPickupComponent.cs
  Content.Shared/_NF/Storage/EntitySystems/MaterialStorageMagnetPickupSystem.cs
  Resources/Locale/en-US/storage/components/magnet-pickup-component.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: size/M, S: Untriaged

#1861 [BOUNTY] Secmasks to every specie
  Resources/Prototypes/Roles/Jobs/Fun/visitors_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/emergencybox.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
Labels: Changes: No C#, size/S

#1860 Cryopod Rework
  Content.Server/Body/Components/MetabolizerComponent.cs
  Content.Server/Body/Systems/MetabolizerSystem.cs
  Content.Server/EntityEffects/Effects/HealthChange.cs
  Content.Server/Medical/CryoPodSystem.cs
  Content.Server/Medical/InsideCryoPodSystem.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.Abilities.cs
  Content.Shared/Chemistry/Components/Solution.cs
  Content.Shared/Chemistry/EntitySystems/SharedSolutionContainerSystem.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Content.Shared/Clumsy/ClumsySystem.cs
  Content.Shared/Medical/Cryogenics/CryoPodComponent.cs
  Content.Shared/Medical/Cryogenics/InsideCryoPodComponent.cs
  Content.Shared/_Shitmed/EntityEffects/Effects/TemperatureScaling.cs
  Resources/Prototypes/Body/Organs/slime.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/ServerInfo/Guidebook/Medical/Cryogenics.xml
  Resources/ServerInfo/Guidebook/Mobs/SlimePerson.xml
Labels: size/M, S: Merge Conflict, S: Untriaged, S: Needs Review

#1849 highlights
  Content.Client/Options/UI/OptionsTabControlRow.xaml.cs
  Content.Client/Options/UI/Tabs/AccessibilityTab.xaml
  Content.Client/Options/UI/Tabs/AccessibilityTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/_Goobstation/Options/UI/OptionColorSlider.xaml
  Content.Client/_Goobstation/Options/UI/OptionColorSlider.xaml.cs
  Content.Shared/_Goobstation/CCVars/CCVars.Goob.cs
  Resources/Locale/en-US/_Goobstation/chat/highlights.ftl
  Resources/Locale/en-US/_Goobstation/chat/ui.ftl
  Resources/Locale/en-US/_Goobstation/escape-menu/ui/options-menu.ftl
Labels: Changes: Sprites, Changes: Map, Changes: UI, size/M, S: Untriaged, Changes: Audio

#1848 clarke walking sound change
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/mechs.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1847 port collective mind
  Content.Client/Chat/Managers/ChatManager.cs
  Content.Client/Chat/Managers/IChatManager.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelSelectorButton.cs
  Content.Client/_Starlight/Chat/CollectiveMindSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_Goobstation/Blob/NPC/BlobPod/BlobPodSystem.cs
  Content.Server/_Goobstation/Blob/ZombieBlobSystem.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.Abilities.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.cs
  Content.Server/_Goobstation/StationEvents/JobAddTagsRule.cs
  Content.Server/_Goobstation/StationEvents/JobAddTagsRuleComponent.cs
  Content.Server/_Starlight/Chat/Commands/CollectiveMindCommand.cs
  Content.Shared/Chat/ChatChannel.cs
  Content.Shared/Chat/ChatSelectChannel.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/_Goobstation/Blob/Components/BlobPodComponent.cs
  Content.Shared/_Goobstation/Blob/Components/ZombieBlobComponent.cs
  Content.Shared/_Starlight/CollectiveMind/CollectiveMindComponent.cs
  Content.Shared/_Starlight/CollectiveMind/CollectiveMindPrototype.cs
  Content.Shared/_Starlight/CollectiveMind/CollectiveMindUpdateSystem.cs
  Resources/Locale/en-US/_Goobstation/collective-mind/collective-mind.ftl
  Resources/Locale/en-US/_Goobstation/headset/headsets.ftl
  Resources/Locale/en-US/_Goobstation/station-events/events/tidemind.ftl
  Resources/Locale/en-US/_Starlight/collective-mind/collective-mind.ftl
  Resources/Locale/en-US/chat/ui/chat-box.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/_Goobstation/Blob/blob_mobs.yml
  Resources/Prototypes/_Goobstation/CollectiveMind/collective_minds.yml
  Resources/Prototypes/_Goobstation/CollectiveMind/tags.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/_Goobstation/GameRules/events.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Mobs/NPC/eldritch_mobs.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Mobs/NPC/polymorph.yml
  Resources/Prototypes/_Goobstation/radio_channels.yml
  Resources/Prototypes/_Shitmed/Entities/Mobs/Species/abductor.yml
Labels: Changes: UI, size/M, S: Untriaged

#1841 Derelict Assault Borg Increase
  Resources/Prototypes/_Goobstation/GameRules/events.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1837 fix lube but for real
  Content.Shared/Slippery/SlipperySystem.cs
Labels: size/XS, S: Untriaged

#1833 fix syringe gun
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1834 make randomly sentient monkeys free agent
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1914 Hoverchairs
  Resources/Locale/en-US/_Goobstation/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Vehicles/vehicles.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/medical.yml
  Resources/Prototypes/_Goobstation/Research/civilianservices.yml
  Resources/Textures/_Goobstation/Objects/Vehicles/hoverchair.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Vehicles/hoverchair.rsi/vehicle.png
Labels: Changes: Sprites, Changes: No C#, size/S, S: Needs Review

#1894 add reinforced secret door
  Resources/Prototypes/Entities/Structures/Doors/SecretDoor/reinforced_secret_door.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/reinforcedsecretdoor.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/Structures/Doors/reinforced_secret_door.rsi/assembly.png
  Resources/Textures/Structures/Doors/reinforced_secret_door.rsi/closed.png
  Resources/Textures/Structures/Doors/reinforced_secret_door.rsi/closing.png
  Resources/Textures/Structures/Doors/reinforced_secret_door.rsi/meta.json
  Resources/Textures/Structures/Doors/reinforced_secret_door.rsi/open.png
  Resources/Textures/Structures/Doors/reinforced_secret_door.rsi/opening.png
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged

#1836 add jordans
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/syndiedrobe.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Textures/Clothing/Shoes/Boots/jordans.rsi/equipped-FEET-vox.png
  Resources/Textures/Clothing/Shoes/Boots/jordans.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/jordans.rsi/icon-on.png
  Resources/Textures/Clothing/Shoes/Boots/jordans.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/jordans.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/jordans.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/jordans.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/jordans.rsi/on-equipped-FEET-vox.png
  Resources/Textures/Clothing/Shoes/Boots/jordans.rsi/on-equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/jordans.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/jordans.rsi/on-inhand-right.png
Labels: Changes: Sprites, Changes: No C#, size/S, S: Needs Review

#1815 increase ion storm variety
  Content.Server/Silicons/Laws/IonStormSystem.cs
  Resources/Locale/en-US/_Goobstation/station-events/events/ion-storm.ftl
  Resources/Prototypes/Datasets/ion_storm.yml
Labels: size/S, S: Untriaged

#1640 Added reverse bear trap from tgstation
  Content.Shared/_Goobstation/ReverseBearTrap/ReverseBearTrapComponent.cs
  Content.Shared/_Goobstation/ReverseBearTrap/ReverseBearTrapSystem.cs
  Resources/Audio/_Goobstation/Effects/snap.ogg
  Resources/Audio/_Goobstation/Machines/beep.ogg
  Resources/Audio/_Goobstation/Machines/clock_tick.ogg
  Resources/Locale/en-US/_Goobstation/reverse-bear-trap/reverse-bear-trap-component.ftl
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/_Goobstation/Catalog/Fills/Boxes/boxes.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/traps.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/reverse_bear_trap.rsi/equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/reverse_bear_trap.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/reverse_bear_trap.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/reverse_bear_trap.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/reverse_bear_trap.rsi/key.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/reverse_bear_trap.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Untriaged, S: Needs Review, Changes: Audio

#1936 Armork fix
  Resources/Audio/_Goobstation/Heretic/attributions.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1845 Temperature Gun
  Content.Server/_DV/Weapons/Ranged/Systems/EnergyGunSystem.cs
  Content.Shared/_DV/Weapons/Ranged/EnergyGunFireModeVisuals.cs
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/security.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/tempgun.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/tempgun.rsi/cooling-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/tempgun.rsi/cooling-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/tempgun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/tempgun.rsi/heating-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/tempgun.rsi/heating-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/tempgun.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/tempgun.rsi/mag-unshaded-0.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/tempgun.rsi/mag-unshaded-1.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/tempgun.rsi/mag-unshaded-2.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/tempgun.rsi/mag-unshaded-3.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/tempgun.rsi/mag-unshaded-4.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/tempgun.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/tempgun.rsi/mode-cooling.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/tempgun.rsi/mode-heating.png
Labels: Changes: Sprites, size/M, S: Untriaged

#1922 Grabbing Refactor / Rework / Table Slamming
  Content.Shared/Movement/Pulling/Components/PullableComponent.cs
  Content.Shared/Movement/Pulling/Components/PullerComponent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/Throwing/ThrowingSystem.cs
  Content.Shared/_EinsteinEngines/Contests/ContestsSystem.cs
  Content.Shared/_Goobstation/CCVar/CCVars.Goob.cs
  Content.Shared/_Goobstation/TableSlam/PostTabledComponent.cs
  Content.Shared/_Goobstation/TableSlam/TableSlamSystem.cs
  Content.Shared/_White/Grab/GrabThrownComponent.cs
  Content.Shared/_White/Grab/GrabThrownSystem.cs
Labels: size/M, S: Untriaged, S: Needs Review

#1937 [MERGE FAST] Fix Chemicals not processing at ALL
  Content.Server/EntityEffects/Effects/HealthChange.cs
Labels: size/S, S: Untriaged, S: Needs Review

#1853 CPR is REAAAL
  Content.Server/_EinsteinEngines/Medical/CPR/CPRSystem.cs
  Content.Server/_EinsteinEngines/Medical/CPR/CPRTrainingComponent.cs
  Content.Shared/_EinsteinEngines/Medical/CPR/CPRDoAfterEvent.cs
  Resources/Audio/_EinsteinEngines/Effects/CPR.ogg
  Resources/Locale/en-US/_EinsteinEngines/medical/components/cpr-training-component.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: size/M, S: Needs Review, Changes: Audio

#1714 dynamic fixed 65% chance
  Content.Client/Entry/EntryPoint.cs
  Content.Server/Station/Systems/StationSystem.cs
  Content.Server/StationEvents/Components/StationEventComponent.cs
  Content.Server/StationEvents/EventManagerSystem.cs
  Content.Server/StationEvents/Events/GasLeakRule.cs
  Content.Server/_Goobstation/StationEvents/Components/GameDirectorComponent.cs
  Content.Server/_Goobstation/StationEvents/Components/SelectedGameRulesComponent.cs
  Content.Server/_Goobstation/StationEvents/GameDirectorSystem.cs
  Content.Server/_Goobstation/StationEvents/Metric/AnomalyMetric.cs
  Content.Server/_Goobstation/StationEvents/Metric/ChaosMetricSystem.cs
  Content.Server/_Goobstation/StationEvents/Metric/ChaosMetrics.cs
  Content.Server/_Goobstation/StationEvents/Metric/CombatMetricSystem.cs
  Content.Server/_Goobstation/StationEvents/Metric/Components/AnomalyMetricComponent.cs
  Content.Server/_Goobstation/StationEvents/Metric/Components/CombatMetricComponent.cs
  Content.Server/_Goobstation/StationEvents/Metric/Components/CombatPowerComponent.cs
  Content.Server/_Goobstation/StationEvents/Metric/Components/DoorMetricComponent.cs
  Content.Server/_Goobstation/StationEvents/Metric/Components/FoodMetricComponent.cs
  Content.Server/_Goobstation/StationEvents/Metric/Components/PuddleMetricComponent.cs
  Content.Server/_Goobstation/StationEvents/Metric/DoorMetricSystem.cs
  Content.Server/_Goobstation/StationEvents/Metric/FoodMetricSystem.cs
  Content.Server/_Goobstation/StationEvents/Metric/PuddleMetricSystem.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/_Goobstation/CCVar/CCVars.Goob.cs
  Resources/Locale/en-US/_Goobstation/game-ticking/game-presets/preset-calm.ftl
  Resources/Locale/en-US/_Goobstation/game-ticking/game-presets/preset-combat.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Objects/Tools/access_breaker.yml
  Resources/Prototypes/Entities/Objects/Tools/emag.yml
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/GameRules/cargo_gifts.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/meteorswarms.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/dynamic.yml
  Resources/Prototypes/_Goobstation/GameRules/bingleEvent.yml
  Resources/Prototypes/_Goobstation/GameRules/game_director.yml
  Resources/Prototypes/_Goobstation/GameRules/midround.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Heretic/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Wizard/gamerules_wizard.yml
  Resources/Prototypes/_Goobstation/game_presets.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Prototypes/game_presets.yml
Labels: S: Untriaged, size/L, S: Needs Review

#1939 real fix to the issue with topicals
  Content.Server/Medical/HealingSystem.cs
Labels: size/XS, S: Untriaged

#1935 Helpimov!
  Resources/Locale/en-US/_Goobstation/station-laws/laws.ftl
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Goobstation/silicon-laws.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1254 Pirates (Space IRS)
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Research/Systems/ResearchSystem.Console.cs
  Content.Server/Shuttles/Systems/StationAnchorSystem.cs
  Content.Server/_Goobstation/_Pirates/GameTicking/Rules/ActivePirateRuleComponent.cs
  Content.Server/_Goobstation/_Pirates/GameTicking/Rules/ActivePirateRuleSystem.cs
  Content.Server/_Goobstation/_Pirates/GameTicking/Rules/PendingPirateRuleComponent.cs
  Content.Server/_Goobstation/_Pirates/GameTicking/Rules/PendingPirateRuleSystem.cs
  Content.Server/_Goobstation/_Pirates/Objectives/ObjectivePlunderComponent.cs
  Content.Server/_Goobstation/_Pirates/Objectives/PirateObjectiveSystem.cs
  Content.Server/_Goobstation/_Pirates/Pirates/RansomComponent.cs
  Content.Server/_Goobstation/_Pirates/Pirates/RansomSystem.cs
  Content.Server/_Goobstation/_Pirates/Pirates/Siphon/ResourceSiphonComponent.cs
  Content.Server/_Goobstation/_Pirates/Pirates/Siphon/ResourceSiphonSystem.cs
  Content.Server/_Goobstation/_Pirates/Roles/PirateRoleComponent.cs
  Resources/Locale/en-US/_Goobstation/_Pirates/announcements_irs.ftl
  Resources/Locale/en-US/_Goobstation/_Pirates/cargo.ftl
  Resources/Locale/en-US/_Goobstation/_Pirates/gameRule.ftl
  Resources/Locale/en-US/_Goobstation/_Pirates/siphon.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Maps/_Goobstation/Shuttles/pirates_irs.yml
  Resources/Prototypes/Entities/Markers/Spawners/Conditional/pirates.yml
  Resources/Prototypes/_Goobstation/_Pirates/antagdef.yml
  Resources/Prototypes/_Goobstation/_Pirates/drip.yml
  Resources/Prototypes/_Goobstation/_Pirates/faction.yml
  Resources/Prototypes/_Goobstation/_Pirates/game_ticking.yml
  Resources/Prototypes/_Goobstation/_Pirates/resource_siphon.yml
  Resources/Prototypes/ai_factions.yml
  Resources/Textures/_Goobstation/_Pirates/siphon.rsi/icon.png
  Resources/Textures/_Goobstation/_Pirates/siphon.rsi/meta.json
  Resources/Textures/_Goobstation/_Pirates/spirate_suit.rsi/equipped-HELMET.png
  Resources/Textures/_Goobstation/_Pirates/spirate_suit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Goobstation/_Pirates/spirate_suit.rsi/icon.png
  Resources/Textures/_Goobstation/_Pirates/spirate_suit.rsi/icon_head.png
  Resources/Textures/_Goobstation/_Pirates/spirate_suit.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, Bounty, S: Untriaged, size/XL, S: Needs Review

#1943 Spamming pointers too fast makes them hunt you
  Content.Server/_Goobstation/PlayerListener/DormNotifierMarkerComponent.cs
  Content.Server/_Goobstation/PlayerListener/PunishmentArrowSystem.cs
  Content.Shared/_Goobstation/CCVar/CCVars.Goob.cs
Labels: size/M, S: Untriaged, S: Needs Review

#1944 Mansus Grasp Rework
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.cs
  Content.Server/_Goobstation/Heretic/Components/MansusGraspComponent.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/MansusGraspSystem.cs
  Content.Shared/_Goobstation/Heretic/Components/HereticComponent.cs
  Resources/Prototypes/_Goobstation/Heretic/Actions/Heretic/basic.yml
Labels: size/S, S: Untriaged

#1941 adds blob config to submarine and leonid
  Resources/Prototypes/_Goobstation/Maps/leonid.yml
  Resources/Prototypes/_Goobstation/Maps/submarine.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1940 the great medical yamlmaxxing
  Resources/Locale/en-US/_Goobstation/objectives/conditions/steal-target-groups.ftl
  Resources/Locale/en-US/_Goobstation/research/technologies.ftl
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Belt/belts.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/syringe_gun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/base_contraband.yml
  Resources/Prototypes/_Goobstation/Entities/Specific/Medical/defib.yml
  Resources/Prototypes/_Goobstation/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_Goobstation/Objectives/traitor.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/medical.yml
  Resources/Prototypes/_Goobstation/Research/civilianservices.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/rapid_syringe_gun.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/rapid_syringe_gun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/rapid_syringe_gun.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/rapid_syringe_gun.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/rapid_syringe_gun.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/rapid_syringe_gun.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/icon-dart.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/rapid-syringe-gun.png
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged

#1933 Armblade damage increase + foamblade fun stuff (BOUNTY)
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Melee/changeling_armblade.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1868 Martial Arts Part 2: Electric Boogaloo
  Content.Client/_Goobstation/MartialArts/MartialArtsSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/Stunnable/Systems/StunbatonSystem.cs
  Content.Server/_Goobstation/MartialArts/MartialArtsSystem.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Movement/Pulling/Events/CheckGrabOverridesEvent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/_Goobstation/MartialArts/ComboPrototype.cs
  Content.Shared/_Goobstation/MartialArts/Components/CanPerformComboComponent.cs
  Content.Shared/_Goobstation/MartialArts/Components/GrabStagesOverrideComponent.cs
  Content.Shared/_Goobstation/MartialArts/Components/GrantMartialArtKnowledgeComponent.cs
  Content.Shared/_Goobstation/MartialArts/Components/KravMagaComponents.cs
  Content.Shared/_Goobstation/MartialArts/Components/MartialArtsComponents.cs
  Content.Shared/_Goobstation/MartialArts/Events/CQCEvents.cs
  Content.Shared/_Goobstation/MartialArts/Events/ComboAttackPerformedEvent.cs
  Content.Shared/_Goobstation/MartialArts/Events/ComboBeingPerformedEvent.cs
  Content.Shared/_Goobstation/MartialArts/Events/JudoEvents.cs
  Content.Shared/_Goobstation/MartialArts/Events/KravMagaActionEvent.cs
  Content.Shared/_Goobstation/MartialArts/Events/SleepingCarpEvents.cs
  Content.Shared/_Goobstation/MartialArts/MartialArtPrototype.cs
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.CQC.cs
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.CanPerformCombo.cs
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.CorporateJudo.cs
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.KravMaga.cs
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.SleepingCarp.cs
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.cs
  Resources/Locale/en-US/_Goobstation/martial-arts/martial-arts.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/kravmagagloves.yml
  Resources/Prototypes/_Goobstation/Entities/Specific/bso.yml
  Resources/Prototypes/_Goobstation/Entities/Specific/syndicate.yml
  Resources/Prototypes/_Goobstation/MartialArts/carp.yml
  Resources/Prototypes/_Goobstation/MartialArts/cqc.yml
  Resources/Prototypes/_Goobstation/MartialArts/judo.yml
  Resources/Prototypes/_Goobstation/MartialArts/kravmaga.yml
  Resources/Textures/_Goobstation/Actions/kravmaga.rsi/legsweep.png
  Resources/Textures/_Goobstation/Actions/kravmaga.rsi/lungpunch.png
  Resources/Textures/_Goobstation/Actions/kravmaga.rsi/meta.json
  Resources/Textures/_Goobstation/Actions/kravmaga.rsi/neckchop.png
  Resources/Textures/_Goobstation/Clothing/Belt/judobelt.rsi/equipped-BELT.png
  Resources/Textures/_Goobstation/Clothing/Belt/judobelt.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Belt/judobelt.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Hands/Gloves/atmos.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Hands/Gloves/kravgloves.rsi/equipped-HAND.png
  Resources/Textures/_Goobstation/Clothing/Hands/Gloves/kravgloves.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Hands/Gloves/kravgloves.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Misc/cqc_manual.rsi/icon-alt.png
  Resources/Textures/_Goobstation/Objects/Misc/cqc_manual.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Misc/cqc_manual.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/L

#1946 hotfix mansus link
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.cs
  Resources/Locale/en-US/_Goobstation/Changeling/store/changeling-catalog.ftl
  Resources/Prototypes/_Goobstation/Changeling/radio_channels.yml
  Resources/Prototypes/_Goobstation/Heretic/Actions/Heretic/basic.yml
Labels: size/S, S: Untriaged

#1945 Deathsquad Gamerule (Hotfix)
  Resources/Maps/_Goobstation/Shuttles/consul.yml
Labels: Changes: Map, Changes: No C#, size/S

#1947 judo belt fill
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Belt/belts.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Security/security_officer.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1950 Revert "Spamming pointers too fast makes them hunt you"
  Content.Server/_Goobstation/PlayerListener/DormNotifierMarkerComponent.cs
  Content.Server/_Goobstation/PlayerListener/PunishmentArrowSystem.cs
  Content.Shared/_Goobstation/CCVar/CCVars.Goob.cs
Labels: size/M, S: Untriaged

#1951 Mining Luxury Medipen (+ minor survival medipen adjustments)
  Resources/Locale/en-US/_Lavaland/reagents/reagents.ftl
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/salvage_points.yml
  Resources/Prototypes/_Lavaland/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_Lavaland/Reagents/medicine.yml
  Resources/Textures/_Lavaland/Objects/Specific/Medical/luxmedipen.rsi/luxpen.png
  Resources/Textures/_Lavaland/Objects/Specific/Medical/luxmedipen.rsi/luxpen_empty.png
  Resources/Textures/_Lavaland/Objects/Specific/Medical/luxmedipen.rsi/meta.json
Labels: Changes: Sprites, size/M, Changes: No C#

#1952 Lavaland bluespace ore fix
  Content.Shared/_Lavaland/Procedural/Prototypes/LavalandMapPrototype.cs
  Resources/Prototypes/_Lavaland/Procedural/lavaland_planets.yml
Labels: size/XS, S: Untriaged

#1956 Fixes for Hoverchair
  Resources/Prototypes/_Goobstation/Entities/Objects/Vehicles/vehicles.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1948 Terminus Port
  Content.Server/Nyanotrasen/Abilities/Oni/OniSystem.cs
  Content.Shared/Nyanotrasen/Abilities/Oni/OniComponent.cs
  Content.Shared/_EinsteinEngines/Items/RestrictedMeleeComponent.cs
  Content.Shared/_EinsteinEngines/Items/RestrictedMeleeSystem.cs
  Resources/Locale/en-US/_EinsteinEngines/popups/restrictedmelee.ftl
  Resources/Locale/en-US/_Goobstation/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/Oni.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Objects/Weapons/Melee/terminus.yml
  Resources/Prototypes/_EinsteinEngines/Recipes/Packs/security.yml
  Resources/Prototypes/_EinsteinEngines/Recipes/security.yml
  Resources/Prototypes/_Goobstation/Research/arsenal.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Melee/terminus.rsi/icon.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Melee/terminus.rsi/inhand-left.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Melee/terminus.rsi/inhand-right.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Melee/terminus.rsi/meta.json
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Melee/terminus.rsi/wielded-inhand-left.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Melee/terminus.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, size/M, S: Needs Review

#1964 What do I even name this
  Resources/Prototypes/_EinsteinEngines/Entities/Objects/Weapons/Melee/terminus.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1967 fix gc over-earnings in command/sec roles
  Content.Server/_Goobstation/ServerCurrency/ServerCurrencySystem.cs
  Content.Shared/_Goobstation/CCVar/CCVars.Goob.cs
Labels: size/XS, S: Untriaged

#1974 Allow any mouse instagib me
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1954 mald pr #999
  Content.Shared/Movement/Pulling/Components/PullerComponent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/_Goobstation/MartialArts/Components/MartialArtsComponents.cs
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.CQC.cs
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.SleepingCarp.cs
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.cs
  Content.Shared/_White/Grab/GrabThrownComponent.cs
  Content.Shared/_White/Grab/GrabThrownSystem.cs
  Resources/Prototypes/_Goobstation/MartialArts/cqc.yml
  Resources/Prototypes/_Goobstation/MartialArts/judo.yml
Labels: size/M, S: Untriaged, S: Needs Review

#1982 im sorry guys i keep breaking your beloved game
  Content.Server/_Goobstation/Heretic/EntitySystems/MansusGraspSystem.cs
Labels: size/XS, S: Untriaged

#1962 Storyteller minor update
  Content.Server/_Goobstation/StationEvents/Components/GameDirectorComponent.cs
  Content.Server/_Goobstation/StationEvents/GameDirectorSystem.cs
  Resources/Prototypes/_Goobstation/GameRules/gamedirector_weights.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/_Pirates/game_ticking.yml
  Resources/Prototypes/_Shitmed/GameRules/events.yml
Labels: size/M, S: Untriaged

#1987 the fall of firelock meta
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
Labels: Changes: No C#, size/XS

#1999 Make Detroit Worse
  Resources/Maps/_Goobstation/barratry.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/healing.yml
Labels: Changes: Map, size/M, Changes: No C#, S: Needs Review

#1953 fix changeling grab
  Content.Server/_Goobstation/Changeling/ChangelingSystem.Abilities.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.cs
  Resources/Locale/en-US/_Goobstation/Changeling/abilities/changeling.ftl
Labels: size/S, S: Untriaged, S: Needs Review

#1960 More elegant solution to the mice-egg problem
  Content.Server/Animals/Components/EggLayerComponent.cs
  Content.Server/Animals/Systems/EggLayerSystem.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Resources/Locale/en-US/_Goobstation/actions/actions.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Minor Bug, size/S, Type: Bugfix

#2003 improve contortionist jumpsuit
  Resources/Locale/en-US/_Starlight/store/uplink-catalog.ftl
  Resources/Prototypes/_StarLight/Catalog/uplink_catalog.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: Changes: No C#, S: Untriaged

#1996 Make office chairs wheely fun
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
Labels: Changes: No C#, size/S, S: Untriaged

#1995 update reach
  Resources/Maps/_Goobstation/reach.yml
  Resources/Prototypes/Maps/reach.yml
Labels: Changes: Map, Changes: No C#, size/XL

#1989 mice dodge
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/_Goobstation/Weapons/DodgeWideswing/DodgeWideswingComponent.cs
  Content.Shared/_Goobstation/Weapons/DodgeWideswing/DodgeWideswingSystem.cs
  Resources/Locale/en-US/_Goobstation/damage/dodge-wideswing.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: size/S, S: Untriaged

#1990 Add goob implants to deimplanter
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1993 Harpy IPC sing tweak
  Content.Server/_DV/Harpy/HarpySingerSystem.cs
  Content.Shared/_DV/Harpy/HarpySingerComponent.cs
  Resources/Prototypes/_DV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
Labels: size/S, S: Untriaged, S: Needs Review

#1966 lavaland shuttle fix (hopium)
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/_Lavaland/Shuttles/Systems/DockingConsoleSystem.cs
Labels: Medium Bug, size/S, Type: Bugfix

#1981 SPEEDMERGE I BEG: Atropine fix
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/medical.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#1979 fix edagger examine being evil
  Content.Server/_Shitmed/Medical/Surgery/GhettoSurgerySystem.cs
Labels: size/XS, S: Untriaged

#1978 boring pr that dont add anything fun
  Content.Client/_Goobstation/Vehicles/Clowncar/ClowncarSystem.cs
  Content.Server/_Goobstation/Damage/SpawnSolutionOnDamageComponent.cs
  Content.Server/_Goobstation/Damage/SpawnSolutionOnDamageSystem.cs
  Content.Server/_Goobstation/Trigger/TriggerOnSolutionInsertComponent.cs
  Content.Server/_Goobstation/Trigger/TriggerOnSolutionInsertSystem.cs
  Content.Server/_Goobstation/Vehicles/Clowncar/ClowncarSystem.cs
  Content.Shared/Buckle/Components/StrapComponent.cs
  Content.Shared/Buckle/SharedBuckleSystem.Interaction.cs
  Content.Shared/Containers/DragInsertContainerComponent.cs
  Content.Shared/_Goobstation/Containers/ExtendedContainer/ExtendedContainerComponent.cs
  Content.Shared/_Goobstation/Containers/ExtendedContainer/ExtendedContainerSystem.cs
  Content.Shared/_Goobstation/Containers/OnCollide/InsertToContainerOnCollideComponent.cs
  Content.Shared/_Goobstation/Containers/OnCollide/InsertToContainerOnCollideSystem.cs
  Content.Shared/_Goobstation/Containers/OnCollide/RemoveFromContainerOnCollideComponent.cs
  Content.Shared/_Goobstation/Containers/OnCollide/RemoveFromContainerOnCollideSystem.cs
  Content.Shared/_Goobstation/Stunnable/ParalyzeOnCollideComponent.cs
  Content.Shared/_Goobstation/Stunnable/ParalyzeOnCollideSystem.cs
  Content.Shared/_Goobstation/Vehicles/Clowncar/ClowncarCannonComponent.cs
  Content.Shared/_Goobstation/Vehicles/Clowncar/ClowncarComponent.cs
  Content.Shared/_Goobstation/Vehicles/Clowncar/SharedClowncarSystem.Actions.cs
  Content.Shared/_Goobstation/Vehicles/Clowncar/SharedClowncarSystem.cs
  Content.Shared/_Goobstation/Vehicles/SharedVehicleComponent.cs
  Content.Shared/_Goobstation/Vehicles/SharedVehicleSystem.cs
  Resources/Audio/_Goobstation/Vehicle/Clowncar/clowncar_activate_cannon.ogg
  Resources/Audio/_Goobstation/Vehicle/Clowncar/clowncar_cannonfire1.ogg
  Resources/Audio/_Goobstation/Vehicle/Clowncar/clowncar_cannonfire2.ogg
  Resources/Audio/_Goobstation/Vehicle/Clowncar/clowncar_cannonfire3.ogg
  Resources/Audio/_Goobstation/Vehicle/Clowncar/clowncar_crash1.ogg
  Resources/Audio/_Goobstation/Vehicle/Clowncar/clowncar_crash2.ogg
  Resources/Audio/_Goobstation/Vehicle/Clowncar/clowncar_crashpins.ogg
  Resources/Audio/_Goobstation/Vehicle/Clowncar/clowncar_deactivate_cannon.ogg
  Resources/Audio/_Goobstation/Vehicle/Clowncar/clowncar_fart.ogg
  Resources/Audio/_Goobstation/Vehicle/Clowncar/clowncar_load1.ogg
  Resources/Audio/_Goobstation/Vehicle/Clowncar/clowncar_load2.ogg
  Resources/Audio/_Goobstation/Vehicle/Clowncar/clowncar_ram1.ogg
  Resources/Audio/_Goobstation/Vehicle/Clowncar/clowncar_ram2.ogg
  Resources/Audio/_Goobstation/Vehicle/Clowncar/clowncar_ram3.ogg
  Resources/Audio/_Goobstation/Vehicle/Clowncar/licenses.yml
  Resources/Locale/en-US/_Goobstation/vehicle/clowncar.ftl
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Fun/bike_horn.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_Goobstation/Actions/clowncar.yml
  Resources/Prototypes/_Goobstation/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Crates/clowncar.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Damage/containers.yml
  Resources/Prototypes/_Goobstation/Entities/Effects/puddle.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Vehicles/clowncar.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Vehicles/vehicles.yml
  Resources/Prototypes/_Goobstation/SoundCollections/clowncar.yml
  Resources/Textures/_Goobstation/Objects/Vehicles/clowncar.rsi/clowncar.png
  Resources/Textures/_Goobstation/Objects/Vehicles/clowncar.rsi/clowncar_fire.png
  Resources/Textures/_Goobstation/Objects/Vehicles/clowncar.rsi/clowncar_fromfire.png
  Resources/Textures/_Goobstation/Objects/Vehicles/clowncar.rsi/clowncar_recoil.png
  Resources/Textures/_Goobstation/Objects/Vehicles/clowncar.rsi/clowncar_tofire.png
  Resources/Textures/_Goobstation/Objects/Vehicles/clowncar.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/L, Changes: Audio

#1973 [Bounty] The Dreadnought suit
  Content.Shared/_Goobstation/Clothing/Components/DamageOverTimeComponent.cs
  Content.Shared/_Goobstation/Clothing/Systems/DamageOverTimeSystem.cs
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/_Goobstation/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/dreadnought.rsi/icon-flash.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/dreadnought.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/dreadnought.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/dreadnought.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/dreadnought.rsi/off-equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/dreadnought.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/dreadnought.rsi/on-equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/dreadnought.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/dreadnought.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/dreadnought.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/dreadnought.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/dreadnought.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/dreadnought.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/dreadnought.rsi/meta.json
Labels: Changes: Sprites, size/M

#1969 Autodoc buff
  Content.Client/_Shitmed/Autodoc/AutodocBoundUserInterface.cs
  Content.Client/_Shitmed/Autodoc/AutodocProgramWindow.xaml
  Content.Client/_Shitmed/Autodoc/AutodocProgramWindow.xaml.cs
  Content.Client/_Shitmed/Autodoc/AutodocWindow.xaml
  Content.Client/_Shitmed/Autodoc/AutodocWindow.xaml.cs
  Content.Shared/_Shitmed/Autodoc/AutodocUI.cs
  Content.Shared/_Shitmed/Autodoc/Systems/SharedAutodocSystem.cs
  Resources/Locale/en-US/_Shitmed/autodoc.ftl
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/autodoc.yml
Labels: Changes: UI, size/M

#1968 fix dorms marker
  Content.Server/_Goobstation/PlayerListener/DormNotifier.cs
  Content.Server/_Goobstation/PlayerListener/DormNotifierMarkerComponent.cs
  Content.Shared/_Goobstation/CCVar/CCVars.Goob.cs
Labels: size/S, S: Untriaged

#1965 Centcomm Role Adjustments
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Locale/en-US/_Goobstation/actions/actions.ftl
  Resources/Locale/en-US/_Goobstation/station-events/admeme/centralcommand.ftl
  Resources/Locale/en-US/_Goobstation/station-events/admeme/deathsquad.ftl
  Resources/Maps/_Goobstation/Shuttles/consul.yml
  Resources/Maps/_Goobstation/Shuttles/retort_assault.yml
  Resources/Maps/_Goobstation/Shuttles/retort_cburn.yml
  Resources/Maps/_Goobstation/Shuttles/retort_engineering.yml
  Resources/Maps/_Goobstation/Shuttles/retort_janitorial.yml
  Resources/Maps/_Goobstation/Shuttles/retort_medical.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Roles/Jobs/CentComm/cburn.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/_Goobstation/Actions/admeme.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/admeme.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_Goobstation/GameRules/Admeme/deathsquad.yml
  Resources/Prototypes/_Goobstation/GameRules/Admeme/eventshuttles.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/_Goobstation/Shuttles/deathsquad.yml
  Resources/Prototypes/_Goobstation/Shuttles/eventshuttles.yml
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/emergencyresponseteam.rsi/equipped-FEET-vox.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/emergencyresponseteam.rsi/equipped-FEET.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/emergencyresponseteam.rsi/icon-on.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/emergencyresponseteam.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/emergencyresponseteam.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/emergencyresponseteam.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/emergencyresponseteam.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/emergencyresponseteam.rsi/on-equipped-FEET-vox.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/emergencyresponseteam.rsi/on-equipped-FEET.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/emergencyresponseteam.rsi/on-inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/emergencyresponseteam.rsi/on-inhand-right.png
Labels: Changes: Sprites, Changes: Map, Changes: No C#, S: Untriaged, size/XL

#1963 Adds 9 new posters
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_Goobstation/Entities/Wallmounts/Signs/posters.yml
  Resources/Textures/_Goobstation/Structures/posters.rsi/goob_poster12_legit.png
  Resources/Textures/_Goobstation/Structures/posters.rsi/goob_poster13_legit.png
  Resources/Textures/_Goobstation/Structures/posters.rsi/goob_poster14_legit.png
  Resources/Textures/_Goobstation/Structures/posters.rsi/goob_poster15_legit.png
  Resources/Textures/_Goobstation/Structures/posters.rsi/goob_poster16_legit.png
  Resources/Textures/_Goobstation/Structures/posters.rsi/goob_poster17_legit.png
  Resources/Textures/_Goobstation/Structures/posters.rsi/goob_poster18_legit.png
  Resources/Textures/_Goobstation/Structures/posters.rsi/goob_poster1_contraband.png
  Resources/Textures/_Goobstation/Structures/posters.rsi/goob_poster2_contraband.png
  Resources/Textures/_Goobstation/Structures/posters.rsi/meta.json
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged

#1382 allow surgery on EVERY mob automatically
  Content.Client/_Shitmed/Medical/Surgery/SurgeryBui.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.cs
  Resources/Prototypes/Body/Prototypes/Animal/ruminant.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/_Shitmed/Body/Organs/Animal/ruminant.yml
  Resources/Prototypes/borg_types.yml
Labels: size/S, S: Untriaged

#1831 Split Robotic Wings sprite.
  Resources/Prototypes/_SimpleStation/Entities/Mobs/Customization/IPCwings.yml
  Resources/Textures/_SimpleStation/Mobs/Customization/wings96x34.rsi/meta.json
  Resources/Textures/_SimpleStation/Mobs/Customization/wings96x34.rsi/robotic.png
  Resources/Textures/_SimpleStation/Mobs/Customization/wings96x34.rsi/robotic_base.png
  Resources/Textures/_SimpleStation/Mobs/Customization/wings96x34.rsi/robotic_light.png
Labels: Changes: Sprites, Changes: No C#, size/S, S: Untriaged

#2005 Chef Rework: The Art of Beating People.
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.cs
Labels: Changes: Map, S: Untriaged, size/XL

#2010 Congratulate user @aineias1 for sniping #2000 by swapping his movement inputs
  Content.Client/_Goobstation/MisandryBox/InputSwapResyncSystem.cs
  Content.Server/_Goobstation/MisandryBox/Appender/AccountAppenderSystem.cs
  Content.Shared/_Goobstation/MisandryBox/AccountAppendPrototype.cs
  Content.Shared/_Goobstation/MisandryBox/FlipEyeComponent.cs
  Content.Shared/_Goobstation/MisandryBox/InputSwapComponent.cs
  Content.Shared/_Goobstation/MisandryBox/RunWalkSwapComponent.cs
  Content.Shared/_Goobstation/MisandryBox/Smites/FlipEyeSystem.cs
  Content.Shared/_Goobstation/MisandryBox/Smites/InputSwapSystem.cs
  Content.Shared/_Goobstation/MisandryBox/Smites/RunWalkSwapSystem.cs
  Content.Shared/_Goobstation/MisandryBox/Smites/ToggleableSmiteSystem.cs
  Resources/Prototypes/_Goobstation/MisandryBox/aineias.yml
Labels: size/M, S: Untriaged, S: Needs Review

#2040 Redialing System because its funny
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/_Goobstation/Redial/RedialManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/_Goobstation/Redial/RedialManager.cs
  Content.Server/_Goobstation/Redial/RedialUserOnTriggerComponent.cs
  Content.Server/_Goobstation/Redial/RedialUserOnTriggerSystem.cs
  Content.Shared/_Goobstation/Redial/MsgRedial.cs
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/land_mine.yml
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRules.xml
  Resources/ServerInfo/RP_Rules.txt
Labels: size/M, S: Untriaged

#2039 make bluespace crystals cheaper
  Resources/Prototypes/_Goobstation/Recipes/Lathes/sheet.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2038 PKA shotty & fire-rate upgrade nerf & range upgrade buff
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/Guns/Basic/pka.yml
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/pka_upgrade.yml
Labels: Changes: No C#, size/S

#2037 metashield updates
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR4Metashield.xml
Labels: Changes: No C#, size/S, S: Untriaged

#2035 [speedmerge] infinite ranged martial arts fix
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: size/XS, S: Untriaged

#2031 Blueshield mapping
  Resources/Maps/_Goobstation/marathon.yml
  Resources/Maps/_Goobstation/omega.yml
  Resources/Maps/_Goobstation/packed.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/packed.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/XL, S: Needs Review

#2028 Oni fix
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/Oni.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2027 Caviar
  Resources/Prototypes/_Goobstation/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Crates/caviar.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Consumable/Food/Containers/tin.yml
  Resources/Textures/_Goobstation/Objects/Consumable/Food/black_caviar.rsi/icon-open.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/black_caviar.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/black_caviar.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Consumable/Food/black_caviar.rsi/trash.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/red_caviar.rsi/icon-open.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/red_caviar.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Consumable/Food/red_caviar.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Consumable/Food/red_caviar.rsi/trash.png
Labels: Changes: Sprites, size/M, Changes: No C#

#2023 Resprite of Engineering and Default borg chassis
  Resources/Textures/Mobs/Silicon/chassis.rsi/engineer.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/engineer_e.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/engineer_e_r.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/engineer_l.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/robot.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/robot_e.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/robot_e_r.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/robot_l.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/borg_chest+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/borg_chest.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/borg_head+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/borg_head.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/borg_l_arm+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/borg_l_arm.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/borg_l_leg+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/borg_l_leg.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/borg_r_arm+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/borg_r_arm.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/borg_r_leg+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/borg_r_leg.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/engineer_chest+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/engineer_chest.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/engineer_head+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/engineer_head.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/engineer_l_arm+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/engineer_l_arm.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/engineer_l_leg+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/engineer_l_leg.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/engineer_r_arm+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/engineer_r_arm.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/engineer_r_leg+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/engineer_r_leg.png
Labels: Changes: Sprites, Changes: No C#, size/XS, S: Untriaged

#2021 ERT Tweaks
  Content.Server/StationEvents/Components/AlertLevelInterceptionRuleComponent.cs
  Content.Server/StationEvents/Events/AlertLevelInterceptionRule.cs
  Resources/Audio/StationEvents/attributions.yml
  Resources/Audio/StationEvents/rescue_imminent.ogg
  Resources/Audio/_Goobstation/Misc/attributions.yml
  Resources/Audio/_Goobstation/Misc/omicron.ogg
  Resources/Locale/en-US/_Goobstation/guidebook/guides.ftl
  Resources/Locale/en-US/_Goobstation/station-events/admeme/centralcommand.ftl
  Resources/Locale/en-US/alert-levels/alert-levels.ftl
  Resources/Maps/_Goobstation/Shuttles/consul.yml
  Resources/Maps/_Goobstation/Shuttles/retort_assault.yml
  Resources/Maps/_Goobstation/Shuttles/retort_cburn.yml
  Resources/Maps/_Goobstation/Shuttles/retort_engineering.yml
  Resources/Maps/_Goobstation/Shuttles/retort_janitorial.yml
  Resources/Maps/_Goobstation/Shuttles/retort_medical.yml
  Resources/Prototypes/AlertLevels/alert_levels.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Backpacks/satchels.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Back/specific.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/nuclear_override_card.yml
  Resources/Prototypes/_Goobstation/GameRules/Admeme/eventshuttles.yml
  Resources/Prototypes/_Goobstation/Guidebook/sop.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/CentComm/centralcommand.yml
  Resources/ServerInfo/_Goobstation/Guidebook/SoP/AlertLevels/OmicronAlertSOP.xml
  Resources/ServerInfo/_Goobstation/Guidebook/SoP/Emergencies/Emergencies.xml
  Resources/ServerInfo/_Goobstation/Guidebook/SoP/Emergencies/EmergencyResponseTeam.xml
  Resources/Textures/_Goobstation/Objects/Misc/id_cards.rsi/executive.png
  Resources/Textures/_Goobstation/Objects/Misc/nukeoverride.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Misc/nukeoverride.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, S: Untriaged, size/XL, Changes: Audio

#2020 Prefilled medical sprays, medkit additions
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/medicalsprays.yml
  Resources/Textures/_Goobstation/Objects/Medical/Silverspray.rsi/equipped-BELT.png
  Resources/Textures/_Goobstation/Objects/Medical/Silverspray.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Medical/Silverspray.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Medical/Silverspray.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Medical/Silverspray.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Medical/Stypticspray.rsi/equipped-BELT.png
  Resources/Textures/_Goobstation/Objects/Medical/Stypticspray.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Medical/Stypticspray.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Medical/Stypticspray.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Medical/Stypticspray.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S

#2018 Make Barratry Worse-er
  Resources/Maps/_Goobstation/barratry.yml
Labels: Changes: Map, size/M, Changes: No C#

#2015 chernobyl
  Content.Shared/CCVar/CCVars.Radiation.cs
Labels: size/XS, S: Untriaged

#2013 unbuckle bug
  Content.Shared/Buckle/Components/StrapComponent.cs
  Content.Shared/Buckle/SharedBuckleSystem.Interaction.cs
  Resources/Prototypes/_Goobstation/Entities/Objects/Vehicles/clowncar.yml
Labels: size/S, S: Untriaged

#2009 fix harpies not being able to host anoms
  Resources/Prototypes/_DV/Entities/Mobs/Species/harpy.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2007 lavaland gateway lite
  Content.Server/Gateway/Components/GatewayComponent.cs
  Content.Server/Gateway/Systems/GatewaySystem.cs
  Resources/Maps/_Lavaland/Lavaland/outpost_lavaland.yml
  Resources/Prototypes/_Lavaland/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/_Lavaland/Entities/Structures/Machines/gateway.yml
  Resources/Prototypes/_Lavaland/tags.yml
Labels: Changes: Map, size/M, S: Untriaged

#2011 Creased jordans
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Shoes/boots.yml
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/jordans.rsi/equipped-FEET-vox.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/jordans.rsi/equipped-FEET.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/jordans.rsi/icon-creased.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/jordans.rsi/icon-on.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/jordans.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/jordans.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/jordans.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/jordans.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/jordans.rsi/on-equipped-FEET-vox.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/jordans.rsi/on-equipped-FEET.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/jordans.rsi/on-inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/jordans.rsi/on-inhand-right.png
Labels: Changes: Sprites, size/M, Changes: No C#

#2041 NTR Room Hotfix
  Resources/Maps/_Goobstation/marathon.yml
  Resources/Maps/_Goobstation/omega.yml
  Resources/Maps/_Goobstation/packed.yml
Labels: Changes: Map, Changes: No C#

#2043 bso shield hotfix
  Resources/Prototypes/_Goobstation/Entities/Objects/Shields/shields.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2044 Nuclear Override Card Update
  Content.Server/Nuke/NukeComponent.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Shared/Nuke/NukeDiskComponent.cs
  Resources/Audio/_Goobstation/Misc/omicron.ogg
  Resources/Prototypes/Entities/Structures/Machines/nuke.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Backpacks/satchels.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/nuclear_override_card.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/CentComm/centralcommand.yml
Labels: size/S, S: Untriaged, Changes: Audio

#2045 Make Rosef Gibbable Via Carp
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#2046 move bso weapon box to the locker
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2047 clowncar now stuns passangers
  Content.Shared/_Goobstation/Vehicles/Clowncar/SharedClowncarSystem.cs
  Resources/Prototypes/_Goobstation/Actions/clowncar.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Vehicles/clowncar.yml
Labels: size/XS, S: Untriaged

#2048 One character AKM change
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Labels: Changes: No C#, size/XS

#2050 deltav betterborgs rewrite
  Content.Server/Silicons/Borgs/BorgSystem.Modules.cs
  Content.Shared/Silicons/Borgs/Components/ItemBorgModuleComponent.cs
  Content.Shared/_Goobstation/Whitelist/Components/ElectronicsComponent.cs
  Content.Shared/_Goobstation/Whitelist/Components/StockPartComponent.cs
  Content.Shared/_NF/Interaction/Components/HandPlaceholderComponent.cs
  Content.Shared/_NF/Interaction/Components/HandPlaceholderRemoveableComponent.cs
  Content.Shared/_NF/Interaction/Systems/HandPlaceholderSystem.cs
  Content.Shared/_NF/Interaction/Systems/SharedHandPlaceholderSystem.cs
  Content.Shared/_NF/Silicons/Borgs/DroppableBorgModuleComponent.cs
  Content.Shared/_NF/Silicons/Borgs/DroppableBorgModuleSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Robotics/borg_hand_placeholder.yml
Labels: size/M, S: Untriaged

#2053 fix reach wiring in arrivals
  Resources/Maps/_Goobstation/reach.yml
Labels: Changes: Map, Changes: No C#, size/S, S: Untriaged

#2055 salvaging
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/salvage_points.yml
Labels: Changes: No C#, size/XS

#2056 partially revert disabler/batong buffs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/ServerInfo/Guidebook/Security/Security.xml
Labels: Changes: No C#, size/S, S: Untriaged

#2072 collective mind fixes
  Resources/Locale/en-US/_Goobstation/blob/blob.ftl
  Resources/Locale/en-US/_Shitmed/abductor/abductor-ui.ftl
  Resources/Prototypes/_Goobstation/CollectiveMind/collective_minds.yml
  Resources/Prototypes/_Shitmed/GameRules/events.yml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Blob.xml
Labels: Changes: No C#, S: Untriaged

#2070 BSO Combat Injector Set
  Resources/Locale/en-US/_Goobstation/undetermined-items/blueshield-undetermined.ftl
  Resources/Prototypes/_Goobstation/Catalog/Fills/Boxes/boxes.yml
  Resources/Prototypes/_Goobstation/Catalog/undetermined_item_sets.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Chemistry/chemistry-vials.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Security/undetermined_item.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/blueshield_knife.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/blueshield_knife.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/blueshield_knife.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/blueshield_knife.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/blueshield_knife.rsi/meta.json
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged

#2068 Signing port
  Content.Server/_DV/Paper/SignAttemptEvent.cs
  Content.Server/_DV/Paper/SignatureSystem.cs
  Content.Shared/Execution/SharedExecutionSystem.cs
  Content.Shared/Paper/PaperSystem.cs
  Resources/Locale/en-US/_DV/deltav/paper/signature.ftl
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-signature.png
Labels: Changes: Sprites, size/M, S: Untriaged

#2063 Increase air vent lock pressure threshold
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
Labels: Changes: No C#, size/XS

#2062 Slightly change syndicate base loot
  Resources/Maps/_Lavaland/Lavaland/ruin_syndicate_base.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/windoor.yml
  Resources/Prototypes/_Goobstation/Entities/Markers/Spawners/Random/evil.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/L

#2058 Bible's wrath
  Content.Client/_Goobstation/Emoting/AnimatedEmotesSystem.cs
  Content.Server/_Goobstation/Emoting/FartSystem.cs
  Content.Shared/_Goobstation/Emoting/AnimatedEmotesComponent.cs
  Content.Shared/_Goobstation/Emoting/FartComponent.cs
  Resources/Audio/_Goobstation/Effects/thunder_clap.ogg
Labels: size/M, S: Untriaged, Changes: Audio

#2078 unbork baseball bat
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
Labels: Changes: No C#

#2079 Martial arts tweak
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.KravMaga.cs
  Resources/Prototypes/_Goobstation/MartialArts/judo.yml
Labels: size/S, S: Untriaged

#2061 add taiwan pond
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Objects/Fun/snap_pops.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Goobstation/Recipes/Crafting/Graphs/fun.yml
  Resources/Prototypes/_Goobstation/Recipes/Crafting/fun.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Textures/_Goobstation/Objects/Fun/taiwan_pond.rsi/bolt-open.png
  Resources/Textures/_Goobstation/Objects/Fun/taiwan_pond.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Fun/taiwan_pond.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Fun/taiwan_pond.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Fun/taiwan_pond.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Fun/taiwan_pond.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Fun/taiwan_pond.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Fun/taiwan_pond.rsi/wielded-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Fun/taiwan_pond.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged

#2087 Return to SS13 Parity
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.KravMaga.cs
  Resources/Prototypes/_Goobstation/MartialArts/judo.yml
Labels: size/XS, S: Untriaged

#2110 Revert "Resprite of Engineering and Default borg chassis (#2023)"
  Resources/Textures/Mobs/Silicon/chassis.rsi/engineer.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/engineer_e.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/engineer_e_r.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/engineer_l.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/robot.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/robot_e.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/robot_e_r.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/robot_l.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/borg_chest+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/borg_chest.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/borg_head+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/borg_head.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/borg_l_arm+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/borg_l_arm.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/borg_l_leg+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/borg_l_leg.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/borg_r_arm+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/borg_r_arm.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/borg_r_leg+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/borg_r_leg.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/engineer_chest+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/engineer_chest.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/engineer_head+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/engineer_head.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/engineer_l_arm+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/engineer_l_arm.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/engineer_l_leg+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/engineer_l_leg.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/engineer_r_arm+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/engineer_r_arm.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/engineer_r_leg+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/engineer_r_leg.png
Labels: Changes: Sprites, Changes: No C#, size/XS, S: Untriaged

#2137 War crimes [skeleton tweak]
  Resources/Audio/_Goobstation/Voice/attributions.yml
  Resources/Audio/_Goobstation/Voice/badtothebone.ogg
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
Labels: Changes: No C#, size/XS, S: Untriaged, S: Needs Review, Changes: Audio

#2116 Give fullmins fullmin commands (again)
  Resources/toolshedEngineCommandPerms.yml
Labels: Changes: No C#, size/XS

#2147 lower wizard and up nukie weights
  Resources/Prototypes/_Goobstation/GameRules/gamedirector_weights.yml
Labels: Changes: No C#, S: Untriaged

#2143 Carp scroll learning tweak
  Content.Shared/_Goobstation/MartialArts/Components/GrantMartialArtKnowledgeComponent.cs
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.SleepingCarp.cs
Labels: size/S, S: Untriaged
