Repository Goob-Station/Goob-Station, pull requests merged in 2025-06, with the labels that each got.

#3031 [FIX] You can't anymore dupe filling of emergency toolboxes
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/furniture/altars.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3032 attempt to fix nukeops heisenbug
  Content.Goobstation.Server/StationEvents/SecretPlus/SecretPlusSystem.cs
  Content.Server/StationEvents/Components/StationEventComponent.cs
  Content.Shared/GameTicking/Components/GameRuleComponent.cs
  Resources/Prototypes/GameRules/cargo_gifts.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/midround.yml
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/GameRules/random_sentience.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/_Goobstation/GameRules/bingleEvent.yml
  Resources/Prototypes/_Goobstation/GameRules/event_types.yml
  Resources/Prototypes/_Goobstation/GameRules/midround.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/secretplus.yml
  Resources/Prototypes/_Goobstation/GameRules/unknown_shuttles.yml
  Resources/Prototypes/_Goobstation/Wizard/gamerules_wizard.yml
  Resources/Prototypes/_Goobstation/_Pirates/game_ticking.yml
  Resources/Prototypes/_Shitmed/GameRules/events.yml
Labels: size/M, S: Untriaged

#3025 void pull change and fix (no longer does 5 quazillion damage)
  Content.Server/_Shitcode/Heretic/Abilities/HereticAbilitySystem.Void.cs
  Content.Server/_Shitcode/Heretic/Abilities/HereticAbilitySystem.cs
Labels: size/S, S: Untriaged, S: Needs Review

#3037 Brigmedmegamapping
  Resources/Maps/_Goobstation/atlas.yml
  Resources/Maps/_Goobstation/barratry.yml
  Resources/Maps/_Goobstation/cluster.yml
  Resources/Maps/_Goobstation/kettle.yml
  Resources/Maps/_Goobstation/loop.yml
  Resources/Maps/_Goobstation/omega.yml
  Resources/Maps/_Goobstation/packed.yml
  Resources/Maps/_Goobstation/saltern.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/L

#2966 Woundmed Fixes 4
  Content.Client/Hands/Systems/HandsSystem.cs
  Content.Client/_Shitmed/Medical/Surgery/Wounds/WoundableVisualsComponent.cs
  Content.Client/_Shitmed/Medical/Surgery/Wounds/WoundableVisualsSystem.cs
  Content.Goobstation.Common/MartialArts/MartialArtsComponents.cs
  Content.Goobstation.Server/Religion/WeakToHolySystem.cs
  Content.Goobstation.Shared/MartialArts/Components/GrantMartialArtKnowledgeComponent.cs
  Content.Goobstation.Shared/MartialArts/SharedMartialArtsSystem.cs
  Content.Server/Atmos/EntitySystems/BarotraumaSystem.cs
  Content.Server/Bed/BedSystem.cs
  Content.Server/Bible/BibleUserSystem.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/EntityEffects/Effects/HealthChange.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/Medical/HealingSystem.cs
  Content.Server/_EinsteinEngines/Silicon/WeldingHealable/WeldingHealableSystem.cs
  Content.Server/_Shitcode/Wizard/Systems/SpellsSystem.cs
  Content.Server/_Shitmed/EntityEffects/Effects/AdjustBoneDamage.cs
  Content.Server/_Shitmed/Medical/Surgery/SurgerySystem.cs
  Content.Server/_Shitmed/PartStatus/PartStatusSystem.cs
  Content.Shared/Body/Part/BodyPartComponent.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Humanoid/HumanoidAppearanceComponent.cs
  Content.Shared/Magic/SharedMagicSystem.cs
  Content.Shared/Weapons/Marker/SharedDamageMarkerSystem.cs
  Content.Shared/_Lavaland/Body/CursedHeartSystem.cs
  Content.Shared/_Shitcode/Wizard/SanguineStrike/SharedSanguineStrikeSystem.cs
  Content.Shared/_Shitmed/Body/Part/BodyPartComposition.cs
  Content.Shared/_Shitmed/Body/Systems/SharedBodySystem.PartAppearance.cs
  Content.Shared/_Shitmed/Damage/DamageBehaviors.cs
  Content.Shared/_Shitmed/Surgery/Effects/Step/SurgeryDamageChangeEffectComponent.cs
  Content.Shared/_Shitmed/Surgery/Pain/Systems/PainSystem.Damage.cs
  Content.Shared/_Shitmed/Surgery/SharedBloodstreamSystem.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.cs
  Content.Shared/_Shitmed/Surgery/Traumas/Systems/TraumaSystem.Process.cs
  Content.Shared/_Shitmed/Surgery/Wounds/Components/WoundableComponent.cs
  Content.Shared/_Shitmed/Surgery/Wounds/Systems/WoundSystem.Healing.cs
  Content.Shared/_Shitmed/Surgery/Wounds/Systems/WoundSystem.Wounding.cs
  Content.Shared/_Shitmed/Surgery/Wounds/Systems/WoundSystem.cs
  Resources/Locale/en-US/_Shitmed/guidebook/chemistry/effects.ftl
  Resources/Prototypes/Body/Parts/base.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/_EinsteinEngines/Body/Parts/ipc.yml
  Resources/Prototypes/_Goobstation/Entities/Specific/syndicate.yml
  Resources/Prototypes/_Goobstation/Reagents/medicine.yml
  Resources/Prototypes/_Shitmed/Body/Parts/base.yml
  Resources/Prototypes/_Shitmed/Body/Parts/cybernetic.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgery_steps.yml
Labels: size/M, S: Untriaged

#2976 Create High Security Door for Atmospherics
  Resources/Prototypes/_Goobstation/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/atmossealed.rsi/assembly.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/atmossealed.rsi/bolted_unlit.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/atmossealed.rsi/closed.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/atmossealed.rsi/closed_unlit.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/atmossealed.rsi/closing.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/atmossealed.rsi/closing_unlit.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/atmossealed.rsi/deny_unlit.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/atmossealed.rsi/emergency_unlit.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/atmossealed.rsi/meta.json
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/atmossealed.rsi/open.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/atmossealed.rsi/opening.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/atmossealed.rsi/opening_unlit.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/atmossealed.rsi/panel_closing.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/atmossealed.rsi/panel_open.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/atmossealed.rsi/panel_opening.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/atmossealed.rsi/sparks.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/atmossealed.rsi/sparks_broken.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/atmossealed.rsi/sparks_damaged.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/atmossealed.rsi/sparks_open.png
  Resources/Textures/_Goobstation/Structures/Doors/Airlocks/Glass/atmossealed.rsi/welded.png
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged

#2983 solar panel construction
  Resources/Prototypes/Entities/Structures/Power/Generation/solar.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/solarpanel.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/structures.yml
Labels: Changes: No C#, size/S, S: Untriaged

#2968 anomaly core names
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/cores.yml
Labels: Changes: No C#, size/S

#2823 brigmedic
  Resources/Locale/en-US/_Goobstation/chat/highlights.ftl
  Resources/Locale/en-US/_Goobstation/datasets/figurines.ftl
  Resources/Locale/en-US/_Goobstation/guidebook/guides.ftl
  Resources/Locale/en-US/_Goobstation/preferences/loadout-groups.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/base_contraband.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/loop.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Boxes/boxes.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Goobstation/Datasets/figurines.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Fun/figurines.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_Goobstation/Guidebook/sop.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Security/brigmedic.yml
  Resources/Prototypes/_Goobstation/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Goobstation/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Goobstation/Maps/atlas.yml
  Resources/Prototypes/_Goobstation/Maps/barratry.yml
  Resources/Prototypes/_Goobstation/Maps/cluster.yml
  Resources/Prototypes/_Goobstation/Maps/delta.yml
  Resources/Prototypes/_Goobstation/Maps/flandhighpop.yml
  Resources/Prototypes/_Goobstation/Maps/kettle.yml
  Resources/Prototypes/_Goobstation/Maps/leonid.yml
  Resources/Prototypes/_Goobstation/Maps/oasishighpop.yml
  Resources/Prototypes/_Goobstation/Maps/origin.yml
  Resources/Prototypes/_Goobstation/Maps/originhighpop.yml
  Resources/Prototypes/_Goobstation/Maps/submarine.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/_Goobstation/Roles/play_time_trackers.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/messenger.yml
  Resources/ServerInfo/Guidebook/Security/Security.xml
  Resources/ServerInfo/_Goobstation/Guidebook/SoP/Jobs/Security/BrigmedicSOP.xml
  Resources/Textures/_Goobstation/Objects/Fun/figurines.rsi/brigmedic.png
  Resources/Textures/_Goobstation/Objects/Fun/figurines.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, size/M, Changes: No C#, S: Untriaged

#2703 Fix Hierophant Shitcode Part 1
  Content.Client/_Lavaland/Aggression/AggressorsSystem.cs
  Content.Client/_Lavaland/Audio/BossMusicSystem.cs
  Content.Client/_Lavaland/Mobs/DamageSquareSystem.cs
  Content.Server/_Lavaland/Aggression/AggressorsSystem.cs
  Content.Server/_Lavaland/Audio/BossMusicSystem.cs
  Content.Server/_Lavaland/Damage/DamageSquareSystem.cs
  Content.Server/_Lavaland/Mobs/Hierophant/Components/HierophantBossComponent.cs
  Content.Server/_Lavaland/Mobs/Hierophant/HierophantSystem.cs
  Content.Server/_Lavaland/Mobs/MegafaunaComponent.cs
  Content.Server/_Lavaland/Mobs/MegafaunaSystem.cs
  Content.Shared/_Lavaland/Aggression/AggressiveComponent.cs
  Content.Shared/_Lavaland/Aggression/AggressorComponent.cs
  Content.Shared/_Lavaland/Aggression/SharedAggressorsSystem.cs
  Content.Shared/_Lavaland/Audio/BossMusicEvents.cs
  Content.Shared/_Lavaland/Audio/SharedBossMusicSystem.cs
  Content.Shared/_Lavaland/Damage/DamageSquareComponent.cs
  Content.Shared/_Lavaland/Damage/DamageSquareImmunityComponent.cs
  Content.Shared/_Lavaland/Damage/SharedDamageSquareSystem.cs
  Resources/Prototypes/_Lavaland/Damage/modifier_sets.yml
  Resources/Prototypes/_Lavaland/Entities/Mobs/Bosses/hierophant.yml
  Resources/Prototypes/_Lavaland/Entities/Objects/Projectiles/hierophant_tiles.yml
  Resources/Textures/_Lavaland/Effects/mob_effects.rsi/hierophant_blast-begin.png
  Resources/Textures/_Lavaland/Effects/mob_effects.rsi/hierophant_blast-end.png
  Resources/Textures/_Lavaland/Effects/mob_effects.rsi/hierophant_blast.png
  Resources/Textures/_Lavaland/Effects/mob_effects.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Untriaged, S: Needs Review

#2899 Bloons no track
  Resources/Audio/_Goobstation/BalloonEffect/balloon_pop.ogg
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/_Goobstation/Balloons/balloons.yml
  Resources/Prototypes/_Goobstation/Balloons/containers.yml
  Resources/Prototypes/_Goobstation/Balloons/package.yml
  Resources/Prototypes/_Goobstation/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/ai_factions.yml
  Resources/Textures/_Goobstation/Objects/Fun/balloon_package.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Fun/balloon_package.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Fun/balloons.rsi/black.png
  Resources/Textures/_Goobstation/Objects/Fun/balloons.rsi/blue.png
  Resources/Textures/_Goobstation/Objects/Fun/balloons.rsi/green.png
  Resources/Textures/_Goobstation/Objects/Fun/balloons.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Fun/balloons.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Fun/balloons.rsi/pink.png
  Resources/Textures/_Goobstation/Objects/Fun/balloons.rsi/rainbow.png
  Resources/Textures/_Goobstation/Objects/Fun/balloons.rsi/red.png
  Resources/Textures/_Goobstation/Objects/Fun/balloons.rsi/steel.png
  Resources/Textures/_Goobstation/Objects/Fun/balloons.rsi/white.png
  Resources/Textures/_Goobstation/Objects/Fun/balloons.rsi/yellow.png
  Resources/Textures/_Goobstation/Objects/Fun/balloons.rsi/zebra.png
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged, S: Needs Review, Changes: Audio

#2945 shields
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/blueshield_mace.yml
  Resources/Prototypes/_Goobstation/tags.yml
Labels: Changes: No C#, size/S, S: Untriaged, S: Needs Review

#2959 Adds more decorations!
  Resources/Audio/_Goobstation/Ambience/clock_tick.ogg
  Resources/Audio/_Goobstation/Ambience/fan_drone.ogg
  Resources/Audio/_Goobstation/Ambience/flies_buzzing.ogg
  Resources/Audio/_Goobstation/Ambience/ominous_pulse.ogg
  Resources/Audio/_Goobstation/Machines/attributions.yml
  Resources/Audio/_Goobstation/Machines/computerboot_pc.ogg
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/quill.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Decorations/ants.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Decorations/barrels.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Decorations/candelabra.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Decorations/ceilingfan.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Decorations/clock.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Decorations/construction.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Decorations/deadratvar.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Decorations/desktop.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Decorations/garbage.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Decorations/vase.yml
  Resources/Textures/_Goobstation/Objects/Misc/quill.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Misc/quill.rsi/quill.png
  Resources/Textures/_Goobstation/Structures/Decoration/Barrels/blackbarrel.rsi/barrel.png
  Resources/Textures/_Goobstation/Structures/Decoration/Barrels/blackbarrel.rsi/barrel_fire.png
  Resources/Textures/_Goobstation/Structures/Decoration/Barrels/blackbarrel.rsi/barrel_planks.png
  Resources/Textures/_Goobstation/Structures/Decoration/Barrels/blackbarrel.rsi/meta.json
  Resources/Textures/_Goobstation/Structures/Decoration/ants.rsi/ants_0.png
  Resources/Textures/_Goobstation/Structures/Decoration/ants.rsi/ants_1.png
  Resources/Textures/_Goobstation/Structures/Decoration/ants.rsi/ants_2.png
  Resources/Textures/_Goobstation/Structures/Decoration/ants.rsi/ants_3.png
  Resources/Textures/_Goobstation/Structures/Decoration/ants.rsi/meta.json
  Resources/Textures/_Goobstation/Structures/Decoration/candelabra.rsi/candelabra.png
  Resources/Textures/_Goobstation/Structures/Decoration/candelabra.rsi/candelabra_unlit.png
  Resources/Textures/_Goobstation/Structures/Decoration/candelabra.rsi/meta.json
  Resources/Textures/_Goobstation/Structures/Decoration/ceilingfan.rsi/ceilingfan.png
  Resources/Textures/_Goobstation/Structures/Decoration/ceilingfan.rsi/meta.json
  Resources/Textures/_Goobstation/Structures/Decoration/clock.rsi/clock.png
  Resources/Textures/_Goobstation/Structures/Decoration/clock.rsi/meta.json
  Resources/Textures/_Goobstation/Structures/Decoration/construction.rsi/construction.png
  Resources/Textures/_Goobstation/Structures/Decoration/construction.rsi/meta.json
  Resources/Textures/_Goobstation/Structures/Decoration/deadratvar.rsi/dead_ratvar.png
  Resources/Textures/_Goobstation/Structures/Decoration/deadratvar.rsi/meta.json
  Resources/Textures/_Goobstation/Structures/Decoration/desktop.rsi/desktop.png
  Resources/Textures/_Goobstation/Structures/Decoration/desktop.rsi/meta.json
  Resources/Textures/_Goobstation/Structures/Decoration/garbage.rsi/garbage.png
  Resources/Textures/_Goobstation/Structures/Decoration/garbage.rsi/meta.json
  Resources/Textures/_Goobstation/Structures/Decoration/vase.rsi/meta.json
  Resources/Textures/_Goobstation/Structures/Decoration/vase.rsi/vase-0.png
  Resources/Textures/_Goobstation/Structures/Decoration/vase.rsi/vase-1.png
  Resources/Textures/_Goobstation/Structures/Decoration/vase.rsi/vase-2.png
  Resources/Textures/_Goobstation/Structures/Decoration/vase.rsi/vase-3.png
  Resources/Textures/_Goobstation/Structures/Decoration/vase.rsi/vase-4.png
  Resources/Textures/_Goobstation/Structures/Decoration/vase.rsi/vase-5.png
  Resources/Textures/_Goobstation/Structures/Decoration/vase.rsi/vase-6.png
  Resources/Textures/_Goobstation/Structures/Decoration/vase.rsi/vase-7.png
  Resources/Textures/_Goobstation/Structures/Decoration/vase.rsi/vase-8.png
  Resources/Textures/_Goobstation/Structures/Decoration/vase.rsi/vase-random.png
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged, S: Needs Review, Changes: Audio

#3036 Revert 2892 cull the tide
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
Labels: Changes: No C#, size/XS, S: Untriaged, Note: Mald PR

#3057 fix acids and contact topicals
  Content.Server/EntityEffects/Effects/HealthChange.cs
  Resources/Prototypes/Entities/Mobs/Species/gingerbread.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/felinid.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Species/tajaran.yml
Labels: size/S, S: Untriaged

#3044 Plastic chemical reaction makes stacks of 10 plastic
  Resources/Prototypes/Recipes/Reactions/fun.yml
Labels: Changes: No C#, size/S

#3086 Raise science mech tech prices
  Resources/Prototypes/_Goobstation/Research/arsenal.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3084 [bounty] bso rebalance
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/energy_speedloaders.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Lever/lever.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/blueshield_mace.yml
Labels: Changes: No C#, size/S, S: Needs Review

#3080 reenable goidawind
  Content.Goobstation.Common/CCVar/CCVars.Goob.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.CVars.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Shared/CCVar/CCVars.Atmos.cs
Labels: size/S, S: Untriaged

#3035 port delta-v vent critter fixes
  Content.Server/StationEvents/Components/VentCrittersRuleComponent.cs
  Content.Server/StationEvents/Events/VentCrittersRule.cs
  Resources/Prototypes/DeltaV/GameRules/events.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/pests.yml
Labels: size/M, S: Untriaged

#3056 Admin Overlay & Raid Sound
  Content.Client/Administration/AdminNameOverlay.cs
  Content.Client/Administration/Systems/AdminInfoSystem.cs
  Content.Client/Options/UI/Tabs/AdminOptionsTab.xaml
  Content.Client/Options/UI/Tabs/AdminOptionsTab.xaml.cs
  Content.Goobstation.Common/CCVar/CCVars.Goob.cs
  Content.Server/Administration/Systems/AdminInfoSystem.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Shared/Administration/PlayerInfo.cs
  Resources/Locale/en-US/_Goobstation/administration/overlay.ftl
Labels: Changes: UI, size/M, S: Needs Review, Changes: Audio

#3061 Pill and IPC combat medkits
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/medkits.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Items/firstaidkit.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Specific/Medical/medkits.yml
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/blackkit-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/blackkit-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Specific/Medical/firstaidkits.rsi/blackbluekit-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/firstaidkits.rsi/blackbluekit-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/firstaidkits.rsi/blackbluekit.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/firstaidkits.rsi/blackpurplekit-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/firstaidkits.rsi/blackpurplekit-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/firstaidkits.rsi/blackpurplekit.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/firstaidkits.rsi/meta.json
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged

#2815 Squackroach
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/_EinsteinEngines/Body/Prototypes/Specific/squackroach.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/Structures/Machines/fax_machine.rsi/inserting_squackroach.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/meta.json
  Resources/Textures/_EinsteinEngines/Mobs/Animals/squackroach.rsi/icon.png
  Resources/Textures/_EinsteinEngines/Mobs/Animals/squackroach.rsi/inhand-left.png
  Resources/Textures/_EinsteinEngines/Mobs/Animals/squackroach.rsi/inhand-right.png
  Resources/Textures/_EinsteinEngines/Mobs/Animals/squackroach.rsi/meta.json
  Resources/Textures/_EinsteinEngines/Mobs/Animals/squackroach.rsi/sq-equipped-HELMET.png
  Resources/Textures/_EinsteinEngines/Mobs/Animals/squackroach.rsi/sq-equipped-NECK.png
  Resources/Textures/_EinsteinEngines/Mobs/Animals/squackroach.rsi/squackroach-moving.png
  Resources/Textures/_EinsteinEngines/Mobs/Animals/squackroach.rsi/squackroach.png
  Resources/Textures/_EinsteinEngines/Mobs/Animals/squackroach.rsi/squackroach_dead.png
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged, S: Needs Review

#3051 Fix syndie reinforcement objectives
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Roles/MindRoles/mind_roles.yml
  Resources/Prototypes/_Goobstation/Objectives/objectiveGroups.yml
  Resources/Prototypes/_Goobstation/Objectives/traitor.yml
Labels: Changes: No C#, size/S, S: Untriaged

#3101 Revert "reenable goidawind"
  Content.Goobstation.Common/CCVar/CCVars.Goob.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.CVars.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Shared/CCVar/CCVars.Atmos.cs
Labels: size/S, S: Untriaged

#3091 Requested clothing
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Shoes/sandals.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Uniforms/dress.yml
  Resources/Textures/_Goobstation/Clothing/Shoes/Specific/sandals.rsi/equipped-FEET.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Specific/sandals.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Specific/sandals.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Specific/sandals.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Specific/sandals.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Uniforms/Other/openshoulder_dress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Other/openshoulder_dress.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Other/openshoulder_dress.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S, S: Needs Review

#3127 Brizby is no longer gibbed via carp plush.
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3141 HOTFIX: Stop AI turrets from causing flickering lights
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Turrets/turrets_base.yml
Labels: Changes: No C#, size/XS

#3126 batch of secret+ fixes
  Content.Goobstation.Common/CCVar/CCVars.Goob.cs
  Content.Goobstation.Server/StationEvents/SecretPlus/SecretPlusComponent.cs
  Content.Goobstation.Server/StationEvents/SecretPlus/SecretPlusSystem.cs
  Content.IntegrationTests/Tests/_Goobstation/SecretPlus/SecretPlusTest.cs
  Content.Shared/GameTicking/Components/GameRuleComponent.cs
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_DV/CosmicCult/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/events.yml
  Resources/Prototypes/_Goobstation/GameRules/gamedirector_weights.yml
  Resources/Prototypes/_Goobstation/GameRules/secretplus.yml
  Resources/Prototypes/_Goobstation/Heretic/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/tags.yml
Labels: size/M, S: Untriaged

#3023 new captain's coats
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/armour.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Command/captain.yml
  Resources/Textures/_Goobstation/Clothing/Head/Hoods/cap_winter_hood.rsi/equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Hoods/cap_winter_hood.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Head/Hoods/cap_winter_hood.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/captain_jacket.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/captain_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/captain_jacket.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/captain_jacket.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/captain_jacket.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/captain_jacket.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Wintercoats/cap_armored_winter_coat.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Wintercoats/cap_armored_winter_coat.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Wintercoats/cap_armored_winter_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Wintercoats/cap_armored_winter_coat.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Wintercoats/cap_armored_winter_coat.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Wintercoats/cap_armored_winter_coat.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Wintercoats/cap_armored_winter_coat.rsi/meta.json
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged, S: Needs Review

#3022 HTN+mech interaction fixes
  Content.Goobstation.Common/Mech/MechEvents.cs
  Content.Goobstation.Shared/Mech/GoobMechSystem.cs
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Resources/Prototypes/NPCs/utility_queries.yml
Labels: size/S, S: Untriaged

#2941 Adds M172 LAW and RPO-A Shmel disposable rocket launcher to nukies
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rocket.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/_Goobstation/explosions.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Launchers/m172.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Launchers/m172.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Launchers/m172.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Launchers/m172.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Launchers/m172.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Launchers/m172.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Launchers/m172.rsi/mag-0.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Launchers/m172.rsi/mag-1.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Launchers/m172.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Launchers/m172.rsi/storage.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Launchers/m172.rsi/wielded-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Launchers/m172.rsi/wielded-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Launchers/shmel.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Launchers/shmel.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Launchers/shmel.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Launchers/shmel.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Launchers/shmel.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Launchers/shmel.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Launchers/shmel.rsi/mag-0.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Launchers/shmel.rsi/mag-1.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Launchers/shmel.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Launchers/shmel.rsi/storage.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Launchers/shmel.rsi/wielded-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Launchers/shmel.rsi/wielded-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Projectiles/aprocket.rsi/aprocket.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Projectiles/aprocket.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Projectiles/thermobaricrocket.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Projectiles/thermobaricrocket.rsi/thermobaric.png
Labels: Changes: Sprites, size/M, Changes: No C#, S: Needs Review

#2982 fixes lazy shit
  Resources/Locale/en-US/_Goobstation/set-selector/selectable-sets.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Modsuits/apocryphal.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Modsuits/corporate.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Modsuits/engineering-responsory.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Modsuits/inquisitory.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Modsuits/janitorial-responsory.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Modsuits/leader-responsory.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Modsuits/medical-responsory.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Modsuits/praetorian.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Modsuits/security-responsory.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Backpacks/satchels.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Back/modsuit.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Hands/modsuit.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/modsuit.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/modsuit.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Shoes/modsuit.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/pda.yml
  Resources/Textures/Clothing/OuterClothing/Hardsuits/capspace.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/capspace.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Shields/riotbulletshield.rsi/ballistic-icon.png
  Resources/Textures/_Goobstation/Objects/Shields/riotbulletshield.rsi/ballistic-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Shields/riotbulletshield.rsi/ballistic-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Shields/riotbulletshield.rsi/meta.json
Labels: Changes: Sprites, size/M, Changes: No C#

#3001 CentComm Touchup
  Resources/Locale/en-US/_Goobstation/holopad/holopad.ftl
  Resources/Maps/centcomm.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/holopad.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/L

#2997 bugfix for changelings
  Content.Goobstation.Server/Changeling/ChangelingSystem.Abilities.cs
  Content.Goobstation.Server/Changeling/ChangelingSystem.cs
Labels: size/S, S: Untriaged

#3024 buff syndi ballistic turret
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Turrets/turrets_ballistic.yml
Labels: Changes: No C#, size/S, S: Untriaged

#3042 fix ap
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.Cartridges.cs
  Content.Shared/Armor/SharedArmorSystem.cs
  Content.Shared/Blocking/BlockingSystem.User.cs
  Content.Shared/Clothing/SharedCursedMaskSystem.cs
  Content.Shared/Damage/DamageSpecifier.cs
  Content.Shared/Damage/Systems/DamageProtectionBuffSystem.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Projectiles/ProjectileComponent.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/_Shitcode/Wizard/Spellblade/SharedSpellbladeSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/caseless.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Objects/Weapons/Melee/heretic_blades.yml
Labels: size/M, S: Untriaged

#3052 [Bounty] Add `dog` replacement accent to IanSuit hoodie
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3063 Slightly lower holy damage regen
  Content.Goobstation.Shared/Religion/WeakToHolyComponent.cs
Labels: size/XS, S: Untriaged

#3166 (hot)fix massive yaml linter fail
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rocket.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3162 fix flipped gas filter
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasFilterSystem.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
Labels: size/XS, S: Untriaged

#3156 fix mail
  Content.Server/Nyanotrasen/Mail/MailSystem.cs
Labels: size/XS, S: Untriaged

#3165 (Hot)fix shove prediction
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: size/S, S: Untriaged

#3145 HOTFIX: Vox & Shadowkin temp
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Species/shadowkin.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3144 Bug fix life
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/thief.yml
Labels: Changes: No C#, size/S, S: Untriaged

#3143 SUPER DUPER HUGE RECIPE CHANGES!!!!
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/lathe.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3125 Fix reflective vest oversight
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
Labels: Changes: No C#, size/XS

#3099 Adds nightvision to headslugs
  Resources/Prototypes/_Goobstation/Changeling/Entities/Mobs/headcrab.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3116 Fire no longer instakills moths
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3115 Fix a few contra things
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/kravmagagloves.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/base_contraband.yml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR15SpaceLaw.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
Labels: Changes: No C#, size/S, S: Untriaged

#3113 fix summons
  Resources/Prototypes/_Goobstation/Heretic/Entities/Mobs/NPC/eldritch_mobs.yml
Labels: Changes: No C#, size/S, S: Untriaged

#3111 Who did this
  Resources/Prototypes/_Lavaland/Entities/Clothing/explorer_suit.yml
Labels: Changes: No C#, size/S

#3106 sandevistan hotfix
  Content.Goobstation.Server/Sandevistan/SandevistanSystem.cs
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
Labels: size/S, S: Untriaged

#3105 Atlas Supermatter/Security Mapping Changes
  Resources/Maps/_Goobstation/atlas.yml
Labels: Changes: Map, size/M, Changes: No C#, S: Untriaged

#3103 Butchering fished fish spawns fish meat and stuff
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Fishing/fish.yml
Labels: Changes: No C#, size/S, S: Untriaged

#3121 Rosary tweaks + Rosary/Chap interaction fixes
  Content.Goobstation.Server/Religion/OnPray/HealNearOnPray/HealNearOnPraySystem.cs
  Content.Goobstation.Shared/Religion/WeakToHolyComponent.cs
  Resources/Prototypes/_DV/CosmicCult/Clothing/cosmiccult_armor.yml
  Resources/Prototypes/_DV/CosmicCult/roundstart.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/nullrod.yml
Labels: size/S, S: Untriaged

#3089 [Bounty] RD Suit Selector
  Resources/Locale/en-US/_Goobstation/set-selector/selectable-sets.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Catalog/selectable_sets.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Back/modsuit.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/modsuit.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/modsuit.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Misc/voidsuitselectors.yml
Labels: size/M, Changes: No C#, S: Untriaged

#3073 Make Zeds Fun Again
  Content.Shared/Zombies/PendingZombieComponent.cs
Labels: size/XS, S: Untriaged

#3033 ghost bar improvements
  Resources/Audio/_Goobstation/Effects/attributions.yml
  Resources/Audio/_Goobstation/Effects/rising.ogg
  Resources/Maps/_Goobstation/Nonstations/ghostbar.yml
  Resources/Prototypes/_Goobstation/Entities/Specific/ghostbar.yml
Labels: Changes: Map, size/M, Changes: No C#, Changes: Audio

#2986 contrive emotespam
  Content.Goobstation.Server/MisandryBox/CatEmoteSpamCountermeasureSystem.cs
  Content.Goobstation.Shared/MisandryBox/Smites/Thunderstrike.cs
  Content.Server/Chat/Systems/AutoEmoteSystem.cs
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/EntityEffects/Effects/Emote.cs
  Content.Server/Speech/EmotesMenuSystem.cs
  Content.Server/Speech/EntitySystems/VocalSystem.cs
  Content.Server/_Shitmed/Medical/Surgery/SurgerySystem.cs
Labels: size/M, S: Untriaged, S: Needs Review

#3010 pka nerf real
  Content.Server/_Lavaland/Pressure/PressureDamageChangeComponent.cs
  Content.Server/_Lavaland/Pressure/PressureEfficiencyChangeSystem.cs
  Content.Server/_Lavaland/Weapons/Ranged/Upgrades/GunUpgradeSystem.cs
  Content.Shared/_Lavaland/Weapons/Ranged/Upgrades/Components/GunComponentUpdateComponent.cs
  Content.Shared/_Lavaland/Weapons/Ranged/Upgrades/Components/GunUpgradeComponent.cs
  Content.Shared/_Lavaland/Weapons/Ranged/Upgrades/Components/GunUpgradePressureComponent.cs
  Content.Shared/_Lavaland/Weapons/Ranged/Upgrades/Components/UpgradeableGunComponent.cs
  Content.Shared/_Lavaland/Weapons/Ranged/Upgrades/SharedGunUpgradeSystem.cs
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/_Lavaland/prototypes/Entities/Objects/Specific/gun_upgrades.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/pka_upgrade.yml
  Resources/Prototypes/_Lavaland/tags.yml
Labels: size/M, S: Untriaged, S: Needs Review

#2987 Path of Void ascension mini-rework
  Content.Server/Audio/ServerGlobalSoundSystem.cs
  Content.Server/_Shitcode/Heretic/Abilities/HereticAbilitySystem.Void.cs
  Content.Server/_Shitcode/Heretic/Abilities/HereticAbilitySystem.cs
  Content.Server/_Shitcode/Heretic/Components/PathSpecific/AristocratComponent.cs
  Content.Server/_Shitcode/Heretic/EntitySystems/PathSpecific/AristocratSystem.cs
  Content.Shared/Audio/SharedGlobalSoundSystem.cs
  Content.Shared/_Shitcode/Heretic/Heretic.Abilites.cs
  Resources/Locale/en-US/_Goobstation/Heretic/heretic/misc.ftl
  Resources/Locale/en-US/_Goobstation/Heretic/store/heretic/heretic-catalog-void.ftl
  Resources/Prototypes/weather.yml
  Resources/Textures/Effects/weather.rsi/meta.json
  Resources/Textures/Effects/weather.rsi/snowfall_magic.png
Labels: Changes: Sprites, size/M, S: Needs Review

#2961 goidashield winter expansion
  Content.Shared/Damage/Systems/SlowOnDamageSystem.cs
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/misc.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Dignitary/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/_Goobstation/Loadouts/loadout_groups.yml
  Resources/Textures/_Goobstation/Clothing/Head/Hats/blueshield_ushanka.rsi/equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/blueshield_ushanka.rsi/icon-up.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/blueshield_ushanka.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Head/Hats/blueshield_ushanka.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Head/Hats/blueshield_ushanka.rsi/up-equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Hoods/secvestcoathead.rsi/equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Hoods/secvestcoathead.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/bso_snowjacks.rsi/equipped-FEET-reptilian.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/bso_snowjacks.rsi/equipped-FEET-vox.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/bso_snowjacks.rsi/equipped-FEET.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/bso_snowjacks.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/bso_snowjacks.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Boots/bso_snowjacks.rsi/inhand-right.png
Labels: Changes: Sprites, size/M, S: Untriaged

#2949 Saltern update
  Resources/Maps/_Goobstation/saltern.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/XL, S: Needs Review

#2838 syndicate bomb buff
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Structures/Machines/bombs.yml
Labels: Changes: No C#, size/S, S: Disapproval

#3085 changeling chitinous armour stuff
  Content.Goobstation.Server/Changeling/ChangelingSystem.Abilities.cs
  Content.Goobstation.Server/Changeling/ChangelingSystem.cs
  Content.Goobstation.Shared/Changeling/Components/ChangelingIdentityComponent.cs
  Resources/Audio/_Goobstation/Changeling/Effects/armour_strip.ogg
  Resources/Audio/_Goobstation/Changeling/Effects/armour_transform.ogg
  Resources/Audio/_Goobstation/Changeling/Effects/attributions.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Clothing/OuterClothing/armor.yml
  Resources/Textures/_Goobstation/Changeling/ling_armor.rsi/meta.json
  Resources/Textures/_Goobstation/Changeling/ling_armor.rsi/transform-equipped-OUTERCLOTHING.png
  Resources/Textures/_Goobstation/Changeling/ling_armor_helmet.rsi/meta.json
  Resources/Textures/_Goobstation/Changeling/ling_armor_helmet.rsi/transform-equipped-HELMET.png
Labels: Changes: Sprites, size/M, S: Untriaged, S: Needs Review, Changes: Audio

#3130 Cosmic Cult no Longer Needs to Be DNR'd When chaplain loses bible
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
Labels: Changes: No C#, size/S, S: Untriaged

#3171 undoing wizden nerf on sentient artifact artivation time
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/xenoartifacts.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3096 Job Objectives / BSO objective to protect 1 (one) command member
  Content.Goobstation.Server/MisandryBox/JobObjective/AddObjectiveSpecial.cs
  Content.Goobstation.Server/MisandryBox/JobObjective/JobObjectiveSystem.cs
  Content.Goobstation.Shared/MisandryBox/JobObjective/JobObjectiveRuleComponent.cs
  Content.IntegrationTests/Tests/GameRules/RuleMaxTimeRestartTest.cs
  Content.Server/Objectives/Components/NotJobRequirementComponent.cs
  Content.Server/Objectives/Systems/NotJobRequirementSystem.cs
  Resources/Locale/en-US/_Goobstation/MisandryBox/JobObjectives.ftl
  Resources/Prototypes/_Goobstation/MisandryBox/JobObjectives.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Dignitary/blueshield_officer.yml
Labels: size/M, S: Untriaged

#3134 Bagel SM + Brigmed Tweaks
  Resources/Maps/_Goobstation/bagel.yml
Labels: Changes: Map, size/M, Changes: No C#, S: Untriaged

#3136 Add lizard emotes
  Resources/Audio/_Floofstation/Voice/Reptilian/attributions.yml
  Resources/Audio/_Floofstation/Voice/Reptilian/hiss.ogg
  Resources/Audio/_Floofstation/Voice/Reptilian/yip.ogg
  Resources/Locale/en-US/_Goobstation/emotes.ftl
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_Floofstation/SoundCollections/emotes.yml
  Resources/Prototypes/_Floofstation/Voice/speech_emotes.yml
  Resources/Prototypes/_Goobstation/tags.yml
Labels: Changes: No C#, size/S, S: Needs Review, Changes: Audio

#3172 Misandry Fix
  Resources/Prototypes/_Goobstation/MisandryBox/JobObjectives.yml
Labels: Changes: No C#, size/S

#3117 Misc Admin Stuff
  Content.Goobstation.Server/Administration/Commands/EquipTo.cs
  Content.Shared/Clothing/Components/ClothingComponent.cs
  Resources/Locale/en-US/_Goobstation/job/job-description.ftl
  Resources/Locale/en-US/_Goobstation/job/job-names.ftl
  Resources/Locale/en-US/_Goobstation/job/job-supervisors.ftl
  Resources/Prototypes/_Goobstation/Entities/Effects/bluespace_acidifier.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Misc/misc.yml
  Resources/Prototypes/_Goobstation/Roles/play_time_trackers.yml
  Resources/Textures/_Goobstation/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Devices/pda.rsi/pda-highcommand.png
  Resources/Textures/_Goobstation/Objects/Misc/id_cards.rsi/idhighcommand.png
  Resources/Textures/_Goobstation/Objects/Misc/id_cards.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Untriaged, S: Needs Review

#3187 Fix polymorphs
  Content.Shared/Damage/DamageSpecifier.cs
Labels: size/XS, S: Untriaged

#3192 more misc fixes
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/_Shitmed/Entities/Specific/Abductor/tools.yml
Labels: Changes: No C#, size/S, S: Needs Review

#3193 Tune down the nailguns damage output
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Engineering/nails.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/nailgun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Nailgun/nailgun.yml
Labels: Changes: No C#, size/S, S: Untriaged

#3220 Save the furry species
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
Labels: Changes: No C#, S: Untriaged

#3081 Add syndicate disabler using my civ disabler sprite
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/base.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/equipped-BELT.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/inhand-left-0.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/inhand-left-1.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/inhand-left-2.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/inhand-left-3.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/inhand-left-4.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/inhand-left.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/inhand-right-0.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/inhand-right-1.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/inhand-right-2.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/inhand-right-3.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/inhand-right-4.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/inhand-right.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/mag-unshaded-0.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/mag-unshaded-1.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/mag-unshaded-2.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/mag-unshaded-3.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/mag-unshaded-4.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/meta.json
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/syndicate-disabler.rsi/base.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/syndicate-disabler.rsi/equipped-BELT.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/syndicate-disabler.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/syndicate-disabler.rsi/inhand-left-0.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/syndicate-disabler.rsi/inhand-left-1.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/syndicate-disabler.rsi/inhand-left-2.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/syndicate-disabler.rsi/inhand-left-3.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/syndicate-disabler.rsi/inhand-left-4.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/syndicate-disabler.rsi/inhand-left.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/syndicate-disabler.rsi/inhand-right-0.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/syndicate-disabler.rsi/inhand-right-1.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/syndicate-disabler.rsi/inhand-right-2.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/syndicate-disabler.rsi/inhand-right-3.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/syndicate-disabler.rsi/inhand-right-4.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/syndicate-disabler.rsi/inhand-right.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/syndicate-disabler.rsi/mag-unshaded-0.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/syndicate-disabler.rsi/mag-unshaded-1.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/syndicate-disabler.rsi/mag-unshaded-2.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/syndicate-disabler.rsi/mag-unshaded-3.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/syndicate-disabler.rsi/mag-unshaded-4.png
  Resources/Textures/_EinsteinEngines/Objects/Weapons/Guns/Battery/syndicate-disabler.rsi/meta.json
Labels: Changes: Sprites, size/M, Changes: No C#, S: Untriaged, S: Needs Review

#3097 Add Cosmic Cult Metashield
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR4Metashield.xml
Labels: Changes: No C#, size/S, S: Untriaged

#3128 [Bounty] Binglemind
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/_Starlight/CollectiveMind/CollectiveMindComponent.cs
  Resources/Locale/en-US/_Goobstation/bingle/bingle.ftl
  Resources/Locale/en-US/_Goobstation/collective-mind/collective-mind.ftl
  Resources/Prototypes/_Goobstation/CollectiveMind/collective_minds.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/bingle.yml
Labels: Changes: No C#, size/S, S: Untriaged, S: Needs Review

#3158 [EPIC] PROJECT BROOMSTICK
  Resources/Maps/_Goobstation/Nonstations/wizden.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Janitorial/broomstick.yml
  Resources/Prototypes/_Goobstation/Wizard/Items/weapons.yml
  Resources/Textures/_Goobstation/Objects/Specific/Janitorial/broomstick.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Specific/Janitorial/broomstick.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Specific/Janitorial/broomstick.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Specific/Janitorial/broomstick.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Specific/Janitorial/broomstick.rsi/wielded-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Specific/Janitorial/broomstick.rsi/wielded-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Vehicles/broomstick.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Vehicles/broomstick.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Vehicles/broomstick.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Vehicles/broomstick.rsi/vehicle.png
  Resources/Textures/_Goobstation/Objects/Vehicles/broomstick.rsi/vehicle_folded.png
  Resources/migration.yml
Labels: Changes: Sprites, Changes: Map, size/M, Changes: No C#, S: Untriaged

#3195 survival+, more secret+ adjustments
  Content.Goobstation.Common/CCVar/CCVars.Goob.cs
  Content.Goobstation.Server/StationEvents/GameDirectorSystem.cs
  Content.Goobstation.Server/StationEvents/SecretPlus/SecretPlusComponent.cs
  Content.Goobstation.Server/StationEvents/SecretPlus/SecretPlusSystem.cs
  Content.Server/StationEvents/BasicStationEventSchedulerSystem.cs
  Content.Server/StationEvents/EventManagerSystem.cs
  Resources/Locale/en-US/_Goobstation/game-ticking/secretplus.ftl
  Resources/Prototypes/DeltaV/GameRules/events.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/_Goobstation/GameRules/events.yml
  Resources/Prototypes/_Goobstation/GameRules/secretplus.yml
  Resources/Prototypes/_Goobstation/game_presets.yml
Labels: size/M, S: Untriaged

#3199 Changes the Borg maints panel back to using a screwdriver
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3205 QoL improvements for cargo related computers
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/flatpack.yml
Labels: Changes: No C#, size/S, S: Untriaged

#3206 PTL Buff
  Content.Goobstation.Server/Power/PTL/PTLSystem.cs
Labels: size/XS, S: Untriaged

#3207 Antimov Buff
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: No C#, size/S

#3210 [Technically Bounty?] Bso balancing but actually trying
  Content.Goobstation.Shared/SetSelector/SetSelectorSystem.cs
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Belt/belts.yml
  Resources/Prototypes/_Goobstation/Catalog/selectable_sets.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/CentralCommand/set_selectors.yml
Labels: size/S, S: Untriaged

#3211 Experimental syndicate teleporter
  Content.Server/_White/Teleporter/ExperimentalTeleporterComponent.cs
  Content.Server/_White/Teleporter/ExperimentalTeleporterSystem.cs
  Resources/Audio/_White/Object/Devices/attributions.yml
  Resources/Audio/_White/Object/Devices/experimentalsyndicateteleport.ogg
  Resources/Locale/en-US/_white/store/uplink-catalog.ftl
  Resources/Prototypes/_White/Catalog/uplink_catalog.yml
  Resources/Prototypes/_White/Entities/Effects/effects.yml
  Resources/Prototypes/_White/Entities/Objects/Devices/Syndicate_Gadgets/experimental_teleporter.yml
  Resources/Textures/_White/Objects/Devices/experimentalsyndicateteleporter.rsi/icon.png
  Resources/Textures/_White/Objects/Devices/experimentalsyndicateteleporter.rsi/in.png
  Resources/Textures/_White/Objects/Devices/experimentalsyndicateteleporter.rsi/inhand-left.png
  Resources/Textures/_White/Objects/Devices/experimentalsyndicateteleporter.rsi/inhand-right.png
  Resources/Textures/_White/Objects/Devices/experimentalsyndicateteleporter.rsi/meta.json
  Resources/Textures/_White/Objects/Devices/experimentalsyndicateteleporter.rsi/out.png
Labels: Changes: Sprites, size/M, S: Untriaged, Changes: Audio

#3212 binary decoder implant
  Content.Goobstation.Server/Implants/Components/ImplantGrantCollectiveMindComponent.cs
  Content.Goobstation.Server/Implants/Systems/ImplantGrantCollectiveMindSystem.cs
  Resources/Locale/en-US/_Goobstation/set-selector/selectable-sets.ftl
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_Goobstation/Catalog/selectable_sets.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Markers/Spawners/Random/evil.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/subdermal_implants.yml
Labels: size/M, S: Untriaged

#3217 Make stimkit less ugly
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3224 makes the lisp accent slightly more comprehensible
  Content.Server/Speech/EntitySystems/FrontalLispSystem.cs
Labels: size/XS, S: Untriaged

#3226 Fix shadowkin groin sprite clipping over other parts and clothing
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Species/shadowkin.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3232 Make casul left hand sprite's background fully transparent
  Resources/Textures/_ShitChap/Objects/Weapons/Nullrod/casul.rsi/inhand-left.png
Labels: Changes: Sprites, Changes: No C#, size/XS, S: Untriaged

#3234 Added Flashbang ClusterBang to Secoff's belts whitelists
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Belt/belts.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3236 New arcane haircut
  Resources/Locale/en-US/_Goobstation/accessories/human-hair.ftl
  Resources/Prototypes/_Goobstation/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/jinx.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S, S: Untriaged

#3201 [Bounty] Nigel Plush
  Resources/Prototypes/_Goobstation/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Fun/toys.rsi/plushie_nigel.png
Labels: Changes: Sprites, Changes: No C#, size/S, S: Untriaged

#3244 Gemini Bugfixes
  Content.Goobstation.Server/CloneProjector/CloneProjectorSystem.Clone.cs
  Content.Goobstation.Server/CloneProjector/CloneProjectorSystem.cs
  Content.Goobstation.Shared/CloneProjector/CloneProjectorComponent.cs
  Content.Goobstation.Shared/CloneProjector/SharedCloneProjectorSystem.cs
  Content.Server/Cloning/CloningSystem.cs
  Resources/Locale/en-US/_Goobstation/cloneprojector/gemini.ftl
  Resources/Prototypes/_Goobstation/Entities/Clothing/Belt/cloneprojector.yml
Labels: size/M, Changes: No C#, S: Untriaged

#3257 use entity categories for surgeries and wounds
  Content.Shared/_Shitmed/Surgery/Steps/SurgeryStepComponent.cs
  Content.Shared/_Shitmed/Surgery/SurgeryComponent.cs
  Content.Shared/_Shitmed/Surgery/Wounds/Components/WoundComponent.cs
  Resources/Locale/en-US/_Shitmed/entity-categories.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/bone.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/scars.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgeries.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgery_steps.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/wounds.yml
  Resources/Prototypes/_Shitmed/Entities/categories.yml
Labels: size/M, S: Untriaged

#3264 fix binary implanter uplink listing
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3173 Dynamic armor for explorer suit
  Content.Server/_Lavaland/Pressure/PressureArmorChangeComponent.cs
  Content.Server/_Lavaland/Pressure/PressureEfficiencyChangeSystem.cs
  Content.Shared/Armor/SharedArmorSystem.cs
  Content.Shared/Blocking/BlockingSystem.User.cs
  Content.Shared/Clothing/SharedCursedMaskSystem.cs
  Content.Shared/Damage/Systems/DamageProtectionBuffSystem.cs
  Content.Shared/_Shitcode/Wizard/Spellblade/SharedSpellbladeSystem.cs
  Resources/Locale/en-US/_Lavaland/pressure/markups_pressure.ftl
  Resources/Prototypes/_Lavaland/Entities/Clothing/explorer_suit.yml
Labels: size/M, S: Untriaged

#3181 htn braking in nograv
  Content.Server/NPC/Components/NPCSteeringComponent.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/MoveToOperator.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Context.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
  Resources/Prototypes/NPCs/idle.yml
Labels: size/M, S: Untriaged
